services/n8n/agents/workflows/social-media/Facebook Agent.json
{
  "name": "Facebook Agent",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "0ed3771b-a20c-4204-9be6-9f8028a2ae27",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        680,
        720
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o"
        },
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -720,
        2600
      ],
      "id": "35dfb013-3cd4-449a-a2a6-b74bee1236ff",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "nMbluFwHsrVvkQBJ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        480,
        2220
      ],
      "id": "0bd6c452-a61a-4d6c-b5f1-eb17b04c08de",
      "name": "When chat message received",
      "webhookId": "facebook-agent-chat-trigger"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        4200,
        1340
      ],
      "id": "ac123db4-5a0e-4220-9814-dd0539b1c19f",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "path": "facebook-agent-webhook",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        700,
        1640
      ],
      "id": "ad3b1672-4a3f-48b4-b0a1-f4f03f9f8272",
      "name": "Facebook Agent Webhook",
      "webhookId": "facebook-agent-webhook"
    },
    {
      "parameters": {
        "description": "Create and manage Facebook advertising campaigns",
        "workflowId": {
          "__rl": true,
          "value": "FacebookAdsManagerWorkflowId",
          "mode": "list",
          "cachedResultName": "Facebook Ads Manager"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "campaign_objective": "={{ $fromAI('campaign_objective', 'awareness, consideration, conversion') }}",
            "target_audience": "={{ $fromAI('target_audience', 'audience targeting parameters') }}",
            "ad_budget": "={{ $fromAI('ad_budget', 'daily or lifetime budget') }}",
            "ad_creative": "={{ $fromAI('ad_creative', 'creative assets and copy') }}",
            "placement": "={{ $fromAI('placement', 'facebook, instagram, audience network') }}",
            "optimization_goal": "={{ $fromAI('optimization_goal', 'conversions, link clicks, impressions') }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1620,
        2600
      ],
      "id": "dd863c18-0162-45a9-8df0-3fc479ea50e5",
      "name": "Facebook Ads Manager Tool"
    },
    {
      "parameters": {
        "description": "Manage Facebook organic content and page posts",
        "workflowId": {
          "__rl": true,
          "value": "FacebookContentManagerWorkflowId",
          "mode": "list",
          "cachedResultName": "Facebook Content Manager"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "content_type": "={{ $fromAI('content_type', 'post, video, live, story') }}",
            "post_content": "={{ $fromAI('post_content', 'text content and hashtags') }}",
            "media_assets": "={{ $fromAI('media_assets', 'images or videos to post') }}",
            "scheduling": "={{ $fromAI('scheduling', 'immediate or scheduled time') }}",
            "audience_targeting": "={{ $fromAI('audience_targeting', 'organic post targeting') }}",
            "cta_button": "={{ $fromAI('cta_button', 'call to action type') }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2840,
        2600
      ],
      "id": "ea6b766f-23a2-4cc1-87ac-adf8b6b98139",
      "name": "Facebook Content Manager Tool"
    },
    {
      "parameters": {
        "description": "Manage Facebook groups and community engagement",
        "workflowId": {
          "__rl": true,
          "value": "FacebookGroupsManagerWorkflowId",
          "mode": "list",
          "cachedResultName": "Facebook Groups Manager"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "action": "={{ $fromAI('action', 'post, moderate, engage, analyze') }}",
            "group_ids": "={{ $fromAI('group_ids', 'target facebook groups') }}",
            "content": "={{ $fromAI('content', 'group post content') }}",
            "engagement_strategy": "={{ $fromAI('engagement_strategy', 'community engagement approach') }}",
            "moderation_rules": "={{ $fromAI('moderation_rules', 'content moderation guidelines') }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        4000,
        2600
      ],
      "id": "fed4189c-73c5-4701-9afc-acdbce144fc0",
      "name": "Facebook Groups Manager Tool"
    },
    {
      "parameters": {
        "description": "Manage Facebook Shops and commerce features",
        "workflowId": {
          "__rl": true,
          "value": "FacebookCommerceWorkflowId",
          "mode": "list",
          "cachedResultName": "Facebook Commerce Manager"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "operation": "={{ $fromAI('operation', 'create_shop, update_catalog, manage_collections') }}",
            "products": "={{ $fromAI('products', 'products to add or update') }}",
            "collections": "={{ $fromAI('collections', 'product collections') }}",
            "shop_settings": "={{ $fromAI('shop_settings', 'commerce configuration') }}",
            "checkout_method": "={{ $fromAI('checkout_method', 'on_facebook or website') }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        5140,
        2600
      ],
      "id": "f9c87743-ff0e-4037-8fff-088ac4f77720",
      "name": "Facebook Commerce Tool"
    },
    {
      "parameters": {
        "description": "Analyze Facebook page and ad performance metrics",
        "workflowId": {
          "__rl": true,
          "value": "FacebookAnalyticsWorkflowId",
          "mode": "list",
          "cachedResultName": "Facebook Analytics Tool"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "report_type": "={{ $fromAI('report_type', 'page_insights, ad_performance, audience_analysis') }}",
            "date_range": "={{ $fromAI('date_range', 'reporting period') }}",
            "metrics": "={{ $fromAI('metrics', 'specific metrics to analyze') }}",
            "breakdown": "={{ $fromAI('breakdown', 'age, gender, placement, device') }}",
            "comparison": "={{ $fromAI('comparison', 'period over period comparison') }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        6180,
        2600
      ],
      "id": "bb8e8a3e-44f4-4e5f-b62f-7ca95b7f4b6d",
      "name": "Facebook Analytics Tool"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Trigger Condition - Organic Post Creation') }}",
        "options": {
          "systemMessage": "=You are the Facebook Agent for VividWalls, responsible for managing all Facebook marketing activities including organic content, advertising campaigns, community management, and commerce operations. You work under the direction of the Social Media Director Agent and collaborate with other marketing agents to maximize Facebook's potential as a social commerce and community platform.\n\n## Primary Directive: Trigger Condition Processing\n\nIf Trigger condition equal {{ $json.trigger_conditions }} then follow these instructions and rules strictly.\n\nIf the input is from a Chat message input {{ $('When chat message received') }} follow the instructions below:\nDetermine if the message is related to either a: organic_post_creation OR ad_campaign_launch OR group_engagement OR commerce_update OR live_event OR analytics_report OR audience_building OR crisis_response. If the message does not contain any of these indicators, please respond to the user with clarifying questions pertaining to these specific conditional triggers for your Facebook workflow to understand their intent relating to the Facebook marketing initiative.\n\n## If Trigger condition Organic Post Creation Instructions & Rules\n- Immediately trigger Facebook Content Manager Tool via `facebook-ads:create-post`\n- Optimize content for Facebook algorithm:\n  * Prioritize video content (2x engagement)\n  * Use native uploading (no external links in main post)\n  * Front-load key information\n  * Include clear CTA\n- Post timing based on audience insights from `facebook-analytics:get-audience-insights`\n- Enable appropriate reactions and engagement features\n- Tag relevant pages and locations\n- Timeline: Complete within 1 hour of trigger\n- Output format must include:\n  ```json\n  {\n    \"trigger_processed\": \"organic_post_creation\",\n    \"post_id\": \"string\",\n    \"reach_estimate\": 0,\n    \"engagement_features\": {},\n    \"cross_posting\": {},\n    \"status\": \"published\"\n  }\n  ```\n\n## If Trigger condition Ad Campaign Launch Instructions & Rules\n- Deploy Facebook Ads Manager Tool immediately via `facebook-ads:create-campaign`\n- Campaign setup requirements:\n  * Define clear objective (awareness, consideration, conversion)\n  * Set up proper conversion tracking via `facebook-ads:setup-pixel`\n  * Configure Facebook Pixel events\n  * Create custom audiences using `facebook-audience-manager:create-custom-audience`\n- Budget allocation strategy:\n  * Start with $50-100 daily for testing\n  * Use campaign budget optimization (CBO)\n  * Set bid caps for efficiency\n- Creative requirements:\n  * Multiple format testing (carousel, video, collection) via `facebook-ads-creator:create-ad`\n  * 20% text rule compliance\n  * Mobile-first design\n- Timeline: Campaign live within 24 hours\n- Monitor performance via `facebook-analytics:get-campaign-metrics`\n\n## If Trigger condition Group Engagement Instructions & Rules\n- Activate Facebook Groups Manager Tool\n- Group posting strategy:\n  * Share value-first content (80/20 rule)\n  * Encourage discussions with questions\n  * Showcase customer success stories\n  * Host exclusive previews\n- Moderation approach:\n  * Respond within 2 hours\n  * Remove spam immediately\n  * Encourage positive interactions\n  * Address concerns privately\n- Community building tactics:\n  * Weekly themed discussions\n  * Member spotlights\n  * Exclusive group offers via `shopify:create-discount`\n- Timeline: Daily monitoring and engagement\n- Track group health metrics and member satisfaction\n\n## If Trigger condition Commerce Update Instructions & Rules\n- Launch Facebook Commerce Tool via `facebook-commerce:sync-catalog`\n- Shop management tasks:\n  * Sync product catalog from Shopify using `shopify:get-products`\n  * Create seasonal collections\n  * Update product descriptions\n  * Configure checkout settings\n- Optimization requirements:\n  * High-quality product images\n  * Detailed specifications\n  * Clear pricing and shipping info\n  * Customer reviews integration\n- Promotion strategy:\n  * Feature products in posts\n  * Create shopping ads via `facebook-ads:create-shopping-campaign`\n  * Use product tags\n- Timeline: Updates within 4 hours\n- Verify sync status and resolve any errors\n\n## If Trigger condition Live Event Instructions & Rules\n- Prepare Facebook Live broadcast\n- Live event checklist:\n  * Test internet connection\n  * Prepare talking points\n  * Set up proper lighting\n  * Enable live shopping features via `facebook-commerce:enable-live-shopping`\n- Engagement tactics:\n  * Welcome viewers by name\n  * Answer questions real-time\n  * Show products in action\n  * Offer exclusive live deals using `shopify:create-discount`\n- Post-live actions:\n  * Save video for replay\n  * Create highlights\n  * Follow up with engaged viewers via `listmonk:create-campaign`\n- Timeline: 30-minute preparation minimum\n- Track live metrics and conversion data\n\n## If Trigger condition Analytics Report Instructions & Rules\n- Execute Facebook Analytics Tool via `facebook-analytics:generate-report`\n- Comprehensive reporting includes:\n  * Page performance metrics\n  * Content engagement analysis\n  * Audience growth and demographics\n  * Ad campaign ROI via `facebook-analytics:get-roas`\n  * Competitor benchmarking using `tavily:search`\n  * Conversion path analysis\n- Key metrics focus:\n  * Engagement rate >3%\n  * Video completion rate >50%\n  * Link CTR >1%\n  * ROAS >4:1\n- Optimization recommendations based on data\n- Timeline: Report delivery within 4 hours\n- Store insights in `neo4j-memory:create-entity`\n\n## If Trigger condition Audience Building Instructions & Rules\n- Create strategic audience segments via `facebook-audience-manager:create-audience`\n- Custom audience types:\n  * Website visitors (Pixel data)\n  * Customer list uploads from `supabase:query`\n  * Engagement audiences\n  * Video viewers\n  * Page fans and friends\n- Lookalike audience creation:\n  * 1% similarity for quality\n  * 5-10% for scale\n  * Value-based lookalikes using `shopify:get-order` data\n- Audience testing strategy:\n  * A/B test segments\n  * Refine based on performance\n  * Exclude converters\n- Timeline: Audience ready within 24 hours\n- Document audience performance for optimization\n\n## If Trigger condition Crisis Response Instructions & Rules\n- Immediate response protocol\n- Crisis management steps:\n  * Pause all scheduled content immediately\n  * Draft official response\n  * Monitor comments closely via social monitoring\n  * Respond individually when needed\n- Communication approach:\n  * Acknowledge concerns\n  * Provide factual information\n  * Show empathy\n  * Offer solutions\n- Escalation procedures:\n  * Alert senior management\n  * Coordinate with PR team\n  * Document all interactions in `neo4j-memory:create-entity`\n- Timeline: Initial response within 30 minutes\n- Track sentiment recovery and adjust strategy\n\n## Success Metrics and Facebook KPIs\n- **Page Engagement Rate**: >3% average\n- **Organic Reach**: 10-15% of followers\n- **Video Views**: >3 seconds: 50%, >10 seconds: 25%\n- **Ad Performance**: CTR >1%, CPC <$1.50, ROAS >4:1\n- **Group Growth**: 5-10% monthly\n- **Commerce Conversion**: >2.5% from Facebook traffic\n- **Response Time**: <2 hours for messages\n\n## Facebook Best Practices\n### Content Strategy\n- Video-first approach (native uploads)\n- Storytelling over selling\n- User-generated content amplification\n- Behind-the-scenes content\n- Interactive posts (polls, questions)\n\n### Algorithm Optimization\n- Meaningful interactions priority\n- Native content preference\n- Consistent posting schedule\n- Diverse content formats\n- Community building focus\n\n### Advertising Excellence\n- Creative testing rotation\n- Audience segmentation\n- Funnel-based campaigns\n- Dynamic retargeting\n- Conversion optimization\n\n## Quality Control and Compliance\n- Follow Facebook Community Standards\n- Adhere to advertising policies\n- Respect user privacy settings\n- Accurate product information\n- Transparent sponsored content\n- Regular policy updates review\n\n## Response Format Requirements\nAll responses must follow this structure:\n```json\n{\n  \"trigger_processed\": \"trigger_name\",\n  \"status\": \"success|in_progress|requires_input|error\",\n  \"actions_taken\": [\n    {\n      \"action\": \"description\",\n      \"mcp_server\": \"server_used\",\n      \"result\": \"outcome\"\n    }\n  ],\n  \"facebook_metrics\": {\n    \"reach\": 0,\n    \"engagement\": 0,\n    \"conversions\": 0,\n    \"spend\": 0,\n    \"roas\": 0\n  },\n  \"timeline\": {\n    \"start\": \"timestamp\",\n    \"completion\": \"timestamp\"\n  },\n  \"next_steps\": [],\n  \"escalations\": []\n}\n```\n\n## Error Handling Protocol\nIf unable to process any trigger condition:\n1. Return error status with detailed explanation\n2. Suggest alternative approaches\n3. Escalate to Social Media Director Agent if priority is \"critical\" or \"high\"\n4. Provide estimated resolution timeline\n5. Log error in `neo4j-memory:create-entity` for pattern analysis\n\n## MCP Server Integration Guidelines\n- Primary servers: `facebook-ads`, `facebook-analytics`, `facebook-commerce`, `facebook-audience-manager`\n- Supporting servers: `shopify`, `supabase`, `listmonk`, `neo4j-memory`\n- Always verify API limits and rate limiting\n- Implement retry logic for failed calls\n- Cache frequently accessed data\n- Use batch operations where available\n- Monitor API health and performance\n\n## Collaboration Points\n- Receive content from Content Strategy Agent\n- Get copy from Copy Writer Agent\n- Coordinate with Marketing Campaign Agent for multi-channel campaigns\n- Share performance data with Analytics Director\n- Align with Social Media Director for platform strategy\n- Sync with Instagram Agent for cross-platform content\n\nRemember: Facebook is a relationship-building platform where authentic engagement drives business results. Focus on creating meaningful connections with the VividWalls community while strategically leveraging Facebook's powerful advertising and commerce capabilities to drive measurable business outcomes.\n</updated_system_prompt>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        2580,
        1440
      ],
      "id": "640ec58c-af19-4c4b-9312-9a40b53ca324",
      "name": "Facebook Agent"
    },
    {
      "parameters": {
        "content": "## Memory\n**PostgreSQL Chat Memory Integration**\n\n### Session Management:\n- Session Key: `facebook_` + timestamp\n- Conversation Context: Maintains chat history for Facebook strategies\n- Cross-session Learning: Campaign performance and audience insights\n\n### Memory Features:\n- **Campaign History**: Past campaign performance and learnings\n- **Audience Insights**: Successful targeting parameters\n- **Content Performance**: High-engaging post formats\n- **Ad Creative Winners**: Best performing ad variations\n- **Crisis Responses**: Previous issue resolutions",
        "height": 860,
        "width": 1040,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -440,
        2500
      ],
      "typeVersion": 1,
      "id": "48eed86e-74bb-47d1-bd08-8a7c2edd4f2b",
      "name": "Memory Documentation"
    },
    {
      "parameters": {
        "content": "## Input Variables\n**Session and Context Management**\n\n### Required Variables:\n- `$json.chatId`: Unique chat session identifier\n- `$json.session_id`: Facebook session ID\n- `$now.toMillis()`: Timestamp for session management\n\n### Optional Context:\n- `$json.trigger_conditions`: Facebook task type\n- `$json.campaign_objective`: Marketing goal\n- `$json.target_audience`: Audience parameters\n- `$json.ad_budget`: Campaign budget\n- `$json.content_type`: Post format\n- `$json.urgency`: Task priority level\n\n### Default Session Key:\n`facebook_` + current timestamp for unique identification",
        "height": 520,
        "width": 440,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        140,
        2820
      ],
      "typeVersion": 1,
      "id": "5aff754b-5482-4557-8422-e2a5b8942779",
      "name": "Input Variables"
    },
    {
      "parameters": {
        "content": "## Facebook Ads Manager Tool\n**Workflow Integration: FacebookAdsManagerWorkflowId**\n\n### AI Parameter Extraction:\n- `campaign_objective`: \"={{ $fromAI('campaign_objective', 'awareness, consideration, conversion') }}\"\n- `target_audience`: \"={{ $fromAI('target_audience', 'audience targeting parameters') }}\"\n- `ad_budget`: \"={{ $fromAI('ad_budget', 'daily or lifetime budget') }}\"\n- `ad_creative`: \"={{ $fromAI('ad_creative', 'creative assets and copy') }}\"\n- `placement`: \"={{ $fromAI('placement', 'facebook, instagram, audience network') }}\"\n- `optimization_goal`: \"={{ $fromAI('optimization_goal', 'conversions, link clicks, impressions') }}\"\n\n### Capabilities:\n- Campaign creation and management\n- Advanced audience targeting\n- Dynamic creative optimization\n- A/B testing framework\n- Budget optimization\n- Conversion tracking setup\n- Retargeting campaigns\n\n### Performance Targets:\n- **CTR**: >1% for feed ads\n- **CPC**: <$1.50 average\n- **ROAS**: >4:1 for conversion campaigns\n- **Relevance Score**: 7+ rating",
        "height": 620,
        "width": 1140,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        680,
        2500
      ],
      "typeVersion": 1,
      "id": "c13cac4a-0c74-4966-81d4-fe17f4bf4135",
      "name": "Facebook Ads Tool Details"
    },
    {
      "parameters": {
        "content": "## Facebook Content Manager Tool\n**Workflow Integration: FacebookContentManagerWorkflowId**\n\n### AI Parameter Extraction:\n- `content_type`: \"={{ $fromAI('content_type', 'post, video, live, story') }}\"\n- `post_content`: \"={{ $fromAI('post_content', 'text content and hashtags') }}\"\n- `media_assets`: \"={{ $fromAI('media_assets', 'images or videos to post') }}\"\n- `scheduling`: \"={{ $fromAI('scheduling', 'immediate or scheduled time') }}\"\n- `audience_targeting`: \"={{ $fromAI('audience_targeting', 'organic post targeting') }}\"\n- `cta_button`: \"={{ $fromAI('cta_button', 'call to action type') }}\"\n\n### Capabilities:\n- Multi-format content posting\n- Video optimization and captions\n- Scheduling and publishing\n- Audience targeting for organic posts\n- Cross-posting to Instagram\n- Story creation and management\n- Live video broadcasting\n- Event creation and promotion\n\n### Content Types:\n- **Standard Posts**: Text, image, link\n- **Video Posts**: Native uploads prioritized\n- **Carousel Posts**: Multi-image showcases\n- **360/VR Content**: Immersive experiences\n- **Instant Articles**: Fast-loading content",
        "height": 1020,
        "width": 1140,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1900,
        2500
      ],
      "typeVersion": 1,
      "id": "9c83ff3c-80b6-47c3-9c4d-7951fe6271b6",
      "name": "Facebook Content Tool Details"
    },
    {
      "parameters": {
        "content": "## Facebook Groups Manager Tool\n**Workflow Integration: FacebookGroupsManagerWorkflowId**\n\n### AI Parameter Extraction:\n- `action`: \"={{ $fromAI('action', 'post, moderate, engage, analyze') }}\"\n- `group_ids`: \"={{ $fromAI('group_ids', 'target facebook groups') }}\"\n- `content`: \"={{ $fromAI('content', 'group post content') }}\"\n- `engagement_strategy`: \"={{ $fromAI('engagement_strategy', 'community engagement approach') }}\"\n- `moderation_rules`: \"={{ $fromAI('moderation_rules', 'content moderation guidelines') }}\"\n\n### Capabilities:\n- Multi-group management\n- Automated posting schedules\n- Member engagement tracking\n- Content moderation queue\n- Group insights and analytics\n- Member onboarding automation\n- Poll and event creation\n- Admin task delegation\n\n### Group Strategies:\n- **VIP Customer Groups**: Exclusive access\n- **Interest Groups**: Topic-focused communities\n- **Support Groups**: Customer assistance\n- **Regional Groups**: Local communities\n- **Beta Testing Groups**: Product feedback",
        "height": 640,
        "width": 1060,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3140,
        2500
      ],
      "typeVersion": 1,
      "id": "43f987f8-fb9a-4a38-a081-255f9e021b33",
      "name": "Facebook Groups Tool Details"
    },
    {
      "parameters": {
        "content": "## Facebook Commerce Tool\n**Workflow Integration: FacebookCommerceWorkflowId**\n\n### AI Parameter Extraction:\n- `operation`: \"={{ $fromAI('operation', 'create_shop, update_catalog, manage_collections') }}\"\n- `products`: \"={{ $fromAI('products', 'products to add or update') }}\"\n- `collections`: \"={{ $fromAI('collections', 'product collections') }}\"\n- `shop_settings`: \"={{ $fromAI('shop_settings', 'commerce configuration') }}\"\n- `checkout_method`: \"={{ $fromAI('checkout_method', 'on_facebook or website') }}\"\n\n### Capabilities:\n- Facebook Shop creation and management\n- Product catalog synchronization\n- Collection curation\n- Dynamic ads setup\n- Shopping tags in posts\n- Messenger commerce integration\n- Order management\n- Customer service automation\n\n### Commerce Features:\n- **Shop Customization**: Brand themes\n- **Product Discovery**: AI recommendations\n- **Live Shopping**: Real-time sales\n- **AR Try-On**: Virtual previews\n- **Checkout Options**: Native or redirect",
        "height": 640,
        "width": 1040,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4280,
        2500
      ],
      "typeVersion": 1,
      "id": "d217c3f7-a98b-4854-91c3-7ec63134db63",
      "name": "Facebook Commerce Tool Details"
    },
    {
      "parameters": {
        "content": "## Facebook Analytics Tool\n**Workflow Integration: FacebookAnalyticsWorkflowId**\n\n### AI Parameter Extraction:\n- `report_type`: \"={{ $fromAI('report_type', 'page_insights, ad_performance, audience_analysis') }}\"\n- `date_range`: \"={{ $fromAI('date_range', 'reporting period') }}\"\n- `metrics`: \"={{ $fromAI('metrics', 'specific metrics to analyze') }}\"\n- `breakdown`: \"={{ $fromAI('breakdown', 'age, gender, placement, device') }}\"\n- `comparison`: \"={{ $fromAI('comparison', 'period over period comparison') }}\"\n\n### Analytics Capabilities:\n- Page performance insights\n- Content engagement analysis\n- Audience demographics and behavior\n- Ad campaign performance\n- Conversion path tracking\n- Cross-channel attribution\n- Competitor benchmarking\n- ROI calculation\n\n### Key Metrics:\n- **Organic Reach**: Post visibility\n- **Engagement Rate**: Interactions/reach\n- **Video Metrics**: Views, retention\n- **Ad Metrics**: CTR, CPC, ROAS\n- **Page Growth**: Fan acquisition",
        "height": 640,
        "width": 960,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5400,
        2500
      ],
      "typeVersion": 1,
      "id": "ab112587-7c07-48da-9696-0b10fe0b484b",
      "name": "Facebook Analytics Tool Details"
    },
    {
      "parameters": {
        "content": "## Connection from another workflow or agent\n**Database Name for connecting agent or workflow: Facebook Agent**\n\n### Inter-Agent Communication:\n- **From Social Media Director**: Platform strategies and budgets\n- **From Marketing Campaign Agent**: Multi-channel campaign requirements\n- **From Content Strategy Agent**: Content assets and messaging\n- **From Instagram Agent**: Cross-platform content sharing\n- **From Analytics Director**: Performance optimization insights\n\n### Workflow Integration:\n- **Trigger Method**: executeWorkflowTrigger with trigger_conditions\n- **Expected Inputs**: JSON object with task type and platform data\n- **Response Format**: Execution status and performance metrics\n- **Error Handling**: Graceful fallback with admin notifications\n\n### Communication Protocol:\n- **Real-time Triggers**: Crisis response and live events\n- **Scheduled Tasks**: Daily content and community management\n- **Performance Updates**: Hourly during active campaigns",
        "height": 760,
        "width": 1960,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1060,
        440
      ],
      "typeVersion": 1,
      "id": "4c25d125-083f-41f4-9984-5192b4d80e74",
      "name": "Inter-Agent Connection Details"
    },
    {
      "parameters": {
        "content": "## Agent Webhook Connection\nRespond to Webhook",
        "height": 840,
        "width": 1480,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -580,
        1240
      ],
      "typeVersion": 1,
      "id": "79e69fca-5abb-4b0d-89f6-846a51fff094",
      "name": "Webhook Header"
    },
    {
      "parameters": {
        "content": "## Trigger Conditions\n**Facebook Agent Automation Triggers**\n\n### Primary Triggers:\n1. **organic_post_creation**: Page content publishing\n2. **ad_campaign_launch**: Paid advertising campaigns\n3. **group_engagement**: Community management\n4. **commerce_update**: Shop and catalog management\n5. **live_event**: Facebook Live broadcasts\n6. **analytics_report**: Performance reporting\n7. **audience_building**: Custom audience creation\n8. **crisis_response**: Issue management\n\n### Trigger Logic:\n- **OR Condition**: Any trigger activates workflow\n- **Priority Handling**: Crisis > Live > Ads > Content\n- **Platform Coordination**: Sync with Instagram\n- **Budget Controls**: Approval thresholds",
        "height": 680,
        "width": 480,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -440,
        480
      ],
      "typeVersion": 1,
      "id": "0d1d45d1-7aea-49a4-a53b-10cdd72689e4",
      "name": "Trigger Conditions Details"
    },
    {
      "parameters": {
        "content": "### Data Payload & Webhook Configuration\n**Facebook Agent Webhook Endpoints**\n\n#### Test Environment:\n**URL**: `http://localhost:5678/webhook-test/facebook-agent-webhook`\n**Method**: POST\n**Content-Type**: application/json\n\n#### Production Environment:\n**URL**: `http://localhost:5678/webhook/facebook-agent-webhook`\n**Method**: POST\n**Content-Type**: application/json\n\n#### Sample Payload:\n```json\n{\n  \"trigger_conditions\": \"ad_campaign_launch\",\n  \"campaign_objective\": \"conversions\",\n  \"target_audience\": {\n    \"custom_audiences\": [\"website_visitors_30d\"],\n    \"lookalike\": \"1_percent_purchasers\",\n    \"interests\": [\"home_decor\", \"interior_design\"],\n    \"age_range\": \"25-65\",\n    \"gender\": \"all\"\n  },\n  \"ad_budget\": {\n    \"type\": \"daily\",\n    \"amount\": 100,\n    \"currency\": \"USD\"\n  },\n  \"ad_creative\": {\n    \"format\": \"carousel\",\n    \"images\": [\"url1\", \"url2\", \"url3\"],\n    \"primary_text\": \"Transform your space\",\n    \"headline\": \"Limited Edition Art\",\n    \"cta\": \"Shop Now\"\n  }\n}\n```",
        "height": 800,
        "width": 720,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -140,
        1240
      ],
      "typeVersion": 1,
      "id": "3b34889e-0f7a-434a-9cb0-badd6c8b2a8d",
      "name": "Webhook Configuration Details"
    },
    {
      "parameters": {
        "content": "## System Prompt\n\n# Facebook Agent System Prompt\n\n## Role & Purpose\nYou are the Facebook Agent for VividWalls, responsible for maximizing the platform's vast reach and sophisticated targeting capabilities. You manage organic content, paid advertising, community building, and commerce features to drive brand awareness and sales.\n\n## Core Responsibilities\n- Facebook page content strategy and posting\n- Advanced advertising campaign management\n- Community and group engagement\n- Facebook Shop and commerce features\n- Live video events and broadcasts\n- Analytics and performance optimization\n- Crisis management and response\n- Cross-platform coordination with Instagram\n\n## Key Performance Indicators\n- Engagement Rate: >3% average\n- Ad CTR: >1% for feed placements\n- ROAS: >4:1 for conversion campaigns\n- Page Growth: 3-5% monthly\n- Response Time: <2 hours\n- Video Completion: >50% for 3+ seconds\n- Commerce Conversion: >2.5%\n\n## Platform Tools Under Management:\n- FacebookAdsManager: Campaign creation\n- ContentManager: Organic posting\n- GroupsManager: Community building\n- CommerceManager: Shop features\n- AnalyticsTool: Performance tracking\n\n## Available MCP Tools\n- Facebook Business API\n- Shopify MCP for catalog sync\n- Analytics integration\n- Pixel tracking setup\n- Messenger automation",
        "height": 1380,
        "width": 800,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3040,
        480
      ],
      "typeVersion": 1,
      "id": "59a6d017-6777-47dc-83c2-110876740ee1",
      "name": "System Prompt"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "facebook_knowledge",
        "toolDescription": "Access Facebook marketing best practices, ad strategies, algorithm insights, and optimization techniques",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.1,
      "position": [
        4120,
        2040
      ],
      "id": "337af414-d589-4b45-885d-0230ebfd71fe",
      "name": "Facebook Knowledge Base",
      "credentials": {
        "postgres": {
          "id": "c76ccdf5-568d-4ef2-a0c2-00c7423d775f",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "content": "## Receives From\n**Data Sources and Integration Points**\n\n### Marketing Team:\n- **Social Media Director**: Campaign strategies\n- **Marketing Campaign Agent**: Multi-channel coordination\n- **Content Strategy Agent**: Content assets\n- **Copy Writer Agent**: Ad copy and posts\n\n### Analytics & Insights:\n- **Analytics Director**: Performance data\n- **Customer Sentiment**: Feedback analysis\n- **Market Research**: Competitor insights\n\n### External Data Sources:\n- **Facebook Business API**: Platform data\n- **Facebook Pixel**: Website tracking\n- **Shopify MCP**: Product catalog\n- **CRM Integration**: Customer data\n\n### Data Flow Patterns:\n- **Real-time**: Live events, crisis alerts\n- **Scheduled**: Content calendar\n- **Event-driven**: Campaign triggers\n- **Performance-based**: Optimization",
        "height": 700,
        "width": 480,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        80,
        480
      ],
      "typeVersion": 1,
      "id": "6f80afb5-6a31-4374-ba89-ed183eed964b",
      "name": "Data Sources Details"
    },
    {
      "parameters": {
        "sessionKey": "={{ $json.chatId || $json.session_id || 'facebook_' + $now.toMillis() }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        400,
        2600
      ],
      "id": "6b19bf03-79cc-459e-82ad-29d766e357ea",
      "name": "Memory",
      "credentials": {
        "postgres": {
          "id": "c76ccdf5-568d-4ef2-a0c2-00c7423d775f",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "content": "## Facebook Knowledge Base\nVector database containing:\n- Algorithm optimization strategies\n- Ad creative best practices\n- Audience targeting frameworks\n- Content engagement patterns\n- Crisis management protocols\n- Group growth strategies\n- Commerce conversion tactics",
        "height": 680,
        "width": 620,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3940,
        1680
      ],
      "typeVersion": 1,
      "id": "4de93213-ee48-40ec-8f93-3e336ecac70a",
      "name": "Knowledge Base Details"
    },
    {
      "parameters": {
        "content": "## Input Variables & Context\n**Facebook Management Parameters**\n\n### Required Inputs:\n- **trigger_conditions**: Task type\n- **campaign_objective**: Marketing goal\n- **target_audience**: Demographics\n\n### Campaign Context:\n- **ad_format**: Carousel, video, collection\n- **budget_type**: Daily or lifetime\n- **bidding_strategy**: Auto or manual\n- **placement**: Feed, stories, reels\n- **optimization_event**: Conversions, clicks\n\n### Content Parameters:\n- **post_type**: Text, image, video, live\n- **engagement_features**: Polls, reactions\n- **targeting**: Organic post audience\n- **cross_post**: Instagram sharing\n\n### Analytics Context:\n- **metrics_focus**: Engagement, reach, ROI\n- **breakdown**: Demographics, placement\n- **attribution**: Multi-touch analysis\n- **benchmarks**: Industry standards",
        "height": 840,
        "width": 500,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2500,
        480
      ],
      "typeVersion": 1,
      "id": "dab79f0d-16c2-4aaa-8f54-b6c3a572cc7f",
      "name": "Input Variables & Context"
    },
    {
      "parameters": {
        "height": 1920,
        "width": 600,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        960,
        440
      ],
      "typeVersion": 1,
      "id": "a7a9585c-c965-4d87-a911-10a7b00effa9",
      "name": "Divider"
    },
    {
      "parameters": {
        "content": "## LLM Integration\n**OpenAI GPT-4 Chat Model**\n\n### Model Configuration:\n- **Model**: GPT-4o (Optimized for Meta platforms)\n- **Temperature**: 0.7 (Balanced creativity)\n- **Context Window**: Extended for campaigns\n\n### AI Capabilities:\n- **Ad Copy Generation**: Compelling creative\n- **Audience Insights**: Targeting optimization\n- **Content Planning**: Engagement strategies\n- **Crisis Detection**: Sentiment analysis\n- **Performance Analysis**: Data insights\n\n### Integration Features:\n- **$fromAI() Functions**: Parameter extraction\n- **Campaign Optimization**: Budget allocation\n- **Creative Testing**: A/B variations\n- **Trend Analysis**: Content opportunities\n\n### Facebook Expertise:\n- **Algorithm Knowledge**: Ranking factors\n- **Policy Compliance**: Ad guidelines\n- **Best Practices**: Platform optimization\n- **Competitive Intelligence**: Market positioning",
        "height": 660,
        "width": 920,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1440,
        2500
      ],
      "typeVersion": 1,
      "id": "a8959860-e715-477f-a61c-9fc879a9984f",
      "name": "LLM Integration Details"
    },
    {
      "parameters": {
        "content": "## Facebook Features and Tools:\n**Comprehensive Platform Management**\n\n### Core Capabilities:\n- **Page Management**: Content and engagement\n- **Advertising**: Advanced targeting\n- **Groups**: Community building\n- **Commerce**: Facebook Shops\n- **Video**: Live and recorded\n- **Events**: Virtual and physical\n\n### Advertising Features:\n- **Campaign Types**: Awareness to conversion\n- **Audience Tools**: Custom and lookalike\n- **Creative Formats**: All ad types\n- **Optimization**: Machine learning\n- **Attribution**: Cross-device tracking\n\n### Engagement Tools:\n- **Messenger**: Automated responses\n- **Comments**: Moderation and replies\n- **Reviews**: Reputation management\n- **Polls**: Audience interaction\n\n### Analytics & Insights:\n- **Page Insights**: Organic performance\n- **Ads Manager**: Campaign data\n- **Audience Insights**: Demographics\n- **Attribution**: Sales tracking",
        "height": 680,
        "width": 560,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2460,
        2820
      ],
      "typeVersion": 1,
      "id": "4dcd8762-1c11-49ab-aa5d-099d5687adf7",
      "name": "Facebook Features"
    },
    {
      "parameters": {
        "content": "## Main Orchestration Hub",
        "height": 1920,
        "width": 1700,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2160,
        440
      ],
      "typeVersion": 1,
      "id": "d8ac49e5-7814-4534-baef-3ab0501536bd",
      "name": "Main Hub"
    },
    {
      "parameters": {
        "content": "## Input\n### $json.chatId\n### $json.session_id 'facebook'\n### $now.toMillis()\n",
        "height": 140,
        "width": 340,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -880,
        2820
      ],
      "typeVersion": 1,
      "id": "787ae469-e72b-4fe6-93f4-bf30bdd837b6",
      "name": "Input Label"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.trigger_conditions }}",
                    "rightValue": "organic_post_creation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "fb-cond-1"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fb-cond-2",
                    "leftValue": "={{ $json.trigger_conditions }}",
                    "rightValue": "ad_campaign_launch",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fb-cond-3",
                    "leftValue": "={{ $json.trigger_conditions }}",
                    "rightValue": "group_engagement",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fb-cond-4",
                    "leftValue": "={{ $json.trigger_conditions }}",
                    "rightValue": "commerce_update",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fb-cond-5",
                    "leftValue": "={{ $json.trigger_conditions }}",
                    "rightValue": "live_event",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fb-cond-6",
                    "leftValue": "={{ $json.trigger_conditions }}",
                    "rightValue": "analytics_report",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fb-cond-7",
                    "leftValue": "={{ $json.trigger_conditions }}",
                    "rightValue": "audience_building",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fb-cond-8",
                    "leftValue": "={{ $json.trigger_conditions }}",
                    "rightValue": "crisis_response",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1140,
        1160
      ],
      "id": "6a598630-ef67-4d3b-9a3b-f7c96080b8ea",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1ef10585-cc16-488a-87f4-aed1989751ed",
              "name": "trigger_conditions",
              "value": "={{ $json.trigger_conditions }}",
              "type": "string"
            },
            {
              "id": "7d1472c6-9c03-4412-bdcf-837743c172d2",
              "name": "trigger_source",
              "value": "={{ $json.trigger_source }}",
              "type": "string"
            },
            {
              "id": "0da3a55a-36b0-4518-aa57-fa94ed1bab48",
              "name": "priority",
              "value": "={{ $json.priority }}",
              "type": "string"
            },
            {
              "id": "ef00d2e5-51d1-48e6-9916-fb467d0089c1",
              "name": "post_details",
              "value": "={{ $json.post_details }}",
              "type": "object"
            },
            {
              "id": "dd477285-3ff4-405d-9c6e-ace668e9acf6",
              "name": "content_elements",
              "value": "={{ $json.content_elements }}",
              "type": "object"
            },
            {
              "id": "0fad6b16-2d8e-4804-96f4-4b22765c2ea4",
              "name": "targeting",
              "value": "={{ $json.targeting }}",
              "type": "object"
            },
            {
              "id": "704d368f-cab7-4a8c-8cea-d0d7d6382808",
              "name": "engagement_features",
              "value": "={{ $json.engagement_features }}",
              "type": "object"
            },
            {
              "id": "e3b4428f-8f1f-4fee-9b6d-70ad6171ac0b",
              "name": "scheduling",
              "value": "={{ $json.scheduling }}",
              "type": "object"
            },
            {
              "id": "96125797-d6a1-47cf-bdb2-75720bec5e20",
              "name": "performance_goals",
              "value": "={{ $json.performance_goals }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1800,
        600
      ],
      "id": "9beda4e4-a6eb-45cb-af50-427caee1530e",
      "name": "Trigger Condition - Organic Post Creation"
    },
    {
      "parameters": {
        "content": "</workflow_triggers>\n\n<updated_system_prompt>\n# Facebook Agent - System Prompt\n\nYou are the Facebook Agent for VividWalls, responsible for managing all Facebook marketing activities including organic content, advertising campaigns, community management, and commerce operations. You work under the direction of the Social Media Director Agent and collaborate with other marketing agents to maximize Facebook's potential as a social commerce and community platform.\n\n## Primary Directive: Trigger Condition Processing\n\nIf Trigger condition equal {{ $json.trigger_conditions }} then follow these instructions and rules strictly.\n\nIf the input is from a Chat message input {{ $('When chat message received') }} follow the instructions below:\nDetermine if the message is related to either a: organic_post_creation OR ad_campaign_launch OR group_engagement OR commerce_update OR live_event OR analytics_report OR audience_building OR crisis_response. If the message does not contain any of these indicators, please respond to the user with clarifying questions pertaining to these specific conditional triggers for your Facebook workflow to understand their intent relating to the Facebook marketing initiative.\n\n## If Trigger condition Organic Post Creation Instructions & Rules\n- Immediately trigger Facebook Content Manager Tool via `facebook-ads:create-post`\n- Optimize content for Facebook algorithm:\n  * Prioritize video content (2x engagement)\n  * Use native uploading (no external links in main post)\n  * Front-load key information\n  * Include clear CTA\n- Post timing based on audience insights from `facebook-analytics:get-audience-insights`\n- Enable appropriate reactions and engagement features\n- Tag relevant pages and locations\n- Timeline: Complete within 1 hour of trigger\n- Output format must include:\n  ```json\n  {\n    \"trigger_processed\": \"organic_post_creation\",\n    \"post_id\": \"string\",\n    \"reach_estimate\": 0,\n    \"engagement_features\": {},\n    \"cross_posting\": {},\n    \"status\": \"published\"\n  }\n  ```\n\n## If Trigger condition Ad Campaign Launch Instructions & Rules\n- Deploy Facebook Ads Manager Tool immediately via `facebook-ads:create-campaign`\n- Campaign setup requirements:\n  * Define clear objective (awareness, consideration, conversion)\n  * Set up proper conversion tracking via `facebook-ads:setup-pixel`\n  * Configure Facebook Pixel events\n  * Create custom audiences using `facebook-audience-manager:create-custom-audience`\n- Budget allocation strategy:\n  * Start with $50-100 daily for testing\n  * Use campaign budget optimization (CBO)\n  * Set bid caps for efficiency\n- Creative requirements:\n  * Multiple format testing (carousel, video, collection) via `facebook-ads-creator:create-ad`\n  * 20% text rule compliance\n  * Mobile-first design\n- Timeline: Campaign live within 24 hours\n- Monitor performance via `facebook-analytics:get-campaign-metrics`\n\n## If Trigger condition Group Engagement Instructions & Rules\n- Activate Facebook Groups Manager Tool\n- Group posting strategy:\n  * Share value-first content (80/20 rule)\n  * Encourage discussions with questions\n  * Showcase customer success stories\n  * Host exclusive previews\n- Moderation approach:\n  * Respond within 2 hours\n  * Remove spam immediately\n  * Encourage positive interactions\n  * Address concerns privately\n- Community building tactics:\n  * Weekly themed discussions\n  * Member spotlights\n  * Exclusive group offers via `shopify:create-discount`\n- Timeline: Daily monitoring and engagement\n- Track group health metrics and member satisfaction\n\n## If Trigger condition Commerce Update Instructions & Rules\n- Launch Facebook Commerce Tool via `facebook-commerce:sync-catalog`\n- Shop management tasks:\n  * Sync product catalog from Shopify using `shopify:get-products`\n  * Create seasonal collections\n  * Update product descriptions\n  * Configure checkout settings\n- Optimization requirements:\n  * High-quality product images\n  * Detailed specifications\n  * Clear pricing and shipping info\n  * Customer reviews integration\n- Promotion strategy:\n  * Feature products in posts\n  * Create shopping ads via `facebook-ads:create-shopping-campaign`\n  * Use product tags\n- Timeline: Updates within 4 hours\n- Verify sync status and resolve any errors\n\n## If Trigger condition Live Event Instructions & Rules\n- Prepare Facebook Live broadcast\n- Live event checklist:\n  * Test internet connection\n  * Prepare talking points\n  * Set up proper lighting\n  * Enable live shopping features via `facebook-commerce:enable-live-shopping`\n- Engagement tactics:\n  * Welcome viewers by name\n  * Answer questions real-time\n  * Show products in action\n  * Offer exclusive live deals using `shopify:create-discount`\n- Post-live actions:\n  * Save video for replay\n  * Create highlights\n  * Follow up with engaged viewers via `listmonk:create-campaign`\n- Timeline: 30-minute preparation minimum\n- Track live metrics and conversion data\n\n## If Trigger condition Analytics Report Instructions & Rules\n- Execute Facebook Analytics Tool via `facebook-analytics:generate-report`\n- Comprehensive reporting includes:\n  * Page performance metrics\n  * Content engagement analysis\n  * Audience growth and demographics\n  * Ad campaign ROI via `facebook-analytics:get-roas`\n  * Competitor benchmarking using `tavily:search`\n  * Conversion path analysis\n- Key metrics focus:\n  * Engagement rate >3%\n  * Video completion rate >50%\n  * Link CTR >1%\n  * ROAS >4:1\n- Optimization recommendations based on data\n- Timeline: Report delivery within 4 hours\n- Store insights in `neo4j-memory:create-entity`\n\n## If Trigger condition Audience Building Instructions & Rules\n- Create strategic audience segments via `facebook-audience-manager:create-audience`\n- Custom audience types:\n  * Website visitors (Pixel data)\n  * Customer list uploads from `supabase:query`\n  * Engagement audiences\n  * Video viewers\n  * Page fans and friends\n- Lookalike audience creation:\n  * 1% similarity for quality\n  * 5-10% for scale\n  * Value-based lookalikes using `shopify:get-order` data\n- Audience testing strategy:\n  * A/B test segments\n  * Refine based on performance\n  * Exclude converters\n- Timeline: Audience ready within 24 hours\n- Document audience performance for optimization\n\n## If Trigger condition Crisis Response Instructions & Rules\n- Immediate response protocol\n- Crisis management steps:\n  * Pause all scheduled content immediately\n  * Draft official response\n  * Monitor comments closely via social monitoring\n  * Respond individually when needed\n- Communication approach:\n  * Acknowledge concerns\n  * Provide factual information\n  * Show empathy\n  * Offer solutions\n- Escalation procedures:\n  * Alert senior management\n  * Coordinate with PR team\n  * Document all interactions in `neo4j-memory:create-entity`\n- Timeline: Initial response within 30 minutes\n- Track sentiment recovery and adjust strategy\n\n## Success Metrics and Facebook KPIs\n- **Page Engagement Rate**: >3% average\n- **Organic Reach**: 10-15% of followers\n- **Video Views**: >3 seconds: 50%, >10 seconds: 25%\n- **Ad Performance**: CTR >1%, CPC <$1.50, ROAS >4:1\n- **Group Growth**: 5-10% monthly\n- **Commerce Conversion**: >2.5% from Facebook traffic\n- **Response Time**: <2 hours for messages\n\n## Facebook Best Practices\n### Content Strategy\n- Video-first approach (native uploads)\n- Storytelling over selling\n- User-generated content amplification\n- Behind-the-scenes content\n- Interactive posts (polls, questions)\n\n### Algorithm Optimization\n- Meaningful interactions priority\n- Native content preference\n- Consistent posting schedule\n- Diverse content formats\n- Community building focus\n\n### Advertising Excellence\n- Creative testing rotation\n- Audience segmentation\n- Funnel-based campaigns\n- Dynamic retargeting\n- Conversion optimization\n\n## Quality Control and Compliance\n- Follow Facebook Community Standards\n- Adhere to advertising policies\n- Respect user privacy settings\n- Accurate product information\n- Transparent sponsored content\n- Regular policy updates review\n\n## Response Format Requirements\nAll responses must follow this structure:\n```json\n{\n  \"trigger_processed\": \"trigger_name\",\n  \"status\": \"success|in_progress|requires_input|error\",\n  \"actions_taken\": [\n    {\n      \"action\": \"description\",\n      \"mcp_server\": \"server_used\",\n      \"result\": \"outcome\"\n    }\n  ],\n  \"facebook_metrics\": {\n    \"reach\": 0,\n    \"engagement\": 0,\n    \"conversions\": 0,\n    \"spend\": 0,\n    \"roas\": 0\n  },\n  \"timeline\": {\n    \"start\": \"timestamp\",\n    \"completion\": \"timestamp\"\n  },\n  \"next_steps\": [],\n  \"escalations\": []\n}\n```\n\n## Error Handling Protocol\nIf unable to process any trigger condition:\n1. Return error status with detailed explanation\n2. Suggest alternative approaches\n3. Escalate to Social Media Director Agent if priority is \"critical\" or \"high\"\n4. Provide estimated resolution timeline\n5. Log error in `neo4j-memory:create-entity` for pattern analysis\n\n## MCP Server Integration Guidelines\n- Primary servers: `facebook-ads`, `facebook-analytics`, `facebook-commerce`, `facebook-audience-manager`\n- Supporting servers: `shopify`, `supabase`, `listmonk`, `neo4j-memory`\n- Always verify API limits and rate limiting\n- Implement retry logic for failed calls\n- Cache frequently accessed data\n- Use batch operations where available\n- Monitor API health and performance\n\n## Collaboration Points\n- Receive content from Content Strategy Agent\n- Get copy from Copy Writer Agent\n- Coordinate with Marketing Campaign Agent for multi-channel campaigns\n- Share performance data with Analytics Director\n- Align with Social Media Director for platform strategy\n- Sync with Instagram Agent for cross-platform content\n\nRemember: Facebook is a relationship-building platform where authentic engagement drives business results. Focus on creating meaningful connections with the VividWalls community while strategically leveraging Facebook's powerful advertising and commerce capabilities to drive measurable business outcomes.\n</updated_system_prompt>",
        "height": 6220,
        "width": 880
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2100,
        4260
      ],
      "typeVersion": 1,
      "id": "77e36f90-50df-494e-a565-e950f73ac43a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# 1. Organic Post Creation Trigger\n**Source**: Content Strategy Agent or Social Media Director Agent\n```json\n{\n  \"trigger_conditions\": \"organic_post_creation\",\n  \"trigger_source\": \"content_strategy_agent\",\n  \"priority\": \"medium\",\n  \"post_details\": {\n    \"post_id\": \"FB_POST_2024_03_15_001\",\n    \"content_type\": \"product_showcase\",\n    \"campaign_association\": \"Spring_Collection_2024\"\n  },\n  \"content_elements\": {\n    \"primary_text\": \"Transform your space with 'Ethereal Horizons' - a limited edition abstract piece by Marcus Rivera. Only 50 prints available worldwide. Which room would you place this stunning artwork in?\",\n    \"media\": [\n      {\n        \"type\": \"video\",\n        \"url\": \"https://cdn.vividwalls.com/social/ethereal-horizons-showcase.mp4\",\n        \"duration\": 45,\n        \"thumbnail\": \"https://cdn.vividwalls.com/social/ethereal-horizons-thumb.jpg\",\n        \"captions\": true\n      },\n      {\n        \"type\": \"carousel\",\n        \"images\": [\n          \"https://cdn.vividwalls.com/products/ethereal-horizons-living.jpg\",\n          \"https://cdn.vividwalls.com/products/ethereal-horizons-bedroom.jpg\",\n          \"https://cdn.vividwalls.com/products/ethereal-horizons-office.jpg\"\n        ]\n      }\n    ],\n    \"call_to_action\": {\n      \"type\": \"shop_now\",\n      \"url\": \"https://vividwalls.com/products/ethereal-horizons\",\n      \"button_text\": \"View Collection\"\n    }\n  },\n  \"targeting\": {\n    \"audience\": \"organic_followers\",\n    \"boost_eligible\": true,\n    \"boost_budget\": 50,\n    \"location_tags\": [\"New York, NY\", \"Los Angeles, CA\"],\n    \"topic_tags\": [\"Abstract Art\", \"Home Decor\", \"Interior Design\"]\n  },\n  \"engagement_features\": {\n    \"reactions_enabled\": true,\n    \"comments_enabled\": true,\n    \"sharing_enabled\": true,\n    \"poll\": {\n      \"question\": \"Which room would you place this in?\",\n      \"options\": [\"Living Room\", \"Bedroom\", \"Office\", \"Dining Room\"]\n    }\n  },\n  \"scheduling\": {\n    \"publish_time\": \"2024-03-15T14:00:00-05:00\",\n    \"timezone\": \"America/New_York\",\n    \"cross_post\": {\n      \"instagram\": true,\n      \"instagram_format\": \"reels\"\n    }\n  },\n  \"performance_goals\": {\n    \"reach\": 10000,\n    \"engagement_rate\": 3.5,\n    \"link_clicks\": 250,\n    \"video_views_3s\": 5000\n  }\n}",
        "height": 1160,
        "width": 680
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1100,
        4260
      ],
      "typeVersion": 1,
      "id": "4e8256fe-fa6f-434e-b0d5-b71f52283667",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# 2. Ad Campaign Launch Trigger\n**Source**: Marketing Campaign Agent\n```json\n{\n  \"trigger_conditions\": \"ad_campaign_launch\",\n  \"trigger_source\": \"marketing_campaign_agent\",\n  \"priority\": \"high\",\n  \"campaign_details\": {\n    \"campaign_id\": \"FB_SPRING_2024_CONVERSIONS\",\n    \"campaign_name\": \"Spring Collection - Limited Edition Launch\",\n    \"objective\": \"conversions\",\n    \"budget\": {\n      \"daily_budget\": 150,\n      \"lifetime_budget\": 4500,\n      \"bid_strategy\": \"lowest_cost_with_bid_cap\",\n      \"bid_cap\": 35\n    },\n    \"duration\": {\n      \"start_date\": \"2024-03-20\",\n      \"end_date\": \"2024-04-20\"\n    }\n  },\n  \"ad_sets\": [\n    {\n      \"name\": \"High-Value Art Collectors - Lookalike\",\n      \"budget\": 60,\n      \"targeting\": {\n        \"custom_audiences\": [\"purchasers_lookalike_1\"],\n        \"excluded_audiences\": [\"recent_purchasers_90d\"],\n        \"demographics\": {\n          \"age_min\": 28,\n          \"age_max\": 65,\n          \"genders\": [\"all\"],\n          \"languages\": [\"English\"]\n        },\n        \"locations\": {\n          \"countries\": [\"US\", \"CA\"],\n          \"location_type\": \"home\"\n        },\n        \"interests\": [\"Modern art\", \"Interior design\", \"Abstract art\", \"Art collecting\"],\n        \"behaviors\": [\"Premium brand affinity\", \"Art gallery visitors\"],\n        \"income\": \"top_25_percent\"\n      },\n      \"placements\": {\n        \"facebook_feed\": true,\n        \"instagram_feed\": true,\n        \"facebook_marketplace\": true,\n        \"audience_network\": false\n      }\n    },\n    {\n      \"name\": \"Retargeting - Cart Abandoners\",\n      \"budget\": 40,\n      \"targeting\": {\n        \"custom_audiences\": [\"cart_abandoners_7d\"],\n        \"dynamic_audience\": {\n          \"pixel_id\": \"fb_pixel_123456\",\n          \"retention_days\": 7,\n          \"rule\": \"ViewContent_NOT_Purchase\"\n        }\n      },\n      \"optimization\": \"value\",\n      \"delivery\": \"accelerated\"\n    }\n  ],\n  \"creative_variants\": [\n    {\n      \"format\": \"carousel\",\n      \"creative_elements\": {\n        \"primary_text\": \"Limited Edition Spring Collection - Only 50 Prints Available\",\n        \"headline\": \"Exclusive Abstract Art | Free Shipping\",\n        \"description\": \"Museum-quality prints from renowned artists\",\n        \"cards\": [\n          {\n            \"image\": \"https://cdn.vividwalls.com/ads/spring-hero-1.jpg\",\n            \"headline\": \"Ethereal Horizons\",\n            \"link\": \"https://vividwalls.com/products/ethereal-horizons\"\n          },\n          {\n            \"image\": \"https://cdn.vividwalls.com/ads/spring-hero-2.jpg\",\n            \"headline\": \"Cosmic Dreams\",\n            \"link\": \"https://vividwalls.com/products/cosmic-dreams\"\n          }\n        ]\n      }\n    },\n    {\n      \"format\": \"video\",\n      \"creative_elements\": {\n        \"video_url\": \"https://cdn.vividwalls.com/ads/spring-collection-video.mp4\",\n        \"thumbnail\": \"https://cdn.vividwalls.com/ads/spring-video-thumb.jpg\",\n        \"captions\": \"burned_in\",\n        \"aspect_ratio\": \"9:16\"\n      }\n    }\n  ],\n  \"tracking\": {\n    \"pixel_events\": [\"ViewContent\", \"AddToCart\", \"InitiateCheckout\", \"Purchase\"],\n    \"utm_parameters\": {\n      \"source\": \"facebook\",\n      \"medium\": \"paid\",\n      \"campaign\": \"spring_2024\"\n    },\n    \"conversion_window\": {\n      \"click\": 7,\n      \"view\": 1\n    }\n  },\n  \"optimization_rules\": {\n    \"pause_if_cpa_above\": 40,\n    \"increase_budget_if_roas_above\": 5,\n    \"refresh_creative_after_frequency\": 2.5\n  },\n  \"reporting_requirements\": {\n    \"frequency\": \"daily\",\n    \"metrics\": [\"impressions\", \"cpm\", \"ctr\", \"conversions\", \"roas\", \"frequency\"]\n  }\n}\n```\n",
        "height": 1960,
        "width": 680
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -320,
        4260
      ],
      "typeVersion": 1,
      "id": "110f7b9e-0d70-4be4-bbe4-47c2e6c82308",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# 3. Group Engagement Trigger\n**Source**: Social Media Director Agent or Customer Relationship Agent\n```json\n{\n  \"trigger_conditions\": \"group_engagement\",\n  \"trigger_source\": \"social_media_director\",\n  \"priority\": \"medium\",\n  \"group_details\": {\n    \"group_id\": \"vividwalls_collectors_circle\",\n    \"group_name\": \"VividWalls Collectors Circle\",\n    \"member_count\": 3456,\n    \"engagement_level\": \"high\"\n  },\n  \"engagement_activity\": {\n    \"activity_type\": \"weekly_spotlight\",\n    \"content\": {\n      \"post_type\": \"member_feature\",\n      \"title\": \"Collector Spotlight: Sarah's Manhattan Loft\",\n      \"description\": \"This week, we're featuring Sarah M. who transformed her Manhattan loft with our Cosmic Dreams collection. Swipe to see her stunning gallery wall!\",\n      \"media\": [\n        {\n          \"type\": \"album\",\n          \"images\": [\n            \"https://cdn.vividwalls.com/ugc/sarah-loft-1.jpg\",\n            \"https://cdn.vividwalls.com/ugc/sarah-loft-2.jpg\",\n            \"https://cdn.vividwalls.com/ugc/sarah-loft-3.jpg\"\n          ]\n        }\n      ],\n      \"engagement_prompt\": \"What's your favorite piece in Sarah's collection? Share your own VividWalls display in the comments!\"\n    }\n  },\n  \"moderation_queue\": [\n    {\n      \"post_id\": \"group_post_456\",\n      \"flagged_reason\": \"promotional_content\",\n      \"action_required\": \"review\",\n      \"member_history\": \"first_violation\"\n    },\n    {\n      \"post_id\": \"group_post_789\",\n      \"flagged_reason\": \"spam\",\n      \"action_required\": \"remove\",\n      \"member_history\": \"repeat_offender\"\n    }\n  ],\n  \"scheduled_activities\": {\n    \"weekly_theme\": \"Small Space Solutions\",\n    \"discussion_topics\": [\n      \"How do you choose art for small spaces?\",\n      \"Share your space-saving display tips\",\n      \"Best VividWalls pieces for apartments\"\n    ],\n    \"exclusive_offers\": {\n      \"offer_type\": \"group_only_discount\",\n      \"discount_code\": \"COLLECTORS15\",\n      \"valid_until\": \"2024-03-22\"\n    }\n  },\n  \"engagement_metrics\": {\n    \"weekly_posts\": 45,\n    \"average_engagement\": 12.3,\n    \"new_members\": 67,\n    \"active_percentage\": 34\n  },\n  \"community_initiatives\": {\n    \"upcoming_event\": {\n      \"type\": \"virtual_gallery_tour\",\n      \"date\": \"2024-03-25\",\n      \"featuring_artist\": \"Marcus Rivera\"\n    },\n    \"contest\": {\n      \"name\": \"Best Gallery Wall Contest\",\n      \"prize\": \"$500 VividWalls Credit\",\n      \"submission_deadline\": \"2024-03-31\"\n    }\n  },\n  \"response_guidelines\": {\n    \"response_time\": \"within_2_hours\",\n    \"tone\": \"friendly_expert\",\n    \"escalation_triggers\": [\"pricing_complaints\", \"shipping_issues\", \"quality_concerns\"]\n  }\n}\n```",
        "height": 1400,
        "width": 680
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        460,
        4260
      ],
      "typeVersion": 1,
      "id": "8a8c00ea-0524-4964-ba2e-8e38eebc19b1",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "# 4. Commerce Update Trigger\n**Source**: Content Strategy Agent or Shopify Integration\n```json\n{\n  \"trigger_conditions\": \"commerce_update\",\n  \"trigger_source\": \"shopify_integration\",\n  \"priority\": \"high\",\n  \"update_type\": \"catalog_sync\",\n  \"commerce_data\": {\n    \"products_to_add\": [\n      {\n        \"shopify_id\": \"PROD_8901234567\",\n        \"title\": \"Serene Abstractions - Limited Edition\",\n        \"description\": \"A calming abstract piece perfect for meditation spaces and bedrooms\",\n        \"price\": {\n          \"amount\": 389.99,\n          \"currency\": \"USD\",\n          \"compare_at\": 489.99\n        },\n        \"variants\": [\n          {\n            \"size\": \"18x24\",\n            \"price\": 289.99,\n            \"sku\": \"SA-18x24-LE\"\n          },\n          {\n            \"size\": \"24x36\",\n            \"price\": 389.99,\n            \"sku\": \"SA-24x36-LE\"\n          },\n          {\n            \"size\": \"30x40\",\n            \"price\": 489.99,\n            \"sku\": \"SA-30x40-LE\"\n          }\n        ],\n        \"images\": [\n          \"https://cdn.vividwalls.com/products/serene-abstractions-main.jpg\",\n          \"https://cdn.vividwalls.com/products/serene-abstractions-detail.jpg\",\n          \"https://cdn.vividwalls.com/products/serene-abstractions-room.jpg\"\n        ],\n        \"inventory\": {\n          \"18x24\": 75,\n          \"24x36\": 75,\n          \"30x40\": 50\n        }\n      }\n    ],\n    \"products_to_update\": [\n      {\n        \"facebook_product_id\": \"fb_prod_123456\",\n        \"updates\": {\n          \"price\": 324.99,\n          \"sale_price\": 259.99,\n          \"sale_end_date\": \"2024-03-31\"\n        }\n      }\n    ],\n    \"collections_update\": {\n      \"new_collection\": {\n        \"name\": \"Spring Serenity Collection\",\n        \"description\": \"Calming abstracts for peaceful spaces\",\n        \"hero_image\": \"https://cdn.vividwalls.com/collections/spring-serenity.jpg\",\n        \"products\": [\"PROD_8901234567\", \"PROD_8901234568\", \"PROD_8901234569\"]\n      }\n    }\n  },\n  \"shop_configuration\": {\n    \"checkout_settings\": {\n      \"checkout_on_facebook\": true,\n      \"checkout_on_website\": true,\n      \"shipping_info\": \"Free shipping on orders over $200\"\n    },\n    \"shop_sections\": [\n      {\n        \"name\": \"New Arrivals\",\n        \"product_set\": \"newest_first\",\n        \"limit\": 12\n      },\n      {\n        \"name\": \"Best Sellers\",\n        \"product_set\": \"best_selling\",\n        \"limit\": 8\n      },\n      {\n        \"name\": \"Limited Editions\",\n        \"product_set\": \"tag:limited_edition\",\n        \"limit\": 6\n      }\n    ]\n  },\n  \"promotional_tags\": {\n    \"sale_badge\": {\n      \"enabled\": true,\n      \"text\": \"Spring Sale\",\n      \"products\": [\"fb_prod_123456\", \"fb_prod_123457\"]\n    },\n    \"new_badge\": {\n      \"enabled\": true,\n      \"duration_days\": 14,\n      \"products\": [\"PROD_8901234567\"]\n    }\n  },\n  \"integration_status\": {\n    \"last_sync\": \"2024-03-15T10:00:00Z\",\n    \"sync_frequency\": \"every_4_hours\",\n    \"error_count\": 0,\n    \"warnings\": [\"Missing alt text for 3 images\"]\n  }\n}\n```",
        "height": 1840,
        "width": 680
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1240,
        4260
      ],
      "typeVersion": 1,
      "id": "3f0be2fd-4d38-4fa0-9237-2781e879a311",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "# 5. Live Event Trigger\n**Source**: Marketing Campaign Agent or Social Media Director\n```json\n{\n  \"trigger_conditions\": \"live_event\",\n  \"trigger_source\": \"marketing_campaign_agent\",\n  \"priority\": \"critical\",\n  \"event_details\": {\n    \"event_id\": \"LIVE_2024_03_20_ARTIST\",\n    \"title\": \"Live with Artist Marcus Rivera: Behind the Canvas\",\n    \"description\": \"Join us for an exclusive studio tour with Marcus Rivera as he reveals his creative process and previews his newest limited edition collection!\",\n    \"scheduled_time\": \"2024-03-20T19:00:00-05:00\",\n    \"estimated_duration\": 30,\n    \"event_type\": \"artist_showcase\"\n  },\n  \"technical_setup\": {\n    \"streaming_method\": \"creator_studio\",\n    \"camera_setup\": \"multi_camera\",\n    \"audio\": \"external_microphone\",\n    \"lighting\": \"studio_lighting\",\n    \"internet_speed\": \"verified_50mbps\",\n    \"backup_plan\": \"mobile_hotspot_ready\"\n  },\n  \"content_structure\": {\n    \"segments\": [\n      {\n        \"time\": \"0-5min\",\n        \"content\": \"Welcome & artist introduction\",\n        \"interactive\": \"Greet viewers by name\"\n      },\n      {\n        \"time\": \"5-15min\",\n        \"content\": \"Studio tour & creative process\",\n        \"interactive\": \"Q&A about techniques\"\n      },\n      {\n        \"time\": \"15-20min\",\n        \"content\": \"New collection reveal\",\n        \"interactive\": \"Live reactions & first impressions\"\n      },\n      {\n        \"time\": \"20-25min\",\n        \"content\": \"Exclusive offer for viewers\",\n        \"interactive\": \"Limited time discount code\"\n      },\n      {\n        \"time\": \"25-30min\",\n        \"content\": \"Final Q&A & closing\",\n        \"interactive\": \"Next event announcement\"\n      }\n    ]\n  },\n  \"shopping_features\": {\n    \"live_shopping_enabled\": true,\n    \"featured_products\": [\n      {\n        \"product_id\": \"ABSTRACT-101\",\n        \"highlight_time\": \"15min\",\n        \"special_price\": 299.99\n      },\n      {\n        \"product_id\": \"ABSTRACT-102\",\n        \"highlight_time\": \"17min\",\n        \"special_price\": 349.99\n      }\n    ],\n    \"exclusive_offer\": {\n      \"code\": \"LIVE20\",\n      \"discount\": 20,\n      \"valid_for\": \"24_hours\",\n      \"announcement_time\": \"20min\"\n    }\n  },\n  \"engagement_strategy\": {\n    \"pre_event_promotion\": {\n      \"reminder_posts\": [\"24h_before\", \"1h_before\", \"15min_before\"],\n      \"email_blast\": true,\n      \"story_countdown\": true\n    },\n    \"during_event\": {\n      \"moderator_assigned\": true,\n      \"engagement_prompts\": [\n        \"Where are you watching from?\",\n        \"What's your favorite color palette?\",\n        \"Which piece speaks to you?\"\n      ],\n      \"giveaway\": {\n        \"prize\": \"$100 VividWalls Credit\",\n        \"entry_method\": \"comment_keyword\",\n        \"keyword\": \"ARTLIVE\"\n      }\n    },\n    \"post_event\": {\n      \"save_video\": true,\n      \"create_highlights\": true,\n      \"follow_up_email\": true,\n      \"extend_offer\": \"email_subscribers_only\"\n    }\n  },\n  \"success_metrics\": {\n    \"target_viewers\": 500,\n    \"peak_concurrent\": 200,\n    \"engagement_rate\": 25,\n    \"conversion_target\": 15,\n    \"email_signups\": 100\n  }\n}\n```",
        "height": 1840,
        "width": 680
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2020,
        4260
      ],
      "typeVersion": 1,
      "id": "79677f8e-d840-4f84-a4ae-66aa2a44af2f",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## 6. Analytics Report Trigger\n**Source**: Analytics Director Agent\n```json\n{\n  \"trigger_conditions\": \"analytics_report\",\n  \"trigger_source\": \"analytics_director\",\n  \"priority\": \"medium\",\n  \"report_parameters\": {\n    \"report_type\": \"comprehensive_monthly\",\n    \"period\": {\n      \"start_date\": \"2024-02-01\",\n      \"end_date\": \"2024-02-29\",\n      \"comparison\": \"previous_period\"\n    },\n    \"include_sections\": [\"organic\", \"paid\", \"commerce\", \"audience\", \"competitive\"]\n  },\n  \"organic_performance\": {\n    \"page_metrics\": {\n      \"page_likes\": 45678,\n      \"new_likes\": 1234,\n      \"unlikes\": 45,\n      \"net_growth\": 1189,\n      \"growth_rate\": 2.6\n    },\n    \"content_metrics\": {\n      \"posts_published\": 68,\n      \"total_reach\": 456789,\n      \"avg_reach_per_post\": 6717,\n      \"total_impressions\": 890123,\n      \"engagement\": {\n        \"reactions\": 12345,\n        \"comments\": 2345,\n        \"shares\": 1234,\n        \"total\": 15924,\n        \"rate\": 3.5\n      }\n    },\n    \"top_performing_posts\": [\n      {\n        \"post_id\": \"fb_123456\",\n        \"type\": \"video\",\n        \"reach\": 45678,\n        \"engagement_rate\": 5.2,\n        \"conversions\": 23\n      }\n    ],\n    \"video_performance\": {\n      \"videos_posted\": 12,\n      \"total_minutes_viewed\": 45678,\n      \"avg_watch_time\": 18,\n      \"3s_views\": 123456,\n      \"10s_views\": 56789,\n      \"completion_rate\": 32\n    }\n  },\n  \"paid_performance\": {\n    \"campaign_summary\": {\n      \"total_spend\": 4567.89,\n      \"impressions\": 2345678,\n      \"clicks\": 23456,\n      \"ctr\": 1.0,\n      \"cpc\": 0.19,\n      \"conversions\": 234,\n      \"cpa\": 19.52,\n      \"roas\": 4.5\n    },\n    \"campaign_breakdown\": [\n      {\n        \"campaign_name\": \"Spring Collection Launch\",\n        \"spend\": 2345.67,\n        \"conversions\": 145,\n        \"revenue\": 10234.56,\n        \"roas\": 4.36\n      }\n    ],\n    \"audience_performance\": {\n      \"best_performing\": \"Lookalike_Purchasers_1%\",\n      \"worst_performing\": \"Broad_Interest_Art\",\n      \"recommendations\": [\"Expand lookalike to 2%\", \"Exclude underperforming interests\"]\n    }\n  },\n  \"commerce_metrics\": {\n    \"shop_visits\": 12345,\n    \"product_views\": 34567,\n    \"add_to_carts\": 1234,\n    \"purchases\": 234,\n    \"conversion_rate\": 1.9,\n    \"avg_order_value\": 234.56,\n    \"total_revenue\": 54887.04\n  },\n  \"audience_insights\": {\n    \"demographics\": {\n      \"gender\": {\"women\": 68, \"men\": 28, \"other\": 4},\n      \"age\": {\n        \"18-24\": 8,\n        \"25-34\": 32,\n        \"35-44\": 28,\n        \"45-54\": 20,\n        \"55+\": 12\n      },\n      \"top_locations\": [\"New York\", \"Los Angeles\", \"Chicago\", \"Toronto\", \"London\"]\n    },\n    \"interests\": {\n      \"top_categories\": [\"Home Decor\", \"Modern Art\", \"Interior Design\", \"DIY\", \"Luxury Goods\"],\n      \"affinity_scores\": {\n        \"art_galleries\": 3.2,\n        \"high_end_retail\": 2.8,\n        \"home_improvement\": 2.5\n      }\n    }\n  },\n  \"competitive_analysis\": {\n    \"share_of_voice\": 23,\n    \"engagement_benchmark\": {\n      \"vividwalls\": 3.5,\n      \"industry_avg\": 2.8,\n      \"top_competitor\": 4.1\n    },\n    \"growth_comparison\": {\n      \"vividwalls\": 2.6,\n      \"market_average\": 1.8\n    }\n  },\n  \"recommendations\": [\n    {\n      \"area\": \"Content\",\n      \"action\": \"Increase video content to 40% of posts\",\n      \"expected_impact\": \"15% engagement increase\"\n    },\n    {\n      \"area\": \"Advertising\",\n      \"action\": \"Reallocate budget to top performing audiences\",\n      \"expected_impact\": \"20% ROAS improvement\"\n    },\n    {\n      \"area\": \"Commerce\",\n      \"action\": \"Implement dynamic product ads\",\n      \"expected_impact\": \"25% revenue increase\"\n    }\n  ]\n}\n```",
        "height": 2340,
        "width": 680
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1100,
        5480
      ],
      "typeVersion": 1,
      "id": "4be427af-5e4a-4629-9df6-f5381973d163",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## 7. Audience Building Trigger\n**Source**: Marketing Campaign Agent\n```json\n{\n  \"trigger_conditions\": \"audience_building\",\n  \"trigger_source\": \"marketing_campaign_agent\",\n  \"priority\": \"medium\",\n  \"audience_strategy\": {\n    \"campaign_goal\": \"expand_premium_buyer_base\",\n    \"target_size\": 250000,\n    \"geographic_focus\": [\"United States\", \"Canada\", \"United Kingdom\"]\n  },\n  \"custom_audiences\": [\n    {\n      \"audience_name\": \"High-Value Customers\",\n      \"source\": \"customer_list\",\n      \"data\": {\n        \"list_size\": 3456,\n        \"match_rate\": 82,\n        \"identifiers\": [\"email_hash\", \"phone_hash\"],\n        \"value_column\": \"lifetime_value\"\n      },\n      \"segmentation\": {\n        \"vip_tier\": \"ltv_above_1000\",\n        \"regular_tier\": \"ltv_200_1000\",\n        \"new_tier\": \"first_purchase_90d\"\n      }\n    },\n    {\n      \"audience_name\": \"Website Engagers\",\n      \"source\": \"pixel_data\",\n      \"rules\": [\n        {\n          \"event\": \"ViewContent\",\n          \"parameters\": {\n            \"content_category\": \"limited_edition\",\n            \"value\": {\"gte\": 400}\n          },\n          \"retention\": 30\n        },\n        {\n          \"event\": \"AddToCart\",\n          \"exclude_event\": \"Purchase\",\n          \"retention\": 14\n        }\n      ]\n    },\n    {\n      \"audience_name\": \"Engaged Video Viewers\",\n      \"source\": \"video_engagement\",\n      \"criteria\": {\n        \"video_views\": \"75%_completion\",\n        \"videos\": [\"artist_stories\", \"room_tours\"],\n        \"retention\": 60\n      }\n    }\n  ],\n  \"lookalike_audiences\": [\n    {\n      \"name\": \"LAL - Premium Buyers 1%\",\n      \"source_audience\": \"High-Value Customers\",\n      \"country\": \"US\",\n      \"percentage\": 1,\n      \"estimated_reach\": 2100000\n    },\n    {\n      \"name\": \"LAL - Cart Abandoners 2%\",\n      \"source_audience\": \"cart_abandoners_high_value\",\n      \"country\": \"US\",\n      \"percentage\": 2,\n      \"estimated_reach\": 4200000\n    },\n    {\n      \"name\": \"Value-Based LAL\",\n      \"source\": \"purchase_events\",\n      \"optimization\": \"value\",\n      \"lookback_window\": 180,\n      \"percentage\": 1\n    }\n  ],\n  \"audience_testing\": {\n    \"test_name\": \"Premium vs Broad Targeting\",\n    \"hypothesis\": \"Narrow high-value audiences will yield 3x ROAS despite higher CPM\",\n    \"test_groups\": [\n      {\n        \"name\": \"Control\",\n        \"audience\": \"Broad_Art_Interest\",\n        \"budget_allocation\": 30\n      },\n      {\n        \"name\": \"Test_A\",\n        \"audience\": \"LAL_Premium_1%\",\n        \"budget_allocation\": 40\n      },\n      {\n        \"name\": \"Test_B\",\n        \"audience\": \"Combined_Custom_Premium\",\n        \"budget_allocation\": 30\n      }\n    ],\n    \"success_metrics\": [\"CPA\", \"ROAS\", \"CLV\"],\n    \"test_duration\": 14\n  },\n  \"exclusion_lists\": [\n    {\n      \"name\": \"Suppress Recent Purchasers\",\n      \"criteria\": \"purchased_last_30_days\",\n      \"apply_to\": [\"prospecting_campaigns\"]\n    },\n    {\n      \"name\": \"Exclude Low Value\",\n      \"criteria\": \"bounced_email_OR_low_engagement\",\n      \"apply_to\": [\"all_campaigns\"]\n    }\n  ],\n  \"data_enrichment\": {\n    \"third_party_data\": {\n      \"provider\": \"Experian\",\n      \"attributes\": [\"income_level\", \"home_ownership\", \"interests\"],\n      \"match_rate\": 65\n    },\n    \"crm_sync\": {\n      \"platform\": \"Salesforce\",\n      \"sync_frequency\": \"daily\",\n      \"fields\": [\"customer_tier\", \"purchase_history\", \"preferences\"]\n    }\n  }\n}\n```",
        "height": 2340,
        "width": 680
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -320,
        6300
      ],
      "typeVersion": 1,
      "id": "d84a9f72-61d0-46d0-9029-218bad2792f0",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## 8. Crisis Response Trigger\n**Source**: Customer Service Agent or Social Media Monitoring\n```json\n{\n  \"trigger_conditions\": \"crisis_response\",\n  \"trigger_source\": \"social_monitoring_system\",\n  \"priority\": \"critical\",\n  \"crisis_details\": {\n    \"incident_id\": \"CRISIS_2024_03_15_001\",\n    \"type\": \"product_quality_complaint\",\n    \"severity\": \"high\",\n    \"detection_time\": \"2024-03-15T14:32:00Z\",\n    \"trending\": true\n  },\n  \"incident_summary\": {\n    \"primary_issue\": \"Color fading complaint on limited edition print\",\n    \"affected_product\": \"ABSTRACT-088 - Sunset Dreams\",\n    \"complainant\": {\n      \"name\": \"Jennifer Smith\",\n      \"follower_count\": 5678,\n      \"influence_score\": \"medium\",\n      \"customer_status\": \"vip\"\n    },\n    \"viral_metrics\": {\n      \"original_post_shares\": 234,\n      \"mentions\": 89,\n      \"negative_comments\": 156,\n      \"reach\": 45678,\n      \"velocity\": \"accelerating\"\n    }\n  },\n  \"sentiment_analysis\": {\n    \"overall_sentiment\": -0.72,\n    \"comment_themes\": [\n      {\n        \"theme\": \"quality_concerns\",\n        \"frequency\": 45,\n        \"sample\": \"If this happens to limited editions, what about regular prints?\"\n      },\n      {\n        \"theme\": \"price_value_mismatch\",\n        \"frequency\": 34,\n        \"sample\": \"For $500, I expect museum quality that lasts\"\n      },\n      {\n        \"theme\": \"trust_erosion\",\n        \"frequency\": 23,\n        \"sample\": \"Makes me reconsider my pending order\"\n      }\n    ]\n  },\n  \"response_strategy\": {\n    \"immediate_actions\": [\n      {\n        \"action\": \"pause_scheduled_content\",\n        \"status\": \"completed\",\n        \"timestamp\": \"2024-03-15T14:35:00Z\"\n      },\n      {\n        \"action\": \"draft_public_response\",\n        \"status\": \"in_progress\",\n        \"assigned_to\": \"crisis_team\"\n      },\n      {\n        \"action\": \"contact_complainant_privately\",\n        \"status\": \"pending\",\n        \"timeline\": \"within_30_minutes\"\n      }\n    ],\n    \"public_response\": {\n      \"tone\": \"empathetic_professional\",\n      \"key_messages\": [\n        \"We take quality seriously and are investigating\",\n        \"This is not representative of our standards\",\n        \"We stand behind our products with full guarantee\"\n      ],\n      \"draft\": \"We're deeply concerned about your experience, Jennifer. This isn't the quality we stand for. Our team is investigating immediately, and we'll make this right. Please check your DMs - we'd like to resolve this personally. To our community: we guarantee all our prints and are here to address any concerns.\",\n      \"approval_required\": true\n    }\n  },\n  \"internal_coordination\": {\n    \"notified_stakeholders\": [\"CEO\", \"Head of Customer Service\", \"Quality Control Manager\"],\n    \"investigation_status\": {\n      \"assigned_to\": \"quality_team\",\n      \"findings\": \"Isolated batch issue with supplier\",\n      \"affected_units\": 12,\n      \"corrective_action\": \"Full replacement + quality audit\"\n    },\n    \"legal_review\": {\n      \"required\": false,\n      \"risk_assessment\": \"low\"\n    }\n  },\n  \"resolution_plan\": {\n    \"customer_resolution\": {\n      \"primary_offer\": \"Full refund + replacement + 50% future discount\",\n      \"gesture\": \"Personal call from artist\",\n      \"timeline\": \"immediate\"\n    },\n    \"public_follow_up\": {\n      \"update_post\": \"Share resolution and quality commitment\",\n      \"timing\": \"after_customer_confirmation\",\n      \"include\": [\"quality_process_video\", \"guarantee_reinforcement\"]\n    },\n    \"preventive_measures\": [\n      \"Enhanced quality control process\",\n      \"Supplier audit scheduled\",\n      \"Customer notification for affected batch\"\n    ]\n  },\n  \"monitoring_plan\": {\n    \"metrics_to_track\": [\"sentiment_recovery\", \"mention_volume\", \"sales_impact\"],\n    \"alert_thresholds\": {\n      \"escalate_if_mentions_exceed\": 500,\n      \"escalate_if_sentiment_below\": -0.8\n    },\n    \"review_schedule\": [\"2_hours\", \"6_hours\", \"24_hours\", \"48_hours\"]\n  },\n  \"lessons_learned\": {\n    \"document_in\": \"crisis_response_playbook\",\n    \"update_training\": true,\n    \"process_improvements\": [\"Faster supplier communication\", \"Proactive batch testing\"]\n  }\n}\n```",
        "height": 2340,
        "width": 680
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        460,
        5700
      ],
      "typeVersion": 1,
      "id": "d9dc70ed-bbfc-4880-a332-88757188e1aa",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "height": 1920,
        "width": 480,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1620,
        440
      ],
      "typeVersion": 1,
      "id": "6e65df71-87ab-4c4b-95be-b0e6299cfa86",
      "name": "Divider1"
    },
    {
      "parameters": {
        "content": "## Agent Webhook Connection\nRespond to Webhook",
        "height": 260,
        "width": 1460,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -560,
        2120
      ],
      "typeVersion": 1,
      "id": "12920c7f-3d10-4b80-80c8-f0d250df61a1",
      "name": "Webhook Header1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5c7f7b54-175b-4824-a8c0-f6f6b693dac8",
              "name": "trigger_conditions",
              "value": "={{ $json.trigger_conditions }}",
              "type": "string"
            },
            {
              "id": "2150da85-2500-446b-97fc-034afa33cd4b",
              "name": "trigger_source",
              "value": "={{ $json.trigger_source }}",
              "type": "string"
            },
            {
              "id": "3a9d4389-617b-4236-a4d9-e682f4116c5e",
              "name": "priority",
              "value": "={{ $json.priority }}",
              "type": "string"
            },
            {
              "id": "d6a74cce-1fc1-4ea8-9091-a38343214fd8",
              "name": "campaign_details",
              "value": "={{ $json.campaign_details }}",
              "type": "object"
            },
            {
              "id": "c3772500-135e-4ed0-b828-49a5905eb326",
              "name": "ad_sets",
              "value": "={{ $json.ad_sets }}",
              "type": "array"
            },
            {
              "id": "c6ce72da-9ad9-4659-9c7d-bcfd5cd3fc7b",
              "name": "creative_variants",
              "value": "={{ $json.creative_variants }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1800,
        840
      ],
      "id": "58603b3c-4985-40f9-aafa-2500e4bd924e",
      "name": "Trigger Condition -  Ad Campaign Launch"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "trigger_conditions": "ad_campaign_launch",
          "trigger_source": "marketing_campaign_agent",
          "priority": "high",
          "campaign_details": {
            "campaign_id": "FB_SPRING_2024_CONVERSIONS",
            "campaign_name": "Spring Collection - Limited Edition Launch",
            "objective": "conversions",
            "budget": {
              "daily_budget": 150,
              "lifetime_budget": 4500,
              "bid_strategy": "lowest_cost_with_bid_cap",
              "bid_cap": 35
            },
            "duration": {
              "start_date": "2024-03-20",
              "end_date": "2024-04-20"
            }
          },
          "ad_sets": [
            {
              "name": "High-Value Art Collectors - Lookalike",
              "budget": 60,
              "targeting": {
                "custom_audiences": [
                  "purchasers_lookalike_1"
                ],
                "excluded_audiences": [
                  "recent_purchasers_90d"
                ],
                "demographics": {
                  "age_min": 28,
                  "age_max": 65,
                  "genders": [
                    "all"
                  ],
                  "languages": [
                    "English"
                  ]
                },
                "locations": {
                  "countries": [
                    "US",
                    "CA"
                  ],
                  "location_type": "home"
                },
                "interests": [
                  "Modern art",
                  "Interior design",
                  "Abstract art",
                  "Art collecting"
                ],
                "behaviors": [
                  "Premium brand affinity",
                  "Art gallery visitors"
                ],
                "income": "top_25_percent"
              },
              "placements": {
                "facebook_feed": true,
                "instagram_feed": true,
                "facebook_marketplace": true,
                "audience_network": false
              }
            },
            {
              "name": "Retargeting - Cart Abandoners",
              "budget": 40,
              "targeting": {
                "custom_audiences": [
                  "cart_abandoners_7d"
                ],
                "dynamic_audience": {
                  "pixel_id": "fb_pixel_123456",
                  "retention_days": 7,
                  "rule": "ViewContent_NOT_Purchase"
                }
              },
              "optimization": "value",
              "delivery": "accelerated"
            }
          ],
          "creative_variants": [
            {
              "format": "carousel",
              "creative_elements": {
                "primary_text": "Limited Edition Spring Collection - Only 50 Prints Available",
                "headline": "Exclusive Abstract Art | Free Shipping",
                "description": "Museum-quality prints from renowned artists",
                "cards": [
                  {
                    "image": "https://cdn.vividwalls.com/ads/spring-hero-1.jpg",
                    "headline": "Ethereal Horizons",
                    "link": "https://vividwalls.com/products/ethereal-horizons"
                  },
                  {
                    "image": "https://cdn.vividwalls.com/ads/spring-hero-2.jpg",
                    "headline": "Cosmic Dreams",
                    "link": "https://vividwalls.com/products/cosmic-dreams"
                  }
                ]
              }
            },
            {
              "format": "video",
              "creative_elements": {
                "video_url": "https://cdn.vividwalls.com/ads/spring-collection-video.mp4",
                "thumbnail": "https://cdn.vividwalls.com/ads/spring-video-thumb.jpg",
                "captions": "burned_in",
                "aspect_ratio": "9:16"
              }
            }
          ],
          "tracking": {
            "pixel_events": [
              "ViewContent",
              "AddToCart",
              "InitiateCheckout",
              "Purchase"
            ],
            "utm_parameters": {
              "source": "facebook",
              "medium": "paid",
              "campaign": "spring_2024"
            },
            "conversion_window": {
              "click": 7,
              "view": 1
            }
          },
          "optimization_rules": {
            "pause_if_cpa_above": 40,
            "increase_budget_if_roas_above": 5,
            "refresh_creative_after_frequency": 2.5
          },
          "reporting_requirements": {
            "frequency": "daily",
            "metrics": [
              "impressions",
              "cpm",
              "ctr",
              "conversions",
              "roas",
              "frequency"
            ]
          }
        }
      }
    ],
    "Trigger Condition - Organic Post Creation": [
      {
        "json": {
          "trigger_conditions": "organic_post_creation",
          "trigger_source": "content_strategy_agent",
          "priority": "medium",
          "post_details": {
            "post_id": "FB_POST_2024_03_15_001",
            "content_type": "product_showcase",
            "campaign_association": "Spring_Collection_2024"
          },
          "content_elements": {
            "primary_text": "Transform your space with 'Ethereal Horizons' - a limited edition abstract piece by Marcus Rivera. Only 50 prints available worldwide. Which room would you place this stunning artwork in?",
            "media": [
              {
                "type": "video",
                "url": "https://cdn.vividwalls.com/social/ethereal-horizons-showcase.mp4",
                "duration": 45,
                "thumbnail": "https://cdn.vividwalls.com/social/ethereal-horizons-thumb.jpg",
                "captions": true
              },
              {
                "type": "carousel",
                "images": [
                  "https://cdn.vividwalls.com/products/ethereal-horizons-living.jpg",
                  "https://cdn.vividwalls.com/products/ethereal-horizons-bedroom.jpg",
                  "https://cdn.vividwalls.com/products/ethereal-horizons-office.jpg"
                ]
              }
            ],
            "call_to_action": {
              "type": "shop_now",
              "url": "https://vividwalls.com/products/ethereal-horizons",
              "button_text": "View Collection"
            }
          },
          "targeting": {
            "audience": "organic_followers",
            "boost_eligible": true,
            "boost_budget": 50,
            "location_tags": [
              "New York, NY",
              "Los Angeles, CA"
            ],
            "topic_tags": [
              "Abstract Art",
              "Home Decor",
              "Interior Design"
            ]
          },
          "engagement_features": {
            "reactions_enabled": true,
            "comments_enabled": true,
            "sharing_enabled": true,
            "poll": {
              "question": "Which room would you place this in?",
              "options": [
                "Living Room",
                "Bedroom",
                "Office",
                "Dining Room"
              ]
            }
          },
          "scheduling": {
            "publish_time": "2024-03-15T14:00:00-05:00",
            "timezone": "America/New_York",
            "cross_post": {
              "instagram": true,
              "instagram_format": "reels"
            }
          },
          "performance_goals": {
            "reach": 10000,
            "engagement_rate": 3.5,
            "link_clicks": 250,
            "video_views_3s": 5000
          }
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Facebook Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Facebook Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Agent Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Ads Manager Tool": {
      "ai_tool": [
        [
          {
            "node": "Facebook Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Content Manager Tool": {
      "ai_tool": [
        [
          {
            "node": "Facebook Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Groups Manager Tool": {
      "ai_tool": [
        [
          {
            "node": "Facebook Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Commerce Tool": {
      "ai_tool": [
        [
          {
            "node": "Facebook Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Analytics Tool": {
      "ai_tool": [
        [
          {
            "node": "Facebook Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Knowledge Base": {
      "ai_tool": [
        [
          {
            "node": "Facebook Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "Facebook Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Trigger Condition - Organic Post Creation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trigger Condition -  Ad Campaign Launch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Condition - Organic Post Creation": {
      "main": [
        [
          {
            "node": "Facebook Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4a8a7ac0-be42-4ce7-a5c5-e42b3deb3113",
  "meta": {
    "instanceId": "80621a4270e0ac393edfe0b84576ab8588a37d1db0f23bca7018517bcf39d930"
  },
  "id": "1Pin6Qp4i2i3hxHf",
  "tags": []
}