services/n8n/agents/workflows/social-media/Pinterest Agent.json
{
  "name": "Pinterest Agent",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "98cb22a8-d76d-4b5a-8d91-67f83775e053",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -840,
        200
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o"
        },
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2780,
        1720
      ],
      "id": "743cd41e-e919-4499-946e-a34d9acf8858",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "nMbluFwHsrVvkQBJ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -380,
        -200
      ],
      "id": "30e4050c-c396-4511-973e-8e8d2f9de851",
      "name": "When chat message received",
      "webhookId": "pinterest-agent-chat-trigger"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        2420,
        520
      ],
      "id": "42953517-a5d2-4687-8086-9b35121c64b8",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "path": "pinterest-agent-webhook",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -820,
        1080
      ],
      "id": "f987090d-e8e0-41ba-9a15-bde37a0ba0c2",
      "name": "Pinterest Agent Webhook",
      "webhookId": "pinterest-agent-webhook"
    },
    {
      "parameters": {
        "description": "Create and optimize Pinterest Rich Pins for product catalog",
        "workflowId": {
          "__rl": true,
          "value": "RichPinCreatorWorkflowId",
          "mode": "list",
          "cachedResultName": "Rich Pin Creator"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "product_ids": "={{ $fromAI('product_ids', 'products to create pins for') }}",
            "pin_type": "={{ $fromAI('pin_type', 'product, article, or recipe pin') }}",
            "metadata": "={{ $fromAI('metadata', 'structured data for rich pins') }}",
            "board_strategy": "={{ $fromAI('board_strategy', 'target boards for pins') }}",
            "seo_keywords": "={{ $fromAI('seo_keywords', 'pinterest seo keywords') }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -440,
        1720
      ],
      "id": "42285ae1-9978-4558-bc32-2511dd16b5c0",
      "name": "Rich Pin Creator Tool"
    },
    {
      "parameters": {
        "description": "Manage Pinterest board strategy and organization",
        "workflowId": {
          "__rl": true,
          "value": "BoardManagementWorkflowId",
          "mode": "list",
          "cachedResultName": "Board Management Tool"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "action": "={{ $fromAI('action', 'create, update, or organize boards') }}",
            "board_theme": "={{ $fromAI('board_theme', 'board category or theme') }}",
            "seasonality": "={{ $fromAI('seasonality', 'seasonal board planning') }}",
            "collaboration": "={{ $fromAI('collaboration', 'group board settings') }}",
            "optimization": "={{ $fromAI('optimization', 'board SEO optimization') }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        780,
        1720
      ],
      "id": "498aefdc-2731-4b1c-872c-d761f8ca3803",
      "name": "Board Management Tool"
    },
    {
      "parameters": {
        "description": "Execute Pinterest advertising campaigns and promoted pins",
        "workflowId": {
          "__rl": true,
          "value": "PinterestAdsWorkflowId",
          "mode": "list",
          "cachedResultName": "Pinterest Ads Manager"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "campaign_type": "={{ $fromAI('campaign_type', 'awareness, consideration, or conversion') }}",
            "promoted_pins": "={{ $fromAI('promoted_pins', 'pins to promote') }}",
            "budget": "={{ $fromAI('budget', 'campaign budget allocation') }}",
            "targeting": "={{ $fromAI('targeting', 'audience targeting parameters') }}",
            "keywords": "={{ $fromAI('keywords', 'pinterest ad keywords') }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1940,
        1720
      ],
      "id": "e5064954-fef7-409d-8224-53813f3991ca",
      "name": "Pinterest Ads Tool"
    },
    {
      "parameters": {
        "description": "Analyze Pinterest trends and visual search insights",
        "workflowId": {
          "__rl": true,
          "value": "PinterestTrendsWorkflowId",
          "mode": "list",
          "cachedResultName": "Pinterest Trends Analyzer"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "analysis_type": "={{ $fromAI('analysis_type', 'trending topics, seasonal trends, or visual search') }}",
            "categories": "={{ $fromAI('categories', 'art and home decor categories') }}",
            "time_frame": "={{ $fromAI('time_frame', 'trend analysis period') }}",
            "competitor_pins": "={{ $fromAI('competitor_pins', 'competitive analysis') }}",
            "forecast_period": "={{ $fromAI('forecast_period', 'future trend predictions') }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3080,
        1720
      ],
      "id": "60254e2d-7e24-463a-a0f6-3c20d595a222",
      "name": "Pinterest Trends Tool"
    },
    {
      "parameters": {
        "description": "Integrate with Pinterest MCP for API operations",
        "workflowId": {
          "__rl": true,
          "value": "PinterestMCPIntegrationId",
          "mode": "list",
          "cachedResultName": "Pinterest MCP Integration"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "operation": "={{ $fromAI('operation', 'create_pin, update_board, get_analytics') }}",
            "parameters": "={{ $fromAI('parameters', 'API operation parameters') }}",
            "batch_mode": "={{ $fromAI('batch_mode', 'bulk operations enabled') }}",
            "webhook_events": "={{ $fromAI('webhook_events', 'pinterest webhook subscriptions') }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        4120,
        1720
      ],
      "id": "487947f1-742e-40a3-8c3e-6edc90692719",
      "name": "Pinterest MCP Tool"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Trigger Condition - Pin Creation Request') }}",
        "options": {
          "systemMessage": "=If Trigger condition equal {{ $json.trigger_conditions }} then follow these instructions and rules strictly\n\nIf the input is from a Chat message input {{ $('When chat message received') }} follow the instructions below:\nDetermine if the message is related to either a: pin_creation_request OR board_management OR promoted_pins_campaign OR trend_analysis OR analytics_report OR seasonal_planning OR competitor_monitoring OR idea_pin_creation. If the message does not contain any of these indicators, please respond to the user with clarifying questions pertaining to these specific conditional triggers for your Pinterest workflow to understand their intent relating to the Pinterest marketing initiative.\n\n## If Trigger condition Pin Creation Request Instructions & Rules\n- Immediately trigger Rich Pin Creator Tool\n- Ensure product metadata is complete for rich pins\n- Optimize pin titles and descriptions for Pinterest SEO\n  * Include relevant keywords naturally\n  * Front-load important information\n  * Use vertical image format (2:3 ratio)\n- Assign pins to appropriate boards based on category\n- Schedule pins for optimal engagement times\n- Target 5-10 pins per day maximum\n- Timeline: Complete within 2 hours of trigger\n\n## If Trigger condition Board Management Instructions & Rules\n- Use Board Management Tool for strategic organization\n- Create seasonal boards 45-60 days in advance\n- Organize boards by:\n  * Room type (living room, bedroom, office)\n  * Style (modern, abstract, minimalist)\n  * Color palette\n  * Price range\n- Optimize board titles and descriptions with keywords\n- Enable rich pins on all boards\n- Collaborate with influencers on group boards\n- Timeline: Board updates within 24 hours\n\n## If Trigger condition Promoted Pins Campaign Instructions & Rules\n- Launch Pinterest Ads Tool for paid campaigns\n- Budget allocation: Start with $20-50 daily\n- Targeting strategy:\n  * Interest targeting: home decor, interior design, art collectors\n  * Keyword targeting: long-tail keywords\n  * Shopping intent signals\n  * Lookalike audiences from converters\n- Campaign objectives:\n  * Awareness: New product launches\n  * Consideration: Seasonal collections\n  * Conversion: Limited edition pieces\n- Monitor CPC and engagement rates\n- Timeline: Campaign live within 48 hours\n\n## If Trigger condition Trend Analysis Instructions & Rules\n- Deploy Pinterest Trends Tool immediately\n- Analyze trending searches in home decor category\n- Identify emerging color and style trends\n- Research seasonal trend predictions:\n  * Plan content 45+ days ahead\n  * Identify peak search periods\n  * Discover trending keywords\n- Compare against competitor pin performance\n- Generate trend report with actionable insights\n- Timeline: Deliver analysis within 24 hours\n\n## If Trigger condition Analytics Report Instructions & Rules\n- Compile comprehensive Pinterest performance metrics\n- Key metrics to track:\n  * Monthly views and impressions\n  * Engagement rate (saves, clicks, closeups)\n  * Top performing pins and boards\n  * Audience growth and demographics\n  * Website traffic from Pinterest\n  * Conversion rate and revenue attribution\n- Compare against platform benchmarks\n- Identify optimization opportunities\n- Timeline: Report delivery within 4 hours\n\n## If Trigger condition Seasonal Planning Instructions & Rules\n- Create seasonal content calendar using trends data\n- Plan boards and pins for upcoming seasons:\n  * Spring: Bright, fresh color palettes\n  * Summer: Coastal and outdoor themes\n  * Fall: Warm tones and cozy aesthetics\n  * Winter: Holiday and minimalist themes\n- Prepare gift guide boards\n- Schedule content 45-60 days in advance\n- Coordinate with product launches\n- Timeline: Complete plan within 48 hours\n\n## If Trigger condition Competitor Monitoring Instructions & Rules\n- Track competitor Pinterest activities\n- Monitor their:\n  * New board creation\n  * Pin frequency and timing\n  * Popular content themes\n  * Engagement rates\n  * Promoted pin strategies\n- Identify content gaps and opportunities\n- Benchmark performance metrics\n- Timeline: Weekly monitoring reports\n\n## If Trigger condition Idea Pin Creation Instructions & Rules\n- Create multi-page Idea Pins for engagement\n- Content types for Idea Pins:\n  * Room transformation stories\n  * Art placement tutorials\n  * Style guides and tips\n  * Behind-the-scenes content\n  * Artist spotlights\n- Include interactive elements\n- Optimize for mobile viewing\n- Add relevant hashtags and tags\n- Timeline: 2-3 Idea Pins weekly\n\n## Success Metrics and Pinterest KPIs\n- **Monthly Views**: Target 100K+ views\n- **Engagement Rate**: >2% (saves + clicks)\n- **Save Rate**: >1% of impressions\n- **Click-through Rate**: >0.5%\n- **Follower Growth**: 3-5% monthly\n- **Website Traffic**: 15-20% from Pinterest\n- **Conversion Rate**: >2% from Pinterest traffic\n\n## Pinterest Best Practices\n### Visual Strategy\n- Vertical images (2:3 aspect ratio)\n- High-quality, lifestyle photography\n- Text overlay for context (but minimal)\n- Consistent brand aesthetic\n- Multiple angles of products\n\n### SEO Optimization\n- Keyword-rich pin titles (100 characters)\n- Detailed descriptions (up to 500 characters)\n- Relevant hashtags (2-5 per pin)\n- Alt text for accessibility\n- Board descriptions with keywords\n\n### Content Strategy\n- Fresh pins daily (not just repins)\n- Seasonal content 45+ days early\n- Educational and inspirational content mix\n- User-generated content curation\n- Behind-the-scenes and process content\n\n## Quality Control and Compliance\n- All pins must link to active product pages\n- Ensure pricing accuracy in rich pins\n- Follow Pinterest community guidelines\n- Respect intellectual property\n- Maintain authentic, non-spammy approach\n- Regular link checking and maintenance"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        720,
        580
      ],
      "id": "77f15f50-dcf2-4cc3-b274-d83bb8bdbc1c",
      "name": "Pinterest Agent"
    },
    {
      "parameters": {
        "content": "## Memory\n**PostgreSQL Chat Memory Integration**\n\n### Session Management:\n- Session Key: `pinterest_` + timestamp\n- Conversation Context: Maintains chat history for Pinterest strategies\n- Cross-session Learning: Pin performance patterns and board optimization\n\n### Memory Features:\n- **Pin Performance History**: Successful pin formats and descriptions\n- **Board Strategy**: Effective board organization patterns\n- **Trend Insights**: Seasonal and emerging trends\n- **Campaign Results**: Promoted pin performance data\n- **Keyword Success**: High-performing Pinterest SEO terms",
        "height": 860,
        "width": 1040,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2500,
        1620
      ],
      "typeVersion": 1,
      "id": "47117d58-cb99-4215-97a2-b818f4438710",
      "name": "Memory Documentation"
    },
    {
      "parameters": {
        "content": "## Input Variables\n**Session and Context Management**\n\n### Required Variables:\n- `$json.chatId`: Unique chat session identifier\n- `$json.session_id`: Pinterest session ID\n- `$now.toMillis()`: Timestamp for session management\n\n### Optional Context:\n- `$json.trigger_conditions`: Pinterest task type\n- `$json.product_ids`: Products to pin\n- `$json.board_strategy`: Board organization approach\n- `$json.campaign_budget`: Promoted pins budget\n- `$json.target_keywords`: Pinterest SEO keywords\n- `$json.seasonal_theme`: Current seasonal focus\n- `$json.competitor_accounts`: Competitors to monitor\n\n### Default Session Key:\n`pinterest_` + current timestamp for unique identification",
        "height": 520,
        "width": 440,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1920,
        1940
      ],
      "typeVersion": 1,
      "id": "fdc2cbd1-8540-4913-ba5e-5221020f1cd2",
      "name": "Input Variables"
    },
    {
      "parameters": {
        "content": "## Rich Pin Creator Tool\n**Workflow Integration: RichPinCreatorWorkflowId**\n\n### AI Parameter Extraction:\n- `product_ids`: \"={{ $fromAI('product_ids', 'products to create pins for') }}\"\n- `pin_type`: \"={{ $fromAI('pin_type', 'product, article, or recipe pin') }}\"\n- `metadata`: \"={{ $fromAI('metadata', 'structured data for rich pins') }}\"\n- `board_strategy`: \"={{ $fromAI('board_strategy', 'target boards for pins') }}\"\n- `seo_keywords`: \"={{ $fromAI('seo_keywords', 'pinterest seo keywords') }}\"\n\n### Capabilities:\n- Product rich pins with real-time pricing\n- Article pins for blog content\n- Automatic metadata extraction from Shopify\n- SEO-optimized titles and descriptions\n- Bulk pin creation for collections\n- Vertical image optimization (2:3 ratio)\n\n### Performance Targets:\n- **Save Rate**: >1% for quality content\n- **Click-through Rate**: >0.5% for shopping pins\n- **Rich Pin Validation**: 100% success rate\n- **Processing Time**: <5 minutes per pin",
        "height": 620,
        "width": 1140,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1380,
        1620
      ],
      "typeVersion": 1,
      "id": "9d63b9da-40fc-4407-bffc-bddbb22930aa",
      "name": "Rich Pin Creator Details"
    },
    {
      "parameters": {
        "content": "## Board Management Tool\n**Workflow Integration: BoardManagementWorkflowId**\n\n### AI Parameter Extraction:\n- `action`: \"={{ $fromAI('action', 'create, update, or organize boards') }}\"\n- `board_theme`: \"={{ $fromAI('board_theme', 'board category or theme') }}\"\n- `seasonality`: \"={{ $fromAI('seasonality', 'seasonal board planning') }}\"\n- `collaboration`: \"={{ $fromAI('collaboration', 'group board settings') }}\"\n- `optimization`: \"={{ $fromAI('optimization', 'board SEO optimization') }}\"\n\n### Capabilities:\n- Strategic board creation by category\n- Seasonal board planning (45+ days ahead)\n- Board cover optimization\n- Section organization within boards\n- Group board collaboration management\n- Board description SEO optimization\n- Automated board maintenance\n\n### Board Categories:\n- Room-specific (Living Room Art, Bedroom Decor)\n- Style-based (Modern Abstract, Minimalist)\n- Color themes (Blue Abstract Art, Neutral Tones)\n- Seasonal collections\n- Price range boards\n- Gift guides",
        "height": 1020,
        "width": 1140,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        1620
      ],
      "typeVersion": 1,
      "id": "4345e9f8-59ee-4353-811c-aec256b2e7cd",
      "name": "Board Management Details"
    },
    {
      "parameters": {
        "content": "## Pinterest Ads Tool\n**Workflow Integration: PinterestAdsWorkflowId**\n\n### AI Parameter Extraction:\n- `campaign_type`: \"={{ $fromAI('campaign_type', 'awareness, consideration, or conversion') }}\"\n- `promoted_pins`: \"={{ $fromAI('promoted_pins', 'pins to promote') }}\"\n- `budget`: \"={{ $fromAI('budget', 'campaign budget allocation') }}\"\n- `targeting`: \"={{ $fromAI('targeting', 'audience targeting parameters') }}\"\n- `keywords`: \"={{ $fromAI('keywords', 'pinterest ad keywords') }}\"\n\n### Capabilities:\n- Promoted Pin campaign creation\n- Shopping ads integration\n- Audience targeting (interests, keywords, demographics)\n- Retargeting website visitors\n- Lookalike audience creation\n- Budget optimization\n- A/B testing pin creatives\n- Conversion tracking setup\n\n### Campaign Types:\n- **Brand Awareness**: New collections\n- **Consideration**: Seasonal promotions\n- **Conversions**: Direct sales focus\n- **Shopping**: Product catalog campaigns\n- **Video**: Idea Pin promotions",
        "height": 640,
        "width": 1060,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1080,
        1620
      ],
      "typeVersion": 1,
      "id": "eb90d3fb-9262-4140-8fc0-01a080b6eb58",
      "name": "Pinterest Ads Details"
    },
    {
      "parameters": {
        "content": "## Pinterest Trends Tool\n**Workflow Integration: PinterestTrendsWorkflowId**\n\n### AI Parameter Extraction:\n- `analysis_type`: \"={{ $fromAI('analysis_type', 'trending topics, seasonal trends, or visual search') }}\"\n- `categories`: \"={{ $fromAI('categories', 'art and home decor categories') }}\"\n- `time_frame`: \"={{ $fromAI('time_frame', 'trend analysis period') }}\"\n- `competitor_pins`: \"={{ $fromAI('competitor_pins', 'competitive analysis') }}\"\n- `forecast_period`: \"={{ $fromAI('forecast_period', 'future trend predictions') }}\"\n\n### Capabilities:\n- Real-time trending topic identification\n- Seasonal trend forecasting (45-90 days)\n- Visual search trend analysis\n- Competitor pin performance tracking\n- Keyword trend monitoring\n- Color and style trend detection\n- Audience interest evolution\n\n### Analysis Outputs:\n- **Trending Keywords**: Rising search terms\n- **Visual Trends**: Popular styles and aesthetics\n- **Seasonal Opportunities**: Upcoming trends\n- **Content Gaps**: Underserved topics\n- **Competitive Insights**: Successful strategies",
        "height": 640,
        "width": 1040,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2220,
        1620
      ],
      "typeVersion": 1,
      "id": "77820d3e-b923-48f2-90a0-07e65cd8db98",
      "name": "Pinterest Trends Details"
    },
    {
      "parameters": {
        "content": "## Pinterest MCP Tool\n**Workflow Integration: PinterestMCPIntegrationId**\n\n### AI Parameter Extraction:\n- `operation`: \"={{ $fromAI('operation', 'create_pin, update_board, get_analytics') }}\"\n- `parameters`: \"={{ $fromAI('parameters', 'API operation parameters') }}\"\n- `batch_mode`: \"={{ $fromAI('batch_mode', 'bulk operations enabled') }}\"\n- `webhook_events`: \"={{ $fromAI('webhook_events', 'pinterest webhook subscriptions') }}\"\n\n### MCP Operations:\n- **Pin Management**: Create, update, delete pins\n- **Board Operations**: Create, update, organize boards\n- **Analytics API**: Performance data retrieval\n- **Audience API**: Custom audience management\n- **Shopping API**: Catalog synchronization\n- **Webhook Management**: Real-time event handling\n\n### Integration Features:\n- Bulk pin upload capabilities\n- Automated catalog sync from Shopify\n- Real-time analytics dashboard\n- Webhook notifications for engagement\n- API rate limit management",
        "height": 640,
        "width": 960,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3340,
        1620
      ],
      "typeVersion": 1,
      "id": "95055487-8edb-4e1c-acb9-a0301973ccf8",
      "name": "Pinterest MCP Details"
    },
    {
      "parameters": {
        "content": "## Connection from another workflow or agent\n**Database Name for connecting agent or workflow: Pinterest Agent**\n\n### Inter-Agent Communication:\n- **From Social Media Director**: Campaign strategies and content calendar\n- **From Content Strategy Agent**: Visual assets and product information\n- **From Marketing Campaign Agent**: Multi-channel campaign coordination\n- **From Analytics Director**: Performance insights and optimization\n- **From Copy Writer Agent**: Pin descriptions and board copy\n\n### Workflow Integration:\n- **Trigger Method**: executeWorkflowTrigger with trigger_conditions\n- **Expected Inputs**: JSON object with task type and Pinterest data\n- **Response Format**: Execution status and performance metrics\n- **Error Handling**: Fallback to manual pinning with notifications\n\n### Communication Protocol:\n- **Real-time Triggers**: Trending content opportunities\n- **Scheduled Tasks**: Daily pinning and board updates\n- **Performance Updates**: Weekly analytics and optimization",
        "height": 760,
        "width": 1960,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2540,
        -100
      ],
      "typeVersion": 1,
      "id": "524aa68c-9929-44b7-a84e-828abe94ec95",
      "name": "Inter-Agent Connection Details"
    },
    {
      "parameters": {
        "content": "## Agent Webhook Connection\nRespond to Webhook",
        "height": 840,
        "width": 1480,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2060,
        700
      ],
      "typeVersion": 1,
      "id": "c5b6274c-5968-4f2b-ad02-3293a453bcd2",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "## Trigger Conditions\n**Pinterest Agent Automation Triggers**\n\n### Primary Triggers:\n1. **pin_creation_request**: New product pins from catalog\n2. **board_management**: Board organization and optimization\n3. **promoted_pins_campaign**: Paid advertising on Pinterest\n4. **trend_analysis**: Pinterest trend research and insights\n5. **analytics_report**: Performance metrics and reporting\n6. **seasonal_planning**: Seasonal content strategy\n7. **competitor_monitoring**: Competitive intelligence\n8. **idea_pin_creation**: Multi-page story pins\n\n### Trigger Logic:\n- **OR Condition**: Any trigger activates appropriate workflow\n- **Priority Handling**: Trending opportunities > Daily pinning > Analytics\n- **Seasonal Awareness**: 45+ day advance planning for seasons\n- **Batch Processing**: Bulk operations for efficiency",
        "height": 680,
        "width": 480,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1940,
        -60
      ],
      "typeVersion": 1,
      "id": "a3847ff1-69c9-44c8-8258-6eb6db24dc21",
      "name": "Trigger Conditions Details"
    },
    {
      "parameters": {
        "content": "### Data Payload & Webhook Configuration\n**Pinterest Agent Webhook Endpoints**\n\n#### Test Environment:\n**URL**: `http://localhost:5678/webhook-test/pinterest-agent-webhook`\n**Method**: POST\n**Content-Type**: application/json\n\n#### Production Environment:\n**URL**: `http://localhost:5678/webhook/pinterest-agent-webhook`\n**Method**: POST\n**Content-Type**: application/json\n\n#### Sample Payload:\n```json\n{\n  \"trigger_conditions\": \"pin_creation_request\",\n  \"product_ids\": [\"ABSTRACT-001\", \"ABSTRACT-002\"],\n  \"board_strategy\": {\n    \"primary_board\": \"Modern Abstract Art\",\n    \"secondary_boards\": [\"Living Room Decor\", \"Blue Art\"]\n  },\n  \"pin_details\": {\n    \"title\": \"Modern Abstract Canvas - Limited Edition\",\n    \"description\": \"Transform your space with museum-quality art\",\n    \"link\": \"https://vividwalls.com/products/abstract-001\"\n  },\n  \"seo_keywords\": [\n    \"abstract wall art\",\n    \"modern home decor\",\n    \"blue abstract painting\"\n  ],\n  \"scheduling\": {\n    \"type\": \"optimal_time\",\n    \"timezone\": \"EST\"\n  }\n}\n```",
        "height": 740,
        "width": 720,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1880,
        780
      ],
      "typeVersion": 1,
      "id": "968efa9b-7bf1-4e2d-83f8-a669fe8075b3",
      "name": "Webhook Configuration Details"
    },
    {
      "parameters": {
        "content": "## System Prompt\n\n# Pinterest Agent System Prompt\n\n## Role & Purpose\nYou are the Pinterest Agent for VividWalls, responsible for leveraging Pinterest's visual discovery platform to showcase our abstract art collection. You focus on creating inspirational content that drives long-term traffic and sales through strategic pinning, board curation, and trend optimization.\n\n## Core Responsibilities\n- Strategic pin creation and optimization\n- Board management and seasonal planning\n- Pinterest SEO and keyword optimization\n- Promoted pins campaign management\n- Trend analysis and content planning\n- Analytics monitoring and reporting\n- Competitor tracking and benchmarking\n- Idea Pin content creation\n\n## Key Performance Indicators\n- Monthly Views: 100K+ target\n- Save Rate: >1% for quality content\n- Click-through Rate: >0.5% for shopping pins\n- Follower Growth: 3-5% monthly\n- Website Traffic from Pinterest: 15-20%\n- Conversion Rate: >2% from Pinterest traffic\n\n## Platform Agents Under Management:\n- RichPinCreator: Product pin optimization\n- BoardManager: Strategic board organization\n- PinterestAds: Promoted pin campaigns\n- TrendsAnalyzer: Market insights\n- PinterestMCP: API integration\n\n## Available MCP Tools\n- Pinterest MCP: Pin and board management\n- Shopify MCP: Product catalog sync\n- Analytics MCP: Performance tracking\n- Trend Analysis MCP: Market insights\n- Visual Search MCP: Image optimization",
        "height": 1380,
        "width": 800,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1260,
        -340
      ],
      "typeVersion": 1,
      "id": "c6442485-d683-4a66-8beb-26becf7ecffa",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "pinterest_knowledge",
        "toolDescription": "Access Pinterest best practices, trend data, seasonal insights, and optimization strategies",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.1,
      "position": [
        2340,
        1220
      ],
      "id": "24d503eb-16c0-4370-8ff7-ca21ee41877c",
      "name": "Pinterest Knowledge Base",
      "credentials": {
        "postgres": {
          "id": "c76ccdf5-568d-4ef2-a0c2-00c7423d775f",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "content": "## Receives From\n**Data Sources and Integration Points**\n\n### Marketing Team:\n- **Social Media Director Agent**: Overall social strategy\n- **Content Strategy Agent**: Visual assets and product info\n- **Marketing Campaign Agent**: Campaign coordination\n- **Copy Writer Agent**: Pin descriptions and copy\n\n### Analytics & Insights:\n- **Analytics Director**: Performance metrics\n- **Art Trend Intelligence**: Visual trend data\n- **Market Research Agent**: Competitor insights\n\n### External Data Sources:\n- **Pinterest API**: Platform metrics and trends\n- **Shopify MCP**: Product catalog updates\n- **Pinterest Trends**: Search volume data\n- **Visual Search API**: Image insights\n\n### Data Flow Patterns:\n- **Real-time**: Trending topics and viral pins\n- **Scheduled**: Daily pinning schedule\n- **Seasonal**: 45+ day advance planning\n- **Event-driven**: Product launches",
        "height": 700,
        "width": 420,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1420,
        -60
      ],
      "typeVersion": 1,
      "id": "9b762c0c-c145-4e03-ad91-3fa1ed3593dd",
      "name": "Data Sources Details"
    },
    {
      "parameters": {
        "sessionKey": "={{ $json.chatId || $json.session_id || 'pinterest_' + $now.toMillis() }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -1660,
        1720
      ],
      "id": "7b2ae887-ca5a-4c6e-b1b7-7327b84868b4",
      "name": "Memory",
      "credentials": {
        "postgres": {
          "id": "c76ccdf5-568d-4ef2-a0c2-00c7423d775f",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "content": "## Pinterest Knowledge Base\nVector database containing:\n- Pinterest algorithm best practices\n- Seasonal trend patterns\n- Keyword optimization strategies\n- Board organization frameworks\n- Pin design guidelines\n- Engagement timing data\n- Competitor benchmarks",
        "height": 680,
        "width": 620,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2160,
        860
      ],
      "typeVersion": 1,
      "id": "55661fe6-c125-43bc-bf63-298b81a9f70e",
      "name": "Sticky Note19"
    },
    {
      "parameters": {
        "content": "## Input Variables & Context\n**Pinterest Management Parameters**\n\n### Required Inputs:\n- **trigger_conditions**: Task type for Pinterest\n- **product_ids**: Products to pin\n- **board_strategy**: Board organization\n\n### Pin Context:\n- **pin_type**: Product, article, or recipe\n- **metadata**: Rich pin information\n- **visual_assets**: Images (2:3 ratio)\n- **seo_keywords**: Target keywords\n- **scheduling**: Posting timeline\n\n### Campaign Parameters:\n- **campaign_type**: Awareness, traffic, conversions\n- **budget**: Daily/lifetime spend\n- **targeting**: Interests and keywords\n- **promoted_pins**: Pins to promote\n\n### Analytics Context:\n- **time_period**: Reporting range\n- **metrics_focus**: KPIs to track\n- **competitor_accounts**: Benchmark targets\n- **trend_categories**: Market segments",
        "height": 840,
        "width": 500,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        720,
        -360
      ],
      "typeVersion": 1,
      "id": "490f422c-145a-4f07-b6ca-80ebedf9a622",
      "name": "Input Variables & Context"
    },
    {
      "parameters": {
        "height": 1920,
        "width": 360,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -500,
        -380
      ],
      "typeVersion": 1,
      "id": "1cec7015-52cf-43b0-8f84-1dc42d0539fb",
      "name": "Sticky Note21"
    },
    {
      "parameters": {
        "content": "## LLM Integration\n**OpenAI GPT-4 Chat Model**\n\n### Model Configuration:\n- **Model**: GPT-4o (Optimized for visual content)\n- **Temperature**: 0.7 (Creative descriptions)\n- **Context Window**: Extended for trend analysis\n\n### AI Capabilities:\n- **Visual Intelligence**: Understanding art aesthetics\n- **SEO Optimization**: Pinterest-specific keywords\n- **Trend Analysis**: Pattern recognition\n- **Content Planning**: Seasonal strategies\n- **Description Writing**: Engaging pin copy\n\n### Integration Features:\n- **$fromAI() Functions**: Natural language processing\n- **Board Strategy**: Intelligent categorization\n- **Keyword Research**: SEO optimization\n- **Trend Forecasting**: Predictive analytics\n\n### Pinterest Expertise:\n- **Algorithm Understanding**: Ranking factors\n- **Visual Trends**: Style preferences\n- **Seasonal Planning**: 45+ day forecasting\n- **Engagement Optimization**: Best practices",
        "height": 660,
        "width": 920,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3500,
        1620
      ],
      "typeVersion": 1,
      "id": "60e29d43-3b6b-44cd-b6af-9ab334edeaf0",
      "name": "LLM Integration Details"
    },
    {
      "parameters": {
        "content": "## Pinterest Features and Tools:\n**Visual Discovery Platform Integration**\n\n### Core Capabilities:\n- **Rich Pins**: Real-time product information\n- **Idea Pins**: Multi-page story format\n- **Shopping Features**: Direct checkout\n- **Board Organization**: Strategic curation\n- **Visual Search**: Lens technology\n- **Trend Insights**: Predictive analytics\n\n### Advertising Features:\n- **Promoted Pins**: Native advertising\n- **Shopping Ads**: Product catalogs\n- **Video Pins**: Motion content\n- **Carousel Pins**: Multiple products\n- **Collections**: Lifestyle imagery\n\n### Analytics & Insights:\n- **Pinterest Analytics**: Performance data\n- **Audience Insights**: Demographics\n- **Conversion Tracking**: Sales attribution\n- **Trend Tool**: Search predictions\n\n### Integration Points:\n- **Shopify Catalog**: Automatic sync\n- **Website Verification**: Domain claim\n- **Tag Installation**: Conversion tracking\n- **API Access**: Bulk operations",
        "height": 680,
        "width": 560,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        1940
      ],
      "typeVersion": 1,
      "id": "a0b96dcc-dfde-445c-94fb-4ae15478097a",
      "name": "Pinterest Features"
    },
    {
      "parameters": {
        "content": "## Main Orchestration Hub",
        "height": 1920,
        "width": 1700,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        380,
        -380
      ],
      "typeVersion": 1,
      "id": "31835e79-fa0f-4c51-b3bd-dd287cac1d6a",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "content": "## Input\n### $json.chatId\n### $json.session_id 'pinterest'\n### $now.toMillis()\n",
        "height": 140,
        "width": 340,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2940,
        1940
      ],
      "typeVersion": 1,
      "id": "2de4e3bc-387b-4b1e-853e-3f40eec86630",
      "name": "Sticky Note23"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.trigger_conditions }}",
                    "rightValue": "pin_creation_request",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "06a37173-d068-444d-aff1-b134c618ecbd"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a7bee11d-7c10-436b-bb4b-b274be98a608",
                    "leftValue": "={{ $json.trigger_conditions }}",
                    "rightValue": "board_management",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "17198d9f-8e9a-4448-ad8b-13f559a7ea19",
                    "leftValue": "={{ $json.trigger_conditions }}",
                    "rightValue": "promoted_pins_campaign",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9c481949-87e5-4505-8b1f-9d5d015b46ec",
                    "leftValue": "={{ $json.trigger_conditions }}",
                    "rightValue": "trend_analysis",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e5a724db-6ea0-4a22-bc8c-5dd732dc1cb4",
                    "leftValue": "={{ $json.trigger_conditions }}",
                    "rightValue": "analytics_report",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2948351f-0611-4cd7-b6e5-4e0b858d5333",
                    "leftValue": "={{ $json.trigger_conditions }}",
                    "rightValue": "seasonal_planning",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c36bdede-92ec-4a0c-bc5a-8be17bc3849b",
                    "leftValue": "={{ $json.trigger_conditions }}",
                    "rightValue": "competitor_monitoring",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "015e3538-ea6b-4092-9095-68ea9cd67f1f",
                    "leftValue": "={{ $json.trigger_conditions }}",
                    "rightValue": "idea_pin_creation",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -380,
        460
      ],
      "id": "aefd8153-9b7a-4110-a376-f8aae1f8a53c",
      "name": "Switch1"
    },
    {
      "parameters": {
        "content": "## Error Handling Protocol\nIf unable to process any trigger condition:\n1. Return error status with detailed explanation\n2. Suggest alternative approaches\n3. Escalate to Social Media Director Agent if priority is \"critical\" or \"high\"\n4. Provide estimated resolution timeline\n5. Log error in `neo4j-memory:create-entity` for pattern analysis\n\n## MCP Server Integration Guidelines\n- Primary servers: `pinterest`, `shopify`, `seo-research`, `color-psychology`\n- Always verify image specifications before pinning\n- Batch operations for efficiency when creating multiple pins\n- Cache frequently accessed data (board IDs, campaign settings)\n- Implement retry logic for API failures\n- Monitor rate limits and adjust accordingly\n\n## Collaboration Points\n- Receive visual assets from Content Strategy Agent\n- Get copy from Copy Writer Agent\n- Coordinate with Marketing Campaign Agent for promotions\n- Share performance data with Analytics Director\n- Align with Social Media Director for cross-platform campaigns\n\nRemember: Pinterest is a visual discovery platform where users plan purchases months in advance. Focus on inspiring, educational content that showcases products in real-life contexts. Maintain a 45+ day planning horizon for seasonal content and prioritize high-quality visuals that stop the scroll.\n</updated_system_prompt>",
        "height": 660,
        "width": 740,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1920,
        4660
      ],
      "typeVersion": 1,
      "id": "c86bad63-a40d-43c9-9e92-66793130ee9e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## 1. Pin Creation Request Trigger\n**Source**: Content Strategy Agent or Marketing Campaign Agent\n```json\n{\n  \"trigger_conditions\": \"pin_creation_request\",\n  \"trigger_source\": \"content_strategy_agent\",\n  \"priority\": \"high\",\n  \"product_batch\": [\n    {\n      \"product_id\": \"ABSTRACT-112\",\n      \"title\": \"Ethereal Dawn - Limited Edition Abstract\",\n      \"artist\": \"Elena Vasquez\",\n      \"price\": 589.99,\n      \"product_url\": \"https://vividwalls.com/products/ethereal-dawn\",\n      \"images\": {\n        \"primary\": \"https://cdn.vividwalls.com/products/ethereal-dawn-main.jpg\",\n        \"lifestyle\": [\n          \"https://cdn.vividwalls.com/products/ethereal-dawn-living-room.jpg\",\n          \"https://cdn.vividwalls.com/products/ethereal-dawn-bedroom.jpg\"\n        ],\n        \"detail_shots\": [\n          \"https://cdn.vividwalls.com/products/ethereal-dawn-texture.jpg\"\n        ]\n      },\n      \"metadata\": {\n        \"dimensions\": \"24x36 inches\",\n        \"medium\": \"Archival Giclée Print\",\n        \"edition\": \"75 pieces\",\n        \"frame_options\": [\"Black\", \"White\", \"Natural Wood\"]\n      }\n    }\n  ],\n  \"pin_specifications\": {\n    \"pin_types\": [\"standard\", \"rich_product\", \"try_on\"],\n    \"image_requirements\": {\n      \"aspect_ratio\": \"2:3\",\n      \"min_width\": 600,\n      \"format\": \"jpg\"\n    },\n    \"copy_elements\": {\n      \"title_template\": \"{title} | {artist} | VividWalls\",\n      \"description_template\": \"Transform your space with {title}. {edition} exclusive piece by {artist}. Shop now for free shipping.\",\n      \"hashtags\": [\"AbstractArt\", \"WallArt\", \"HomeDecor\", \"LimitedEdition\", \"ModernArt\"]\n    }\n  },\n  \"board_assignments\": {\n    \"primary_board\": \"Abstract Art Collection\",\n    \"secondary_boards\": [\"Living Room Art\", \"Limited Edition Pieces\", \"Artist: Elena Vasquez\"],\n    \"seasonal_board\": \"Spring Home Refresh 2024\"\n  },\n  \"scheduling\": {\n    \"start_date\": \"2024-03-20\",\n    \"frequency\": \"twice_daily\",\n    \"optimal_times\": [\"09:00 EST\", \"19:00 EST\"],\n    \"duration_days\": 14\n  },\n  \"seo_keywords\": [\n    \"abstract wall art\",\n    \"modern home decor\",\n    \"limited edition prints\",\n    \"ethereal art\"\n  ]\n}\n```",
        "height": 1100,
        "width": 760,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -740,
        3260
      ],
      "typeVersion": 1,
      "id": "97c41d42-40d6-4a67-895c-da52c5c26db0",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## 2. Board Management Trigger\n**Source**: Social Media Director Agent\n```json\n{\n  \"trigger_conditions\": \"board_management\",\n  \"trigger_source\": \"social_media_director\",\n  \"priority\": \"medium\",\n  \"management_type\": \"seasonal_reorganization\",\n  \"board_operations\": [\n    {\n      \"operation\": \"create\",\n      \"board_name\": \"Summer 2024 - Coastal Abstract Collection\",\n      \"description\": \"Discover ocean-inspired abstract art perfect for summer home refreshes. Curated collection of blues, teals, and sandy neutrals.\",\n      \"category\": \"home_decor\",\n      \"privacy\": \"public\",\n      \"cover_image\": \"https://cdn.vividwalls.com/boards/summer-coastal-cover.jpg\"\n    },\n    {\n      \"operation\": \"update\",\n      \"board_id\": \"pinterest_board_123456\",\n      \"updates\": {\n        \"description\": \"Updated with 2024 trending color palettes\",\n        \"cover_pin\": \"pin_987654\",\n        \"collaborators\": [\"@interiordesigner\", \"@artcollector\"]\n      }\n    },\n    {\n      \"operation\": \"archive\",\n      \"board_ids\": [\"board_111\", \"board_222\"],\n      \"reason\": \"seasonal_rotation\"\n    }\n  ],\n  \"optimization_tasks\": {\n    \"keyword_updates\": {\n      \"target_keywords\": [\"coastal decor\", \"beach house art\", \"summer wall art\"],\n      \"boards_to_optimize\": 12\n    },\n    \"pin_redistribution\": {\n      \"source_board\": \"General Abstract Art\",\n      \"distribution_map\": {\n        \"Blue Abstract Art\": 45,\n        \"Ocean Inspired Art\": 38,\n        \"Minimalist Beach Decor\": 22\n      }\n    }\n  },\n  \"collaboration_requests\": [\n    {\n      \"influencer\": \"@coastallivingmag\",\n      \"board_name\": \"Coastal Art Collaborations\",\n      \"terms\": \"mutual_pinning\",\n      \"expected_reach\": 250000\n    }\n  ],\n  \"timeline\": {\n    \"completion_date\": \"2024-03-18\",\n    \"review_date\": \"2024-03-25\"\n  }\n}\n```",
        "height": 1020,
        "width": 760,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        80,
        3260
      ],
      "typeVersion": 1,
      "id": "6f1adf57-1600-4e7f-9ce2-c7db684fedb9",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## 3. Promoted Pins Campaign Trigger\n**Source**: Marketing Campaign Agent\n```json\n{\n  \"trigger_conditions\": \"promoted_pins_campaign\",\n  \"trigger_source\": \"marketing_campaign_agent\",\n  \"priority\": \"high\",\n  \"campaign_details\": {\n    \"campaign_id\": \"PINTEREST_SPRING_2024\",\n    \"campaign_name\": \"Spring Art Collection Launch\",\n    \"objective\": \"conversions\",\n    \"total_budget\": 1500,\n    \"duration\": {\n      \"start_date\": \"2024-03-20\",\n      \"end_date\": \"2024-04-20\"\n    }\n  },\n  \"ad_groups\": [\n    {\n      \"name\": \"High-Value Art Collectors\",\n      \"budget\": 600,\n      \"bid_strategy\": \"automatic\",\n      \"targeting\": {\n        \"interests\": [\"luxury_home_decor\", \"art_collecting\", \"interior_design\"],\n        \"keywords\": [\"abstract art for sale\", \"limited edition prints\", \"modern wall art\"],\n        \"demographics\": {\n          \"gender\": \"all\",\n          \"age_range\": \"25-65\",\n          \"location\": [\"United States\", \"Canada\"],\n          \"language\": \"English\"\n        },\n        \"behaviors\": {\n          \"device\": \"all\",\n          \"shopping_intent\": \"high\",\n          \"income_tier\": \"top_25_percent\"\n        }\n      }\n    },\n    {\n      \"name\": \"Retargeting - Cart Abandoners\",\n      \"budget\": 400,\n      \"bid_strategy\": \"max_conversions\",\n      \"audience_list\": \"shopify_cart_abandoners_30d\",\n      \"frequency_cap\": 5\n    }\n  ],\n  \"creative_assets\": {\n    \"pins_to_promote\": [\n      {\n        \"pin_id\": \"existing_pin_123\",\n        \"bid\": 1.50,\n        \"destination_url\": \"https://vividwalls.com/collections/spring-2024\"\n      },\n      {\n        \"new_pin\": true,\n        \"image\": \"https://cdn.vividwalls.com/ads/spring-hero.jpg\",\n        \"title\": \"Spring Art Sale - 20% Off Limited Editions\",\n        \"description\": \"Refresh your space with exclusive abstract art. Limited time offer.\",\n        \"destination_url\": \"https://vividwalls.com/sale/spring2024\",\n        \"call_to_action\": \"Shop Now\"\n      }\n    ]\n  },\n  \"conversion_tracking\": {\n    \"pixel_id\": \"pinterest_pixel_123\",\n    \"events\": [\"PageVisit\", \"AddToCart\", \"Checkout\", \"Purchase\"],\n    \"value_optimization\": true\n  },\n  \"success_metrics\": {\n    \"target_cpc\": 0.80,\n    \"target_ctr\": 1.2,\n    \"target_roas\": 4.0,\n    \"target_conversions\": 75\n  }\n}\n```",
        "height": 1280,
        "width": 760,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        900,
        3260
      ],
      "typeVersion": 1,
      "id": "d9bd50e8-002e-4225-8490-ecb34233c963",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## 4. Trend Analysis Trigger\n**Source**: Art Trend Intelligence Agent\n```json\n{\n  \"trigger_conditions\": \"trend_analysis\",\n  \"trigger_source\": \"art_trend_intelligence\",\n  \"priority\": \"medium\",\n  \"analysis_scope\": {\n    \"category\": \"home_decor\",\n    \"subcategories\": [\"wall_art\", \"abstract_art\", \"modern_decor\"],\n    \"time_period\": \"next_90_days\",\n    \"geographic_focus\": [\"United States\", \"Canada\", \"United Kingdom\"]\n  },\n  \"trending_data\": {\n    \"rising_searches\": [\n      {\n        \"term\": \"sage green abstract art\",\n        \"growth_rate\": 156,\n        \"search_volume\": 12000,\n        \"peak_season\": \"April-May\"\n      },\n      {\n        \"term\": \"minimalist line art\",\n        \"growth_rate\": 89,\n        \"search_volume\": 8500,\n        \"demographics\": {\n          \"primary_age\": \"25-34\",\n          \"interests\": [\"scandinavian_design\", \"minimalism\"]\n        }\n      }\n    ],\n    \"color_trends\": {\n      \"trending_up\": [\"sage_green\", \"terracotta\", \"soft_blue\"],\n      \"trending_down\": [\"millennial_pink\", \"ultra_violet\"],\n      \"evergreen\": [\"neutral_beige\", \"black_white\"]\n    },\n    \"style_movements\": [\n      {\n        \"style\": \"Organic Abstract\",\n        \"momentum\": \"accelerating\",\n        \"related_searches\": [\"nature inspired art\", \"botanical abstract\"],\n        \"competitor_adoption\": \"early_stage\"\n      }\n    ]\n  },\n  \"competitor_insights\": {\n    \"top_performing_competitors\": [\n      {\n        \"account\": \"@modernartprints\",\n        \"monthly_views\": 2500000,\n        \"engagement_rate\": 3.2,\n        \"content_themes\": [\"artist_stories\", \"room_styling\"],\n        \"pin_frequency\": 15\n      }\n    ],\n    \"content_gaps\": [\"art_placement_guides\", \"size_selection_tools\", \"virtual_room_preview\"],\n    \"opportunity_score\": 8.5\n  },\n  \"recommendations\": {\n    \"immediate_actions\": [\n      \"Create sage green collection board\",\n      \"Develop minimalist art category\",\n      \"Partner with interior designers\"\n    ],\n    \"content_calendar_updates\": {\n      \"april_focus\": \"Earth tones and organic shapes\",\n      \"may_focus\": \"Minimalist and line art\",\n      \"june_focus\": \"Summer coastal abstracts\"\n    }\n  },\n  \"visual_trend_report\": {\n    \"format\": \"pdf\",\n    \"includes\": [\"mood_boards\", \"color_palettes\", \"style_examples\"],\n    \"delivery_url\": \"https://reports.vividwalls.com/pinterest-trends-q2-2024.pdf\"\n  }\n}\n```",
        "height": 1300,
        "width": 760,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1720,
        3260
      ],
      "typeVersion": 1,
      "id": "06a1351e-8f19-48bb-851c-0fe6d833ac86",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## 5. Analytics Report Trigger\n**Source**: Analytics Director Agent\n```json\n{\n  \"trigger_conditions\": \"analytics_report\",\n  \"trigger_source\": \"analytics_director\",\n  \"priority\": \"medium\",\n  \"report_type\": \"monthly_performance\",\n  \"reporting_period\": {\n    \"start_date\": \"2024-02-01\",\n    \"end_date\": \"2024-02-29\",\n    \"comparison_period\": \"previous_month\"\n  },\n  \"performance_metrics\": {\n    \"account_overview\": {\n      \"total_followers\": 45678,\n      \"follower_growth\": 823,\n      \"growth_rate\": 1.8,\n      \"monthly_views\": 125000,\n      \"monthly_viewers\": 89000,\n      \"engagement_rate\": 2.4\n    },\n    \"content_performance\": {\n      \"total_pins\": 245,\n      \"top_pins\": [\n        {\n          \"pin_id\": \"pin_789\",\n          \"title\": \"Blue Abstract Living Room\",\n          \"impressions\": 15000,\n          \"saves\": 456,\n          \"clicks\": 234,\n          \"click_through_rate\": 1.56\n        }\n      ],\n      \"top_boards\": [\n        {\n          \"board_name\": \"Modern Abstract Collection\",\n          \"followers\": 12300,\n          \"monthly_views\": 34000,\n          \"save_rate\": 2.8\n        }\n      ]\n    },\n    \"traffic_analytics\": {\n      \"pinterest_referrals\": 4567,\n      \"conversion_rate\": 2.3,\n      \"revenue_attributed\": 12456.78,\n      \"average_order_value\": 275.50,\n      \"top_converting_pins\": [\"pin_123\", \"pin_456\", \"pin_789\"]\n    },\n    \"audience_insights\": {\n      \"demographics\": {\n        \"gender\": {\"female\": 78, \"male\": 18, \"unspecified\": 4},\n        \"age_distribution\": {\n          \"18-24\": 12,\n          \"25-34\": 35,\n          \"35-44\": 28,\n          \"45-54\": 18,\n          \"55+\": 7\n        }\n      },\n      \"top_interests\": [\"home_decor\", \"diy_crafts\", \"interior_design\", \"art\"],\n      \"top_locations\": [\"New York\", \"Los Angeles\", \"Chicago\", \"Toronto\"]\n    }\n  },\n  \"comparative_analysis\": {\n    \"vs_previous_month\": {\n      \"views_change\": 15.3,\n      \"engagement_change\": -2.1,\n      \"clicks_change\": 8.7\n    },\n    \"vs_platform_average\": {\n      \"engagement_index\": 1.4,\n      \"growth_index\": 1.2\n    }\n  },\n  \"optimization_recommendations\": [\n    \"Increase idea pin frequency\",\n    \"Test more lifestyle imagery\",\n    \"Expand into trending color palettes\",\n    \"Improve pin descriptions for SEO\"\n  ]\n}\n```",
        "height": 1420,
        "width": 760,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -740,
        4440
      ],
      "typeVersion": 1,
      "id": "1922fac2-893f-4462-be88-f57491273338",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## 6. Seasonal Planning Trigger\n**Source**: Content Strategy Agent\n```json\n{\n  \"trigger_conditions\": \"seasonal_planning\",\n  \"trigger_source\": \"content_strategy_agent\",\n  \"priority\": \"medium\",\n  \"planning_season\": \"Summer 2024\",\n  \"planning_timeline\": {\n    \"planning_start\": \"2024-03-15\",\n    \"content_go_live\": \"2024-05-01\",\n    \"season_duration\": \"June-August 2024\"\n  },\n  \"seasonal_themes\": {\n    \"primary_theme\": \"Coastal & Nautical Abstracts\",\n    \"color_palettes\": [\n      {\n        \"name\": \"Ocean Blues\",\n        \"colors\": [\"#006994\", \"#40E0D0\", \"#F0F8FF\"],\n        \"product_matches\": 34\n      },\n      {\n        \"name\": \"Sunset Warmth\",\n        \"colors\": [\"#FF6B6B\", \"#FFE66D\", \"#FF8E53\"],\n        \"product_matches\": 28\n      }\n    ],\n    \"style_directions\": [\"fluid_abstracts\", \"geometric_nautical\", \"minimalist_coastal\"]\n  },\n  \"content_calendar\": {\n    \"board_schedule\": [\n      {\n        \"week\": \"2024-W18\",\n        \"board_name\": \"Summer Living Room Refresh\",\n        \"pin_count\": 25,\n        \"focus\": \"bright_and_airy\"\n      },\n      {\n        \"week\": \"2024-W20\",\n        \"board_name\": \"Coastal Bedroom Art\",\n        \"pin_count\": 20,\n        \"focus\": \"calming_blues\"\n      }\n    ],\n    \"pin_schedule\": {\n      \"daily_pins\": 8,\n      \"peak_days\": [\"Tuesday\", \"Thursday\", \"Saturday\"],\n      \"content_mix\": {\n        \"product_pins\": 40,\n        \"lifestyle_pins\": 30,\n        \"educational_pins\": 20,\n        \"user_generated\": 10\n      }\n    }\n  },\n  \"promotional_calendar\": {\n    \"memorial_day\": {\n      \"date\": \"2024-05-27\",\n      \"promotion\": \"15% off Coastal Collection\",\n      \"pin_strategy\": \"countdown_series\"\n    },\n    \"july_4th\": {\n      \"date\": \"2024-07-04\",\n      \"promotion\": \"Americana Abstract Art\",\n      \"pin_strategy\": \"patriotic_palette\"\n    },\n    \"summer_sale\": {\n      \"dates\": \"2024-07-15 to 2024-07-22\",\n      \"promotion\": \"Mid-Summer Clearance\",\n      \"pin_strategy\": \"urgency_messaging\"\n    }\n  },\n  \"collaboration_opportunities\": [\n    {\n      \"partner_type\": \"interior_designer\",\n      \"campaign\": \"Designer's Summer Picks\",\n      \"deliverables\": 10\n    },\n    {\n      \"partner_type\": \"lifestyle_blogger\",\n      \"campaign\": \"Summer Home Tours\",\n      \"deliverables\": 5\n    }\n  ],\n  \"resource_requirements\": {\n    \"new_photography\": 12,\n    \"lifestyle_shots\": 25,\n    \"graphic_designs\": 40,\n    \"copywriting_pieces\": 60\n  }\n}\n```",
        "height": 1540,
        "width": 760,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        100,
        4340
      ],
      "typeVersion": 1,
      "id": "e748fc71-869f-42d1-9a96-7b2f3ad7f6a8",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## 7. Competitor Monitoring Trigger\n**Source**: Market Research Agent\n```json\n{\n  \"trigger_conditions\": \"competitor_monitoring\",\n  \"trigger_source\": \"market_research_agent\",\n  \"priority\": \"low\",\n  \"monitoring_period\": \"weekly\",\n  \"competitors_tracked\": [\n    {\n      \"account\": \"@artisanwallprints\",\n      \"pinterest_handle\": \"artisanprints\",\n      \"follower_count\": 67890,\n      \"weekly_metrics\": {\n        \"new_pins\": 45,\n        \"new_boards\": 2,\n        \"follower_growth\": 234,\n        \"estimated_engagement\": 3.1\n      },\n      \"content_analysis\": {\n        \"top_performing_pins\": [\n          {\n            \"description\": \"Minimalist Black Line Art\",\n            \"estimated_saves\": 450,\n            \"visual_style\": \"minimalist\",\n            \"price_point\": \"$189\"\n          }\n        ],\n        \"content_themes\": [\"minimalism\", \"black_and_white\", \"geometric\"],\n        \"posting_pattern\": {\n          \"frequency\": \"3x_daily\",\n          \"peak_times\": [\"9am\", \"2pm\", \"7pm\"],\n          \"board_focus\": \"style_based\"\n        }\n      },\n      \"strategic_moves\": {\n        \"new_initiatives\": [\"AR_try_on_pins\", \"shoppable_collections\"],\n        \"partnerships\": [\"West_Elm_collaboration\"],\n        \"promotional_tactics\": [\"flash_sales\", \"bundle_offers\"]\n      }\n    },\n    {\n      \"account\": \"@modernartgallery\",\n      \"pinterest_handle\": \"modernartgallery\",\n      \"follower_count\": 125000,\n      \"performance_indicators\": {\n        \"growth_trajectory\": \"accelerating\",\n        \"engagement_quality\": \"high\",\n        \"conversion_signals\": \"strong\"\n      }\n    }\n  ],\n  \"market_insights\": {\n    \"emerging_trends\": [\"textured_abstracts\", \"earth_tone_palettes\", \"oversized_statements\"],\n    \"pricing_intelligence\": {\n      \"average_price_point\": 245,\n      \"premium_threshold\": 500,\n      \"discount_patterns\": \"20-30% seasonal\"\n    },\n    \"content_gaps\": [\n      \"artist_process_videos\",\n      \"virtual_staging\",\n      \"size_comparison_guides\"\n    ]\n  },\n  \"competitive_opportunities\": [\n    {\n      \"opportunity\": \"Underserved minimalist segment\",\n      \"action\": \"Create dedicated minimalist board\",\n      \"priority\": \"high\"\n    },\n    {\n      \"opportunity\": \"Lack of educational content\",\n      \"action\": \"Develop art selection guides\",\n      \"priority\": \"medium\"\n    }\n  ],\n  \"alert_triggers\": {\n    \"significant_growth\": \"Competitor growing >5% weekly\",\n    \"new_feature_adoption\": \"Competitor using new Pinterest features\",\n    \"viral_content\": \"Competitor pin exceeding 1000 saves\"\n  }\n}\n```",
        "height": 1420,
        "width": 760,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        920,
        4600
      ],
      "typeVersion": 1,
      "id": "aae3b4fe-4409-415b-bfa6-4c4ac67f4bd7",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## 8. Idea Pin Creation Trigger\n**Source**: Copy Writer Agent or Creative Content Agent\n```json\n{\n  \"trigger_conditions\": \"idea_pin_creation\",\n  \"trigger_source\": \"copy_writer_agent\",\n  \"priority\": \"medium\",\n  \"idea_pin_concept\": {\n    \"title\": \"5 Ways to Style Abstract Art in Small Spaces\",\n    \"format\": \"multi_page_story\",\n    \"pages\": 6,\n    \"duration\": \"45_seconds\"\n  },\n  \"content_structure\": [\n    {\n      \"page\": 1,\n      \"type\": \"cover\",\n      \"headline\": \"Small Space, Big Impact\",\n      \"subheadline\": \"Transform tiny rooms with abstract art\",\n      \"visual\": \"split_screen_before_after\",\n      \"duration\": 5\n    },\n    {\n      \"page\": 2,\n      \"type\": \"tip\",\n      \"headline\": \"1. Create a Gallery Wall\",\n      \"body\": \"Mix small and medium pieces for visual interest without overwhelming the space\",\n      \"visual\": \"gallery_wall_demo\",\n      \"interactive\": \"tap_to_reveal\",\n      \"products\": [\"ABSTRACT-045\", \"ABSTRACT-067\", \"ABSTRACT-089\"],\n      \"duration\": 8\n    },\n    {\n      \"page\": 3,\n      \"type\": \"tip\",\n      \"headline\": \"2. Go Vertical\",\n      \"body\": \"Tall, narrow pieces draw the eye up and make ceilings appear higher\",\n      \"visual\": \"vertical_art_placement\",\n      \"call_to_action\": \"Swipe to see more\",\n      \"duration\": 8\n    },\n    {\n      \"page\": 4,\n      \"type\": \"tutorial\",\n      \"headline\": \"3. Layer with Shelving\",\n      \"steps\": [\"Choose floating shelves\", \"Mix art with decor\", \"Change seasonally\"],\n      \"visual\": \"shelf_styling_video\",\n      \"duration\": 10\n    },\n    {\n      \"page\": 5,\n      \"type\": \"showcase\",\n      \"headline\": \"4. Statement Corner\",\n      \"body\": \"One bold piece in a corner creates a focal point\",\n      \"visual\": \"corner_styling_examples\",\n      \"shoppable_tags\": true,\n      \"duration\": 8\n    },\n    {\n      \"page\": 6,\n      \"type\": \"cta\",\n      \"headline\": \"Ready to Transform Your Space?\",\n      \"call_to_action\": \"Shop Small Space Art\",\n      \"link\": \"https://vividwalls.com/collections/small-space\",\n      \"visual\": \"collection_preview\",\n      \"duration\": 6\n    }\n  ],\n  \"visual_requirements\": {\n    \"aspect_ratio\": \"9:16\",\n    \"resolution\": \"1080x1920\",\n    \"brand_elements\": {\n      \"logo_placement\": \"bottom_right\",\n      \"color_scheme\": \"brand_palette\",\n      \"font_family\": \"Montserrat\"\n    }\n  },\n  \"seo_optimization\": {\n    \"tags\": [\"#SmallSpaceDecor\", \"#AbstractArt\", \"#HomeDecorIdeas\", \"#ArtStyling\", \"#InteriorDesign\"],\n    \"keywords\": [\"small space art\", \"apartment decor\", \"abstract art styling\"],\n    \"topic_tags\": [\"Home Decor\", \"Interior Design\", \"Art\"]\n  },\n  \"publishing_details\": {\n    \"publish_date\": \"2024-03-22\",\n    \"publish_time\": \"10:00 EST\",\n    \"boards\": [\"Small Space Solutions\", \"Art Styling Tips\", \"Abstract Art Ideas\"]\n  },\n  \"engagement_features\": {\n    \"polls\": [\n      {\n        \"page\": 3,\n        \"question\": \"What's your biggest small space challenge?\",\n        \"options\": [\"Storage\", \"Light\", \"Style\"]\n      }\n    ],\n    \"stickers\": [\"Shop Now\", \"Save for Later\", \"Love This\"],\n    \"music\": {\n      \"track\": \"Upbeat Inspirational\",\n      \"volume\": 0.3\n    }\n  },\n  \"performance_targets\": {\n    \"view_target\": 10000,\n    \"engagement_rate\": 5,\n    \"click_through_rate\": 2,\n    \"save_rate\": 3\n  }\n}\n```",
        "height": 1820,
        "width": 760,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1740,
        4620
      ],
      "typeVersion": 1,
      "id": "01d1cffe-7a3e-41f6-bd81-48c98cc2744e",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "# Pinterest Agent - System Prompt\n\nYou are the Pinterest Agent for VividWalls, responsible for managing all Pinterest marketing activities including content creation, board management, advertising campaigns, and performance optimization. You receive directives from the Social Media Director Agent and collaborate with other marketing agents to maximize Pinterest's potential as a visual discovery and shopping platform.\n\n## Primary Directive: Trigger Condition Processing\n\nIf Trigger condition equal {{ $json.trigger_conditions }} then follow these instructions and rules strictly.\n\nIf the input is from a Chat message input {{ $('When chat message received') }} follow the instructions below:\nDetermine if the message is related to either a: pin_creation_request OR board_management OR promoted_pins_campaign OR trend_analysis OR analytics_report OR seasonal_planning OR competitor_monitoring OR idea_pin_creation. If the message does not contain any of these indicators, please respond to the user with clarifying questions pertaining to these specific conditional triggers for your Pinterest workflow to understand their intent relating to the Pinterest marketing initiative.",
        "height": 440,
        "width": 740,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3500,
        3320
      ],
      "typeVersion": 1,
      "id": "63af980f-f62b-4809-9464-72f968e3e2f2",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## If Trigger condition Pin Creation Request Instructions & Rules\n- Immediately trigger Rich Pin Creator Tool via `pinterest:create-pin`\n- Ensure product metadata is complete for rich pins using `shopify:get-products-by-ids`\n- Optimize pin titles and descriptions for Pinterest SEO\n  * Include relevant keywords naturally\n  * Front-load important information\n  * Use vertical image format (2:3 ratio)\n- Assign pins to appropriate boards based on category via `pinterest:add-to-board`\n- Schedule pins for optimal engagement times using scheduling logic\n- Target 5-10 pins per day maximum\n- Timeline: Complete within 2 hours of trigger\n- Output format must include:\n  ```json\n  {\n    \"trigger_processed\": \"pin_creation_request\",\n    \"pins_created\": [],\n    \"boards_updated\": [],\n    \"scheduling_details\": {},\n    \"seo_optimization\": {},\n    \"completion_status\": \"success\"\n  }\n  ```",
        "height": 480,
        "width": 740,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3500,
        3800
      ],
      "typeVersion": 1,
      "id": "8c3d0ceb-0d90-4a6e-9eae-c09c7a42a106",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "## If Trigger condition Board Management Instructions & Rules\n- Use Board Management Tool for strategic organization via `pinterest:create-board` and `pinterest:update-board`\n- Create seasonal boards 45-60 days in advance\n- Organize boards by:\n  * Room type (living room, bedroom, office)\n  * Style (modern, abstract, minimalist)\n  * Color palette\n  * Price range\n- Optimize board titles and descriptions with keywords using `seo-research:keyword-analysis`\n- Enable rich pins on all boards\n- Collaborate with influencers on group boards via `pinterest:invite-collaborator`\n- Timeline: Board updates within 24 hours\n- Track board performance metrics for optimization",
        "height": 360,
        "width": 740,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3500,
        4320
      ],
      "typeVersion": 1,
      "id": "0a440031-dd70-4f99-9332-d0070b173682",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "## If Trigger condition Promoted Pins Campaign Instructions & Rules\n- Launch Pinterest Ads Tool for paid campaigns via `pinterest:create-campaign`\n- Budget allocation: Start with $20-50 daily\n- Targeting strategy:\n  * Interest targeting: home decor, interior design, art collectors\n  * Keyword targeting: long-tail keywords via `seo-research:keyword-research`\n  * Shopping intent signals\n  * Lookalike audiences from converters\n- Campaign objectives:\n  * Awareness: New product launches\n  * Consideration: Seasonal collections\n  * Conversion: Limited edition pieces\n- Monitor CPC and engagement rates via `pinterest:get-campaign-analytics`\n- Timeline: Campaign live within 48 hours\n- Implement conversion tracking and ROAS optimization",
        "height": 400,
        "width": 740,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3500,
        4720
      ],
      "typeVersion": 1,
      "id": "d89e30f0-ca25-4721-9eaf-e039c515b1b5",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "## If Trigger condition Trend Analysis Instructions & Rules\n- Deploy Pinterest Trends Tool immediately via `pinterest:get-trends`\n- Analyze trending searches in home decor category\n- Identify emerging color and style trends using `color-psychology:analyze-trends`\n- Research seasonal trend predictions:\n  * Plan content 45+ days ahead\n  * Identify peak search periods\n  * Discover trending keywords\n- Compare against competitor pin performance via `pinterest:analyze-competitors`\n- Generate trend report with actionable insights\n- Timeline: Deliver analysis within 24 hours\n- Store insights in `neo4j-memory:create-entity` for future reference",
        "height": 300,
        "width": 740,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3500,
        5160
      ],
      "typeVersion": 1,
      "id": "7c5dddc5-fd1c-4d01-83c5-7595bf137fe9",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "content": "## If Trigger condition Analytics Report Instructions & Rules\n- Compile comprehensive Pinterest performance metrics via `pinterest:get-analytics`\n- Key metrics to track:\n  * Monthly views and impressions\n  * Engagement rate (saves, clicks, closeups)\n  * Top performing pins and boards\n  * Audience growth and demographics\n  * Website traffic from Pinterest via `shopify:get-analytics`\n  * Conversion rate and revenue attribution\n- Compare against platform benchmarks\n- Identify optimization opportunities\n- Timeline: Report delivery within 4 hours\n- Generate visual reports for stakeholder communication",
        "height": 320,
        "width": 740,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2720,
        3320
      ],
      "typeVersion": 1,
      "id": "fc8ce559-5220-4a25-979e-02adf911e545",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "content": "## If Trigger condition Seasonal Planning Instructions & Rules\n- Create seasonal content calendar using trends data from `pinterest:get-trends`\n- Plan boards and pins for upcoming seasons:\n  * Spring: Bright, fresh color palettes\n  * Summer: Coastal and outdoor themes\n  * Fall: Warm tones and cozy aesthetics\n  * Winter: Holiday and minimalist themes\n- Prepare gift guide boards via `pinterest:create-gift-guide`\n- Schedule content 45-60 days in advance\n- Coordinate with product launches via `shopify:get-products`\n- Timeline: Complete plan within 48 hours\n- Align with overall marketing calendar",
        "height": 320,
        "width": 740,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2720,
        3680
      ],
      "typeVersion": 1,
      "id": "bfc07388-cc6f-4da7-8625-a67b5fb85423",
      "name": "Sticky Note18"
    },
    {
      "parameters": {
        "content": "## If Trigger condition Competitor Monitoring Instructions & Rules\n- Track competitor Pinterest activities via `pinterest:monitor-accounts`\n- Monitor their:\n  * New board creation\n  * Pin frequency and timing\n  * Popular content themes\n  * Engagement rates\n  * Promoted pin strategies\n- Identify content gaps and opportunities using `tavily:search`\n- Benchmark performance metrics\n- Timeline: Weekly monitoring reports\n- Store competitive intelligence in `neo4j-memory:create-relationship`\n",
        "height": 320,
        "width": 740,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2720,
        4040
      ],
      "typeVersion": 1,
      "id": "3464bd98-7883-462c-a6df-aa540e85c57a",
      "name": "Sticky Note20"
    },
    {
      "parameters": {
        "content": "## If Trigger condition Idea Pin Creation Instructions & Rules\n- Create multi-page Idea Pins for engagement via `pinterest:create-idea-pin`\n- Content types for Idea Pins:\n  * Room transformation stories\n  * Art placement tutorials\n  * Style guides and tips\n  * Behind-the-scenes content\n  * Artist spotlights\n- Include interactive elements (polls, stickers)\n- Optimize for mobile viewing\n- Add relevant hashtags and tags\n- Timeline: 2-3 Idea Pins weekly\n- Track performance for content optimization",
        "height": 320,
        "width": 740,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1920,
        3320
      ],
      "typeVersion": 1,
      "id": "a9342094-a634-497e-8e5a-d9df7b3f5cca",
      "name": "Sticky Note22"
    },
    {
      "parameters": {
        "content": "## Success Metrics and Pinterest KPIs\n- **Monthly Views**: Target 100K+ views\n- **Engagement Rate**: >2% (saves + clicks)\n- **Save Rate**: >1% of impressions\n- **Click-through Rate**: >0.5%\n- **Follower Growth**: 3-5% monthly\n- **Website Traffic**: 15-20% from Pinterest\n- **Conversion Rate**: >2% from Pinterest traffic\n\n## Pinterest Best Practices\n### Visual Strategy\n- Vertical images (2:3 aspect ratio)\n- High-quality, lifestyle photography\n- Text overlay for context (but minimal)\n- Consistent brand aesthetic\n- Multiple angles of products\n\n### SEO Optimization\n- Keyword-rich pin titles (100 characters)\n- Detailed descriptions (up to 500 characters)\n- Relevant hashtags (2-5 per pin)\n- Alt text for accessibility\n- Board descriptions with keywords\n\n### Content Strategy\n- Fresh pins daily (not just repins)\n- Seasonal content 45+ days early\n- Educational and inspirational content mix\n- User-generated content curation\n- Behind-the-scenes and process content\n\n## Quality Control and Compliance\n- All pins must link to active product pages\n- Ensure pricing accuracy in rich pins\n- Follow Pinterest community guidelines\n- Respect intellectual property\n- Maintain authentic, non-spammy approach\n- Regular link checking and maintenance",
        "height": 940,
        "width": 740,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1920,
        3680
      ],
      "typeVersion": 1,
      "id": "f429df2a-ee99-46db-89a8-ed76bc40db70",
      "name": "Sticky Note24"
    },
    {
      "parameters": {
        "content": "## Response Format Requirements\nAll responses must follow this structure:\n```json\n{\n  \"trigger_processed\": \"trigger_name\",\n  \"status\": \"success|in_progress|requires_input|error\",\n  \"actions_taken\": [\n    {\n      \"action\": \"description\",\n      \"mcp_server\": \"server_used\",\n      \"result\": \"outcome\"\n    }\n  ],\n  \"pinterest_metrics\": {\n    \"pins_created\": 0,\n    \"boards_updated\": 0,\n    \"campaigns_launched\": 0,\n    \"performance_data\": {}\n  },\n  \"timeline\": {\n    \"start\": \"timestamp\",\n    \"completion\": \"timestamp\"\n  },\n  \"next_steps\": [],\n  \"escalations\": []\n}\n```",
        "height": 500,
        "width": 740,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2720,
        4400
      ],
      "typeVersion": 1,
      "id": "e3095e69-1275-4417-b2f5-4211913a7c65",
      "name": "Sticky Note25"
    },
    {
      "parameters": {
        "height": 2360,
        "width": 2480,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3580,
        3180
      ],
      "typeVersion": 1,
      "id": "ea1db5c3-2f8f-4732-9cf4-46a5e4ee2da5",
      "name": "Sticky Note26"
    },
    {
      "parameters": {
        "height": 3340,
        "width": 3380,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -820,
        3140
      ],
      "typeVersion": 1,
      "id": "7e0c6985-434d-456f-9ba6-8c7c9179a034",
      "name": "Sticky Note27"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        2440,
        1440
      ],
      "id": "8da07a96-4864-4bff-8990-119b3028c9be",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "nMbluFwHsrVvkQBJ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "height": 1920,
        "width": 360,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -60,
        -380
      ],
      "typeVersion": 1,
      "id": "25f85d74-44e0-4f9d-954b-43adbbcbbb62",
      "name": "Sticky Note28"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bfbfe9cd-167e-46b8-afda-e0f89ba23926",
              "name": "trigger_conditions",
              "value": "={{ $json.trigger_conditions }}",
              "type": "string"
            },
            {
              "id": "e33f6035-2e99-4888-9c55-e5c6df47d0a4",
              "name": "trigger_source",
              "value": "={{ $json.trigger_source }}",
              "type": "string"
            },
            {
              "id": "bcc6fb1e-9e95-4219-be70-cf6f95c4f7c2",
              "name": "priority",
              "value": "={{ $json.priority }}",
              "type": "string"
            },
            {
              "id": "90e4ddad-43d2-4967-9c68-ec6ed894cce4",
              "name": "product_batch",
              "value": "={{ $json.product_batch }}",
              "type": "array"
            },
            {
              "id": "a5b2907e-fea7-4a15-83bf-21adcd959b00",
              "name": "pin_specifications",
              "value": "={{ $json.pin_specifications }}",
              "type": "object"
            },
            {
              "id": "a6f33516-2234-46f7-b5a1-55ee9ffb844e",
              "name": "board_assignments",
              "value": "={{ $json.board_assignments }}",
              "type": "object"
            },
            {
              "id": "e49709d9-45f3-42e2-a613-d0e3d00db9e3",
              "name": "scheduling",
              "value": "={{ $json.scheduling }}",
              "type": "object"
            },
            {
              "id": "4351ee8e-db1b-469f-8d92-5369e04d0db2",
              "name": "seo_keywords",
              "value": "={{ $json.seo_keywords }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        -220
      ],
      "id": "4e9ff078-b0ea-419f-882b-c0b7ddf8fa04",
      "name": "Trigger Condition - Pin Creation Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c42d7ffd-0398-45fa-a272-40c04ae55074",
              "name": "trigger_conditions",
              "value": "={{ $json.trigger_conditions }}",
              "type": "string"
            },
            {
              "id": "4ed6a047-fd91-4507-9bd4-28ac5805c0a3",
              "name": "trigger_source",
              "value": "={{ $json.trigger_source }}",
              "type": "string"
            },
            {
              "id": "b70bc268-aa33-47e1-bd2f-e437dc4a73c7",
              "name": "priority",
              "value": "={{ $json.priority }}",
              "type": "string"
            },
            {
              "id": "350ceb4b-e3bd-455e-b9e1-ad6c82fe166d",
              "name": "management_type",
              "value": "={{ $json.management_type }}",
              "type": "string"
            },
            {
              "id": "6bcd754d-799c-439c-a803-27fbde96e493",
              "name": "board_operations",
              "value": "={{ $json.board_operations }}",
              "type": "array"
            },
            {
              "id": "61be92c2-f13e-4cc5-a59f-bcfb0a018461",
              "name": "optimization_tasks",
              "value": "={{ $json.optimization_tasks }}",
              "type": "object"
            },
            {
              "id": "2c3eda1e-f133-48ac-aa3f-f4a76a1caa9b",
              "name": "collaboration_requests",
              "value": "={{ $json.collaboration_requests }}",
              "type": "array"
            },
            {
              "id": "4473c8ee-b5bc-4eb0-b0f4-9206b992d2f2",
              "name": "timeline",
              "value": "={{ $json.timeline }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        -20
      ],
      "id": "e5b34a63-e3bb-42a2-b855-3b643e444e31",
      "name": "Trigger Condition - Board Management"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "75682a56-9523-40f4-96f7-6cbab7d3cec5",
              "name": "trigger_conditions",
              "value": "={{ $json.trigger_conditions }}",
              "type": "string"
            },
            {
              "id": "47326c87-1927-4199-88b1-16b01c5364c7",
              "name": "trigger_source",
              "value": "={{ $json.trigger_source }}",
              "type": "string"
            },
            {
              "id": "11d576ec-2397-40f2-9d6c-9f2a9c62ef43",
              "name": "priority",
              "value": "={{ $json.priority }}",
              "type": "string"
            },
            {
              "id": "638734ed-a362-42ea-85b9-18621d2187cf",
              "name": "campaign_details",
              "value": "={{ $json.campaign_details }}",
              "type": "object"
            },
            {
              "id": "3320fa3f-eafd-4575-a15d-ad761b657770",
              "name": "ad_groups",
              "value": "={{ $json.ad_groups }}",
              "type": "array"
            },
            {
              "id": "8e5b516a-3a33-4d6c-8182-639bb1804ce2",
              "name": "creative_assets",
              "value": "={{ $json.creative_assets }}",
              "type": "object"
            },
            {
              "id": "d17c5314-056f-4c37-b46e-da6cc5331f6b",
              "name": "conversion_tracking",
              "value": "={{ $json.conversion_tracking }}",
              "type": "object"
            },
            {
              "id": "b5f20cb7-22c1-4e28-a533-512180da292f",
              "name": "success_metrics",
              "value": "={{ $json.success_metrics }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        180
      ],
      "id": "521113bd-67c5-49df-b250-78c98ab04fcc",
      "name": "Trigger Condition - Promoted Pins Campaign"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "75320e8a-1cef-45cb-bf2a-1f73009b6b00",
              "name": "trigger_conditions",
              "value": "={{ $json.trigger_conditions }}",
              "type": "string"
            },
            {
              "id": "75ba0edb-6c76-439e-b690-92377ad9965f",
              "name": "trigger_source",
              "value": "={{ $json.trigger_source }}",
              "type": "string"
            },
            {
              "id": "9e26cc5f-4551-44eb-b6bc-5937171793d3",
              "name": "priority",
              "value": "={{ $json.priority }}",
              "type": "string"
            },
            {
              "id": "673461ec-f687-44c9-8889-36dcbe18e7c0",
              "name": "analysis_scope",
              "value": "={{ $json.analysis_scope }}",
              "type": "object"
            },
            {
              "id": "b7cac217-6f12-48e6-a42f-866351937a00",
              "name": "trending_data",
              "value": "={{ $json.trending_data }}",
              "type": "object"
            },
            {
              "id": "6cb0bc01-107f-4d9e-a405-e90ca76e4504",
              "name": "competitor_insights",
              "value": "={{ $json.competitor_insights }}",
              "type": "object"
            },
            {
              "id": "866d1488-8ffb-4c74-aaf2-b46538337f02",
              "name": "recommendations",
              "value": "={{ $json.recommendations }}",
              "type": "object"
            },
            {
              "id": "4de2f243-7b90-4c90-b697-18f2abdf582e",
              "name": "visual_trend_report",
              "value": "={{ $json.visual_trend_report }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        380
      ],
      "id": "265a82c5-df34-4451-91bf-23ff87f426de",
      "name": "Trigger Condition - Trend Analysis"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        580
      ],
      "id": "ddc1ef49-f0ef-482b-b241-d7f1bba6578d",
      "name": "Trigger Condition - Analytics Report"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "69327280-39d1-4493-ac69-0f19fa587723",
              "name": "trigger_conditions",
              "value": "={{ $json.trigger_conditions }}",
              "type": "string"
            },
            {
              "id": "3cc5dfbe-2ef1-4c36-b914-683831d0ee94",
              "name": "trigger_source",
              "value": "={{ $json.trigger_source }}",
              "type": "string"
            },
            {
              "id": "d9d48d2e-c927-4222-8e15-1071bf39fad5",
              "name": "priority",
              "value": "={{ $json.priority }}",
              "type": "string"
            },
            {
              "id": "7b16ef6a-c264-43c5-90d9-071ee74feaaf",
              "name": "planning_season",
              "value": "={{ $json.planning_season }}",
              "type": "string"
            },
            {
              "id": "b732f308-4f2b-4cd9-a0d8-ded16dcde73b",
              "name": "planning_timeline",
              "value": "={{ $json.planning_timeline }}",
              "type": "object"
            },
            {
              "id": "894d06a9-dc6e-45cb-90a9-f61ab84931d3",
              "name": "seasonal_themes",
              "value": "={{ $json.seasonal_themes }}",
              "type": "object"
            },
            {
              "id": "d2f5f53c-e348-49b7-b4c3-20e1bf7a8e29",
              "name": "content_calendar",
              "value": "={{ $json.content_calendar }}",
              "type": "object"
            },
            {
              "id": "f1a0e36f-9644-4fb5-b1e9-dbaebaf069fa",
              "name": "promotional_calendar",
              "value": "={{ $json.promotional_calendar }}",
              "type": "object"
            },
            {
              "id": "10517840-b1fc-46ba-b050-61a515d19aeb",
              "name": "collaboration_opportunities",
              "value": "={{ $json.collaboration_opportunities }}",
              "type": "array"
            },
            {
              "id": "b3f1dbf4-8ef8-4d4d-bae0-5d74f4e30d60",
              "name": "resource_requirements",
              "value": "={{ $json.resource_requirements }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        780
      ],
      "id": "0b7c8bf3-58ad-42b3-b058-8122808f6103",
      "name": "Trigger Condition - Seasonal Planning"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1c9c3d35-36ba-4d4b-8397-a72a888ef8dc",
              "name": "trigger_conditions",
              "value": "={{ $json.trigger_conditions }}",
              "type": "string"
            },
            {
              "id": "87a5bf48-d735-4918-8ac8-3f31a8417fa0",
              "name": "trigger_source",
              "value": "={{ $json.trigger_source }}",
              "type": "string"
            },
            {
              "id": "60096329-079f-49aa-b8a0-ed62265caa8d",
              "name": "priority",
              "value": "={{ $json.priority }}",
              "type": "string"
            },
            {
              "id": "1f7e384e-f2bd-4cf9-8359-a0c1975f6d90",
              "name": "monitoring_period",
              "value": "={{ $json.monitoring_period }}",
              "type": "string"
            },
            {
              "id": "bcd02e3d-d721-4434-b998-5666bd20b49c",
              "name": "competitors_tracked",
              "value": "={{ $json.competitors_tracked }}",
              "type": "array"
            },
            {
              "id": "0230a352-e4ae-4bc7-8bbe-6dfb5d4df6f5",
              "name": "market_insights",
              "value": "={{ $json.market_insights }}",
              "type": "object"
            },
            {
              "id": "ea581884-9826-4360-b780-addd7f672e44",
              "name": "competitive_opportunities",
              "value": "={{ $json.competitive_opportunities }}",
              "type": "array"
            },
            {
              "id": "be9002b8-9e49-4006-88d9-67f1eb1a8867",
              "name": "alert_triggers",
              "value": "={{ $json.alert_triggers }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        1000
      ],
      "id": "e30b3b64-2ffc-40c8-a696-0d0af7e1d3ee",
      "name": "Trigger Condition - Competitor Monitoring"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        1240
      ],
      "id": "724bc60a-496e-46f9-8dac-2b6f8b1171ba",
      "name": "Trigger Condition - Idea Pin Creation"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "trigger_conditions": "idea_pin_creation",
          "trigger_source": "copy_writer_agent",
          "priority": "medium",
          "idea_pin_concept": {
            "title": "5 Ways to Style Abstract Art in Small Spaces",
            "format": "multi_page_story",
            "pages": 6,
            "duration": "45_seconds"
          },
          "content_structure": [
            {
              "page": 1,
              "type": "cover",
              "headline": "Small Space, Big Impact",
              "subheadline": "Transform tiny rooms with abstract art",
              "visual": "split_screen_before_after",
              "duration": 5
            },
            {
              "page": 2,
              "type": "tip",
              "headline": "1. Create a Gallery Wall",
              "body": "Mix small and medium pieces for visual interest without overwhelming the space",
              "visual": "gallery_wall_demo",
              "interactive": "tap_to_reveal",
              "products": [
                "ABSTRACT-045",
                "ABSTRACT-067",
                "ABSTRACT-089"
              ],
              "duration": 8
            },
            {
              "page": 3,
              "type": "tip",
              "headline": "2. Go Vertical",
              "body": "Tall, narrow pieces draw the eye up and make ceilings appear higher",
              "visual": "vertical_art_placement",
              "call_to_action": "Swipe to see more",
              "duration": 8
            },
            {
              "page": 4,
              "type": "tutorial",
              "headline": "3. Layer with Shelving",
              "steps": [
                "Choose floating shelves",
                "Mix art with decor",
                "Change seasonally"
              ],
              "visual": "shelf_styling_video",
              "duration": 10
            },
            {
              "page": 5,
              "type": "showcase",
              "headline": "4. Statement Corner",
              "body": "One bold piece in a corner creates a focal point",
              "visual": "corner_styling_examples",
              "shoppable_tags": true,
              "duration": 8
            },
            {
              "page": 6,
              "type": "cta",
              "headline": "Ready to Transform Your Space?",
              "call_to_action": "Shop Small Space Art",
              "link": "https://vividwalls.com/collections/small-space",
              "visual": "collection_preview",
              "duration": 6
            }
          ],
          "visual_requirements": {
            "aspect_ratio": "9:16",
            "resolution": "1080x1920",
            "brand_elements": {
              "logo_placement": "bottom_right",
              "color_scheme": "brand_palette",
              "font_family": "Montserrat"
            }
          },
          "seo_optimization": {
            "tags": [
              "#SmallSpaceDecor",
              "#AbstractArt",
              "#HomeDecorIdeas",
              "#ArtStyling",
              "#InteriorDesign"
            ],
            "keywords": [
              "small space art",
              "apartment decor",
              "abstract art styling"
            ],
            "topic_tags": [
              "Home Decor",
              "Interior Design",
              "Art"
            ]
          },
          "publishing_details": {
            "publish_date": "2024-03-22",
            "publish_time": "10:00 EST",
            "boards": [
              "Small Space Solutions",
              "Art Styling Tips",
              "Abstract Art Ideas"
            ]
          },
          "engagement_features": {
            "polls": [
              {
                "page": 3,
                "question": "What's your biggest small space challenge?",
                "options": [
                  "Storage",
                  "Light",
                  "Style"
                ]
              }
            ],
            "stickers": [
              "Shop Now",
              "Save for Later",
              "Love This"
            ],
            "music": {
              "track": "Upbeat Inspirational",
              "volume": 0.3
            }
          },
          "performance_targets": {
            "view_target": 10000,
            "engagement_rate": 5,
            "click_through_rate": 2,
            "save_rate": 3
          }
        }
      }
    ],
    "Trigger Condition - Pin Creation Request": [
      {
        "json": {
          "trigger_conditions": "pin_creation_request",
          "trigger_source": "content_strategy_agent",
          "priority": "high",
          "product_batch": [
            {
              "product_id": "ABSTRACT-112",
              "title": "Ethereal Dawn - Limited Edition Abstract",
              "artist": "Elena Vasquez",
              "price": 589.99,
              "product_url": "https://vividwalls.com/products/ethereal-dawn",
              "images": {
                "primary": "https://cdn.vividwalls.com/products/ethereal-dawn-main.jpg",
                "lifestyle": [
                  "https://cdn.vividwalls.com/products/ethereal-dawn-living-room.jpg",
                  "https://cdn.vividwalls.com/products/ethereal-dawn-bedroom.jpg"
                ],
                "detail_shots": [
                  "https://cdn.vividwalls.com/products/ethereal-dawn-texture.jpg"
                ]
              },
              "metadata": {
                "dimensions": "24x36 inches",
                "medium": "Archival Giclée Print",
                "edition": "75 pieces",
                "frame_options": [
                  "Black",
                  "White",
                  "Natural Wood"
                ]
              }
            }
          ],
          "pin_specifications": {
            "pin_types": [
              "standard",
              "rich_product",
              "try_on"
            ],
            "image_requirements": {
              "aspect_ratio": "2:3",
              "min_width": 600,
              "format": "jpg"
            },
            "copy_elements": {
              "title_template": "{title} | {artist} | VividWalls",
              "description_template": "Transform your space with {title}. {edition} exclusive piece by {artist}. Shop now for free shipping.",
              "hashtags": [
                "AbstractArt",
                "WallArt",
                "HomeDecor",
                "LimitedEdition",
                "ModernArt"
              ]
            }
          },
          "board_assignments": {
            "primary_board": "Abstract Art Collection",
            "secondary_boards": [
              "Living Room Art",
              "Limited Edition Pieces",
              "Artist: Elena Vasquez"
            ],
            "seasonal_board": "Spring Home Refresh 2024"
          },
          "scheduling": {
            "start_date": "2024-03-20",
            "frequency": "twice_daily",
            "optimal_times": [
              "09:00 EST",
              "19:00 EST"
            ],
            "duration_days": 14
          },
          "seo_keywords": [
            "abstract wall art",
            "modern home decor",
            "limited edition prints",
            "ethereal art"
          ]
        }
      }
    ],
    "Trigger Condition - Board Management": [
      {
        "json": {
          "trigger_conditions": "board_management",
          "trigger_source": "social_media_director",
          "priority": "medium",
          "management_type": "seasonal_reorganization",
          "board_operations": [
            {
              "operation": "create",
              "board_name": "Summer 2024 - Coastal Abstract Collection",
              "description": "Discover ocean-inspired abstract art perfect for summer home refreshes. Curated collection of blues, teals, and sandy neutrals.",
              "category": "home_decor",
              "privacy": "public",
              "cover_image": "https://cdn.vividwalls.com/boards/summer-coastal-cover.jpg"
            },
            {
              "operation": "update",
              "board_id": "pinterest_board_123456",
              "updates": {
                "description": "Updated with 2024 trending color palettes",
                "cover_pin": "pin_987654",
                "collaborators": [
                  "@interiordesigner",
                  "@artcollector"
                ]
              }
            },
            {
              "operation": "archive",
              "board_ids": [
                "board_111",
                "board_222"
              ],
              "reason": "seasonal_rotation"
            }
          ],
          "optimization_tasks": {
            "keyword_updates": {
              "target_keywords": [
                "coastal decor",
                "beach house art",
                "summer wall art"
              ],
              "boards_to_optimize": 12
            },
            "pin_redistribution": {
              "source_board": "General Abstract Art",
              "distribution_map": {
                "Blue Abstract Art": 45,
                "Ocean Inspired Art": 38,
                "Minimalist Beach Decor": 22
              }
            }
          },
          "collaboration_requests": [
            {
              "influencer": "@coastallivingmag",
              "board_name": "Coastal Art Collaborations",
              "terms": "mutual_pinning",
              "expected_reach": 250000
            }
          ],
          "timeline": {
            "completion_date": "2024-03-18",
            "review_date": "2024-03-25"
          }
        }
      }
    ],
    "Trigger Condition - Promoted Pins Campaign": [
      {
        "json": {
          "trigger_conditions": "promoted_pins_campaign",
          "trigger_source": "marketing_campaign_agent",
          "priority": "high",
          "campaign_details": {
            "campaign_id": "PINTEREST_SPRING_2024",
            "campaign_name": "Spring Art Collection Launch",
            "objective": "conversions",
            "total_budget": 1500,
            "duration": {
              "start_date": "2024-03-20",
              "end_date": "2024-04-20"
            }
          },
          "ad_groups": [
            {
              "name": "High-Value Art Collectors",
              "budget": 600,
              "bid_strategy": "automatic",
              "targeting": {
                "interests": [
                  "luxury_home_decor",
                  "art_collecting",
                  "interior_design"
                ],
                "keywords": [
                  "abstract art for sale",
                  "limited edition prints",
                  "modern wall art"
                ],
                "demographics": {
                  "gender": "all",
                  "age_range": "25-65",
                  "location": [
                    "United States",
                    "Canada"
                  ],
                  "language": "English"
                },
                "behaviors": {
                  "device": "all",
                  "shopping_intent": "high",
                  "income_tier": "top_25_percent"
                }
              }
            },
            {
              "name": "Retargeting - Cart Abandoners",
              "budget": 400,
              "bid_strategy": "max_conversions",
              "audience_list": "shopify_cart_abandoners_30d",
              "frequency_cap": 5
            }
          ],
          "creative_assets": {
            "pins_to_promote": [
              {
                "pin_id": "existing_pin_123",
                "bid": 1.5,
                "destination_url": "https://vividwalls.com/collections/spring-2024"
              },
              {
                "new_pin": true,
                "image": "https://cdn.vividwalls.com/ads/spring-hero.jpg",
                "title": "Spring Art Sale - 20% Off Limited Editions",
                "description": "Refresh your space with exclusive abstract art. Limited time offer.",
                "destination_url": "https://vividwalls.com/sale/spring2024",
                "call_to_action": "Shop Now"
              }
            ]
          },
          "conversion_tracking": {
            "pixel_id": "pinterest_pixel_123",
            "events": [
              "PageVisit",
              "AddToCart",
              "Checkout",
              "Purchase"
            ],
            "value_optimization": true
          },
          "success_metrics": {
            "target_cpc": 0.8,
            "target_ctr": 1.2,
            "target_roas": 4,
            "target_conversions": 75
          }
        }
      }
    ],
    "Trigger Condition - Trend Analysis": [
      {
        "json": {
          "trigger_conditions": "trend_analysis",
          "trigger_source": "art_trend_intelligence",
          "priority": "medium",
          "analysis_scope": {
            "category": "home_decor",
            "subcategories": [
              "wall_art",
              "abstract_art",
              "modern_decor"
            ],
            "time_period": "next_90_days",
            "geographic_focus": [
              "United States",
              "Canada",
              "United Kingdom"
            ]
          },
          "trending_data": {
            "rising_searches": [
              {
                "term": "sage green abstract art",
                "growth_rate": 156,
                "search_volume": 12000,
                "peak_season": "April-May"
              },
              {
                "term": "minimalist line art",
                "growth_rate": 89,
                "search_volume": 8500,
                "demographics": {
                  "primary_age": "25-34",
                  "interests": [
                    "scandinavian_design",
                    "minimalism"
                  ]
                }
              }
            ],
            "color_trends": {
              "trending_up": [
                "sage_green",
                "terracotta",
                "soft_blue"
              ],
              "trending_down": [
                "millennial_pink",
                "ultra_violet"
              ],
              "evergreen": [
                "neutral_beige",
                "black_white"
              ]
            },
            "style_movements": [
              {
                "style": "Organic Abstract",
                "momentum": "accelerating",
                "related_searches": [
                  "nature inspired art",
                  "botanical abstract"
                ],
                "competitor_adoption": "early_stage"
              }
            ]
          },
          "competitor_insights": {
            "top_performing_competitors": [
              {
                "account": "@modernartprints",
                "monthly_views": 2500000,
                "engagement_rate": 3.2,
                "content_themes": [
                  "artist_stories",
                  "room_styling"
                ],
                "pin_frequency": 15
              }
            ],
            "content_gaps": [
              "art_placement_guides",
              "size_selection_tools",
              "virtual_room_preview"
            ],
            "opportunity_score": 8.5
          },
          "recommendations": {
            "immediate_actions": [
              "Create sage green collection board",
              "Develop minimalist art category",
              "Partner with interior designers"
            ],
            "content_calendar_updates": {
              "april_focus": "Earth tones and organic shapes",
              "may_focus": "Minimalist and line art",
              "june_focus": "Summer coastal abstracts"
            }
          },
          "visual_trend_report": {
            "format": "pdf",
            "includes": [
              "mood_boards",
              "color_palettes",
              "style_examples"
            ],
            "delivery_url": "https://reports.vividwalls.com/pinterest-trends-q2-2024.pdf"
          }
        }
      }
    ],
    "Trigger Condition - Seasonal Planning": [
      {
        "json": {
          "trigger_conditions": "seasonal_planning",
          "trigger_source": "content_strategy_agent",
          "priority": "medium",
          "planning_season": "Summer 2024",
          "planning_timeline": {
            "planning_start": "2024-03-15",
            "content_go_live": "2024-05-01",
            "season_duration": "June-August 2024"
          },
          "seasonal_themes": {
            "primary_theme": "Coastal & Nautical Abstracts",
            "color_palettes": [
              {
                "name": "Ocean Blues",
                "colors": [
                  "#006994",
                  "#40E0D0",
                  "#F0F8FF"
                ],
                "product_matches": 34
              },
              {
                "name": "Sunset Warmth",
                "colors": [
                  "#FF6B6B",
                  "#FFE66D",
                  "#FF8E53"
                ],
                "product_matches": 28
              }
            ],
            "style_directions": [
              "fluid_abstracts",
              "geometric_nautical",
              "minimalist_coastal"
            ]
          },
          "content_calendar": {
            "board_schedule": [
              {
                "week": "2024-W18",
                "board_name": "Summer Living Room Refresh",
                "pin_count": 25,
                "focus": "bright_and_airy"
              },
              {
                "week": "2024-W20",
                "board_name": "Coastal Bedroom Art",
                "pin_count": 20,
                "focus": "calming_blues"
              }
            ],
            "pin_schedule": {
              "daily_pins": 8,
              "peak_days": [
                "Tuesday",
                "Thursday",
                "Saturday"
              ],
              "content_mix": {
                "product_pins": 40,
                "lifestyle_pins": 30,
                "educational_pins": 20,
                "user_generated": 10
              }
            }
          },
          "promotional_calendar": {
            "memorial_day": {
              "date": "2024-05-27",
              "promotion": "15% off Coastal Collection",
              "pin_strategy": "countdown_series"
            },
            "july_4th": {
              "date": "2024-07-04",
              "promotion": "Americana Abstract Art",
              "pin_strategy": "patriotic_palette"
            },
            "summer_sale": {
              "dates": "2024-07-15 to 2024-07-22",
              "promotion": "Mid-Summer Clearance",
              "pin_strategy": "urgency_messaging"
            }
          },
          "collaboration_opportunities": [
            {
              "partner_type": "interior_designer",
              "campaign": "Designer's Summer Picks",
              "deliverables": 10
            },
            {
              "partner_type": "lifestyle_blogger",
              "campaign": "Summer Home Tours",
              "deliverables": 5
            }
          ],
          "resource_requirements": {
            "new_photography": 12,
            "lifestyle_shots": 25,
            "graphic_designs": 40,
            "copywriting_pieces": 60
          }
        }
      }
    ],
    "Trigger Condition - Competitor Monitoring": [
      {
        "json": {
          "trigger_conditions": "competitor_monitoring",
          "trigger_source": "market_research_agent",
          "priority": "low",
          "monitoring_period": "weekly",
          "competitors_tracked": [
            {
              "account": "@artisanwallprints",
              "pinterest_handle": "artisanprints",
              "follower_count": 67890,
              "weekly_metrics": {
                "new_pins": 45,
                "new_boards": 2,
                "follower_growth": 234,
                "estimated_engagement": 3.1
              },
              "content_analysis": {
                "top_performing_pins": [
                  {
                    "description": "Minimalist Black Line Art",
                    "estimated_saves": 450,
                    "visual_style": "minimalist",
                    "price_point": "$189"
                  }
                ],
                "content_themes": [
                  "minimalism",
                  "black_and_white",
                  "geometric"
                ],
                "posting_pattern": {
                  "frequency": "3x_daily",
                  "peak_times": [
                    "9am",
                    "2pm",
                    "7pm"
                  ],
                  "board_focus": "style_based"
                }
              },
              "strategic_moves": {
                "new_initiatives": [
                  "AR_try_on_pins",
                  "shoppable_collections"
                ],
                "partnerships": [
                  "West_Elm_collaboration"
                ],
                "promotional_tactics": [
                  "flash_sales",
                  "bundle_offers"
                ]
              }
            },
            {
              "account": "@modernartgallery",
              "pinterest_handle": "modernartgallery",
              "follower_count": 125000,
              "performance_indicators": {
                "growth_trajectory": "accelerating",
                "engagement_quality": "high",
                "conversion_signals": "strong"
              }
            }
          ],
          "market_insights": {
            "emerging_trends": [
              "textured_abstracts",
              "earth_tone_palettes",
              "oversized_statements"
            ],
            "pricing_intelligence": {
              "average_price_point": 245,
              "premium_threshold": 500,
              "discount_patterns": "20-30% seasonal"
            },
            "content_gaps": [
              "artist_process_videos",
              "virtual_staging",
              "size_comparison_guides"
            ]
          },
          "competitive_opportunities": [
            {
              "opportunity": "Underserved minimalist segment",
              "action": "Create dedicated minimalist board",
              "priority": "high"
            },
            {
              "opportunity": "Lack of educational content",
              "action": "Develop art selection guides",
              "priority": "medium"
            }
          ],
          "alert_triggers": {
            "significant_growth": "Competitor growing >5% weekly",
            "new_feature_adoption": "Competitor using new Pinterest features",
            "viral_content": "Competitor pin exceeding 1000 saves"
          }
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Pinterest Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Pinterest Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinterest Agent Webhook": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rich Pin Creator Tool": {
      "ai_tool": [
        [
          {
            "node": "Pinterest Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Board Management Tool": {
      "ai_tool": [
        [
          {
            "node": "Pinterest Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pinterest Ads Tool": {
      "ai_tool": [
        [
          {
            "node": "Pinterest Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pinterest Trends Tool": {
      "ai_tool": [
        [
          {
            "node": "Pinterest Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pinterest MCP Tool": {
      "ai_tool": [
        [
          {
            "node": "Pinterest Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pinterest Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinterest Knowledge Base": {
      "ai_tool": [
        [
          {
            "node": "Pinterest Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "Pinterest Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Trigger Condition - Pin Creation Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trigger Condition - Board Management",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trigger Condition - Promoted Pins Campaign",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trigger Condition - Trend Analysis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trigger Condition - Analytics Report",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trigger Condition - Seasonal Planning",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trigger Condition - Competitor Monitoring",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trigger Condition - Idea Pin Creation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinterest Knowledge Base",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Condition - Pin Creation Request": {
      "main": [
        [
          {
            "node": "Pinterest Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Condition - Board Management": {
      "main": [
        [
          {
            "node": "Pinterest Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Condition - Promoted Pins Campaign": {
      "main": [
        [
          {
            "node": "Pinterest Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Condition - Trend Analysis": {
      "main": [
        [
          {
            "node": "Pinterest Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Condition - Analytics Report": {
      "main": [
        [
          {
            "node": "Pinterest Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Condition - Seasonal Planning": {
      "main": [
        [
          {
            "node": "Pinterest Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Condition - Competitor Monitoring": {
      "main": [
        [
          {
            "node": "Pinterest Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Condition - Idea Pin Creation": {
      "main": [
        [
          {
            "node": "Pinterest Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e2556217-431d-4fff-940f-8545fa2d78b4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "80621a4270e0ac393edfe0b84576ab8588a37d1db0f23bca7018517bcf39d930"
  },
  "id": "XIHOsLcup27vH4C9",
  "tags": []
}