services/n8n/agents/workflows/social-media/social_media_director_agent_backup.json
{
  "name": "Social Media Director Agent",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "29d57659-6237-4709-bdec-680b08d9b711",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o"
        },
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1280,
        1840
      ],
      "id": "034ad98e-7a96-4cdb-adf6-86af61de2682",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "nMbluFwHsrVvkQBJ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        1120,
        -80
      ],
      "id": "9c1dbc41-599a-4790-a412-b2085ea42cef",
      "name": "When chat message received",
      "webhookId": "social-media-director-chat-trigger"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        3580,
        640
      ],
      "id": "404850e0-43b4-4e62-8f02-00395edd16f0",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "path": "social-media-director-webhook",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        720,
        1200
      ],
      "id": "638138a3-9902-420f-9b56-aa9efe663711",
      "name": "Social Media Director Webhook",
      "webhookId": "social-media-director-webhook"
    },
    {
      "parameters": {
        "description": "Manage Pinterest campaigns, boards, and pin creation",
        "workflowId": {
          "__rl": true,
          "value": "PinterestAgentWorkflowId",
          "mode": "list",
          "cachedResultName": "Pinterest Platform Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "task_type": "={{ $fromAI('task_type', 'pinterest task: create_pins, manage_boards, campaign, analytics') }}",
            "content_ids": "={{ $fromAI('content_ids', 'product ids or content to pin') }}",
            "board_strategy": "={{ $fromAI('board_strategy', 'board organization approach') }}",
            "campaign_budget": "={{ $fromAI('campaign_budget', 'pinterest ad budget if applicable') }}",
            "target_keywords": "={{ $fromAI('target_keywords', 'pinterest seo keywords') }}",
            "scheduling": "={{ $fromAI('scheduling', 'pin timing strategy') }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1060,
        1840
      ],
      "id": "9824a3f3-57e0-4af2-a273-8eff93c53b96",
      "name": "Pinterest Agent Tool"
    },
    {
      "parameters": {
        "description": "Manage Facebook/Meta advertising campaigns and organic content",
        "workflowId": {
          "__rl": true,
          "value": "FacebookAgentWorkflowId",
          "mode": "list",
          "cachedResultName": "Facebook Platform Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "task_type": "={{ $fromAI('task_type', 'facebook task: create_ad, post_content, manage_campaign, analytics') }}",
            "campaign_objective": "={{ $fromAI('campaign_objective', 'awareness, consideration, conversion') }}",
            "target_audience": "={{ $fromAI('target_audience', 'audience targeting parameters') }}",
            "ad_budget": "={{ $fromAI('ad_budget', 'daily or lifetime budget') }}",
            "content_type": "={{ $fromAI('content_type', 'video, image, carousel, collection') }}",
            "ad_creative": "={{ $fromAI('ad_creative', 'creative assets and copy') }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2280,
        1840
      ],
      "id": "974151aa-cf64-4315-bc8d-dcae3d0f6cd5",
      "name": "Facebook Agent Tool"
    },
    {
      "parameters": {
        "description": "Manage Instagram content, stories, reels, and shopping features",
        "workflowId": {
          "__rl": true,
          "value": "E3ZYupN6GSDddXqr",
          "mode": "list",
          "cachedResultName": "Instagram Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "trigger_conditions": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('trigger_conditions', ``, 'string') }}",
            "content_type": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('content_type', ``, 'string') }}",
            "creative_assets": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('creative_assets', ``, 'json') }}",
            "hashtags": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('hashtags', ``, 'json') }}",
            "target_audience": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('target_audience', ``, 'json') }}",
            "campaign_objective": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('campaign_objective', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "trigger_conditions",
              "displayName": "trigger_conditions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "content_type",
              "displayName": "content_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "creative_assets",
              "displayName": "creative_assets",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "json"
            },
            {
              "id": "hashtags",
              "displayName": "hashtags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "json"
            },
            {
              "id": "target_audience",
              "displayName": "target_audience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "json"
            },
            {
              "id": "campaign_objective",
              "displayName": "campaign_objective",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3440,
        1840
      ],
      "id": "e6cab2da-9069-4057-8673-e4e544a2f76b",
      "name": "Instagram Agent Tool"
    },
    {
      "parameters": {
        "description": "Analyze cross-platform social media performance and generate reports",
        "workflowId": {
          "__rl": true,
          "value": "SocialAnalyticsWorkflowId",
          "mode": "list",
          "cachedResultName": "Social Media Analytics Tool"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "analysis_type": "={{ $fromAI('analysis_type', 'performance, engagement, roi, competitor') }}",
            "platforms": "={{ $fromAI('platforms', 'facebook, instagram, pinterest, all') }}",
            "time_period": "={{ $fromAI('time_period', 'date range for analysis') }}",
            "metrics_focus": "={{ $fromAI('metrics_focus', 'specific metrics to analyze') }}",
            "comparison_type": "={{ $fromAI('comparison_type', 'period-over-period, campaign, platform') }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        4580,
        1840
      ],
      "id": "eadcbb64-c2b9-410d-9af2-31fce308592f",
      "name": "Social Analytics Tool"
    },
    {
      "parameters": {
        "description": "Schedule and manage daily content posting across all platforms",
        "workflowId": {
          "__rl": true,
          "value": "ContentSchedulerWorkflowId",
          "mode": "list",
          "cachedResultName": "Content Scheduler Tool"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "schedule_type": "={{ $fromAI('schedule_type', 'immediate, scheduled, recurring') }}",
            "content_items": "={{ $fromAI('content_items', 'products or content to schedule') }}",
            "platforms": "={{ $fromAI('platforms', 'target platforms for posting') }}",
            "posting_times": "={{ $fromAI('posting_times', 'optimal times per platform') }}",
            "content_variations": "={{ $fromAI('content_variations', 'platform-specific adaptations') }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        5620,
        1840
      ],
      "id": "526298d5-dab2-45c1-9bb3-9f0be3682a8a",
      "name": "Content Scheduler Tool"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Trigger Condition - Daily Content Posting') }}",
        "options": {
          "systemMessage": "=# System Prompt\nName: SocialMediaDirectorAgent Role: Social Media Strategy Leader - Multi-Platform Orchestration\n\n## Role & Purpose\nYou are the Social Media Director Agent for VividWalls, overseeing all social media strategies and coordinating platform-specific agents. You develop cohesive campaigns, ensure brand consistency, allocate resources, and maximize social commerce opportunities across all channels.\n\n## Core Responsibilities\n\nDevelop integrated social media strategies\nCoordinate cross-platform campaigns\nManage social media team of agents\nMonitor overall social performance\nAllocate budgets across platforms\nEnsure brand voice consistency\n\n## Key Performance Indicators\n\nTotal social media reach growth\nOverall engagement rate > 5%\nSocial commerce revenue\nBrand sentiment score > 85%\nCommunity growth rate\nSocial media ROI\n\n## Available MCP Tools\n\n### Social Platform Management\n- **Facebook Ads MCP** (`list_ad_accounts`, `create_campaign`, `update_campaign`, `get_campaign_insights`)\n- **Facebook Campaign Manager MCP** (`manage_campaigns`, `set_campaign_budgets`, `campaign_scheduling`, `bulk_campaign_operations`)\n- **Facebook Ads Creator MCP** (`create_ad_creative`, `manage_creative_assets`, `a_b_test_creatives`)\n- **Facebook Audience Manager MCP** (`create_custom_audience`, `create_lookalike_audience`, `audience_insights`)\n- **Facebook Analytics MCP** (`get_performance_metrics`, `roi_analysis`, `competitive_benchmarking`)\n- **Instagram MCP** (`get_instagram_accounts`, `get_instagram_media`, `create_instagram_ad_creative`)\n- **Pinterest MCP** (`get_boards`, `create_pin`, `get_analytics`, `bulk_pin_creation`)\n\n### Content & Communication\n- **Color Psychology MCP** (`analyze_color_palette`, `get_color_emotions`) - For visual strategy\n- **SEO Research MCP** (`keyword_research`, `content_analysis`) - For social SEO\n- **SendGrid MCP** (`send_email`) - For influencer outreach\n- **WhatsApp Business MCP** - For community management\n\n### Analytics & Reporting\n- **VividWalls KPI Dashboard** (`get_business_metrics`, `analyze_performance`, `marketing_intelligence`)\n- **Supabase MCP** (`query-table`, `insert-data`) - For campaign data storage\n- **Google Drive MCP** (`create_folder`, `upload_file`) - For report distribution\n\n### Workflow Automation\n- **n8n MCP** (`execute_workflow`, `create_workflow`) - For campaign automation\n- **Neo4j Memory MCP** (`create_entities`, `create_relations`) - For influencer relationship mapping\n\n## Decision Framework\n\nAllocate 60% budget to top-performing platform\nLaunch campaigns on Tuesday-Thursday\nRespond to viral opportunities within 2 hours\nAdjust strategy based on weekly performance\nMaintain 3-month content calendar\nCoordinate with Marketing Director for aligned messaging\n\n## If Trigger condition equal {{ $json.trigger_conditions }} then follow these instructions and rules strictly\n\n### If the input is from a Chat message input {{ $('When chat message received') }} follow the instructions below:\nDetermine if the message is related to either a: daily content posting OR campaign launch request OR performance report request OR engagement crisis OR content calendar planning OR platform optimization OR competitor analysis OR influencer collaboration. If the message does not contain any of these indicators, please respond to the user with clarifying questions pertaining to these specific conditional triggers for your social media workflow to understand their intent relating to the social media initiative.\n\n## If Trigger condition Daily Content Posting Instructions & Rules\n\nImmediately trigger Content Scheduler Tool for daily product posts\nEnsure SEO-optimized descriptions for each platform\nAdapt content format for platform specifications:\n\nPinterest: Vertical images (2:3 ratio), rich pins with metadata\nInstagram: Square (1:1) or vertical (4:5), shopping tags, 30 hashtags\nFacebook: Multiple formats, link preview optimization\n\n\nSchedule posts at optimal times per platform analytics\nTrack posting confirmation across all platforms\nTimeline: Complete within 2 hours of trigger\n\n## If Trigger condition Campaign Launch Request Instructions & Rules\n\nCoordinate multi-platform campaign deployment\nAllocate budgets across platforms based on performance data:\n\nFacebook: 50-60% for broad reach and conversions\nInstagram: 30-35% for engagement and brand awareness\nPinterest: 10-15% for long-term discovery\n\n\nCreate platform-specific ad variations\nSet up conversion tracking and attribution\nImplement A/B testing for creative and audiences\nTimeline: Launch within 24-48 hours\nMonitor first 48 hours closely for optimization\n\n## If Trigger condition Performance Report Request Instructions & Rules\n\nUse Social Analytics Tool for comprehensive analysis\nGenerate cross-platform performance metrics:\n\nReach and impressions by platform\nEngagement rates (platform-specific benchmarks)\nConversion attribution and ROAS\nContent performance rankings\nAudience growth and demographics\n\n\nCompare against previous period and goals\nIdentify optimization opportunities\nDeliver report within 4 hours\n\n## If Trigger condition Engagement Crisis Instructions & Rules\n\nImmediately pause all scheduled content\nAssess crisis severity across platforms\nCoordinate response strategy:\n\nMinor: Quick response and monitoring\nModerate: Team coordination and messaging\nMajor: Full crisis protocol activation\n\n\nDraft appropriate responses per platform\nMonitor sentiment in real-time\nEscalate to Marketing Director if needed\nDocument incident for future protocols\n\n## If Trigger condition Content Calendar Planning Instructions & Rules\n\nAnalyze upcoming products and campaigns\nResearch trending content formats per platform\nCreate 30-day content calendar with:\n\nDaily posting schedule\nCampaign integration points\nSeasonal/trending opportunities\nUser-generated content slots\n\n\nBalance promotional and engaging content (60/40 rule)\nInclude platform-specific features (Reels, Stories, Idea Pins)\nTimeline: Deliver calendar within 24 hours\n\n## If Trigger condition Platform Optimization Instructions & Rules\n\nAnalyze current platform performance\nIdentify underperforming areas:\n\nLow engagement content types\nPoor performing time slots\nIneffective hashtags or keywords\n\n\nTest new features and formats\nOptimize posting frequency and timing\nRefine audience targeting\nImplement improvements within 48 hours\nTrack optimization impact for 2 weeks\n\n## If Trigger condition Competitor Analysis Instructions & Rules\n\nMonitor competitor activity across platforms\nAnalyze their successful content strategies\nIdentify content gaps and opportunities\nBenchmark performance metrics\nRecommend differentiation strategies\nTimeline: Complete analysis within 48 hours\n\n## If Trigger condition Influencer Collaboration Instructions & Rules\n\nIdentify relevant influencers per platform\nAnalyze influencer metrics and audience fit\nCoordinate collaboration terms\nCreate campaign briefs and guidelines\nTrack collaboration performance\nManage content approvals and posting\nTimeline: Setup within 1 week\n\n## Success Metrics and Platform KPIs\n\nFacebook: Engagement Rate >3%, ROAS >4:1\nInstagram: Follower Growth >5%/month, Story Views >30% of followers\nPinterest: Monthly Views >100K, Save Rate >2%\nOverall: Social Commerce Conversion >2.5%\nResponse Time: <2 hours for customer inquiries\nContent Performance: >10K reach per post average\n\n## Platform-Specific Best Practices\n\n### Pinterest\n\nFocus on seasonal content (plan 45+ days ahead)\nUse rich pins for all products\nCreate themed boards for different styles/rooms\nOptimize for Pinterest SEO with keywords\n\n### Instagram\n\nStories daily, Reels 3x/week minimum\nUse all 30 hashtags strategically\nLeverage shopping tags on all product posts\nEngage with comments within 1 hour\n\n### Facebook\n\nVideo content priority (2x engagement)\nDetailed targeting for paid campaigns\nActive community management in groups\nRetargeting campaigns for site visitors\n\n## Quality Control and Coordination\n\nAll content must maintain brand voice consistency\nVisual assets must meet platform specifications\nCopy must be adapted for platform culture\nCoordinate with Copy Writer/Editor agents as needed\nEnsure FTC compliance for sponsored content\nRegular performance review and strategy updates\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        1900,
        860
      ],
      "id": "7ac7d2dd-9277-44c4-a0e4-7ab5c7286053",
      "name": "Social Media Director Agent"
    },
    {
      "parameters": {
        "content": "## Memory\n**PostgreSQL Chat Memory Integration**\n\n### Session Management:\n- Session Key: `social_media_` + timestamp\n- Conversation Context: Maintains chat history for strategic decisions\n- Cross-session Learning: Platform performance patterns and successful strategies\n\n### Memory Features:\n- **Campaign History**: Past campaign performance and learnings\n- **Content Performance**: Successful content types per platform\n- **Audience Insights**: Platform-specific audience preferences\n- **Crisis Responses**: Previous incident handling and outcomes\n- **Optimization Patterns**: Successful optimization strategies",
        "height": 860,
        "width": 1040,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1000,
        1740
      ],
      "typeVersion": 1,
      "id": "e8f1246a-f844-4ae8-af3b-a85efb200689",
      "name": "Memory Documentation"
    },
    {
      "parameters": {
        "content": "## Input Variables\n**Session and Context Management**\n\n### Required Variables:\n- `$json.chatId`: Unique chat session identifier\n- `$json.session_id`: Social media session ID\n- `$now.toMillis()`: Timestamp for session management\n\n### Optional Context:\n- `$json.trigger_conditions`: Social media task type\n- `$json.platforms`: Target platforms (facebook, instagram, pinterest)\n- `$json.campaign_data`: Campaign details if applicable\n- `$json.content_items`: Products or content to post\n- `$json.budget_allocation`: Platform budget distribution\n- `$json.target_audience`: Audience parameters\n- `$json.urgency`: Task priority level\n\n### Default Session Key:\n`social_media_` + current timestamp for unique identification",
        "height": 520,
        "width": 440,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -420,
        2060
      ],
      "typeVersion": 1,
      "id": "6b650520-0183-4a42-b587-59aff0584ec2",
      "name": "Input Variables"
    },
    {
      "parameters": {
        "content": "## Pinterest Agent Tool\n**Workflow Integration: PinterestAgentWorkflowId**\n\n### AI Parameter Extraction:\n- `task_type`: \"={{ $fromAI('task_type', 'pinterest task: create_pins, manage_boards, campaign, analytics') }}\"\n- `content_ids`: \"={{ $fromAI('content_ids', 'product ids or content to pin') }}\"\n- `board_strategy`: \"={{ $fromAI('board_strategy', 'board organization approach') }}\"\n- `campaign_budget`: \"={{ $fromAI('campaign_budget', 'pinterest ad budget if applicable') }}\"\n- `target_keywords`: \"={{ $fromAI('target_keywords', 'pinterest seo keywords') }}\"\n- `scheduling`: \"={{ $fromAI('scheduling', 'pin timing strategy') }}\"\n\n### Capabilities:\n- Rich pin creation with product metadata\n- Strategic board management and organization  \n- Pinterest SEO optimization\n- Promoted pin campaigns\n- Seasonal content planning (45+ days ahead)\n- Analytics and trend identification\n\n### Performance Targets:\n- **Monthly Views**: 100K+ target\n- **Save Rate**: >2% for quality content\n- **Click-through Rate**: >0.5% for shopping pins\n- **Follower Growth**: 3-5% monthly",
        "height": 620,
        "width": 1140,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        120,
        1740
      ],
      "typeVersion": 1,
      "id": "732dd436-ddd5-4f44-9746-ebd2ac62763f",
      "name": "Pinterest Tool Details"
    },
    {
      "parameters": {
        "content": "## Facebook Agent Tool\n**Workflow Integration: FacebookAgentWorkflowId**\n\n### AI Parameter Extraction:\n- `task_type`: \"={{ $fromAI('task_type', 'facebook task: create_ad, post_content, manage_campaign, analytics') }}\"\n- `campaign_objective`: \"={{ $fromAI('campaign_objective', 'awareness, consideration, conversion') }}\"\n- `target_audience`: \"={{ $fromAI('target_audience', 'audience targeting parameters') }}\"\n- `ad_budget`: \"={{ $fromAI('ad_budget', 'daily or lifetime budget') }}\"\n- `content_type`: \"={{ $fromAI('content_type', 'video, image, carousel, collection') }}\"\n- `ad_creative`: \"={{ $fromAI('ad_creative', 'creative assets and copy') }}\"\n\n### Capabilities:\n- Advanced audience targeting and lookalike audiences\n- Dynamic product ads and catalogs\n- Multi-format content optimization\n- A/B testing for ads and audiences\n- Retargeting campaign management\n- Facebook pixel tracking and events\n- Messenger automation integration\n\n### Performance Targets:\n- **Engagement Rate**: >3% organic posts\n- **ROAS**: >4:1 for paid campaigns\n- **CTR**: >1.5% for ads\n- **Video Completion**: >50% for video content\n- **Cost per Conversion**: <$25",
        "height": 1020,
        "width": 1140,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1340,
        1740
      ],
      "typeVersion": 1,
      "id": "22b9a0ee-e684-4589-8c0a-01198d588558",
      "name": "Facebook Tool Details"
    },
    {
      "parameters": {
        "content": "## Instagram Agent Tool\n**Workflow Integration: InstagramAgentWorkflowId**\n\n### AI Parameter Extraction:\n- `task_type`: \"={{ $fromAI('task_type', 'instagram task: post, story, reel, shopping_tag, analytics') }}\"\n- `content_format`: \"={{ $fromAI('content_format', 'feed post, story, reel, igtv') }}\"\n- `hashtag_strategy`: \"={{ $fromAI('hashtag_strategy', 'hashtags to use') }}\"\n- `shopping_products`: \"={{ $fromAI('shopping_products', 'products to tag if shopping post') }}\"\n- `engagement_tactics`: \"={{ $fromAI('engagement_tactics', 'polls, questions, stickers for stories') }}\"\n- `posting_time`: \"={{ $fromAI('posting_time', 'optimal posting schedule') }}\"\n\n### Capabilities:\n- Multi-format content creation (Posts, Stories, Reels, IGTV)\n- Shopping tag integration with product catalog\n- Strategic hashtag research and implementation\n- Story features (polls, questions, stickers)\n- Influencer collaboration tools\n- Instagram Insights analysis\n- Content scheduling and automation\n\n### Performance Targets:\n- **Follower Growth**: >5% monthly\n- **Engagement Rate**: >4% average\n- **Story Views**: >30% of followers\n- **Reels Views**: >10K for trending content\n- **Shopping Tag CTR**: >2%",
        "height": 640,
        "width": 1060,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2580,
        1740
      ],
      "typeVersion": 1,
      "id": "6a1d7971-31d1-4b5c-b64d-3cd7ea27d4cb",
      "name": "Instagram Tool Details"
    },
    {
      "parameters": {
        "content": "## Social Analytics Tool\n**Workflow Integration: SocialAnalyticsWorkflowId**\n\n### AI Parameter Extraction:\n- `analysis_type`: \"={{ $fromAI('analysis_type', 'performance, engagement, roi, competitor') }}\"\n- `platforms`: \"={{ $fromAI('platforms', 'facebook, instagram, pinterest, all') }}\"\n- `time_period`: \"={{ $fromAI('time_period', 'date range for analysis') }}\"\n- `metrics_focus`: \"={{ $fromAI('metrics_focus', 'specific metrics to analyze') }}\"\n- `comparison_type`: \"={{ $fromAI('comparison_type', 'period-over-period, campaign, platform') }}\"\n\n### Capabilities:\n- Cross-platform performance dashboard\n- Unified reporting across all social channels\n- ROI calculation and attribution modeling\n- Competitor benchmarking\n- Content performance analysis\n- Audience insights and demographics\n- Trend identification and forecasting\n\n### Key Metrics Tracked:\n- **Reach & Impressions**: Platform comparison\n- **Engagement Metrics**: Likes, comments, shares, saves\n- **Conversion Tracking**: Social commerce performance\n- **Audience Growth**: Follower analytics\n- **Content Performance**: Top posts identification\n- **Campaign ROI**: Cost per result analysis",
        "height": 640,
        "width": 1040,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3720,
        1740
      ],
      "typeVersion": 1,
      "id": "455dc664-f998-4bb2-97cf-2827109d0361",
      "name": "Analytics Tool Details"
    },
    {
      "parameters": {
        "content": "## Content Scheduler Tool\n**Workflow Integration: ContentSchedulerWorkflowId**\n\n### AI Parameter Extraction:\n- `schedule_type`: \"={{ $fromAI('schedule_type', 'immediate, scheduled, recurring') }}\"\n- `content_items`: \"={{ $fromAI('content_items', 'products or content to schedule') }}\"\n- `platforms`: \"={{ $fromAI('platforms', 'target platforms for posting') }}\"\n- `posting_times`: \"={{ $fromAI('posting_times', 'optimal times per platform') }}\"\n- `content_variations`: \"={{ $fromAI('content_variations', 'platform-specific adaptations') }}\"\n\n### Capabilities:\n- Multi-platform content scheduling\n- Optimal time slot analysis per platform\n- Bulk upload and scheduling\n- Platform-specific content adaptation\n- Calendar view and management\n- Conflict detection and resolution\n- Auto-posting with confirmation tracking\n\n### Scheduling Features:\n- **Daily Product Posts**: Automated at optimal times\n- **Campaign Coordination**: Synchronized launches\n- **Time Zone Management**: Global audience consideration\n- **Queue Management**: Content pipeline visibility\n- **Recurring Posts**: Evergreen content automation",
        "height": 640,
        "width": 960,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4840,
        1740
      ],
      "typeVersion": 1,
      "id": "4ede5762-1721-4b55-9d7c-2c4a99960c93",
      "name": "Scheduler Tool Details"
    },
    {
      "parameters": {
        "content": "## Connection from another workflow or agent\n**Database Name for connecting agent or workflow: Social Media Director Agent**\n\n### Inter-Agent Communication:\n- **From Marketing Director**: Campaign briefs and strategy alignment\n- **From Marketing Campaign Agent**: Multi-channel campaign coordination\n- **From Content Strategy Agent**: Content assets and messaging\n- **From Analytics Director**: Performance insights and optimization\n- **From Copy Writer Agent**: Platform-adapted copy and captions\n\n### Workflow Integration:\n- **Trigger Method**: executeWorkflowTrigger with trigger_conditions\n- **Expected Inputs**: JSON object with task type and platform data\n- **Response Format**: Execution status and performance metrics\n- **Error Handling**: Platform-specific fallbacks and notifications\n\n### Communication Protocol:\n- **Real-time Triggers**: Immediate posting and crisis response\n- **Scheduled Tasks**: Daily content and campaign management\n- **Performance Updates**: Hourly metrics during campaigns",
        "height": 760,
        "width": 1960,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1040,
        20
      ],
      "typeVersion": 1,
      "id": "a5fb557f-48d9-4f68-a84e-4626b63a0d83",
      "name": "Inter-Agent Connection Details"
    },
    {
      "parameters": {
        "content": "## Agent Webhook Connection\nRespond to Webhook",
        "height": 840,
        "width": 1480,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -560,
        820
      ],
      "typeVersion": 1,
      "id": "617fa61a-db66-4548-9ecb-915a703ae3e5",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "## Trigger Conditions\n**Social Media Director Automation Triggers**\n\n### Primary Triggers:\n1. **daily_content_posting**: Scheduled product posts across platforms\n2. **campaign_launch_request**: Multi-platform campaign deployment\n3. **performance_report_request**: Analytics and reporting needs\n4. **engagement_crisis**: Negative sentiment or PR issues\n5. **content_calendar_planning**: Monthly content strategy\n6. **platform_optimization**: Performance improvement initiatives\n7. **competitor_analysis**: Competitive intelligence gathering\n8. **influencer_collaboration**: Partnership management\n\n### Trigger Logic:\n- **OR Condition**: Any trigger activates appropriate workflow\n- **Priority Handling**: Crisis > Daily posting > Campaigns > Reports\n- **Platform Routing**: Delegate to specific platform agents\n- **Coordination**: Multi-platform tasks run in parallel",
        "height": 680,
        "width": 480,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -420,
        60
      ],
      "typeVersion": 1,
      "id": "3c536dc5-4299-4ed1-9f09-7b68a1525f02",
      "name": "Trigger Conditions Details"
    },
    {
      "parameters": {
        "content": "### Data Payload & Webhook Configuration\n**Social Media Director Webhook Endpoints**\n\n#### Test Environment:\n**URL**: `http://localhost:5678/webhook-test/social-media-director-webhook`\n**Method**: POST\n**Content-Type**: application/json\n\n#### Production Environment:\n**URL**: `http://localhost:5678/webhook/social-media-director-webhook`\n**Method**: POST\n**Content-Type**: application/json\n\n#### Sample Payload:\n```json\n{\n  \"trigger_conditions\": \"daily_content_posting\",\n  \"platforms\": [\"facebook\", \"instagram\", \"pinterest\"],\n  \"content_items\": [\n    {\n      \"product_id\": \"ABSTRACT-001\",\n      \"title\": \"Modern Abstract Wall Art\",\n      \"description\": \"SEO optimized description\",\n      \"image_url\": \"https://example.com/image.jpg\",\n      \"price\": 89.99\n    }\n  ],\n  \"scheduling\": {\n    \"type\": \"optimal_time\",\n    \"timezone\": \"EST\"\n  },\n  \"campaign_data\": {\n    \"objective\": \"conversion\",\n    \"budget\": {\n      \"facebook\": 100,\n      \"instagram\": 75,\n      \"pinterest\": 25\n    }\n  }\n}\n```",
        "height": 800,
        "width": 720,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -140,
        840
      ],
      "typeVersion": 1,
      "id": "5badf2d1-8b04-4400-9e11-2c62e1bc5ccf",
      "name": "Webhook Configuration Details"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "social_media_knowledge",
        "toolDescription": "Access social media best practices, platform guidelines, content strategies, and performance benchmarks",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.1,
      "position": [
        3500,
        1340
      ],
      "id": "dfdee9c2-dae9-4c30-baae-48563adfc3d5",
      "name": "Social Media Knowledge Base",
      "credentials": {
        "postgres": {
          "id": "c76ccdf5-568d-4ef2-a0c2-00c7423d775f",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "content": "## Receives From\n**Data Sources and Integration Points**\n\n### Marketing Team:\n- **Marketing Director Agent**: Campaign strategies and budgets\n- **Marketing Campaign Agent**: Multi-channel campaign coordination\n- **Content Strategy Agent**: Content assets and messaging\n- **Copy Writer Agent**: Platform-adapted copy and captions\n\n### Analytics & Insights:\n- **Analytics Director**: Performance data and insights\n- **Market Research Agent**: Competitor analysis and trends\n- **Customer Sentiment Agent**: Social listening data\n\n### External Data Sources:\n- **Shopify MCP**: Product catalog and inventory\n- **Facebook Ads API**: Campaign performance data\n- **Pinterest API**: Pin analytics and trends\n- **Instagram API**: Engagement metrics\n\n### Data Flow Patterns:\n- **Real-time**: Crisis alerts, engagement spikes\n- **Scheduled**: Daily posting, campaign launches\n- **On-demand**: Performance reports, analysis\n- **Event-driven**: Product launches, sales events",
        "height": 700,
        "width": 480,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        100,
        60
      ],
      "typeVersion": 1,
      "id": "15555830-7ca5-4f57-90c2-e48bb48df197",
      "name": "Data Sources Details"
    },
    {
      "parameters": {
        "sessionKey": "={{ $json.chatId || $json.session_id || 'social_media_' + $now.toMillis() }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -160,
        1840
      ],
      "id": "051210a8-5f7a-431f-bf08-86a5fac13ecc",
      "name": "Memory",
      "credentials": {
        "postgres": {
          "id": "c76ccdf5-568d-4ef2-a0c2-00c7423d775f",
          "name": "Supabase DB"
        }
      }
    },
    {
      "parameters": {
        "content": "## Social Media Knowledge Base\nVector database containing:\n- Platform best practices and guidelines\n- Content performance benchmarks\n- Hashtag strategies and trends\n- Optimal posting times per platform\n- Crisis management protocols\n- Influencer collaboration templates\n- Campaign success patterns",
        "height": 680,
        "width": 620,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3320,
        980
      ],
      "typeVersion": 1,
      "id": "1c40a7a1-c7e4-4b47-a6b8-182b01c69742",
      "name": "Sticky Note19"
    },
    {
      "parameters": {
        "content": "## Input Variables & Context\n**Social Media Management Parameters**\n\n### Required Inputs:\n- **trigger_conditions**: Task type for social media\n- **platforms**: Target platforms array\n- **content_items**: Products or content to post\n\n### Campaign Context:\n- **campaign_objective**: Awareness, consideration, conversion\n- **budget_allocation**: Platform budget distribution\n- **target_audience**: Demographic and interest targeting\n- **creative_assets**: Images, videos, copy\n- **timeline**: Campaign duration and milestones\n\n### Analytics Parameters:\n- **time_period**: Date range for analysis\n- **metrics_focus**: Specific KPIs to track\n- **comparison_type**: Benchmark comparisons\n- **report_format**: Dashboard or detailed report\n\n### Session Management:\n- **Chat ID**: Unique conversation identifier\n- **Session Key**: `social_media_` + timestamp\n- **Platform State**: Current status per platform\n- **Campaign Tracking**: Active campaign monitoring",
        "height": 840,
        "width": 500,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1780,
        -220
      ],
      "typeVersion": 1,
      "id": "d07d884c-3652-4fce-a948-3f8406583823",
      "name": "Input Variables & Context"
    },
    {
      "parameters": {
        "height": 1920,
        "width": 360,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1000,
        -260
      ],
      "typeVersion": 1,
      "id": "67da9d06-5eec-4a90-b9b5-16b80d905d35",
      "name": "Sticky Note21"
    },
    {
      "parameters": {
        "content": "## LLM Integration\n**OpenAI GPT-4 Chat Model**\n\n### Model Configuration:\n- **Model**: GPT-4o (Optimized for multi-platform coordination)\n- **Temperature**: 0.7 (Creative content adaptation)\n- **Context Window**: Extended for campaign planning\n\n### AI Capabilities:\n- **Platform Intelligence**: Understanding platform-specific requirements\n- **Content Adaptation**: Tailoring content for each platform\n- **Campaign Orchestration**: Multi-platform coordination\n- **Performance Analysis**: Data-driven insights\n- **Crisis Detection**: Sentiment analysis and response\n\n### Integration Features:\n- **$fromAI() Functions**: Natural language to structured data\n- **Platform Routing**: Intelligent task delegation\n- **Budget Optimization**: Performance-based allocation\n- **Trend Analysis**: Identifying viral opportunities\n\n### Social Media Expertise:\n- **Platform Algorithms**: Understanding ranking factors\n- **Content Formats**: Optimal format selection\n- **Audience Targeting**: Precision demographics\n- **Engagement Tactics**: Platform-specific strategies",
        "height": 660,
        "width": 920,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2000,
        1740
      ],
      "typeVersion": 1,
      "id": "8ccb71fc-c91a-4ae3-8834-4e56adce1d37",
      "name": "LLM Integration Details"
    },
    {
      "parameters": {
        "content": "## Social Media Features and Tools:\n**Comprehensive Platform Management System**\n\n### Core Capabilities:\n- **Multi-Platform Posting**: Simultaneous content distribution\n- **Campaign Management**: Paid advertising orchestration\n- **Analytics Dashboard**: Unified performance tracking\n- **Content Scheduling**: Optimal timing automation\n- **Crisis Management**: Real-time monitoring and response\n- **Influencer Tracking**: Partnership management\n\n### Platform-Specific Features:\n- **Pinterest**: Rich pins, board strategy, seasonal planning\n- **Facebook**: Advanced targeting, dynamic ads, retargeting\n- **Instagram**: Shopping tags, reels, stories, IGTV\n\n### Automation Features:\n- **Daily Posting**: Automated product showcases\n- **A/B Testing**: Creative and audience optimization\n- **Performance Alerts**: Threshold-based notifications\n- **Content Adaptation**: Platform-specific formatting\n\n### Integration Points:\n- **Shopify**: Product catalog synchronization\n- **Analytics Tools**: Cross-platform reporting\n- **Content Library**: Asset management\n- **CRM Systems**: Customer data integration",
        "height": 680,
        "width": 560,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1900,
        2060
      ],
      "typeVersion": 1,
      "id": "599cb724-2dc0-4e51-a158-64c56b80b6dc",
      "name": "Social Media Features"
    },
    {
      "parameters": {
        "content": "## Main Orchestration Hub",
        "height": 1920,
        "width": 1800,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1440,
        -260
      ],
      "typeVersion": 1,
      "id": "1d52229c-e2db-443d-a1b1-5b23d5b8a9bd",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "content": "## Input\n### $json.chatId\n### $json.session_id 'social_media'\n### $now.toMillis()\n",
        "height": 140,
        "width": 340,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1440,
        2060
      ],
      "typeVersion": 1,
      "id": "e36fb842-bc02-4795-aa64-2ec246497112",
      "name": "Sticky Note23"
    },
    {
      "parameters": {
        "content": "",
        "height": 700,
        "width": 280
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        620,
        60
      ],
      "typeVersion": 1,
      "id": "71bc9252-edcb-4e49-961d-e9b268faae6f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "",
        "height": 500,
        "width": 500
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1780,
        660
      ],
      "typeVersion": 1,
      "id": "1c1789b3-0686-4917-8e63-90616b868da0",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "",
        "height": 800,
        "width": 280
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        620,
        840
      ],
      "typeVersion": 1,
      "id": "1d9451f3-ddd7-4259-904e-8c4280645969",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "",
        "height": 260,
        "width": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4480,
        1760
      ],
      "typeVersion": 1,
      "id": "8aebbb43-0655-496e-b63d-1b1dd890dde4",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "",
        "height": 260,
        "width": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5520,
        1760
      ],
      "typeVersion": 1,
      "id": "ce28117e-446f-47fb-9554-a18651ed674d",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "",
        "height": 260,
        "width": 280
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3340,
        1760
      ],
      "typeVersion": 1,
      "id": "44577adc-11ca-44e8-92ca-6bfc61f8df37",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "",
        "height": 260,
        "width": 280
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2180,
        1760
      ],
      "typeVersion": 1,
      "id": "4fa04434-c78c-4e7c-a798-bc98eade6949",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "",
        "height": 260,
        "width": 280
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        960,
        1760
      ],
      "typeVersion": 1,
      "id": "c6d70a75-fd5a-46b7-9c67-df9ce2b8e991",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "",
        "height": 260,
        "width": 280
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -260,
        1760
      ],
      "typeVersion": 1,
      "id": "47f4ddec-b80c-4075-bf5c-e67f6b8f2070",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "",
        "height": 260,
        "width": 280
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1380,
        1760
      ],
      "typeVersion": 1,
      "id": "66ef98a7-7c5a-48e1-9ff3-c98ccaecb7e7",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "",
        "height": 340,
        "width": 580
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3340,
        540
      ],
      "typeVersion": 1,
      "id": "9d0ff9aa-b2de-44bd-8445-1726a38bd898",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        3580,
        1460
      ],
      "id": "93bbae17-48f8-4541-b285-a86f8f426964",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "nMbluFwHsrVvkQBJ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 400,
        "width": 580
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3340,
        1240
      ],
      "typeVersion": 1,
      "id": "e11ecee2-fb87-46e8-8687-b0a04e02bcb3",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "## Respond to Webhook\n",
        "height": 420,
        "width": 620,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3320,
        480
      ],
      "typeVersion": 1,
      "id": "8f49dcc3-8724-4a7b-a711-046637075c03",
      "name": "Sticky Note20"
    },
    {
      "parameters": {
        "content": "",
        "height": 1040,
        "width": 280
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1040,
        400
      ],
      "typeVersion": 1,
      "id": "3a9056b5-6efd-4d50-8a7a-279953a6f2a4",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "",
        "height": 260,
        "width": 280
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1040,
        -160
      ],
      "typeVersion": 1,
      "id": "19c93d24-0c75-4a7f-9ba1-39acd7f6e40d",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.trigger_conditions }}",
                    "rightValue": "daily_content_posting",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "06a37173-d068-444d-aff1-b134c618ecbd"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a7bee11d-7c10-436b-bb4b-b274be98a608",
                    "leftValue": "={{ $json.trigger_conditions }}",
                    "rightValue": "campaign_launch_request",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "17198d9f-8e9a-4448-ad8b-13f559a7ea19",
                    "leftValue": "={{ $json.trigger_conditions }}",
                    "rightValue": "performance_report_request",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9c481949-87e5-4505-8b1f-9d5d015b46ec",
                    "leftValue": "={{ $json.trigger_conditions }}",
                    "rightValue": "engagement_crisis",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e5a724db-6ea0-4a22-bc8c-5dd732dc1cb4",
                    "leftValue": "={{ $json.trigger_conditions }}",
                    "rightValue": "content_calendar_planning",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2948351f-0611-4cd7-b6e5-4e0b858d5333",
                    "leftValue": "={{ $json.trigger_conditions }}",
                    "rightValue": "platform_optimization",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c36bdede-92ec-4a0c-bc5a-8be17bc3849b",
                    "leftValue": "={{ $json.trigger_conditions }}",
                    "rightValue": "competitor_analysis",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "015e3538-ea6b-4092-9095-68ea9cd67f1f",
                    "leftValue": "={{ $json.trigger_conditions }}",
                    "rightValue": "influencer_collaboration",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1120,
        760
      ],
      "id": "0276530c-5eff-4357-a896-fd21fd0dab13",
      "name": "Switch1"
    },
    {
      "parameters": {
        "content": "## Overview\nThe Social Media Director Agent orchestrates all social media strategies for VividWalls, managing platform-specific agents (Facebook, Instagram, Pinterest) and ensuring cohesive brand presence across all social channels.\n\n## Main Workflow Activity Diagram\n\n```mermaid\ngraph TB\n    %% Entry Points\n    Start([Agent Activation])\n    MarketingRequest[/Marketing Director Request/]\n    ScheduledPost[/Scheduled Content/]\n    TrendAlert[/Trend Alert/]\n    \n    %% Request Analysis\n    AnalyzeRequest{Analyze Social Request}\n    \n    %% Strategy Types\n    CampaignStrategy{Campaign<br/>Strategy?}\n    ContentStrategy{Content<br/>Strategy?}\n    EngagementStrategy{Engagement<br/>Initiative?}\n    CrisisResponse{Crisis<br/>Response?}\n    \n    %% Campaign Strategy Flow\n    DefineCampaign[Define Campaign Goals]\n    SelectPlatforms[Select Target Platforms]\n    AllocateBudget[Allocate Platform Budgets]\n    CreateContentPlan[Create Content Calendar]\n    \n    %% Content Strategy Flow\n    AnalyzeTrends[Analyze Current Trends]\n    DevelopThemes[Develop Content Themes]\n    CreateGuidelines[Create Brand Guidelines]\n    AssignCreation[Assign Content Creation]\n    \n    %% Platform Agents\n    subgraph Platform Agents\n        FacebookAgent[Facebook Agent]\n        InstagramAgent[Instagram Agent]\n        PinterestAgent[Pinterest Agent]\n    end\n    \n    %% Supporting Agents\n    subgraph Support Agents\n        CopyWriter[Copy Writer Agent]\n        ColorAnalysis[Color Analysis Agent]\n    end\n    \n    %% MCP Tools\n    subgraph MCP Integration\n        FacebookMCP[fa:fa-facebook Facebook Ads MCP]\n        PinterestMCP[fa:fa-pinterest Pinterest MCP]\n        ShopifyMCP[fa:fa-shopping-cart Shopify MCP]\n        ColorMCP[fa:fa-palette Color Psychology MCP]\n        SEOMCP[fa:fa-search SEO Research MCP]\n    end\n    \n    %% Platform Coordination\n    CoordinatePlatforms[Coordinate Platform Strategies]\n    \n    subgraph Platform Tasks\n        FBTasks[Facebook Tasks]\n        IGTasks[Instagram Tasks]\n        PinTasks[Pinterest Tasks]\n    end\n    \n    %% Monitoring\n    MonitorPerformance[Monitor Platform Performance]\n    AnalyzeEngagement[Analyze Engagement Metrics]\n    OptimizeStrategy[Optimize Strategies]\n    \n    %% Reporting\n    ConsolidateMetrics[Consolidate Metrics]\n    GenerateReport[Generate Performance Report]\n    \n    %% Main Flow\n    Start --> MarketingRequest\n    Start --> ScheduledPost\n    Start --> TrendAlert\n    \n    MarketingRequest --> AnalyzeRequest\n    ScheduledPost --> AnalyzeRequest\n    TrendAlert --> AnalyzeRequest\n    \n    AnalyzeRequest --> CampaignStrategy\n    AnalyzeRequest --> ContentStrategy\n    AnalyzeRequest --> EngagementStrategy\n    AnalyzeRequest --> CrisisResponse\n    \n    %% Campaign Path\n    CampaignStrategy -->|Yes| DefineCampaign\n    DefineCampaign --> SelectPlatforms\n    SelectPlatforms --> AllocateBudget\n    AllocateBudget --> CreateContentPlan\n    CreateContentPlan --> CoordinatePlatforms\n    \n    %% Content Path\n    ContentStrategy -->|Yes| AnalyzeTrends\n    AnalyzeTrends --> SEOMCP\n    AnalyzeTrends --> DevelopThemes\n    DevelopThemes --> CreateGuidelines\n    CreateGuidelines --> AssignCreation\n    AssignCreation --> CopyWriter\n    AssignCreation --> ColorAnalysis\n    \n    %% Platform Coordination\n    CoordinatePlatforms --> FBTasks\n    CoordinatePlatforms --> IGTasks\n    CoordinatePlatforms --> PinTasks\n    \n    FBTasks --> FacebookAgent\n    IGTasks --> InstagramAgent\n    PinTasks --> PinterestAgent\n    \n    %% Monitoring Flow\n    FacebookAgent --> MonitorPerformance\n    InstagramAgent --> MonitorPerformance\n    PinterestAgent --> MonitorPerformance\n    \n    MonitorPerformance --> AnalyzeEngagement\n    AnalyzeEngagement --> OptimizeStrategy\n    OptimizeStrategy --> ConsolidateMetrics\n    ConsolidateMetrics --> GenerateReport\n    \n    GenerateReport --> End([Workflow Complete])\n```\n## Best Practices\n\n1. **Consistent Brand Voice**: Maintain identity across platforms\n2. **Platform-Native Content**: Optimize for each platform's format\n3. **Community First**: Prioritize engagement over promotion\n4. **Data-Driven Decisions**: Test, measure, optimize\n5. **Trend Awareness**: Stay current with platform changes\n6. **Crisis Preparedness**: Have response protocols ready",
        "height": 2460,
        "width": 800,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2440,
        6280
      ],
      "typeVersion": 1,
      "id": "7a45a6bb-400f-4c0c-b582-d3c72231d149",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "content": "## Cross-Platform Campaign Coordination\n\n```mermaid\nsequenceDiagram\n    participant SD as Social Director\n    participant FB as Facebook Agent\n    participant IG as Instagram Agent\n    participant PIN as Pinterest Agent\n    participant CW as Copy Writer\n    participant CA as Color Analysis\n    participant MCP as MCP Tools\n    \n    %% Campaign Planning\n    Note over SD: New Product Launch Campaign\n    \n    SD->>CW: Request campaign copy\n    SD->>CA: Analyze product colors\n    \n    CW->>MCP: Get trending hashtags\n    MCP-->>CW: Hashtag recommendations\n    CW-->>SD: Campaign copy ready\n    \n    CA->>MCP: Analyze color psychology\n    MCP-->>CA: Color insights\n    CA-->>SD: Color strategy ready\n    \n    %% Platform Briefing\n    par Facebook Campaign\n        SD->>FB: Facebook campaign brief\n        FB->>MCP: Create ad sets\n        MCP-->>FB: Ad sets created\n        FB-->>SD: Facebook ready\n    and Instagram Campaign\n        SD->>IG: Instagram content plan\n        IG->>MCP: Schedule posts\n        MCP-->>IG: Posts scheduled\n        IG-->>SD: Instagram ready\n    and Pinterest Campaign\n        SD->>PIN: Pinterest board strategy\n        PIN->>MCP: Create pins\n        MCP-->>PIN: Pins created\n        PIN-->>SD: Pinterest ready\n    end\n    \n    %% Launch Coordination\n    SD->>SD: Coordinate launch timing\n    SD->>FB: Launch Facebook ads\n    SD->>IG: Publish Instagram content\n    SD->>PIN: Publish Pinterest pins\n    \n    %% Performance Monitoring\n    loop Daily Monitoring\n        FB-->>SD: Facebook metrics\n        IG-->>SD: Instagram metrics\n        PIN-->>SD: Pinterest metrics\n        SD->>SD: Analyze & optimize\n    end\n```",
        "height": 980,
        "width": 680,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1560,
        6280
      ],
      "typeVersion": 1,
      "id": "f3ed28aa-17c9-470f-a4d3-342163a9474c",
      "name": "Sticky Note18"
    },
    {
      "parameters": {
        "content": "## Content Strategy Workflow\n\n```mermaid\ngraph TD\n    %% Strategy Development\n    StrategyStart[Content Strategy Development]\n    \n    %% Research Phase\n    subgraph Research\n        AudienceAnalysis[Audience Analysis]\n        CompetitorReview[Competitor Review]\n        TrendResearch[Trend Research]\n        PlatformBest[Platform Best Practices]\n    end\n    \n    %% Content Planning\n    ContentCalendar[Create Content Calendar]\n    \n    subgraph Content Types\n        ProductShowcase[Product Showcases]\n        Lifestyle[Lifestyle Content]\n        Educational[Educational Posts]\n        UserGenerated[User Generated Content]\n        BehindScenes[Behind the Scenes]\n    end\n    \n    %% Platform Adaptation\n    AdaptContent{Adapt for Platform}\n    \n    subgraph Platform Formats\n        FBFormats[Facebook:<br/>Videos, Carousels, Stories]\n        IGFormats[Instagram:<br/>Reels, Posts, Stories]\n        PinFormats[Pinterest:<br/>Pins, Idea Pins, Boards]\n    end\n    \n    %% Content Creation\n    AssignCreation[Assign to Creators]\n    ReviewContent[Review Content]\n    ApproveContent{Content Approved?}\n    \n    %% Distribution\n    DistributePlatforms[Distribute to Platforms]\n    \n    %% Flow\n    StrategyStart --> AudienceAnalysis\n    StrategyStart --> CompetitorReview\n    StrategyStart --> TrendResearch\n    StrategyStart --> PlatformBest\n    \n    AudienceAnalysis --> ContentCalendar\n    CompetitorReview --> ContentCalendar\n    TrendResearch --> ContentCalendar\n    PlatformBest --> ContentCalendar\n    \n    ContentCalendar --> ProductShowcase\n    ContentCalendar --> Lifestyle\n    ContentCalendar --> Educational\n    ContentCalendar --> UserGenerated\n    ContentCalendar --> BehindScenes\n    \n    ProductShowcase --> AdaptContent\n    Lifestyle --> AdaptContent\n    Educational --> AdaptContent\n    UserGenerated --> AdaptContent\n    BehindScenes --> AdaptContent\n    \n    AdaptContent --> FBFormats\n    AdaptContent --> IGFormats\n    AdaptContent --> PinFormats\n    \n    FBFormats --> AssignCreation\n    IGFormats --> AssignCreation\n    PinFormats --> AssignCreation\n    \n    AssignCreation --> ReviewContent\n    ReviewContent --> ApproveContent\n    \n    ApproveContent -->|No| AssignCreation\n    ApproveContent -->|Yes| DistributePlatforms\n```",
        "height": 1340,
        "width": 720,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -800,
        6280
      ],
      "typeVersion": 1,
      "id": "c7515892-d03e-4ab0-abbd-313a41670c35",
      "name": "Sticky Note22"
    },
    {
      "parameters": {
        "content": "## Engagement Strategy Implementation\n\n```mermaid\ngraph LR\n    %% Engagement Goals\n    EngagementGoals[Set Engagement Goals]\n    \n    %% Tactics\n    subgraph Engagement Tactics\n        CommunityMgmt[Community Management]\n        Contests[Contests & Giveaways]\n        Influencers[Influencer Partnerships]\n        LiveEvents[Live Events]\n        Polls[Polls & Questions]\n    end\n    \n    %% Platform Execution\n    subgraph Platform Implementation\n        FBGroups[Facebook Groups]\n        IGStories[Instagram Stories]\n        PinCommunity[Pinterest Communities]\n    end\n    \n    %% Monitoring\n    MonitorEngagement[Monitor Engagement]\n    \n    subgraph Metrics\n        Comments[Comment Rate]\n        Shares[Share Rate]\n        Saves[Save Rate]\n        Reach[Reach Growth]\n    end\n    \n    %% Optimization\n    AnalyzeResults[Analyze Results]\n    AdjustTactics[Adjust Tactics]\n    \n    %% Flow\n    EngagementGoals --> CommunityMgmt\n    EngagementGoals --> Contests\n    EngagementGoals --> Influencers\n    EngagementGoals --> LiveEvents\n    EngagementGoals --> Polls\n    \n    CommunityMgmt --> FBGroups\n    Contests --> IGStories\n    Influencers --> PinCommunity\n    LiveEvents --> IGStories\n    Polls --> FBGroups\n    \n    FBGroups --> MonitorEngagement\n    IGStories --> MonitorEngagement\n    PinCommunity --> MonitorEngagement\n    \n    MonitorEngagement --> Comments\n    MonitorEngagement --> Shares\n    MonitorEngagement --> Saves\n    MonitorEngagement --> Reach\n    \n    Comments --> AnalyzeResults\n    Shares --> AnalyzeResults\n    Saves --> AnalyzeResults\n    Reach --> AnalyzeResults\n    \n    AnalyzeResults --> AdjustTactics\n    AdjustTactics --> EngagementGoals\n```",
        "height": 1140,
        "width": 680,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        6280
      ],
      "typeVersion": 1,
      "id": "48a43b6f-55bc-429a-b1f5-d34008f1533f",
      "name": "Sticky Note24"
    },
    {
      "parameters": {
        "content": "## Platform Performance Dashboard\n\n```mermaid\ngraph TD\n    %% Data Collection\n    CollectData[Collect Platform Data]\n    \n    %% Platform Metrics\n    subgraph Facebook Metrics\n        FBReach[Reach]\n        FBEngagement[Engagement Rate]\n        FBROAS[Ad ROAS]\n        FBConversions[Conversions]\n    end\n    \n    subgraph Instagram Metrics\n        IGFollowers[Follower Growth]\n        IGEngagement[Engagement Rate]\n        IGStoryViews[Story Views]\n        IGReels[Reels Performance]\n    end\n    \n    subgraph Pinterest Metrics\n        PinImpressions[Impressions]\n        PinSaves[Save Rate]\n        PinClicks[Click Rate]\n        PinFollowers[Follower Growth]\n    end\n    \n    %% Analysis\n    ConsolidateData[Consolidate All Data]\n    CalculateROI[Calculate Social ROI]\n    IdentifyTrends[Identify Trends]\n    \n    %% Reporting\n    CreateDashboard[Create Executive Dashboard]\n    \n    subgraph Dashboard Elements\n        Overview[Platform Overview]\n        TopContent[Top Performing Content]\n        GrowthMetrics[Growth Metrics]\n        Recommendations[Recommendations]\n    end\n    \n    %% Action Items\n    GenerateActions[Generate Action Items]\n    \n    %% Flow\n    CollectData --> FBReach\n    CollectData --> IGFollowers\n    CollectData --> PinImpressions\n    \n    FBReach --> FBEngagement\n    FBEngagement --> FBROAS\n    FBROAS --> FBConversions\n    \n    IGFollowers --> IGEngagement\n    IGEngagement --> IGStoryViews\n    IGStoryViews --> IGReels\n    \n    PinImpressions --> PinSaves\n    PinSaves --> PinClicks\n    PinClicks --> PinFollowers\n    \n    FBConversions --> ConsolidateData\n    IGReels --> ConsolidateData\n    PinFollowers --> ConsolidateData\n    \n    ConsolidateData --> CalculateROI\n    CalculateROI --> IdentifyTrends\n    IdentifyTrends --> CreateDashboard\n    \n    CreateDashboard --> Overview\n    CreateDashboard --> TopContent\n    CreateDashboard --> GrowthMetrics\n    CreateDashboard --> Recommendations\n    \n    Recommendations --> GenerateActions\n```",
        "height": 1320,
        "width": 680,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        760,
        6280
      ],
      "typeVersion": 1,
      "id": "2d01a768-a8a7-4c13-b23a-3738b3aa59ad",
      "name": "Sticky Note25"
    },
    {
      "parameters": {
        "content": "## Crisis Management Protocol\n\n```mermaid\ngraph TD\n    %% Crisis Detection\n    CrisisAlert[Social Media Crisis Alert]\n    \n    %% Assessment\n    AssessSituation{Assess Severity}\n    \n    %% Severity Levels\n    Minor[Minor Issue:<br/>Isolated complaint]\n    Moderate[Moderate Issue:<br/>Multiple complaints]\n    Major[Major Crisis:<br/>Viral negative content]\n    \n    %% Response Actions\n    %% Minor Response\n    QuickResponse[Quick Response]\n    MonitorSituation[Monitor Situation]\n    \n    %% Moderate Response\n    PauseScheduled[Pause Scheduled Content]\n    TeamResponse[Coordinate Team Response]\n    \n    %% Major Response\n    CrisisTeam[Activate Crisis Team]\n    StopAllContent[Stop All Content]\n    PRStrategy[Develop PR Strategy]\n    \n    %% Resolution\n    ImplementResponse[Implement Response Plan]\n    MonitorSentiment[Monitor Sentiment]\n    \n    %% Recovery\n    GradualReturn[Gradual Return to Normal]\n    PostAnalysis[Post-Crisis Analysis]\n    UpdateProtocols[Update Crisis Protocols]\n    \n    %% Flow\n    CrisisAlert --> AssessSituation\n    \n    AssessSituation --> Minor\n    AssessSituation --> Moderate\n    AssessSituation --> Major\n    \n    Minor --> QuickResponse\n    QuickResponse --> MonitorSituation\n    \n    Moderate --> PauseScheduled\n    PauseScheduled --> TeamResponse\n    \n    Major --> CrisisTeam\n    CrisisTeam --> StopAllContent\n    StopAllContent --> PRStrategy\n    \n    TeamResponse --> ImplementResponse\n    PRStrategy --> ImplementResponse\n    MonitorSituation --> ImplementResponse\n    \n    ImplementResponse --> MonitorSentiment\n    MonitorSentiment --> GradualReturn\n    GradualReturn --> PostAnalysis\n    PostAnalysis --> UpdateProtocols\n```\n",
        "height": 1080,
        "width": 680,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1520,
        6280
      ],
      "typeVersion": 1,
      "id": "664cb6b5-e837-4c22-915c-70da7e670fb2",
      "name": "Sticky Note26"
    },
    {
      "parameters": {
        "content": "## Platform-Specific Strategies\n\n### Facebook Strategy\n```mermaid\ngraph LR\n    FBStrategy[Facebook Strategy]\n    \n    subgraph Content Mix\n        Video[60% Video Content]\n        Images[30% Image Posts]\n        Links[10% Link Shares]\n    end\n    \n    subgraph Engagement\n        Groups[Facebook Groups]\n        Events[Virtual Events]\n        Messenger[Messenger Automation]\n    end\n    \n    subgraph Advertising\n        Retargeting[Retargeting Campaigns]\n        Lookalike[Lookalike Audiences]\n        Dynamic[Dynamic Product Ads]\n    end\n    \n    FBStrategy --> Content\n    FBStrategy --> Engagement\n    FBStrategy --> Advertising\n```\n\n### Instagram Strategy\n```mermaid\ngraph LR\n    IGStrategy[Instagram Strategy]\n    \n    subgraph Content Types\n        Reels[40% Reels]\n        Posts[30% Feed Posts]\n        Stories[20% Stories]\n        IGTV[10% IGTV]\n    end\n    \n    subgraph Features\n        Shopping[Shopping Tags]\n        Guides[Instagram Guides]\n        Live[Live Sessions]\n    end\n    \n    subgraph Growth\n        Hashtags[Strategic Hashtags]\n        Collabs[Collaborations]\n        UGC[User Content]\n    end\n    \n    IGStrategy --> Content\n    IGStrategy --> Features\n    IGStrategy --> Growth\n```\n\n### Pinterest Strategy\n```mermaid\ngraph LR\n    PinStrategy[Pinterest Strategy]\n    \n    subgraph Board Strategy\n        Seasonal[Seasonal Boards]\n        Style[Style Boards]\n        Room[Room-Specific Boards]\n    end\n    \n    subgraph Pin Types\n        Standard[Standard Pins]\n        Idea[Idea Pins]\n        Shopping[Shopping Pins]\n    end\n    \n    subgraph SEO\n        Keywords[Keyword Optimization]\n        Descriptions[Rich Descriptions]\n        Timing[Strategic Timing]\n    end\n    \n    PinStrategy --> Board\n    PinStrategy --> Pin\n    PinStrategy --> SEO\n```",
        "height": 1520,
        "width": 680,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2280,
        6280
      ],
      "typeVersion": 1,
      "id": "774f0077-2449-4d5e-bca3-3904912cea9b",
      "name": "Sticky Note27"
    },
    {
      "parameters": {
        "content": "## Key Performance Indicators\n\n### Platform KPIs\n| Platform | Metric | Target | Frequency |\n|----------|--------|--------|-----------|\n| Facebook | Engagement Rate | 3%+ | Daily |\n| Facebook | ROAS | 4:1 | Weekly |\n| Instagram | Follower Growth | 5%/month | Monthly |\n| Instagram | Story Views | 30% of followers | Daily |\n| Pinterest | Monthly Views | 100K+ | Monthly |\n| Pinterest | Save Rate | 2%+ | Weekly |\n\n### Content Performance Benchmarks\n- **Video Content**: 2x engagement vs. static posts\n- **User-Generated Content**: 4x more likely to convert\n- **Stories**: 500+ views per story\n- **Reels**: 10K+ views for trending content\n\n## Decision Framework\n\n### Platform Selection Criteria\n1. **Audience Presence**: Where target customers are active\n2. **Content Fit**: Platform suits our visual content\n3. **ROI Potential**: Historical performance data\n4. **Resource Requirements**: Team capacity\n5. **Brand Alignment**: Platform culture matches brand\n\n### Budget Allocation Formula\n```\nPlatform Budget = Base Budget  Performance Score  Audience Size Factor\nWhere:\n- Performance Score = (Current ROAS / Target ROAS)\n- Audience Size Factor = Platform Audience / Total Social Audience\n```",
        "height": 760,
        "width": 760,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3040,
        6280
      ],
      "typeVersion": 1,
      "id": "7b940fe3-6f2b-48a1-81c4-d7fc3fe480f6",
      "name": "Sticky Note28"
    },
    {
      "parameters": {
        "content": "## Integration Examples\n\n### Cross-Platform Campaign Launch\n```javascript\n{\n  \"campaign\": \"Summer Art Collection 2025\",\n  \"platforms\": {\n    \"facebook\": {\n      \"budget\": 2000,\n      \"content\": [\"video_ads\", \"carousel_ads\"],\n      \"targeting\": \"art_enthusiasts\"\n    },\n    \"instagram\": {\n      \"budget\": 1500,\n      \"content\": [\"reels\", \"stories\", \"posts\"],\n      \"hashtags\": [\"summerart\", \"wallart2025\"]\n    },\n    \"pinterest\": {\n      \"budget\": 500,\n      \"content\": [\"product_pins\", \"idea_pins\"],\n      \"boards\": [\"summer_home_decor\"]\n    }\n  },\n  \"timeline\": \"30_days\",\n  \"kpi_targets\": {\n    \"reach\": 500000,\n    \"engagement\": 15000,\n    \"conversions\": 300\n  }\n}\n```\n",
        "height": 560,
        "width": 660,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3880,
        6280
      ],
      "typeVersion": 1,
      "id": "241a6c50-ffd5-43f3-8293-8b4a6df5fe83",
      "name": "Sticky Note29"
    },
    {
      "parameters": {
        "content": "# Social Media Director Agent Workflow\n",
        "height": 2720,
        "width": 7220,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2580,
        6160
      ],
      "typeVersion": 1,
      "id": "62741ba2-c0f2-4ac4-aadd-809bee08ac4e",
      "name": "Sticky Note30"
    },
    {
      "parameters": {
        "content": "# MAS Event Output Payload Examples",
        "height": 2420,
        "width": 4760,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1540,
        3220
      ],
      "typeVersion": 1,
      "id": "0c68ebd4-1822-439b-89f9-ada4702c3145",
      "name": "Sticky Note31"
    },
    {
      "parameters": {
        "content": "### 1. Feed Post Creation - Product Launch from Catalog\n**Source**: Product Manager Agent (New Product Alert)  Social Media Director  Instagram Agent\n```json\n{\n  \"trigger_conditions\": \"feed_post_creation\",\n  \"content_type\": \"product_carousel\",\n  \"products_from_catalog\": [\n    {\n      \"handle\": \"abstract-ocean-dreams-canvas\",\n      \"title\": \"Abstract Ocean Dreams Canvas\",\n      \"variant_sku\": \"AOD-2436-BLU\",\n      \"option1_name\": \"Size\",\n      \"option1_value\": \"24x36 inches\",\n      \"variant_price\": 189.99,\n      \"product_category\": \"Canvas Prints\",\n      \"type\": \"Wall Art\",\n      \"tags\": \"abstract, ocean, blue, canvas, living-room, bedroom, coastal\",\n      \"color\": \"Blue, Teal, White\",\n      \"seo_title\": \"Abstract Ocean Dreams Canvas Wall Art | Blue Abstract Painting\",\n      \"seo_description\": \"Transform your space with this stunning abstract ocean canvas. Features flowing blue and teal brushstrokes perfect for coastal or modern decor.\"\n    }\n  ],\n  \"creative_assets\": {\n    \"images\": [\n      {\n        \"src\": \"https://cdn.vividwalls.com/products/abstract-ocean-dreams-main.jpg\",\n        \"position\": 1,\n        \"alt_text\": \"Abstract ocean canvas art in blue and teal hanging in modern living room\"\n      },\n      {\n        \"src\": \"https://cdn.vividwalls.com/products/abstract-ocean-dreams-detail.jpg\",\n        \"position\": 2,\n        \"alt_text\": \"Close up detail of abstract ocean painting texture\"\n      },\n      {\n        \"src\": \"https://cdn.vividwalls.com/products/abstract-ocean-dreams-room.jpg\",\n        \"position\": 3,\n        \"alt_text\": \"Abstract ocean art displayed above sofa in coastal themed room\"\n      }\n    ]\n  },\n  \"caption_template\": {\n    \"use_product_data\": true,\n    \"include_body_html\": true,\n    \"add_size_options\": true,\n    \"mention_google_category\": \"Home & Garden > Decor > Artwork > Posters, Prints, & Visual Artwork\"\n  },\n  \"hashtags\": [\n    \"#AbstractOceanArt\", \"#BlueWallArt\", \"#CoastalDecor\", \"#ModernCanvas\",\n    \"#VividWalls\", \"#AbstractPainting\", \"#OceanInspired\", \"#WallDecor\"\n  ],\n  \"shopping_tags\": {\n    \"enable\": true,\n    \"show_price\": true,\n    \"link_variants\": [\"16x20 inches\", \"24x36 inches\", \"30x40 inches\"]\n  }\n}\n```",
        "height": 980,
        "width": 820,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1640,
        3360
      ],
      "typeVersion": 1,
      "id": "367aa2d1-06d3-485e-828d-c3a4adbf9799",
      "name": "Sticky Note32"
    },
    {
      "parameters": {
        "content": "### 2. Story Posting\n**Source**: Social Media Director Agent (Daily Content Schedule)\n```json\n{\n  \"trigger_conditions\": \"story_posting\",\n  \"content_type\": \"story_sequence\",\n  \"creative_assets\": {\n    \"images\": [\n      \"https://cdn.vividwalls.com/stories/morning-studio-1.jpg\",\n      \"https://cdn.vividwalls.com/stories/artist-painting-2.jpg\",\n      \"https://cdn.vividwalls.com/stories/new-arrival-teaser-3.jpg\"\n    ],\n    \"videos\": [\n      \"https://cdn.vividwalls.com/stories/painting-process-4.mp4\"\n    ],\n    \"story_elements\": [\n      {\n        \"frame\": 1,\n        \"type\": \"image\",\n        \"duration\": 5,\n        \"text_overlay\": \"Good morning art lovers! \",\n        \"stickers\": [\"location\", \"time\"]\n      },\n      {\n        \"frame\": 2,\n        \"type\": \"image\",\n        \"duration\": 7,\n        \"interactive\": {\n          \"type\": \"poll\",\n          \"question\": \"What's your favorite art style?\",\n          \"options\": [\"Abstract\", \"Modern\"]\n        }\n      },\n      {\n        \"frame\": 3,\n        \"type\": \"image\",\n        \"duration\": 5,\n        \"text_overlay\": \"New arrival dropping tomorrow! \",\n        \"stickers\": [\"countdown\", \"new\"]\n      },\n      {\n        \"frame\": 4,\n        \"type\": \"video\",\n        \"duration\": 15,\n        \"music\": {\n          \"track_id\": \"trending_calm_instrumental_2024\",\n          \"start_time\": 0\n        },\n        \"caption\": \"Behind the scenes of our latest creation\"\n      }\n    ]\n  },\n  \"hashtags\": [\"#VividWallsStudio\", \"#ArtProcess\", \"#BehindTheScenes\", \"#NewArtComing\", \"#AbstractArtist\"],\n  \"target_audience\": {\n    \"custom_audience\": \"engaged_followers\",\n    \"lookalike\": false\n  },\n  \"campaign_objective\": \"engagement\",\n  \"posting_time\": \"2024-03-15T13:00:00Z\",\n  \"save_to_highlights\": true,\n  \"highlight_name\": \"Studio Life\",\n  \"urgency\": \"high\"\n}\n```",
        "height": 1080,
        "width": 820,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2580,
        3360
      ],
      "typeVersion": 1,
      "id": "dffefa13-2ed6-47de-b795-e79dccbfab22",
      "name": "Sticky Note33"
    },
    {
      "parameters": {
        "content": "### 3. Reel Creation\n**Source**: Content Strategy Agent or Marketing Campaign Agent\n```json\n{\n  \"trigger_conditions\": \"reel_creation\",\n  \"content_type\": \"transformation_reel\",\n  \"creative_assets\": {\n    \"videos\": [\n      \"https://cdn.vividwalls.com/reels/empty-wall-before.mp4\",\n      \"https://cdn.vividwalls.com/reels/hanging-process.mp4\",\n      \"https://cdn.vividwalls.com/reels/final-reveal.mp4\"\n    ],\n    \"images\": [],\n    \"transitions\": [\"smooth_cut\", \"zoom_in\", \"reveal\"],\n    \"duration\": 28\n  },\n  \"hashtags\": [\n    \"#HomeTransformation\", \"#WallArtDecor\", \"#BeforeAndAfter\",\n    \"#DecorReels\", \"#InteriorDesignReels\", \"#ArtReels\",\n    \"#ReelsInstagram\", \"#ViralReels\", \"#DecorTips\"\n  ],\n  \"target_audience\": {\n    \"interests\": [\"home_makeover\", \"diy_decor\", \"interior_design_videos\"],\n    \"age_range\": \"22-45\",\n    \"gender\": \"all\",\n    \"engagement_level\": \"high\"\n  },\n  \"campaign_objective\": \"reach\",\n  \"audio\": {\n    \"type\": \"trending\",\n    \"audio_id\": \"7892364829374\",\n    \"audio_name\": \"Oh no, oh no, oh no no no\",\n    \"start_time\": 0,\n    \"volume\": 0.8\n  },\n  \"caption\": \"That empty wall was calling for something special! \\n\\nFrom bland to GRAND in seconds \\n\\nWhich transformation was your favorite? Comment below! \\n\\n#VividWalls #WallArt #HomeDecor\",\n  \"cover_image\": \"https://cdn.vividwalls.com/reels/cover-transformation.jpg\",\n  \"posting_time\": \"2024-03-15T19:30:00Z\",\n  \"urgency\": \"high\"\n}\n```",
        "height": 720,
        "width": 800,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3520,
        3360
      ],
      "typeVersion": 1,
      "id": "1912659b-74ef-4a04-831b-1c8200669456",
      "name": "Sticky Note34"
    },
    {
      "parameters": {
        "content": "### 4. Shopping Post\n**Source**: Shopify Agent (New Product Alert) or Marketing Campaign Agent\n```json\n{\n  \"trigger_conditions\": \"shopping_post\",\n  \"content_type\": \"product_showcase\",\n  \"creative_assets\": {\n    \"images\": [\n      \"https://cdn.vividwalls.com/products/sunset-collection-1.jpg\",\n      \"https://cdn.vividwalls.com/products/sunset-collection-2.jpg\",\n      \"https://cdn.vividwalls.com/products/sunset-collection-3.jpg\",\n      \"https://cdn.vividwalls.com/products/sunset-collection-4.jpg\",\n      \"https://cdn.vividwalls.com/products/sunset-collection-5.jpg\"\n    ],\n    \"product_tags\": [\n      {\n        \"image_index\": 0,\n        \"products\": [\n          {\n            \"x\": 0.5,\n            \"y\": 0.5,\n            \"product_id\": \"SUNSET-001\"\n          }\n        ]\n      },\n      {\n        \"image_index\": 1,\n        \"products\": [\n          {\n            \"x\": 0.3,\n            \"y\": 0.4,\n            \"product_id\": \"SUNSET-002\"\n          }\n        ]\n      }\n    ]\n  },\n  \"hashtags\": [\n    \"#InstagramShopping\", \"#ShopNow\", \"#ArtForSale\",\n    \"#ShoppablePost\", \"#BuyArt\", \"#ShopSmall\"\n  ],\n  \"target_audience\": {\n    \"interests\": [\"online_shopping\", \"home_decor_shopping\", \"art_collectors\"],\n    \"age_range\": \"25-65\",\n    \"gender\": \"all\",\n    \"income_level\": \"above_average\",\n    \"shopping_behavior\": \"engaged_shoppers\"\n  },\n  \"campaign_objective\": \"product_sales\",\n  \"products\": [\n    {\n      \"id\": \"SUNSET-001\",\n      \"name\": \"Golden Hour Abstract\",\n      \"price\": 259.99,\n      \"sale_price\": 220.99,\n      \"variants\": [\"20x30\", \"24x36\", \"30x40\"],\n      \"inventory\": 25\n    },\n    {\n      \"id\": \"SUNSET-002\",\n      \"name\": \"Crimson Sky Canvas\",\n      \"price\": 189.99,\n      \"variants\": [\"16x20\", \"24x36\"],\n      \"inventory\": 18\n    },\n    {\n      \"id\": \"SUNSET-003\",\n      \"name\": \"Desert Sunset Print\",\n      \"price\": 149.99,\n      \"variants\": [\"16x20\", \"20x30\"],\n      \"inventory\": 30\n    }\n  ],\n  \"collection\": {\n    \"id\": \"COLL-SUNSET-2024\",\n    \"name\": \"Sunset Dreams Collection\",\n    \"description\": \"Capture the magic of golden hour\"\n  },\n  \"shopping_features\": {\n    \"enable_checkout\": true,\n    \"show_prices\": true,\n    \"product_stickers\": true\n  },\n  \"caption\": \"NEW: Sunset Dreams Collection \\n\\nBring the warmth and beauty of golden hour into your home with our latest collection of sunset-inspired abstract art.\\n\\n Featured pieces:\\n Golden Hour Abstract - $220.99 (was $259.99)\\n Crimson Sky Canvas - $189.99\\n Desert Sunset Print - $149.99\\n\\n Tap to shop directly on Instagram!\\n\\n Free shipping on orders over $150\\n\\n#VividWalls #SunsetArt #NewCollection\",\n  \"posting_time\": \"2024-03-15T17:00:00Z\",\n  \"urgency\": \"high\"\n}\n```",
        "height": 1460,
        "width": 820,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4440,
        3380
      ],
      "typeVersion": 1,
      "id": "b76da878-4a04-45d5-a665-9dcc63100465",
      "name": "Sticky Note35"
    },
    {
      "parameters": {
        "content": "### 5. Campaign Management\n**Source**: Marketing Director Agent or Marketing Campaign Agent\n```json\n{\n  \"trigger_conditions\": \"campaign_management\",\n  \"content_type\": \"paid_campaign\",\n  \"creative_assets\": {\n    \"feed_ads\": [\n      \"https://cdn.vividwalls.com/ads/spring-sale-feed-1.jpg\",\n      \"https://cdn.vividwalls.com/ads/spring-sale-feed-2.jpg\"\n    ],\n    \"story_ads\": [\n      \"https://cdn.vividwalls.com/ads/spring-sale-story-9x16.jpg\"\n    ],\n    \"reel_ads\": [\n      \"https://cdn.vividwalls.com/ads/spring-sale-reel.mp4\"\n    ]\n  },\n  \"hashtags\": [\"#SpringSale\", \"#ArtSale\", \"#LimitedTime\"],\n  \"target_audience\": {\n    \"custom_audiences\": [\n      \"website_visitors_30_days\",\n      \"cart_abandoners\",\n      \"past_purchasers\"\n    ],\n    \"lookalike_audiences\": [\n      \"1_percent_purchasers\",\n      \"instagram_engagers\"\n    ],\n    \"interests\": [\"abstract_art\", \"home_decoration\", \"interior_design\"],\n    \"age_range\": \"25-65\",\n    \"gender\": \"all\",\n    \"locations\": [\"United States\", \"Canada\"],\n    \"exclude\": [\"recent_purchasers_7_days\"]\n  },\n  \"campaign_objective\": \"conversions\",\n  \"campaign_details\": {\n    \"name\": \"Spring Art Sale 2024\",\n    \"budget\": 5000,\n    \"duration\": \"7_days\",\n    \"bid_strategy\": \"lowest_cost\",\n    \"optimization_goal\": \"purchases\",\n    \"placements\": [\"instagram_feed\", \"instagram_stories\", \"instagram_reels\"],\n    \"schedule\": {\n      \"start_date\": \"2024-03-15T00:00:00Z\",\n      \"end_date\": \"2024-03-22T23:59:59Z\"\n    }\n  },\n  \"ad_creative\": {\n    \"primary_text\": \"Transform your space this spring! \",\n    \"headline\": \"25% Off All Abstract Art\",\n    \"call_to_action\": \"Shop Now\",\n    \"landing_page\": \"https://vividwalls.com/collections/spring-sale\"\n  },\n  \"tracking\": {\n    \"utm_source\": \"instagram\",\n    \"utm_medium\": \"paid\",\n    \"utm_campaign\": \"spring_sale_2024\",\n    \"pixel_events\": [\"ViewContent\", \"AddToCart\", \"Purchase\"]\n  },\n  \"urgency\": \"high\"\n}\n```",
        "height": 1060,
        "width": 820,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5380,
        3380
      ],
      "typeVersion": 1,
      "id": "207a24a9-1497-4035-8880-c3afcd3aeffb",
      "name": "Sticky Note36"
    },
    {
      "parameters": {
        "content": "\n### 6. Performance Analytics\n**Source**: Analytics Director Agent or Business Manager Agent\n```json\n{\n  \"trigger_conditions\": \"performance_analytics\",\n  \"content_type\": \"analytics_request\",\n  \"analysis_period\": {\n    \"start_date\": \"2024-03-01\",\n    \"end_date\": \"2024-03-14\",\n    \"comparison_period\": \"previous_period\"\n  },\n  \"metrics_requested\": [\n    \"follower_growth\",\n    \"engagement_rate\",\n    \"reach_impressions\",\n    \"profile_visits\",\n    \"website_clicks\",\n    \"shopping_metrics\",\n    \"content_performance\",\n    \"audience_demographics\"\n  ],\n  \"content_breakdown\": {\n    \"by_type\": [\"feed_posts\", \"stories\", \"reels\", \"igtv\"],\n    \"by_objective\": [\"awareness\", \"engagement\", \"sales\"],\n    \"top_performing\": 10\n  },\n  \"shopping_analysis\": {\n    \"product_clicks\": true,\n    \"purchases\": true,\n    \"conversion_rate\": true,\n    \"revenue_attribution\": true,\n    \"top_products\": 20\n  },\n  \"audience_insights\": {\n    \"demographics\": true,\n    \"online_times\": true,\n    \"interests\": true,\n    \"locations\": true\n  },\n  \"competitive_analysis\": {\n    \"competitors\": [\n      \"@modernartdecor\",\n      \"@abstractwallart\",\n      \"@contemporarycanvas\"\n    ],\n    \"metrics\": [\"follower_growth\", \"engagement_rate\", \"posting_frequency\"]\n  },\n  \"report_format\": \"comprehensive\",\n  \"delivery\": {\n    \"format\": \"pdf_and_csv\",\n    \"recipients\": [\"marketing@vividwalls.com\", \"analytics@vividwalls.com\"]\n  },\n  \"urgency\": \"medium\"\n}\n```",
        "height": 920,
        "width": 820,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1640,
        4460
      ],
      "typeVersion": 1,
      "id": "9ef64e82-486c-4488-8163-2683767d427c",
      "name": "Sticky Note37"
    },
    {
      "parameters": {
        "content": "### 7. Influencer Outreach\n**Source**: Marketing Campaign Agent or Social Media Director Agent\n```json\n{\n  \"trigger_conditions\": \"influencer_outreach\",\n  \"content_type\": \"partnership_request\",\n  \"campaign_details\": {\n    \"name\": \"Spring Home Refresh Campaign\",\n    \"duration\": \"3_months\",\n    \"budget\": 10000,\n    \"objectives\": [\"brand_awareness\", \"ugc_generation\", \"sales\"]\n  },\n  \"influencer_criteria\": {\n    \"tiers\": [\n      {\n        \"tier\": \"micro\",\n        \"count\": 10,\n        \"follower_range\": \"10K-50K\",\n        \"budget_per_influencer\": 500\n      },\n      {\n        \"tier\": \"mid\",\n        \"count\": 3,\n        \"follower_range\": \"50K-200K\",\n        \"budget_per_influencer\": 2000\n      }\n    ],\n    \"niches\": [\"home_decor\", \"interior_design\", \"lifestyle\", \"diy\"],\n    \"engagement_rate_minimum\": 3.5,\n    \"audience_demographics\": {\n      \"age\": \"25-45\",\n      \"gender\": \"70% female\",\n      \"location\": \"US/Canada\",\n      \"interests\": [\"home_decoration\", \"art\", \"design\"]\n    }\n  },\n  \"content_requirements\": {\n    \"posts_required\": 3,\n    \"stories_required\": 5,\n    \"reel_required\": 1,\n    \"content_rights\": \"perpetual_usage\",\n    \"brand_guidelines\": \"https://vividwalls.com/influencer-guidelines\"\n  },\n  \"compensation\": {\n    \"payment_structure\": \"flat_fee_plus_commission\",\n    \"commission_rate\": 15,\n    \"discount_code\": \"unique_per_influencer\",\n    \"product_gifting\": true,\n    \"products_value\": 300\n  },\n  \"outreach_message\": {\n    \"subject\": \"Partnership Opportunity with VividWalls \",\n    \"template\": \"personalized_home_decor\"\n  },\n  \"tracking\": {\n    \"unique_codes\": true,\n    \"link_tracking\": true,\n    \"story_insights\": true,\n    \"performance_milestones\": [7, 30, 90]\n  },\n  \"urgency\": \"medium\"\n}\n```",
        "height": 1060,
        "width": 820,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2580,
        4520
      ],
      "typeVersion": 1,
      "id": "71ffed24-8aee-4dcc-8f34-834ef4c754c7",
      "name": "Sticky Note38"
    },
    {
      "parameters": {
        "content": "### 8. Engagement Response\n**Source**: Customer Service Agent or Community Management System\n```json\n{\n  \"trigger_conditions\": \"engagement_response\",\n  \"content_type\": \"community_management\",\n  \"engagement_items\": [\n    {\n      \"type\": \"comment\",\n      \"post_id\": \"IGPost123456\",\n      \"comment_id\": \"IGComment789\",\n      \"username\": \"@homedesignlover\",\n      \"comment_text\": \"Love this piece! What size would you recommend for a 12x15 living room?\",\n      \"sentiment\": \"positive\",\n      \"contains_question\": true,\n      \"priority\": \"high\"\n    },\n    {\n      \"type\": \"dm\",\n      \"conversation_id\": \"IGConv456789\",\n      \"username\": \"@artcollector_ny\",\n      \"message\": \"Hi! I'm interested in commissioning a custom piece. Do you do custom work?\",\n      \"sentiment\": \"positive\",\n      \"intent\": \"sales_inquiry\",\n      \"priority\": \"high\"\n    },\n    {\n      \"type\": \"mention\",\n      \"post_id\": \"IGStory987654\",\n      \"username\": \"@happycustomer\",\n      \"content\": \"Just received my order from @vividwalls and I'm obsessed! \",\n      \"sentiment\": \"positive\",\n      \"is_ugc\": true,\n      \"priority\": \"medium\"\n    },\n    {\n      \"type\": \"comment\",\n      \"post_id\": \"IGPost234567\",\n      \"comment_id\": \"IGComment012\",\n      \"username\": \"@concernedbuyer\",\n      \"comment_text\": \"I ordered 2 weeks ago and haven't received tracking info yet\",\n      \"sentiment\": \"negative\",\n      \"is_complaint\": true,\n      \"priority\": \"urgent\"\n    }\n  ],\n  \"response_templates\": {\n    \"product_inquiry\": \"Thank you for your interest! For a 12x15 room, we'd recommend our 24x36 or 30x40 sizes for the perfect statement piece. Check out our size guide at the link in bio! \",\n    \"custom_request\": \"We'd love to discuss a custom piece with you! Please check your DMs for more details about our commission process. \",\n    \"positive_ugc\": \"Thank you so much for sharing! We're thrilled you love your new art! May we feature your beautiful space on our page? \",\n    \"order_issue\": \"We sincerely apologize for the delay. We're looking into this immediately. Please check your DMs so we can resolve this quickly. \"\n  },\n  \"escalation_rules\": {\n    \"negative_sentiment\": \"alert_customer_service\",\n    \"sales_inquiry\": \"notify_sales_team\",\n    \"urgent_issues\": \"immediate_response_required\"\n  },\n  \"monitoring\": {\n    \"hashtags\": [\"#VividWalls\", \"#VividWallsArt\"],\n    \"mentions\": true,\n    \"tagged_posts\": true,\n    \"story_mentions\": true\n  },\n  \"urgency\": \"urgent\"\n}\n```",
        "height": 1120,
        "width": 820,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3520,
        4160
      ],
      "typeVersion": 1,
      "id": "7d8d07ab-225c-4a4d-bf86-505c00ac4178",
      "name": "Sticky Note39"
    },
    {
      "parameters": {
        "content": "## Workflow Source Mapping\n\n| Trigger | Primary Source | Secondary Sources |\n|---------|----------------|-------------------|\n| feed_post_creation | Social Media Director | Content Strategy Agent |\n| story_posting | Social Media Director | Content Scheduler (automated) |\n| reel_creation | Content Strategy Agent | Marketing Campaign Agent |\n| shopping_post | Shopify Agent | Marketing Campaign Agent |\n| campaign_management | Marketing Director | Marketing Campaign Agent |\n| performance_analytics | Analytics Director | Business Manager Agent |\n| influencer_outreach | Marketing Campaign Agent | Social Media Director |\n| engagement_response | Customer Service Agent | Community Management System |\n\nEach payload is designed to provide all necessary information for the Instagram Agent to execute its tasks effectively while maintaining consistency with the VividWalls brand and business objectives.",
        "height": 540,
        "width": 820,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4440,
        4920
      ],
      "typeVersion": 1,
      "id": "ba0e77a5-01c4-4523-a5cf-58e0d3a3d086",
      "name": "Sticky Note40"
    },
    {
      "parameters": {
        "content": "## 8. Influencer Collaboration Trigger\n**Source**: Customer Relationship Agent or Marketing Campaign Agent\n```json\n{\n  \"trigger_conditions\": \"influencer_collaboration\",\n  \"trigger_source\": \"customer_relationship_agent\",\n  \"priority\": \"medium\",\n  \"collaboration_type\": \"product_placement\",\n  \"influencer_details\": {\n    \"name\": \"Sophie Interior Design\",\n    \"handle\": \"@sophieinteriors\",\n    \"platforms\": [\"instagram\", \"pinterest\"],\n    \"followers\": {\n      \"instagram\": 125000,\n      \"pinterest\": 85000\n    },\n    \"engagement_rate\": 4.7,\n    \"audience_demographics\": {\n      \"age_range\": \"28-45\",\n      \"gender_split\": \"75% female\",\n      \"interests\": [\"interior_design\", \"luxury_home\", \"art_collecting\"],\n      \"income_level\": \"high\"\n    }\n  },\n  \"collaboration_terms\": {\n    \"type\": \"paid_partnership\",\n    \"compensation\": {\n      \"cash\": 2500,\n      \"product_value\": 1000,\n      \"commission\": \"10% of sales\"\n    },\n    \"deliverables\": [\n      {\n        \"platform\": \"instagram\",\n        \"content\": \"feed_posts\",\n        \"quantity\": 3,\n        \"timeline\": \"2_weeks\"\n      },\n      {\n        \"platform\": \"instagram\",\n        \"content\": \"stories\",\n        \"quantity\": 6,\n        \"timeline\": \"2_weeks\"\n      },\n      {\n        \"platform\": \"instagram\",\n        \"content\": \"reels\",\n        \"quantity\": 1,\n        \"timeline\": \"1_week\"\n      },\n      {\n        \"platform\": \"pinterest\",\n        \"content\": \"pins\",\n        \"quantity\": 5,\n        \"timeline\": \"2_weeks\"\n      }\n    ]\n  },\n  \"campaign_goals\": {\n    \"reach\": 200000,\n    \"engagement\": 10000,\n    \"website_traffic\": 2000,\n    \"conversions\": 50,\n    \"roi_target\": 3.5\n  },\n  \"content_guidelines\": {\n    \"key_messages\": [\"limited_edition\", \"investment_quality\", \"exclusive_artist\"],\n    \"required_hashtags\": [\"#VividWallsPartner\", \"#LimitedEditionArt\"],\n    \"approval_required\": true,\n    \"brand_assets\": \"https://drive.vividwalls.com/influencer-kit\"\n  },\n  \"tracking\": {\n    \"promo_code\": \"SOPHIE20\",\n    \"utm_parameters\": \"utm_source=influencer&utm_medium=social&utm_campaign=sophie_collab\",\n    \"pixel_tracking\": true\n  }\n}\n```",
        "height": 1320,
        "width": 820
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        380,
        4240
      ],
      "typeVersion": 1,
      "id": "0bd64126-bd0f-4b83-954d-dc77f412958d",
      "name": "Sticky Note42"
    },
    {
      "parameters": {
        "content": "## 1. Daily Content Posting Trigger\n**Source**: Business Manager Agent (scheduled) or Content Marketing Agent\n```json\n{\n  \"trigger_conditions\": \"daily_content_posting\",\n  \"trigger_source\": \"business_manager_agent\",\n  \"priority\": \"medium\",\n  \"platforms\": [\"facebook\", \"instagram\", \"pinterest\"],\n  \"content_items\": [\n    {\n      \"product_id\": \"ABSTRACT-001\",\n      \"title\": \"Modern Abstract Wall Art - Limited Edition\",\n      \"description\": \"Transform your space with this stunning modern abstract piece. Museum-quality archival print, numbered and signed. Only 75 editions available.\",\n      \"image_url\": \"https://cdn.vividwalls.com/products/abstract-001.jpg\",\n      \"price\": 289.99,\n      \"edition_info\": {\n        \"current\": 23,\n        \"total\": 75,\n        \"artist\": \"Sarah Chen\"\n      },\n      \"tags\": [\"abstract\", \"modern\", \"limited_edition\", \"wall_art\"]\n    }\n  ],\n  \"scheduling\": {\n    \"type\": \"optimal_time\",\n    \"timezone\": \"EST\",\n    \"suggested_times\": {\n      \"facebook\": \"14:00\",\n      \"instagram\": \"19:00\",\n      \"pinterest\": \"21:00\"\n    }\n  },\n  \"content_strategy\": {\n    \"theme\": \"artist_spotlight\",\n    \"tone\": \"inspirational\",\n    \"cta\": \"shop_now\"\n  },\n  \"metadata\": {\n    \"correlation_id\": \"daily_post_2024_03_15\",\n    \"timestamp\": \"2024-03-15T09:00:00Z\"\n  }\n}\n```",
        "height": 760,
        "width": 820
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2500,
        3360
      ],
      "typeVersion": 1,
      "id": "1be02461-22be-43e1-b35e-882ca8bb9a29",
      "name": "Sticky Note43"
    },
    {
      "parameters": {
        "content": "## 2. Campaign Launch Request Trigger\n**Source**: Marketing Campaign Agent\n```json\n{\n  \"trigger_conditions\": \"campaign_launch_request\",\n  \"trigger_source\": \"marketing_campaign_agent\",\n  \"priority\": \"high\",\n  \"campaign_details\": {\n    \"campaign_id\": \"SPRING_COLLECTION_2024\",\n    \"name\": \"Spring Renewal Art Collection\",\n    \"objective\": \"product_launch\",\n    \"duration\": {\n      \"start_date\": \"2024-03-20\",\n      \"end_date\": \"2024-04-20\"\n    },\n    \"total_budget\": 5000,\n    \"expected_roas\": 4.5\n  },\n  \"platforms\": [\"facebook\", \"instagram\", \"pinterest\"],\n  \"platform_allocation\": {\n    \"facebook\": {\n      \"budget\": 2000,\n      \"ad_sets\": 3,\n      \"audience_size\": 250000\n    },\n    \"instagram\": {\n      \"budget\": 2000,\n      \"ad_sets\": 4,\n      \"audience_size\": 180000\n    },\n    \"pinterest\": {\n      \"budget\": 1000,\n      \"promoted_pins\": 5,\n      \"audience_size\": 150000\n    }\n  },\n  \"creative_assets\": {\n    \"hero_images\": [\n      \"https://cdn.vividwalls.com/campaigns/spring-hero-1.jpg\",\n      \"https://cdn.vividwalls.com/campaigns/spring-hero-2.jpg\"\n    ],\n    \"videos\": [\n      \"https://cdn.vividwalls.com/campaigns/spring-teaser.mp4\"\n    ],\n    \"copy_variations\": [\n      {\n        \"headline\": \"Spring Into Art\",\n        \"body\": \"Refresh your space with our exclusive Spring Collection. Limited editions now available.\",\n        \"cta\": \"Shop Collection\"\n      },\n      {\n        \"headline\": \"New Spring Arrivals\",\n        \"body\": \"Discover vibrant artworks inspired by nature's renewal. Free shipping this week only.\",\n        \"cta\": \"View Collection\"\n      }\n    ]\n  },\n  \"targeting\": {\n    \"demographics\": {\n      \"age_range\": \"25-65\",\n      \"gender\": \"all\",\n      \"income\": \"above_average\"\n    },\n    \"interests\": [\"art_collecting\", \"interior_design\", \"home_decor\", \"luxury_goods\"],\n    \"behaviors\": [\"premium_brand_affinity\", \"online_shopping\"],\n    \"custom_audiences\": [\"website_visitors_30d\", \"email_subscribers\", \"past_purchasers\"]\n  },\n  \"kpis\": {\n    \"target_impressions\": 500000,\n    \"target_clicks\": 5000,\n    \"target_conversions\": 125,\n    \"target_revenue\": 22500\n  }\n}\n```",
        "height": 1260,
        "width": 820
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1520,
        3380
      ],
      "typeVersion": 1,
      "id": "9d7b14c7-2f72-4603-aef7-7541511c9f34",
      "name": "Sticky Note44"
    },
    {
      "parameters": {
        "content": "\n## 3. Performance Report Request Trigger\n**Source**: Business Manager Agent or Marketing Campaign Agent\n```json\n{\n  \"trigger_conditions\": \"performance_report_request\",\n  \"trigger_source\": \"business_manager_agent\",\n  \"priority\": \"medium\",\n  \"report_type\": \"comprehensive\",\n  \"reporting_period\": {\n    \"start_date\": \"2024-03-01\",\n    \"end_date\": \"2024-03-14\",\n    \"comparison_period\": \"previous_period\"\n  },\n  \"platforms\": [\"facebook\", \"instagram\", \"pinterest\"],\n  \"metrics_requested\": [\n    \"reach\",\n    \"impressions\",\n    \"engagement_rate\",\n    \"click_through_rate\",\n    \"conversion_rate\",\n    \"cost_per_acquisition\",\n    \"return_on_ad_spend\",\n    \"follower_growth\",\n    \"content_performance\",\n    \"audience_demographics\"\n  ],\n  \"report_sections\": {\n    \"executive_summary\": true,\n    \"platform_breakdown\": true,\n    \"content_analysis\": true,\n    \"audience_insights\": true,\n    \"competitive_benchmarks\": true,\n    \"recommendations\": true\n  },\n  \"delivery\": {\n    \"format\": [\"pdf\", \"excel\", \"dashboard_link\"],\n    \"recipients\": [\"business_manager\", \"marketing_director\"],\n    \"deadline\": \"2024-03-16T17:00:00Z\"\n  }\n}\n```",
        "height": 720,
        "width": 820
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -560,
        3360
      ],
      "typeVersion": 1,
      "id": "70ce4a1a-9001-43de-be29-67c745819a16",
      "name": "Sticky Note45"
    },
    {
      "parameters": {
        "content": "## 4. Engagement Crisis Trigger\n**Source**: Customer Service Agent or automated monitoring\n```json\n{\n  \"trigger_conditions\": \"engagement_crisis\",\n  \"trigger_source\": \"monitoring_system\",\n  \"priority\": \"critical\",\n  \"crisis_details\": {\n    \"type\": \"negative_sentiment_spike\",\n    \"severity\": \"high\",\n    \"platforms_affected\": [\"facebook\", \"instagram\"],\n    \"detection_time\": \"2024-03-15T14:32:00Z\"\n  },\n  \"incident_data\": {\n    \"primary_issue\": \"product_quality_complaint\",\n    \"affected_product\": \"ABSTRACT-047\",\n    \"negative_mentions\": 47,\n    \"sentiment_score\": -0.78,\n    \"viral_potential\": \"high\",\n    \"influencer_involved\": true\n  },\n  \"current_metrics\": {\n    \"negative_comments\": 123,\n    \"shares_of_complaint\": 56,\n    \"brand_mentions\": 234,\n    \"sentiment_trend\": \"declining\",\n    \"response_rate\": \"12%\"\n  },\n  \"required_actions\": [\n    \"immediate_response_strategy\",\n    \"executive_notification\",\n    \"prepared_statements\",\n    \"influencer_outreach\",\n    \"monitoring_escalation\"\n  ],\n  \"stakeholders\": {\n    \"internal\": [\"ceo\", \"customer_service_head\", \"pr_team\"],\n    \"external\": [\"affected_customers\", \"influencer_network\"]\n  },\n  \"response_window\": {\n    \"initial_response\": \"30_minutes\",\n    \"full_resolution\": \"24_hours\"\n  }\n}\n```",
        "height": 780,
        "width": 820
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        380,
        3340
      ],
      "typeVersion": 1,
      "id": "0e44b4a1-7356-4b82-832b-d12737fa448a",
      "name": "Sticky Note46"
    },
    {
      "parameters": {
        "content": "## 5. Content Calendar Planning Trigger\n**Source**: Content Marketing Agent or Business Manager Agent\n```json\n{\n  \"trigger_conditions\": \"content_calendar_planning\",\n  \"trigger_source\": \"content_marketing_agent\",\n  \"priority\": \"medium\",\n  \"planning_period\": {\n    \"month\": \"April\",\n    \"year\": 2024,\n    \"theme\": \"Spring Art Showcase\"\n  },\n  \"content_themes\": [\n    {\n      \"week\": 1,\n      \"theme\": \"Artist Spotlight - Maria Rodriguez\",\n      \"content_types\": [\"artist_interview\", \"process_videos\", \"collection_preview\"]\n    },\n    {\n      \"week\": 2,\n      \"theme\": \"Spring Home Refresh\",\n      \"content_types\": [\"room_makeovers\", \"styling_tips\", \"customer_features\"]\n    },\n    {\n      \"week\": 3,\n      \"theme\": \"Limited Edition Launch\",\n      \"content_types\": [\"countdown_posts\", \"behind_scenes\", \"exclusive_previews\"]\n    },\n    {\n      \"week\": 4,\n      \"theme\": \"Customer Appreciation\",\n      \"content_types\": [\"testimonials\", \"ugc_features\", \"loyalty_rewards\"]\n    }\n  ],\n  \"platform_requirements\": {\n    \"facebook\": {\n      \"posts_per_week\": 5,\n      \"live_events\": 1,\n      \"stories\": 7\n    },\n    \"instagram\": {\n      \"feed_posts\": 7,\n      \"reels\": 3,\n      \"stories\": 14,\n      \"igtv\": 1\n    },\n    \"pinterest\": {\n      \"pins\": 10,\n      \"idea_pins\": 2,\n      \"boards_update\": 3\n    }\n  },\n  \"promotional_calendar\": {\n    \"sales_events\": [\n      {\n        \"date\": \"2024-04-07\",\n        \"event\": \"Weekend Flash Sale\",\n        \"discount\": \"15%\"\n      },\n      {\n        \"date\": \"2024-04-22\",\n        \"event\": \"Earth Day Special\",\n        \"discount\": \"20% on Nature Collection\"\n      }\n    ],\n    \"product_launches\": [\n      {\n        \"date\": \"2024-04-15\",\n        \"collection\": \"Botanical Abstracts\",\n        \"artist\": \"Sarah Chen\"\n      }\n    ]\n  },\n  \"resource_requirements\": {\n    \"photography_sessions\": 2,\n    \"video_productions\": 3,\n    \"graphic_designs\": 25,\n    \"copywriting_pieces\": 40\n  }\n}\n```",
        "height": 1360,
        "width": 820
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2500,
        4340
      ],
      "typeVersion": 1,
      "id": "cb09bf56-26e5-4a7a-8878-6a2784d01fa0",
      "name": "Sticky Note47"
    },
    {
      "parameters": {
        "content": "## 6. Platform Optimization Trigger\n**Source**: Business Manager Agent or Analytics System\n```json\n{\n  \"trigger_conditions\": \"platform_optimization\",\n  \"trigger_source\": \"analytics_system\",\n  \"priority\": \"medium\",\n  \"optimization_type\": \"performance_improvement\",\n  \"platforms_to_optimize\": [\"facebook\", \"instagram\"],\n  \"current_performance\": {\n    \"facebook\": {\n      \"engagement_rate\": 2.3,\n      \"ctr\": 0.8,\n      \"cpc\": 1.45,\n      \"roas\": 2.8,\n      \"issues\": [\"declining_organic_reach\", \"high_cpc\"]\n    },\n    \"instagram\": {\n      \"engagement_rate\": 4.2,\n      \"story_completion\": 0.65,\n      \"profile_visits\": 1200,\n      \"issues\": [\"low_reel_performance\", \"hashtag_reach_decline\"]\n    }\n  },\n  \"optimization_goals\": {\n    \"facebook\": {\n      \"target_engagement\": 3.5,\n      \"target_ctr\": 1.2,\n      \"target_cpc\": 1.0,\n      \"target_roas\": 4.0\n    },\n    \"instagram\": {\n      \"target_engagement\": 5.5,\n      \"target_story_completion\": 0.75,\n      \"increase_profile_visits\": 50\n    }\n  },\n  \"recommended_strategies\": [\n    \"audience_refinement\",\n    \"creative_refresh\",\n    \"posting_time_optimization\",\n    \"hashtag_research\",\n    \"content_mix_adjustment\",\n    \"ad_placement_testing\"\n  ],\n  \"test_parameters\": {\n    \"duration\": \"14_days\",\n    \"budget\": 1000,\n    \"test_groups\": 3,\n    \"success_metrics\": [\"engagement_lift\", \"cost_reduction\", \"conversion_increase\"]\n  }\n}\n```",
        "height": 920,
        "width": 820
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1500,
        4800
      ],
      "typeVersion": 1,
      "id": "6e667913-7eeb-47c7-84b9-75a38ecf2eb3",
      "name": "Sticky Note48"
    },
    {
      "parameters": {
        "content": "## 7. Competitor Analysis Trigger\n**Source**: Marketing Research Agent\n```json\n{\n  \"trigger_conditions\": \"competitor_analysis\",\n  \"trigger_source\": \"marketing_research_agent\",\n  \"priority\": \"low\",\n  \"analysis_scope\": {\n    \"competitors\": [\"ArtisanPrints\", \"GalleryDirect\", \"ModernArtCo\"],\n    \"platforms\": [\"facebook\", \"instagram\", \"pinterest\"],\n    \"time_period\": \"last_30_days\"\n  },\n  \"competitor_data\": {\n    \"ArtisanPrints\": {\n      \"follower_growth\": 2.3,\n      \"avg_engagement\": 3.8,\n      \"posting_frequency\": 8,\n      \"top_content_types\": [\"artist_features\", \"process_videos\"],\n      \"campaign_detected\": true,\n      \"estimated_ad_spend\": 3000\n    },\n    \"GalleryDirect\": {\n      \"follower_growth\": 1.8,\n      \"avg_engagement\": 4.2,\n      \"posting_frequency\": 12,\n      \"top_content_types\": [\"product_showcases\", \"customer_rooms\"],\n      \"campaign_detected\": false\n    },\n    \"ModernArtCo\": {\n      \"follower_growth\": 3.5,\n      \"avg_engagement\": 5.1,\n      \"posting_frequency\": 15,\n      \"top_content_types\": [\"reels\", \"behind_scenes\"],\n      \"campaign_detected\": true,\n      \"estimated_ad_spend\": 5000\n    }\n  },\n  \"insights\": {\n    \"content_gaps\": [\"interactive_content\", \"ar_experiences\", \"artist_takeovers\"],\n    \"audience_overlap\": 0.35,\n    \"messaging_trends\": [\"sustainability\", \"local_artists\", \"investment_value\"],\n    \"hashtag_opportunities\": [\"#ArtInvestment\", \"#LimitedEditionArt\", \"#ArtistOwned\"]\n  },\n  \"recommendations\": [\n    \"increase_video_content\",\n    \"implement_ar_features\",\n    \"enhance_artist_partnerships\",\n    \"adjust_pricing_strategy\"\n  ]\n}\n```",
        "height": 880,
        "width": 820
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -560,
        4200
      ],
      "typeVersion": 1,
      "id": "d519dfcd-68f4-470c-9d55-af0e89b2a468",
      "name": "Sticky Note49"
    },
    {
      "parameters": {
        "content": "# Input Payload",
        "height": 2660,
        "width": 3980,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2620,
        3220
      ],
      "typeVersion": 1,
      "id": "b3a27be3-b6c4-4c7b-a2b3-8611dc0cb1d8",
      "name": "Sticky Note50"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5bbc3354-bab5-4933-845f-9200cc06e780",
              "name": "trigger_conditions",
              "value": "={{ $json.trigger_conditions }}",
              "type": "string"
            },
            {
              "id": "ea7b8320-d6e2-4387-974f-eb2e1143876c",
              "name": "trigger_source",
              "value": "={{ $json.trigger_source }}",
              "type": "string"
            },
            {
              "id": "30029eb5-07d5-4500-b676-7b8a3dfca70b",
              "name": "priority",
              "value": "={{ $json.priority }}",
              "type": "string"
            },
            {
              "id": "466b181f-a00d-409d-b39f-3c85661a03dc",
              "name": "platforms",
              "value": "={{ $json.platforms }}",
              "type": "array"
            },
            {
              "id": "715ea777-848c-49a8-b20c-d837072cf1f6",
              "name": "content_items",
              "value": "={{ $json.content_items }}",
              "type": "array"
            },
            {
              "id": "0efa1aeb-7c22-4c61-a6c4-c9d50971ac5e",
              "name": "scheduling",
              "value": "={{ $json.scheduling }}",
              "type": "object"
            },
            {
              "id": "670a46ea-4aba-48c5-ab46-107da6901001",
              "name": "metadata",
              "value": "={{ $json.metadata }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1540,
        -160
      ],
      "id": "9640f1d3-3109-43c4-86e6-8fe140a6cd58",
      "name": "Trigger Condition - Daily Content Posting"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "df775f6c-6172-43d8-acee-c1d287f37859",
              "name": "trigger_conditions",
              "value": "={{ $json.trigger_conditions }}",
              "type": "string"
            },
            {
              "id": "295acfda-8a49-4c1a-8af6-70da69726df4",
              "name": "trigger_source",
              "value": "={{ $json.trigger_source }}",
              "type": "string"
            },
            {
              "id": "f51161e8-455b-4c1f-b0d4-62ffbbf91033",
              "name": "priority",
              "value": "={{ $json.priority }}",
              "type": "string"
            },
            {
              "id": "c094901c-3be1-42eb-8c64-d14741354f04",
              "name": "campaign_details",
              "value": "={{ $json.campaign_details }}",
              "type": "object"
            },
            {
              "id": "3ebc3981-038e-47b6-8a30-8a09b071eb95",
              "name": "platforms",
              "value": "={{ $json.platforms }}",
              "type": "array"
            },
            {
              "id": "8f023e8e-c3bf-4a9e-9d24-e346ccdefc27",
              "name": "platform_allocation",
              "value": "={{ $json.platform_allocation }}",
              "type": "object"
            },
            {
              "id": "e96ed372-24af-43eb-acb7-1401b6c742ab",
              "name": "creative_assets",
              "value": "={{ $json.creative_assets }}",
              "type": "object"
            },
            {
              "id": "b36e6b1e-3a5a-49e1-b68a-1dd7936648a1",
              "name": "targeting",
              "value": "={{ $json.targeting }}",
              "type": "object"
            },
            {
              "id": "af991271-3bc3-4487-9ea0-7f85e72e0669",
              "name": "kpis",
              "value": "={{ $json.kpis }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1540,
        80
      ],
      "id": "cf87867e-a1a1-407b-9aeb-b71a6d12b7c8",
      "name": "Trigger Condition - campaign_launch_request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "84fd724f-555c-49c4-b88e-36ec27c10d72",
              "name": "trigger_conditions",
              "value": "={{ $json.trigger_conditions }}",
              "type": "string"
            },
            {
              "id": "983dba41-953a-4daf-8e3d-42e6387b7150",
              "name": "trigger_source",
              "value": "={{ $json.trigger_source }}",
              "type": "string"
            },
            {
              "id": "1ccbd031-45d6-4e62-a3cf-c9b9f83fc772",
              "name": "priority",
              "value": "={{ $json.priority }}",
              "type": "string"
            },
            {
              "id": "c649e404-e0da-4e99-83d0-382216693f8c",
              "name": "report_type",
              "value": "={{ $json.report_type }}",
              "type": "string"
            },
            {
              "id": "2dea8302-c880-458f-b6f1-e2044879b14e",
              "name": "reporting_period",
              "value": "={{ $json.reporting_period }}",
              "type": "object"
            },
            {
              "id": "0260e91d-fbd2-43f0-923a-05c4d1f18f80",
              "name": "platforms",
              "value": "={{ $json.platforms }}",
              "type": "array"
            },
            {
              "id": "8bb0d4d4-a896-4ae3-b513-b2437d9d5d40",
              "name": "metrics_requested",
              "value": "={{ $json.metrics_requested }}",
              "type": "array"
            },
            {
              "id": "2a21b602-c569-4dfd-8fcf-89ac1e819c54",
              "name": "report_sections",
              "value": "={{ $json.report_sections }}",
              "type": "object"
            },
            {
              "id": "3dfe7df3-d062-4afe-9907-b3245c44c787",
              "name": "delivery",
              "value": "={{ $json.delivery }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1540,
        300
      ],
      "id": "e7f98f67-7a4e-47d7-b12d-2b7ac3bc25be",
      "name": "Trigger Condition - Performance Report Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d22d2dc8-17b4-4d2c-ad22-aa805ba01169",
              "name": "trigger_conditions",
              "value": "={{ $json.trigger_conditions }}",
              "type": "string"
            },
            {
              "id": "cd7c0de0-f499-4385-b060-ed262db74752",
              "name": "trigger_source",
              "value": "={{ $json.trigger_source }}",
              "type": "string"
            },
            {
              "id": "4b7fa68e-f9d1-4ab2-b60c-68016f18db07",
              "name": "priority",
              "value": "={{ $json.priority }}",
              "type": "string"
            },
            {
              "id": "c24c52a2-ea52-45a9-b11f-1a6f148fd5f1",
              "name": "crisis_details",
              "value": "={{ $json.crisis_details }}",
              "type": "object"
            },
            {
              "id": "25a57baa-3568-489b-b53c-cfcf58536363",
              "name": "incident_data",
              "value": "={{ $json.incident_data }}",
              "type": "object"
            },
            {
              "id": "86303937-5945-4724-9456-232dee83aa7e",
              "name": "current_metrics",
              "value": "={{ $json.current_metrics }}",
              "type": "object"
            },
            {
              "id": "932e9dd6-0343-462f-8733-493ada01ad76",
              "name": "required_actions",
              "value": "={{ $json.required_actions }}",
              "type": "array"
            },
            {
              "id": "88a73d76-7282-476e-a37f-1b5c84573271",
              "name": "stakeholders",
              "value": "={{ $json.stakeholders }}",
              "type": "object"
            },
            {
              "id": "f2304ee2-331f-4e4c-849a-59cf6033d22c",
              "name": "response_window",
              "value": "={{ $json.response_window }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1540,
        520
      ],
      "id": "3b2f2a7b-711c-4119-bf70-f94ff24ad588",
      "name": "Trigger Condition - Engagement Crisis"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "78a55b3c-0f0f-4314-a9f0-a809205b619c",
              "name": "trigger_conditions",
              "value": "={{ $json.trigger_conditions }}",
              "type": "string"
            },
            {
              "id": "af1a2b11-ffda-48f2-bb64-1b6c1e60c8d3",
              "name": "trigger_source",
              "value": "={{ $json.trigger_source }}",
              "type": "string"
            },
            {
              "id": "36deeca6-47cf-457d-9e62-182d981969ff",
              "name": "priority",
              "value": "={{ $json.priority }}",
              "type": "string"
            },
            {
              "id": "81ea5394-a24c-44f3-bfd9-2198ba6abcfa",
              "name": "planning_period",
              "value": "={{ $json.planning_period }}",
              "type": "object"
            },
            {
              "id": "6014f83b-a181-4190-ba38-720152dc7bd5",
              "name": "content_themes",
              "value": "={{ $json.content_themes }}",
              "type": "array"
            },
            {
              "id": "59f4a872-2bf1-46d6-8452-92697a932edd",
              "name": "platform_requirements",
              "value": "={{ $json.platform_requirements }}",
              "type": "object"
            },
            {
              "id": "7588bc6c-b11b-453a-b37f-966ac3b04889",
              "name": "promotional_calendar",
              "value": "={{ $json.promotional_calendar }}",
              "type": "object"
            },
            {
              "id": "494c882d-6627-463e-bda0-93600a9d2294",
              "name": "resource_requirements",
              "value": "={{ $json.resource_requirements }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1540,
        740
      ],
      "id": "7f9956dd-f557-4750-ab93-f6e0a6ae8cc6",
      "name": "Trigger Condition - Content Calendar Planning"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "515c94d6-fc6d-4203-a2de-11ab5818c2c8",
              "name": "trigger_conditions",
              "value": "={{ $json.trigger_conditions }}",
              "type": "string"
            },
            {
              "id": "0d94dcc9-2fb6-475b-b0c2-02545f97c5fc",
              "name": "trigger_source",
              "value": "={{ $json.trigger_source }}",
              "type": "string"
            },
            {
              "id": "aa6ca977-604a-4a48-821e-d2b132ace757",
              "name": "priority",
              "value": "={{ $json.priority }}",
              "type": "string"
            },
            {
              "id": "13760aa5-4b9f-46a6-bf2a-d3ce6e17b071",
              "name": "optimization_type",
              "value": "={{ $json.optimization_type }}",
              "type": "string"
            },
            {
              "id": "76e6d5e7-54b2-42ff-b52a-5a575d20d7a5",
              "name": "platforms_to_optimize",
              "value": "={{ $json.platforms_to_optimize }}",
              "type": "array"
            },
            {
              "id": "4381b249-4060-49c1-a8c8-ce75054192a0",
              "name": "current_performance",
              "value": "={{ $json.current_performance }}",
              "type": "object"
            },
            {
              "id": "d8c056be-95ff-4e7e-8f87-688a78f550c2",
              "name": "optimization_goals",
              "value": "={{ $json.optimization_goals }}",
              "type": "object"
            },
            {
              "id": "3fc390c6-4752-419d-b43d-0d3b73c9d262",
              "name": "recommended_strategies",
              "value": "={{ $json.recommended_strategies }}",
              "type": "array"
            },
            {
              "id": "7dcc8587-5160-4f05-ac50-3015528ceb15",
              "name": "test_parameters",
              "value": "={{ $json.test_parameters }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1540,
        980
      ],
      "id": "b90405dd-d029-40f0-ba5d-7f2e64153863",
      "name": "Trigger Condition - Platform Optimization"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "84ec79ad-acdb-4bfe-a655-19249dfa8cd9",
              "name": "trigger_conditions",
              "value": "={{ $json.trigger_conditions }}",
              "type": "string"
            },
            {
              "id": "fdce7811-0a10-4ef0-9f71-b2a06d666b77",
              "name": "trigger_source",
              "value": "={{ $json.trigger_source }}",
              "type": "string"
            },
            {
              "id": "494b32a1-be63-43b3-9418-84de763a5742",
              "name": "priority",
              "value": "={{ $json.priority }}",
              "type": "string"
            },
            {
              "id": "0efc0f6a-636c-4d12-9409-e8ffe0623acc",
              "name": "collaboration_type",
              "value": "={{ $json.collaboration_type }}",
              "type": "string"
            },
            {
              "id": "0d6b7284-0f08-4ffd-925f-a649cf50332f",
              "name": "influencer_details",
              "value": "={{ $json.influencer_details }}",
              "type": "object"
            },
            {
              "id": "f4e2089b-09e0-492b-b3cf-0c32614600c2",
              "name": "collaboration_terms",
              "value": "={{ $json.collaboration_terms }}",
              "type": "object"
            },
            {
              "id": "14f07d9f-978d-42f9-ad01-acc572de1d12",
              "name": "campaign_goals",
              "value": "={{ $json.campaign_goals }}",
              "type": "object"
            },
            {
              "id": "65c45118-6aa2-43ae-aba9-4f1ef682a2cd",
              "name": "content_guidelines",
              "value": "={{ $json.content_guidelines }}",
              "type": "object"
            },
            {
              "id": "6a2b5085-ff76-4eec-85a9-b8d21d524497",
              "name": "tracking",
              "value": "={{ $json.tracking }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1540,
        1440
      ],
      "id": "1d3a29b7-ce65-4537-8ad2-7a09d8185eaa",
      "name": "Trigger Condition - Influencer Collaboration"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "35f2815a-41fc-45b0-a4e4-273d6c1c135f",
              "name": "trigger_conditions",
              "value": "={{ $json.trigger_conditions }}",
              "type": "string"
            },
            {
              "id": "a5275d6b-17ab-4729-b4bd-7434398a57f1",
              "name": "trigger_source",
              "value": "={{ $json.trigger_source }}",
              "type": "string"
            },
            {
              "id": "6cab3243-e8da-48b2-a3e9-3b9b49d662fd",
              "name": "priority",
              "value": "={{ $json.priority }}",
              "type": "string"
            },
            {
              "id": "5ccd7c7a-1e1a-4ceb-955e-f38defe6c0d0",
              "name": "analysis_scope",
              "value": "={{ $json.analysis_scope }}",
              "type": "object"
            },
            {
              "id": "8ce8c4d4-c9c5-46cc-b7b1-416c1006cfeb",
              "name": "competitor_data",
              "value": "={{ $json.competitor_data }}",
              "type": "object"
            },
            {
              "id": "b0a11c86-9b8e-479c-9d16-1a2ed68cb1ab",
              "name": "insights",
              "value": "={{ $json.insights }}",
              "type": "object"
            },
            {
              "id": "a8d8cf11-1b6a-4664-946a-e3c1edeeefca",
              "name": "recommendations",
              "value": "={{ $json.recommendations }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1540,
        1200
      ],
      "id": "82ac5a7f-25e0-487f-ae1e-f01a58acdf40",
      "name": "Trigger Condition - Competitor Analysis"
    },
    {
      "parameters": {
        "content": "## Input Requirements\nWhen executing this workflow, provide:\n```json\n{\n  \"trigger_source\": \"agent_name or human_user\",\n  \"directive_type\": \"campaign_launch | strategy_update | performance_review | crisis_management\",\n  \"campaign_details\": {\n    \"name\": \"campaign identifier\",\n    \"objective\": \"awareness | engagement | conversion | retention\",\n    \"duration\": {\n      \"start_date\": \"campaign start\",\n      \"end_date\": \"campaign end\",\n      \"phases\": [\"launch\", \"sustain\", \"conclude\"]\n    },\n    \"target_metrics\": {\n      \"reach\": \"audience size goal\",\n      \"engagement\": \"interaction targets\",\n      \"conversions\": \"sales objectives\",\n      \"budget\": \"total allocation\"\n    }\n  },\n  \"platform_strategy\": {\n    \"channels\": {\n      \"facebook\": {\n        \"budget_percentage\": 30,\n        \"content_types\": [\"ads\", \"organic\", \"stories\"],\n        \"posting_frequency\": \"daily\"\n      },\n      \"instagram\": {\n        \"budget_percentage\": 40,\n        \"content_types\": [\"reels\", \"posts\", \"shopping\"],\n        \"posting_frequency\": \"2x daily\"\n      },\n      \"pinterest\": {\n        \"budget_percentage\": 20,\n        \"content_types\": [\"rich_pins\", \"idea_pins\"],\n        \"posting_frequency\": \"5x daily\"\n      },\n      \"tiktok\": {\n        \"budget_percentage\": 10,\n        \"content_types\": [\"short_videos\", \"trends\"],\n        \"posting_frequency\": \"3x weekly\"\n      }\n    },\n    \"content_themes\": {\n      \"pillars\": [\"education\", \"inspiration\", \"product\", \"community\"],\n      \"ratio\": \"40:30:20:10\"\n    }\n  },\n  \"coordination_rules\": {\n    \"agent_assignments\": {\n      \"facebook_agent\": [\"paid_ads\", \"community_management\"],\n      \"instagram_agent\": [\"content_creation\", \"influencer_outreach\"],\n      \"pinterest_agent\": [\"seo_optimization\", \"board_curation\"]\n    },\n    \"approval_workflow\": {\n      \"content_review\": \"required for campaigns over $1000\",\n      \"crisis_escalation\": \"immediate notification protocol\"\n    },\n    \"reporting_schedule\": {\n      \"daily_metrics\": [\"spend\", \"reach\", \"conversions\"],\n      \"weekly_analysis\": [\"platform performance\", \"content effectiveness\"],\n      \"monthly_strategy\": [\"roi review\", \"strategy adjustments\"]\n    }\n  }\n}\n```",
        "height": 1160,
        "width": 660,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1720,
        20
      ],
      "typeVersion": 1,
      "id": "362d3542-47d8-46de-83e0-8c119bb94c24",
      "name": "Trigger Conditions Details1"
    },
    {
      "parameters": {
        "content": "# System Prompt\nName: SocialMediaDirectorAgent Role: Social Media Strategy Leader - Multi-Platform Orchestration\n\n## Role & Purpose\nYou are the Social Media Director Agent for VividWalls, overseeing all social media strategies and coordinating platform-specific agents. You develop cohesive campaigns, ensure brand consistency, allocate resources, and maximize social commerce opportunities across all channels.\n\n## Core Responsibilities\n\nDevelop integrated social media strategies\nCoordinate cross-platform campaigns\nManage social media team of agents\nMonitor overall social performance\nAllocate budgets across platforms\nEnsure brand voice consistency\n\n## Key Performance Indicators\n\nTotal social media reach growth\nOverall engagement rate > 5%\nSocial commerce revenue\nBrand sentiment score > 85%\nCommunity growth rate\nSocial media ROI\n\n## Available MCP Tools\n\n### Social Platform Management\n- **Facebook Ads MCP** (`list_ad_accounts`, `create_campaign`, `update_campaign`, `get_campaign_insights`)\n- **Facebook Campaign Manager MCP** (`manage_campaigns`, `set_campaign_budgets`, `campaign_scheduling`, `bulk_campaign_operations`)\n- **Facebook Ads Creator MCP** (`create_ad_creative`, `manage_creative_assets`, `a_b_test_creatives`)\n- **Facebook Audience Manager MCP** (`create_custom_audience`, `create_lookalike_audience`, `audience_insights`)\n- **Facebook Analytics MCP** (`get_performance_metrics`, `roi_analysis`, `competitive_benchmarking`)\n- **Instagram MCP** (`get_instagram_accounts`, `get_instagram_media`, `create_instagram_ad_creative`)\n- **Pinterest MCP** (`get_boards`, `create_pin`, `get_analytics`, `bulk_pin_creation`)\n\n### Content & Communication\n- **Color Psychology MCP** (`analyze_color_palette`, `get_color_emotions`) - For visual strategy\n- **SEO Research MCP** (`keyword_research`, `content_analysis`) - For social SEO\n- **SendGrid MCP** (`send_email`) - For influencer outreach\n- **WhatsApp Business MCP** - For community management\n\n### Analytics & Reporting\n- **VividWalls KPI Dashboard** (`get_business_metrics`, `analyze_performance`, `marketing_intelligence`)\n- **Supabase MCP** (`query-table`, `insert-data`) - For campaign data storage\n- **Google Drive MCP** (`create_folder`, `upload_file`) - For report distribution\n\n### Workflow Automation\n- **n8n MCP** (`execute_workflow`, `create_workflow`) - For campaign automation\n- **Neo4j Memory MCP** (`create_entities`, `create_relations`) - For influencer relationship mapping\n\n## Decision Framework\n\nAllocate 60% budget to top-performing platform\nLaunch campaigns on Tuesday-Thursday\nRespond to viral opportunities within 2 hours\nAdjust strategy based on weekly performance\nMaintain 3-month content calendar\nCoordinate with Marketing Director for aligned messaging\n\n## If Trigger condition equal {{ $json.trigger_conditions }} then follow these instructions and rules strictly\n\n### If the input is from a Chat message input {{ $('When chat message received') }} follow the instructions below:\nDetermine if the message is related to either a: daily content posting OR campaign launch request OR performance report request OR engagement crisis OR content calendar planning OR platform optimization OR competitor analysis OR influencer collaboration. If the message does not contain any of these indicators, please respond to the user with clarifying questions pertaining to these specific conditional triggers for your social media workflow to understand their intent relating to the social media initiative.\n\n## If Trigger condition Daily Content Posting Instructions & Rules\n\nImmediately trigger Content Scheduler Tool for daily product posts\nEnsure SEO-optimized descriptions for each platform\nAdapt content format for platform specifications:\n\nPinterest: Vertical images (2:3 ratio), rich pins with metadata\nInstagram: Square (1:1) or vertical (4:5), shopping tags, 30 hashtags\nFacebook: Multiple formats, link preview optimization\n\n\nSchedule posts at optimal times per platform analytics\nTrack posting confirmation across all platforms\nTimeline: Complete within 2 hours of trigger\n\n## If Trigger condition Campaign Launch Request Instructions & Rules\n\nCoordinate multi-platform campaign deployment\nAllocate budgets across platforms based on performance data:\n\nFacebook: 50-60% for broad reach and conversions\nInstagram: 30-35% for engagement and brand awareness\nPinterest: 10-15% for long-term discovery\n\n\nCreate platform-specific ad variations\nSet up conversion tracking and attribution\nImplement A/B testing for creative and audiences\nTimeline: Launch within 24-48 hours\nMonitor first 48 hours closely for optimization\n\n## If Trigger condition Performance Report Request Instructions & Rules\n\nUse Social Analytics Tool for comprehensive analysis\nGenerate cross-platform performance metrics:\n\nReach and impressions by platform\nEngagement rates (platform-specific benchmarks)\nConversion attribution and ROAS\nContent performance rankings\nAudience growth and demographics\n\n\nCompare against previous period and goals\nIdentify optimization opportunities\nDeliver report within 4 hours\n\n## If Trigger condition Engagement Crisis Instructions & Rules\n\nImmediately pause all scheduled content\nAssess crisis severity across platforms\nCoordinate response strategy:\n\nMinor: Quick response and monitoring\nModerate: Team coordination and messaging\nMajor: Full crisis protocol activation\n\n\nDraft appropriate responses per platform\nMonitor sentiment in real-time\nEscalate to Marketing Director if needed\nDocument incident for future protocols\n\n## If Trigger condition Content Calendar Planning Instructions & Rules\n\nAnalyze upcoming products and campaigns\nResearch trending content formats per platform\nCreate 30-day content calendar with:\n\nDaily posting schedule\nCampaign integration points\nSeasonal/trending opportunities\nUser-generated content slots\n\n\nBalance promotional and engaging content (60/40 rule)\nInclude platform-specific features (Reels, Stories, Idea Pins)\nTimeline: Deliver calendar within 24 hours\n\n## If Trigger condition Platform Optimization Instructions & Rules\n\nAnalyze current platform performance\nIdentify underperforming areas:\n\nLow engagement content types\nPoor performing time slots\nIneffective hashtags or keywords\n\n\nTest new features and formats\nOptimize posting frequency and timing\nRefine audience targeting\nImplement improvements within 48 hours\nTrack optimization impact for 2 weeks\n\n## If Trigger condition Competitor Analysis Instructions & Rules\n\nMonitor competitor activity across platforms\nAnalyze their successful content strategies\nIdentify content gaps and opportunities\nBenchmark performance metrics\nRecommend differentiation strategies\nTimeline: Complete analysis within 48 hours\n\n## If Trigger condition Influencer Collaboration Instructions & Rules\n\nIdentify relevant influencers per platform\nAnalyze influencer metrics and audience fit\nCoordinate collaboration terms\nCreate campaign briefs and guidelines\nTrack collaboration performance\nManage content approvals and posting\nTimeline: Setup within 1 week\n\n## Success Metrics and Platform KPIs\n\nFacebook: Engagement Rate >3%, ROAS >4:1\nInstagram: Follower Growth >5%/month, Story Views >30% of followers\nPinterest: Monthly Views >100K, Save Rate >2%\nOverall: Social Commerce Conversion >2.5%\nResponse Time: <2 hours for customer inquiries\nContent Performance: >10K reach per post average\n\n## Platform-Specific Best Practices\n\n### Pinterest\n\nFocus on seasonal content (plan 45+ days ahead)\nUse rich pins for all products\nCreate themed boards for different styles/rooms\nOptimize for Pinterest SEO with keywords\n\n### Instagram\n\nStories daily, Reels 3x/week minimum\nUse all 30 hashtags strategically\nLeverage shopping tags on all product posts\nEngage with comments within 1 hour\n\n### Facebook\n\nVideo content priority (2x engagement)\nDetailed targeting for paid campaigns\nActive community management in groups\nRetargeting campaigns for site visitors\n\n## Quality Control and Coordination\n\nAll content must maintain brand voice consistency\nVisual assets must meet platform specifications\nCopy must be adapted for platform culture\nCoordinate with Copy Writer/Editor agents as needed\nEnsure FTC compliance for sponsored content\nRegular performance review and strategy updates\n",
        "height": 1840,
        "width": 830,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2340,
        -220
      ],
      "typeVersion": 1,
      "id": "9a654ea2-cc54-4977-970c-4ea57b180597",
      "name": "Sticky Note51"
    }
  ],
  "pinData": {
    "Trigger Condition - Daily Content Posting": [
      {
        "json": {
          "trigger_conditions": "daily_content_posting",
          "trigger_source": "business_manager_agent",
          "priority": "medium",
          "platforms": [
            "facebook",
            "instagram",
            "pinterest"
          ],
          "content_items": [
            {
              "product_id": "ABSTRACT-001",
              "title": "Modern Abstract Wall Art - Limited Edition",
              "description": "Transform your space with this stunning modern abstract piece. Museum-quality archival print, numbered and signed. Only 75 editions available.",
              "image_url": "https://cdn.vividwalls.com/products/abstract-001.jpg",
              "price": 289.99,
              "edition_info": {
                "current": 23,
                "total": 75,
                "artist": "Sarah Chen"
              },
              "tags": [
                "abstract",
                "modern",
                "limited_edition",
                "wall_art"
              ]
            }
          ],
          "scheduling": {
            "type": "optimal_time",
            "timezone": "EST",
            "suggested_times": {
              "facebook": "14:00",
              "instagram": "19:00",
              "pinterest": "21:00"
            }
          },
          "metadata": {
            "correlation_id": "daily_post_2024_03_15",
            "timestamp": "2024-03-15T09:00:00Z"
          }
        }
      }
    ],
    "Trigger Condition - campaign_launch_request": [
      {
        "json": {
          "trigger_conditions": "campaign_launch_request",
          "trigger_source": "marketing_campaign_agent",
          "priority": "high",
          "campaign_details": {
            "campaign_id": "SPRING_COLLECTION_2024",
            "name": "Spring Renewal Art Collection",
            "objective": "product_launch",
            "duration": {
              "start_date": "2024-03-20",
              "end_date": "2024-04-20"
            },
            "total_budget": 5000,
            "expected_roas": 4.5
          },
          "platforms": [
            "facebook",
            "instagram",
            "pinterest"
          ],
          "platform_allocation": {
            "facebook": {
              "budget": 2000,
              "ad_sets": 3,
              "audience_size": 250000
            },
            "instagram": {
              "budget": 2000,
              "ad_sets": 4,
              "audience_size": 180000
            },
            "pinterest": {
              "budget": 1000,
              "promoted_pins": 5,
              "audience_size": 150000
            }
          },
          "creative_assets": {
            "hero_images": [
              "https://cdn.vividwalls.com/campaigns/spring-hero-1.jpg",
              "https://cdn.vividwalls.com/campaigns/spring-hero-2.jpg"
            ],
            "videos": [
              "https://cdn.vividwalls.com/campaigns/spring-teaser.mp4"
            ],
            "copy_variations": [
              {
                "headline": "Spring Into Art",
                "body": "Refresh your space with our exclusive Spring Collection. Limited editions now available.",
                "cta": "Shop Collection"
              },
              {
                "headline": "New Spring Arrivals",
                "body": "Discover vibrant artworks inspired by nature's renewal. Free shipping this week only.",
                "cta": "View Collection"
              }
            ]
          },
          "targeting": {
            "demographics": {
              "age_range": "25-65",
              "gender": "all",
              "income": "above_average"
            },
            "interests": [
              "art_collecting",
              "interior_design",
              "home_decor",
              "luxury_goods"
            ],
            "behaviors": [
              "premium_brand_affinity",
              "online_shopping"
            ],
            "custom_audiences": [
              "website_visitors_30d",
              "email_subscribers",
              "past_purchasers"
            ]
          },
          "kpis": {
            "target_impressions": 500000,
            "target_clicks": 5000,
            "target_conversions": 125,
            "target_revenue": 22500
          }
        }
      }
    ],
    "Trigger Condition - Performance Report Request": [
      {
        "json": {
          "trigger_conditions": "performance_report_request",
          "trigger_source": "business_manager_agent",
          "priority": "medium",
          "report_type": "comprehensive",
          "reporting_period": {
            "start_date": "2024-03-01",
            "end_date": "2024-03-14",
            "comparison_period": "previous_period"
          },
          "platforms": [
            "facebook",
            "instagram",
            "pinterest"
          ],
          "metrics_requested": [
            "reach",
            "impressions",
            "engagement_rate",
            "click_through_rate",
            "conversion_rate",
            "cost_per_acquisition",
            "return_on_ad_spend",
            "follower_growth",
            "content_performance",
            "audience_demographics"
          ],
          "report_sections": {
            "executive_summary": true,
            "platform_breakdown": true,
            "content_analysis": true,
            "audience_insights": true,
            "competitive_benchmarks": true,
            "recommendations": true
          },
          "delivery": {
            "format": [
              "pdf",
              "excel",
              "dashboard_link"
            ],
            "recipients": [
              "business_manager",
              "marketing_director"
            ],
            "deadline": "2024-03-16T17:00:00Z"
          }
        }
      }
    ],
    "Trigger Condition - Content Calendar Planning": [
      {
        "json": {
          "trigger_conditions": "content_calendar_planning",
          "trigger_source": "content_marketing_agent",
          "priority": "medium",
          "planning_period": {
            "month": "April",
            "year": 2024,
            "theme": "Spring Art Showcase"
          },
          "content_themes": [
            {
              "week": 1,
              "theme": "Artist Spotlight - Maria Rodriguez",
              "content_types": [
                "artist_interview",
                "process_videos",
                "collection_preview"
              ]
            },
            {
              "week": 2,
              "theme": "Spring Home Refresh",
              "content_types": [
                "room_makeovers",
                "styling_tips",
                "customer_features"
              ]
            },
            {
              "week": 3,
              "theme": "Limited Edition Launch",
              "content_types": [
                "countdown_posts",
                "behind_scenes",
                "exclusive_previews"
              ]
            },
            {
              "week": 4,
              "theme": "Customer Appreciation",
              "content_types": [
                "testimonials",
                "ugc_features",
                "loyalty_rewards"
              ]
            }
          ],
          "platform_requirements": {
            "facebook": {
              "posts_per_week": 5,
              "live_events": 1,
              "stories": 7
            },
            "instagram": {
              "feed_posts": 7,
              "reels": 3,
              "stories": 14,
              "igtv": 1
            },
            "pinterest": {
              "pins": 10,
              "idea_pins": 2,
              "boards_update": 3
            }
          },
          "promotional_calendar": {
            "sales_events": [
              {
                "date": "2024-04-07",
                "event": "Weekend Flash Sale",
                "discount": "15%"
              },
              {
                "date": "2024-04-22",
                "event": "Earth Day Special",
                "discount": "20% on Nature Collection"
              }
            ],
            "product_launches": [
              {
                "date": "2024-04-15",
                "collection": "Botanical Abstracts",
                "artist": "Sarah Chen"
              }
            ]
          },
          "resource_requirements": {
            "photography_sessions": 2,
            "video_productions": 3,
            "graphic_designs": 25,
            "copywriting_pieces": 40
          }
        }
      }
    ],
    "Trigger Condition - Engagement Crisis": [
      {
        "json": {
          "trigger_conditions": "engagement_crisis",
          "trigger_source": "monitoring_system",
          "priority": "critical",
          "crisis_details": {
            "type": "negative_sentiment_spike",
            "severity": "high",
            "platforms_affected": [
              "facebook",
              "instagram"
            ],
            "detection_time": "2024-03-15T14:32:00Z"
          },
          "incident_data": {
            "primary_issue": "product_quality_complaint",
            "affected_product": "ABSTRACT-047",
            "negative_mentions": 47,
            "sentiment_score": -0.78,
            "viral_potential": "high",
            "influencer_involved": true
          },
          "current_metrics": {
            "negative_comments": 123,
            "shares_of_complaint": 56,
            "brand_mentions": 234,
            "sentiment_trend": "declining",
            "response_rate": "12%"
          },
          "required_actions": [
            "immediate_response_strategy",
            "executive_notification",
            "prepared_statements",
            "influencer_outreach",
            "monitoring_escalation"
          ],
          "stakeholders": {
            "internal": [
              "ceo",
              "customer_service_head",
              "pr_team"
            ],
            "external": [
              "affected_customers",
              "influencer_network"
            ]
          },
          "response_window": {
            "initial_response": "30_minutes",
            "full_resolution": "24_hours"
          }
        }
      }
    ],
    "Trigger Condition - Platform Optimization": [
      {
        "json": {
          "trigger_conditions": "platform_optimization",
          "trigger_source": "analytics_system",
          "priority": "medium",
          "optimization_type": "performance_improvement",
          "platforms_to_optimize": [
            "facebook",
            "instagram"
          ],
          "current_performance": {
            "facebook": {
              "engagement_rate": 2.3,
              "ctr": 0.8,
              "cpc": 1.45,
              "roas": 2.8,
              "issues": [
                "declining_organic_reach",
                "high_cpc"
              ]
            },
            "instagram": {
              "engagement_rate": 4.2,
              "story_completion": 0.65,
              "profile_visits": 1200,
              "issues": [
                "low_reel_performance",
                "hashtag_reach_decline"
              ]
            }
          },
          "optimization_goals": {
            "facebook": {
              "target_engagement": 3.5,
              "target_ctr": 1.2,
              "target_cpc": 1,
              "target_roas": 4
            },
            "instagram": {
              "target_engagement": 5.5,
              "target_story_completion": 0.75,
              "increase_profile_visits": 50
            }
          },
          "recommended_strategies": [
            "audience_refinement",
            "creative_refresh",
            "posting_time_optimization",
            "hashtag_research",
            "content_mix_adjustment",
            "ad_placement_testing"
          ],
          "test_parameters": {
            "duration": "14_days",
            "budget": 1000,
            "test_groups": 3,
            "success_metrics": [
              "engagement_lift",
              "cost_reduction",
              "conversion_increase"
            ]
          }
        }
      }
    ],
    "Trigger Condition - Competitor Analysis": [
      {
        "json": {
          "trigger_conditions": "competitor_analysis",
          "trigger_source": "marketing_research_agent",
          "priority": "low",
          "analysis_scope": {
            "competitors": [
              "ArtisanPrints",
              "GalleryDirect",
              "ModernArtCo"
            ],
            "platforms": [
              "facebook",
              "instagram",
              "pinterest"
            ],
            "time_period": "last_30_days"
          },
          "competitor_data": {
            "ArtisanPrints": {
              "follower_growth": 2.3,
              "avg_engagement": 3.8,
              "posting_frequency": 8,
              "top_content_types": [
                "artist_features",
                "process_videos"
              ],
              "campaign_detected": true,
              "estimated_ad_spend": 3000
            },
            "GalleryDirect": {
              "follower_growth": 1.8,
              "avg_engagement": 4.2,
              "posting_frequency": 12,
              "top_content_types": [
                "product_showcases",
                "customer_rooms"
              ],
              "campaign_detected": false
            },
            "ModernArtCo": {
              "follower_growth": 3.5,
              "avg_engagement": 5.1,
              "posting_frequency": 15,
              "top_content_types": [
                "reels",
                "behind_scenes"
              ],
              "campaign_detected": true,
              "estimated_ad_spend": 5000
            }
          },
          "insights": {
            "content_gaps": [
              "interactive_content",
              "ar_experiences",
              "artist_takeovers"
            ],
            "audience_overlap": 0.35,
            "messaging_trends": [
              "sustainability",
              "local_artists",
              "investment_value"
            ],
            "hashtag_opportunities": [
              "#ArtInvestment",
              "#LimitedEditionArt",
              "#ArtistOwned"
            ]
          },
          "recommendations": [
            "increase_video_content",
            "implement_ar_features",
            "enhance_artist_partnerships",
            "adjust_pricing_strategy"
          ]
        }
      }
    ],
    "Trigger Condition - Influencer Collaboration": [
      {
        "json": {
          "trigger_conditions": "influencer_collaboration",
          "trigger_source": "customer_relationship_agent",
          "priority": "medium",
          "collaboration_type": "product_placement",
          "influencer_details": {
            "name": "Sophie Interior Design",
            "handle": "@sophieinteriors",
            "platforms": [
              "instagram",
              "pinterest"
            ],
            "followers": {
              "instagram": 125000,
              "pinterest": 85000
            },
            "engagement_rate": 4.7,
            "audience_demographics": {
              "age_range": "28-45",
              "gender_split": "75% female",
              "interests": [
                "interior_design",
                "luxury_home",
                "art_collecting"
              ],
              "income_level": "high"
            }
          },
          "collaboration_terms": {
            "type": "paid_partnership",
            "compensation": {
              "cash": 2500,
              "product_value": 1000,
              "commission": "10% of sales"
            },
            "deliverables": [
              {
                "platform": "instagram",
                "content": "feed_posts",
                "quantity": 3,
                "timeline": "2_weeks"
              },
              {
                "platform": "instagram",
                "content": "stories",
                "quantity": 6,
                "timeline": "2_weeks"
              },
              {
                "platform": "instagram",
                "content": "reels",
                "quantity": 1,
                "timeline": "1_week"
              },
              {
                "platform": "pinterest",
                "content": "pins",
                "quantity": 5,
                "timeline": "2_weeks"
              }
            ]
          },
          "campaign_goals": {
            "reach": 200000,
            "engagement": 10000,
            "website_traffic": 2000,
            "conversions": 50,
            "roi_target": 3.5
          },
          "content_guidelines": {
            "key_messages": [
              "limited_edition",
              "investment_quality",
              "exclusive_artist"
            ],
            "required_hashtags": [
              "#VividWallsPartner",
              "#LimitedEditionArt"
            ],
            "approval_required": true,
            "brand_assets": "https://drive.vividwalls.com/influencer-kit"
          },
          "tracking": {
            "promo_code": "SOPHIE20",
            "utm_parameters": "utm_source=influencer&utm_medium=social&utm_campaign=sophie_collab",
            "pixel_tracking": true
          }
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Social Media Director Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Social Media Director Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Social Media Director Webhook": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinterest Agent Tool": {
      "ai_tool": [
        [
          {
            "node": "Social Media Director Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Agent Tool": {
      "ai_tool": [
        [
          {
            "node": "Social Media Director Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Instagram Agent Tool": {
      "ai_tool": [
        [
          {
            "node": "Social Media Director Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Social Analytics Tool": {
      "ai_tool": [
        [
          {
            "node": "Social Media Director Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Content Scheduler Tool": {
      "ai_tool": [
        [
          {
            "node": "Social Media Director Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Social Media Director Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Social Media Knowledge Base": {
      "ai_tool": [
        [
          {
            "node": "Social Media Director Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "Social Media Director Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Social Media Knowledge Base",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Trigger Condition - Daily Content Posting",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trigger Condition - campaign_launch_request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trigger Condition - Performance Report Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trigger Condition - Engagement Crisis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trigger Condition - Content Calendar Planning",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trigger Condition - Platform Optimization",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trigger Condition - Competitor Analysis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trigger Condition - Influencer Collaboration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Condition - Daily Content Posting": {
      "main": [
        [
          {
            "node": "Social Media Director Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Condition - campaign_launch_request": {
      "main": [
        [
          {
            "node": "Social Media Director Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Condition - Performance Report Request": {
      "main": [
        [
          {
            "node": "Social Media Director Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Condition - Engagement Crisis": {
      "main": [
        [
          {
            "node": "Social Media Director Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Condition - Content Calendar Planning": {
      "main": [
        [
          {
            "node": "Social Media Director Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Condition - Platform Optimization": {
      "main": [
        [
          {
            "node": "Social Media Director Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Condition - Influencer Collaboration": {
      "main": [
        [
          {
            "node": "Social Media Director Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Condition - Competitor Analysis": {
      "main": [
        [
          {
            "node": "Social Media Director Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a2863793-fe44-49f2-b12f-c24c207066a8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "80621a4270e0ac393edfe0b84576ab8588a37d1db0f23bca7018517bcf39d930"
  },
  "id": "M1wo3A6fxYsnUCHq",
  "tags": [
    {
      "createdAt": "2025-06-20T02:24:26.556Z",
      "updatedAt": "2025-06-20T02:24:26.556Z",
      "id": "6VVZ3efzkyffQNb0",
      "name": "Agent"
    },
    {
      "name": "Social Media Agent",
      "id": "dOVAqKB93Jnz6VcE",
      "createdAt": "2025-06-22T19:50:02.991Z",
      "updatedAt": "2025-06-22T19:50:02.991Z"
    },
    {
      "name": "Marketing Department",
      "id": "WY5TvS2PKOJb16kQ",
      "createdAt": "2025-06-22T19:24:05.466Z",
      "updatedAt": "2025-06-22T19:24:05.466Z"
    },
    {
      "createdAt": "2025-06-20T15:45:34.722Z",
      "updatedAt": "2025-06-20T15:45:34.722Z",
      "id": "DOGrje2mCZmui0Ic",
      "name": "Multi-Agent System"
    }
  ]
}