services/n8n/agents/workflows/core/business_manager_agent_original.json
{
  "name": "Business Manager Agent",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [700, 300]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o"
        },
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [-1280, 1840],
      "id": "b2c3d4e5-f6a7-8901-bcde-f23456789012",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "nMbluFwHsrVvkQBJ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [1120, -80],
      "id": "c3d4e5f6-a7b8-9012-cdef-345678901234",
      "name": "When chat message received",
      "webhookId": "business-manager-chat-trigger"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [3580, 640],
      "id": "d4e5f6a7-b8c9-0123-defa-456789012345",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "path": "business-manager-webhook",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [720, 1200],
      "id": "e5f6a7b8-c9d0-1234-efab-567890123456",
      "name": "Business Manager Webhook",
      "webhookId": "business-manager-webhook"
    },
    {
      "parameters": {
        "systemPromptFile": "={{ $vars.BUSINESS_MANAGER_SYSTEM_PROMPT }}",
        "instructions": "You are the Business Manager Agent for VividWalls. Follow the system prompt for all operations.",
        "options": {
          "outputParsingMode": "custom",
          "customOutputParser": "itemInformation",
          "returnIntermediateSteps": true,
          "preserveOriginalMessages": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [2200, 640],
      "id": "f6a7b8c9-d0e1-2345-fabc-678901234567",
      "name": "Business Manager Agent",
      "executeOnce": false
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ {\n  'agentId': 'business-manager-agent',\n  'trigger': 'manual',\n  'timestamp': $now.toISO(),\n  'input': $json\n} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [900, -80],
      "id": "a7b8c9d0-e1f2-3456-abcd-789012345678",
      "name": "Set Agent Context"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ {\n  'agentId': 'business-manager-agent',\n  'trigger': 'workflow',\n  'timestamp': $now.toISO(),\n  'input': $json,\n  'sourceWorkflow': $execution.resumeUrl\n} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [900, 300],
      "id": "b8c9d0e1-f2a3-4567-bcde-890123456789",
      "name": "Set Workflow Context"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ {\n  'agentId': 'business-manager-agent',\n  'trigger': 'webhook',\n  'timestamp': $now.toISO(),\n  'input': $json,\n  'headers': $json.headers,\n  'query': $json.query\n} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [900, 700],
      "id": "c9d0e1f2-a3b4-5678-cdef-901234567890",
      "name": "Set Webhook Context"
    },
    {
      "parameters": {
        "content": "## Business Manager Agent - Core Workflow\n\n### Purpose\nThe Business Manager Agent serves as the central orchestrator of all marketing operations for VividWalls. This agent oversees performance across all channels, coordinates between specialized agents, and ensures strategic alignment with business objectives.\n\n### Key Responsibilities\n1. **Strategic Oversight**: Monitor overall business performance\n2. **Resource Management**: Optimize budget allocation\n3. **Agent Coordination**: Manage workflow between all agents\n4. **Performance Analysis**: Consolidate metrics\n5. **Executive Reporting**: Provide comprehensive insights\n\n### Available Tools\n- All 8 Director Agents\n- Shopify MCP integration\n- Facebook Ads MCP integration\n- n8n workflow automation\n- Email & Telegram communication\n- HTML report generation",
        "height": 423.2,
        "width": 450
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [300, -300],
      "id": "note-001"
    },
    {
      "parameters": {
        "content": "## Trigger Configuration\n\n### 1. Manual Chat Trigger\n- **Webhook ID**: business-manager-chat-trigger\n- **Purpose**: Interactive chat with stakeholder\n- **Use Case**: Direct queries and real-time decisions\n\n### 2. Workflow Trigger\n- **Type**: Execute Workflow Trigger\n- **Purpose**: Called by other agents/workflows\n- **Use Case**: Automated coordination tasks\n\n### 3. Webhook Trigger\n- **Path**: /business-manager-webhook\n- **Purpose**: External system integration\n- **Use Case**: Platform callbacks, API integrations",
        "height": 320,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1420, -300],
      "id": "note-002"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.trigger }}",
              "rightValue": "manual",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "leftValue": "={{ $json.trigger }}",
              "rightValue": "workflow",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "leftValue": "={{ $json.trigger }}",
              "rightValue": "webhook",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "fallbackOutput": "extra"
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1340, 640],
      "id": "d0e1f2a3-b4c5-6789-defa-012345678901",
      "name": "Route by Trigger Type"
    },
    {
      "parameters": {
        "content": "## Router Logic\n\nThe switch node routes requests based on trigger type:\n\n### Output 0: Manual/Chat\n- Interactive queries from stakeholder\n- Real-time decision requests\n- Ad-hoc reporting needs\n\n### Output 1: Workflow\n- Automated tasks from other agents\n- Scheduled operations\n- System coordination\n\n### Output 2: Webhook\n- External platform callbacks\n- API integrations\n- Performance alerts\n\n### Output 3: Fallback\n- Unknown trigger types\n- Error handling",
        "height": 350,
        "width": 350
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1340, 920],
      "id": "note-003"
    },
    {
      "parameters": {
        "description": "Access Social Media Director for platform coordination",
        "workflowId": {
          "__rl": true,
          "value": "SocialMediaDirectorWorkflowId",
          "mode": "list",
          "cachedResultName": "Social Media Director Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "task_type": "={{ $fromAI('task_type', 'campaign_coordination, performance_review, budget_allocation') }}",
            "platforms": "={{ $fromAI('platforms', 'facebook, instagram, pinterest') }}",
            "budget": "={{ $fromAI('budget', 'allocation details') }}",
            "timeline": "={{ $fromAI('timeline', 'execution schedule') }}",
            "performance_targets": "={{ $fromAI('performance_targets', 'ROAS, engagement goals') }}"
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [4000, 1840],
      "id": "e1f2a3b4-c5d6-7890-efab-123456789012",
      "name": "Social Media Director Tool"
    },
    {
      "parameters": {
        "description": "Coordinate with Marketing Director for strategic alignment",
        "workflowId": {
          "__rl": true,
          "value": "MarketingDirectorWorkflowId",
          "mode": "list",
          "cachedResultName": "Marketing Director Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "request_type": "={{ $fromAI('request_type', 'strategy_review, campaign_approval, performance_report') }}",
            "data": "={{ $fromAI('data', 'relevant metrics and insights') }}",
            "recommendations": "={{ $fromAI('recommendations', 'strategic suggestions') }}",
            "urgency": "={{ $fromAI('urgency', 'high, medium, low') }}"
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [5200, 1840],
      "id": "f2a3b4c5-d6e7-8901-fabc-234567890123",
      "name": "Marketing Director Tool"
    },
    {
      "parameters": {
        "description": "Access Analytics Director for performance insights",
        "workflowId": {
          "__rl": true,
          "value": "AnalyticsDirectorWorkflowId",
          "mode": "list",
          "cachedResultName": "Analytics Director Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "analysis_type": "={{ $fromAI('analysis_type', 'cross_channel, roi_analysis, customer_journey') }}",
            "date_range": "={{ $fromAI('date_range', 'today, yesterday, last_week, custom') }}",
            "metrics": "={{ $fromAI('metrics', 'revenue, roas, cac, ltv') }}",
            "segments": "={{ $fromAI('segments', 'customer segments to analyze') }}"
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [6400, 1840],
      "id": "a3b4c5d6-e7f8-9012-abcd-345678901234",
      "name": "Analytics Director Tool"
    },
    {
      "parameters": {
        "description": "Manage financial operations and budgets",
        "workflowId": {
          "__rl": true,
          "value": "FinanceDirectorWorkflowId",
          "mode": "list",
          "cachedResultName": "Finance Director Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "operation": "={{ $fromAI('operation', 'budget_review, allocation, forecast, expense_report') }}",
            "department": "={{ $fromAI('department', 'marketing, operations, technology') }}",
            "amount": "={{ $fromAI('amount', 'budget amount') }}",
            "period": "={{ $fromAI('period', 'daily, weekly, monthly, quarterly') }}"
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [7600, 1840],
      "id": "b4c5d6e7-f8a9-0123-bcde-456789012345",
      "name": "Finance Director Tool"
    },
    {
      "parameters": {
        "description": "Coordinate operations and fulfillment",
        "workflowId": {
          "__rl": true,
          "value": "OperationsDirectorWorkflowId",
          "mode": "list",
          "cachedResultName": "Operations Director Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "task": "={{ $fromAI('task', 'inventory_check, fulfillment_status, logistics_update') }}",
            "priority": "={{ $fromAI('priority', 'urgent, high, normal, low') }}",
            "products": "={{ $fromAI('products', 'product IDs or categories') }}",
            "requirements": "={{ $fromAI('requirements', 'specific operational needs') }}"
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [8800, 1840],
      "id": "c5d6e7f8-a9b0-1234-cdef-567890123456",
      "name": "Operations Director Tool"
    },
    {
      "parameters": {
        "description": "Manage customer experience initiatives",
        "workflowId": {
          "__rl": true,
          "value": "CustomerExperienceDirectorWorkflowId",
          "mode": "list",
          "cachedResultName": "Customer Experience Director Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "action": "={{ $fromAI('action', 'sentiment_analysis, support_review, experience_optimization') }}",
            "channel": "={{ $fromAI('channel', 'email, chat, phone, social') }}",
            "metrics": "={{ $fromAI('metrics', 'satisfaction, nps, resolution_time') }}",
            "issues": "={{ $fromAI('issues', 'customer pain points') }}"
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [10000, 1840],
      "id": "d6e7f8a9-b0c1-2345-defa-678901234567",
      "name": "Customer Experience Director Tool"
    },
    {
      "parameters": {
        "description": "Coordinate with Product Director for product strategy",
        "workflowId": {
          "__rl": true,
          "value": "ProductDirectorWorkflowId",
          "mode": "list",
          "cachedResultName": "Product Director Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "request": "={{ $fromAI('request', 'product_performance, new_launch, inventory_strategy') }}",
            "products": "={{ $fromAI('products', 'product IDs or categories') }}",
            "market_data": "={{ $fromAI('market_data', 'trends and insights') }}",
            "timeline": "={{ $fromAI('timeline', 'launch or update schedule') }}"
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [11200, 1840],
      "id": "e7f8a9b0-c1d2-3456-efab-789012345678",
      "name": "Product Director Tool"
    },
    {
      "parameters": {
        "description": "Access Technology Director for system management",
        "workflowId": {
          "__rl": true,
          "value": "TechnologyDirectorWorkflowId",
          "mode": "list",
          "cachedResultName": "Technology Director Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "request_type": "={{ $fromAI('request_type', 'system_status, integration_check, automation_setup') }}",
            "systems": "={{ $fromAI('systems', 'shopify, n8n, mcp_servers') }}",
            "priority": "={{ $fromAI('priority', 'critical, high, normal') }}",
            "technical_details": "={{ $fromAI('technical_details', 'specific requirements') }}"
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [12400, 1840],
      "id": "f8a9b0c1-d2e3-4567-fabc-890123456789",
      "name": "Technology Director Tool"
    },
    {
      "parameters": {
        "content": "## Director Agent Tools\n\nAll 8 Director Agents are available as tools:\n\n1. **Social Media Director**: Platform coordination\n2. **Marketing Director**: Strategic alignment\n3. **Analytics Director**: Performance insights\n4. **Finance Director**: Budget management\n5. **Operations Director**: Fulfillment & logistics\n6. **Customer Experience Director**: CX optimization\n7. **Product Director**: Product strategy\n8. **Technology Director**: System management\n\nEach tool accepts AI-extracted parameters using $fromAI() functions for seamless integration.",
        "height": 350,
        "width": 600
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [3400, 1640],
      "id": "note-004"
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "={{ $fromAI('shopify_tool', 'get_orders, get_customers, get_products, update_product') }}",
        "toolParameters": "={{ $fromAI('tool_parameters', 'Parameters for Shopify operation', 'json') }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [4000, 2400],
      "id": "a9b0c1d2-e3f4-5678-abcd-901234567890",
      "name": "Shopify MCP - Execute Tool",
      "credentials": {
        "mcpClientApi": {
          "id": "ShopifyMCP",
          "name": "Shopify MCP account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "={{ $fromAI('facebook_tool', 'get_adaccount_insights, get_campaign_insights, update_campaign') }}",
        "toolParameters": "={{ $fromAI('tool_parameters', 'Parameters for Facebook Ads operation', 'json') }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [5200, 2400],
      "id": "b0c1d2e3-f4a5-6789-bcde-012345678901",
      "name": "Facebook Ads MCP - Execute Tool",
      "credentials": {
        "mcpClientApi": {
          "id": "FacebookAdsMCP",
          "name": "Facebook Ads MCP account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "={{ $fromAI('n8n_tool', 'execute_workflow, list_workflows, get_executions') }}",
        "toolParameters": "={{ $fromAI('tool_parameters', 'Parameters for n8n operation', 'json') }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [6400, 2400],
      "id": "c1d2e3f4-a5b6-7890-cdef-123456789012",
      "name": "n8n MCP - Execute Tool",
      "credentials": {
        "mcpClientApi": {
          "id": "n8nMCP",
          "name": "n8n MCP account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "send_message",
        "toolParameters": "={{ {\n  'chat_id': $vars.TELEGRAM_STAKEHOLDER_CHAT_ID,\n  'message': $fromAI('message', 'Message to send to stakeholder'),\n  'parse_mode': 'HTML'\n} }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [7600, 2400],
      "id": "d2e3f4a5-b6c7-8901-defa-234567890123",
      "name": "Telegram MCP - Send Message",
      "credentials": {
        "mcpClientApi": {
          "id": "TelegramMCP",
          "name": "Telegram MCP account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "send_email",
        "toolParameters": "={{ {\n  'to': 'kingler@vividwalls.co',\n  'subject': $fromAI('subject', 'Email subject'),\n  'body': $fromAI('body', 'Email content'),\n  'html': true\n} }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [8800, 2400],
      "id": "e3f4a5b6-c7d8-9012-efab-345678901234",
      "name": "Email MCP - Send Email",
      "credentials": {
        "mcpClientApi": {
          "id": "EmailMCP",
          "name": "Email MCP account"
        }
      }
    },
    {
      "parameters": {
        "content": "## MCP Integration Tools\n\n### E-commerce & Analytics\n- **Shopify MCP**: Order, customer, product management\n- **Facebook Ads MCP**: Campaign performance & optimization\n- **n8n MCP**: Workflow automation & execution\n\n### Communication\n- **Telegram MCP**: Real-time stakeholder notifications\n- **Email MCP**: Formal reports to kingler@vividwalls.co\n\nAll MCP tools use AI parameter extraction for seamless integration with the Business Manager Agent's decision-making process.",
        "height": 300,
        "width": 500
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [3400, 2200],
      "id": "note-005"
    },
    {
      "parameters": {
        "sessionId": "={{ 'business-manager-' + $execution.id }}",
        "tableName": "agent_chat_memory"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [-1080, 1840],
      "id": "f4a5b6c7-d8e9-0123-fabc-456789012345",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "PostgresMemory",
          "name": "Postgres Chat Memory"
        }
      }
    },
    {
      "parameters": {
        "url": "https://vividwalls-context.us-west-2.aws.supabase.co",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $vars.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $vars.SUPABASE_SERVICE_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "embedding",
              "value": "={{ $json.embedding }}"
            },
            {
              "name": "content",
              "value": "={{ $json.query }}"
            },
            {
              "name": "metadata",
              "value": "={{ { 'source': 'business_manager_query', 'timestamp': $now.toISO() } }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [-880, 1840],
      "id": "a5b6c7d8-e9f0-1234-abcd-567890123456",
      "name": "Supabase Memory",
      "executeOnce": false
    },
    {
      "parameters": {
        "content": "## Memory Systems\n\n### Postgres Chat Memory\n- Session-based conversation tracking\n- Contextual awareness across interactions\n- Agent learning and adaptation\n\n### Supabase Integration\n- Vector embeddings for semantic search\n- Historical decision tracking\n- Performance pattern recognition\n\nBoth memory systems work together to provide the Business Manager Agent with comprehensive context for decision-making.",
        "height": 280,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-1280, 2120],
      "id": "note-006"
    },
    {
      "parameters": {
        "path": "business-manager-feedback-webhook",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [720, 1600],
      "id": "b6c7d8e9-f0a1-2345-bcde-678901234567",
      "name": "Performance Feedback Webhook",
      "webhookId": "business-manager-feedback-webhook"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ { \n  'feedback_type': $json.feedback_type,\n  'source': $json.source,\n  'performance_data': $json.performance_data,\n  'timestamp': $now.toISO(),\n  'action_required': $json.action_required\n} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [1000, 1600],
      "id": "c7d8e9f0-a1b2-3456-cdef-789012345678",
      "name": "Process Performance Feedback"
    },
    {
      "parameters": {
        "content": "## Feedback Mechanisms\n\n### Performance Feedback Webhook\nReceives real-time performance data from:\n- Platform agents (Social Media, Email, etc.)\n- Analytics systems\n- Customer experience metrics\n- Financial performance alerts\n\n### Processing Logic\n- Structures incoming feedback\n- Triggers automated responses\n- Updates decision models\n- Notifies stakeholder when needed",
        "height": 300,
        "width": 350
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [720, 1900],
      "id": "note-007"
    },
    {
      "parameters": {
        "content": "## Daily Operations Schedule\n\n### Morning Review (9:00 AM EST)\n1. Check overnight sales (Shopify MCP)\n2. Review ad performance (Facebook MCP)\n3. Monitor email campaigns\n4. Check workflow errors (n8n MCP)\n5. Auto-optimize underperformers\n\n### Midday Check (1:00 PM)\n1. Real-time campaign monitoring\n2. Inventory status check\n3. Budget reallocation\n4. Trigger promotions for low stock\n\n### Evening Summary (5:00 PM)\n1. Compile daily performance\n2. Execute reporting workflow\n3. Plan tomorrow's priorities\n4. Send stakeholder report",
        "height": 400,
        "width": 350
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [2600, -300],
      "id": "note-008"
    },
    {
      "parameters": {
        "resource": "task",
        "operation": "create",
        "title": "={{ $fromAI('approval_title', 'Title for approval task') }}",
        "description": "={{ $fromAI('approval_description', 'Detailed description of what needs approval') }}",
        "teamId": "={{ $vars.LINEAR_TEAM_ID }}",
        "priority": 2,
        "labelIds": ["approval-required", "business-manager"]
      },
      "type": "n8n-nodes-base.linear",
      "typeVersion": 1,
      "position": [3500, 1100],
      "id": "d8e9f0a1-b2c3-4567-defa-890123456789",
      "name": "Create Approval Task",
      "credentials": {
        "linearApi": {
          "id": "LinearAPI",
          "name": "Linear API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.approval_required }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "leftValue": "={{ $json.priority }}",
              "rightValue": "critical",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [3200, 1200],
      "id": "e9f0a1b2-c3d4-5678-efab-901234567890",
      "name": "Approval Required?"
    },
    {
      "parameters": {
        "content": "## Approval Workflow\n\n### Triggers for Approval\n1. Budget changes >$5000\n2. Critical strategic decisions\n3. New platform integrations\n4. Major campaign launches\n5. Crisis response actions\n\n### Approval Process\n1. Creates Linear task\n2. Notifies stakeholder via Telegram\n3. Tracks approval status\n4. Executes upon approval\n\nThis ensures human-in-the-loop for critical decisions while maintaining automation efficiency.",
        "height": 350,
        "width": 350
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [3200, 1500],
      "id": "note-009"
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "generate_html_report",
        "toolParameters": "={{ {\n  'report_type': $fromAI('report_type', 'daily, weekly, monthly, custom'),\n  'data': $json.performance_data,\n  'include_charts': true,\n  'interactive': true,\n  'brand_colors': {\n    'primary': '#2C3E50',\n    'accent': '#E74C3C',\n    'success': '#27AE60'\n  }\n} }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [10000, 2400],
      "id": "f0a1b2c3-d4e5-6789-fabc-012345678901",
      "name": "HTML Report Generator MCP",
      "credentials": {
        "mcpClientApi": {
          "id": "ReportGeneratorMCP",
          "name": "Report Generator MCP account"
        }
      }
    },
    {
      "parameters": {
        "content": "## HTML Report Generation\n\n### Beautiful Stakeholder Reports\nAll reports to Kingler are generated as:\n- Interactive HTML dashboards\n- Modern UX/UI with animations\n- Responsive design\n- Dark mode support\n- Interactive charts (Chart.js/D3.js)\n\n### Report Components\n1. Executive Summary Header\n2. Interactive Dashboard\n3. Visual Analytics\n4. Action Items\n5. Recommendations Panel\n\n### Features\n- Export to PDF/Excel\n- Search & filter\n- Mobile-optimized\n- WCAG 2.1 AA compliant",
        "height": 400,
        "width": 350
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [10000, 2700],
      "id": "note-010"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "code": "// Daily Morning Review Automation\nconst performMorningReview = async () => {\n  const reviews = [];\n  \n  // 1. Check overnight sales\n  const overnightOrders = await $tools.shopifyMCP.get_orders({\n    created_at_min: 'yesterday_evening',\n    status: 'any'\n  });\n  \n  // 2. Review Facebook Ads\n  const fbMetrics = await $tools.facebookMCP.get_adaccount_insights({\n    date_preset: 'yesterday',\n    fields: ['spend', 'revenue', 'roas']\n  });\n  \n  // 3. Auto-optimize if needed\n  if (fbMetrics.roas < 2.5) {\n    await $tools.facebookMCP.bulk_update_campaigns({\n      filter: { daily_budget: '>100' },\n      updates: { daily_budget_multiplier: 0.8 }\n    });\n    reviews.push('Reduced budget for underperforming campaigns');\n  }\n  \n  return {\n    timestamp: new Date().toISOString(),\n    reviews: reviews,\n    metrics: {\n      overnight_revenue: overnightOrders.total,\n      facebook_roas: fbMetrics.roas\n    }\n  };\n};\n\nreturn await performMorningReview();",
        "noDataExpression": "={{ {} }}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2600, 400],
      "id": "a1b2c3d4-e5f6-7890-abcd-234567890123",
      "name": "Morning Review Automation"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "code": "// Performance Crisis Detection\nconst detectCrisis = (metrics) => {\n  const triggers = [];\n  \n  // Check ROAS threshold\n  if (metrics.daily_roas < 2.0) {\n    triggers.push({\n      type: 'ROAS_CRISIS',\n      severity: 'high',\n      action: 'pause_underperformers'\n    });\n  }\n  \n  // Check CAC threshold\n  if (metrics.cac > 50) {\n    triggers.push({\n      type: 'CAC_CRISIS',\n      severity: 'medium',\n      action: 'optimize_targeting'\n    });\n  }\n  \n  // Check conversion rate\n  if (metrics.conversion_rate < 0.02) {\n    triggers.push({\n      type: 'CONVERSION_CRISIS',\n      severity: 'high',\n      action: 'review_funnel'\n    });\n  }\n  \n  return {\n    crisis_detected: triggers.length > 0,\n    triggers: triggers,\n    recommended_actions: triggers.map(t => t.action)\n  };\n};\n\nreturn detectCrisis($json.metrics);",
        "noDataExpression": "={{ {} }}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2600, 800],
      "id": "b2c3d4e5-f6a7-8901-bcde-345678901234",
      "name": "Crisis Detection Logic"
    },
    {
      "parameters": {
        "content": "## Automation Scripts\n\n### Morning Review\n- Automated daily performance check\n- Overnight sales analysis\n- Ad spend optimization\n- Workflow error monitoring\n\n### Crisis Detection\n- Real-time performance monitoring\n- Threshold-based alerts\n- Automated response actions\n- Stakeholder notifications\n\nThese scripts ensure proactive management and rapid response to performance issues.",
        "height": 300,
        "width": 350
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [2200, 600],
      "id": "note-011"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ {\n  'performance_thresholds': {\n    'green': { 'roas': '>3.5', 'cac': '<40' },\n    'yellow': { 'roas': '2.5-3.5', 'cac': '40-50' },\n    'red': { 'roas': '<2.5', 'cac': '>50' }\n  },\n  'budget_rules': {\n    'scale': { 'condition': 'roi > 4', 'action': 'increase 25%' },\n    'maintain': { 'condition': 'roi > 3', 'action': 'no change' },\n    'reduce': { 'condition': 'roi > 2', 'action': 'decrease 15%' },\n    'pause': { 'condition': 'roi < 2', 'action': 'pause channel' }\n  },\n  'communication_matrix': {\n    'critical': 'telegram + email',\n    'high': 'telegram',\n    'normal': 'dashboard update',\n    'low': 'weekly summary'\n  }\n} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [1800, 300],
      "id": "c3d4e5f6-a7b8-9012-cdef-456789012345",
      "name": "Business Rules Configuration"
    },
    {
      "parameters": {
        "content": "## Business Rules Engine\n\n### Performance Thresholds\n- **Green**: Scale operations\n- **Yellow**: Optimize & monitor\n- **Red**: Immediate action required\n\n### Budget Allocation\n- Automated scaling based on ROI\n- Channel performance tracking\n- Resource reallocation logic\n\n### Communication Priorities\n- Critical: Immediate multi-channel\n- High: Real-time notifications\n- Normal: Dashboard updates\n- Low: Batch reporting\n\nThese rules ensure consistent decision-making aligned with business objectives.",
        "height": 400,
        "width": 350
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1800, 700],
      "id": "note-012"
    },
    {
      "parameters": {
        "description": "Coordinate with Creative Director for visual assets",
        "workflowId": {
          "__rl": true,
          "value": "CreativeDirectorWorkflowId",
          "mode": "list",
          "cachedResultName": "Creative Director Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "request_type": "={{ $fromAI('request_type', 'select_images, create_campaign_visuals, brand_review') }}",
            "topic": "={{ $fromAI('topic', 'campaign theme or product focus') }}",
            "style": "={{ $fromAI('style', 'visual style preferences') }}",
            "color": "={{ $fromAI('color', 'brand colors or palette') }}",
            "theme": "={{ $fromAI('theme', 'creative theme or mood') }}",
            "quantity": "={{ $fromAI('quantity', 'number of assets needed') }}"
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [13600, 1840],
      "id": "a4b5c6d7-e8f9-0123-bcde-456789012346",
      "name": "Creative Director Tool"
    },
    {
      "parameters": {
        "content": "## Agent Coordination Flow\n\n### Hierarchical Structure\n```\nBusiness Manager (Central Hub)\n    |\n    ├── Marketing Director\n    │   ├── Social Media Director\n    │   └── Creative Director\n    |\n    ├── Analytics Director\n    │   └── Performance Insights\n    |\n    ├── Finance Director\n    │   └── Budget Management\n    |\n    ├── Operations Director\n    │   └── Fulfillment\n    |\n    ├── Customer Experience Director\n    │   └── Support & Satisfaction\n    |\n    ├── Product Director\n    │   └── Inventory & Strategy\n    |\n    └── Technology Director\n        └── Systems & Integration\n```\n\n### Communication Protocol\n- Bi-directional feedback loops\n- Real-time performance data\n- Strategic alignment checks\n- Automated task delegation",
        "height": 500,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [13600, 2140],
      "id": "note-013"
    },
    {
      "parameters": {
        "options": {
          "allowedCorsOrigins": "*"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [-1480, 1840],
      "id": "d4e5f6a7-b8c9-0123-defa-567890123457",
      "name": "Local Ollama Model (Backup)",
      "credentials": {
        "ollamaApi": {
          "id": "OllamaLocal",
          "name": "Local Ollama"
        }
      }
    },
    {
      "parameters": {
        "content": "## Model Configuration\n\n### Primary Model\n- **OpenAI GPT-4o**: Main reasoning engine\n- **Temperature**: 0.7 for balanced creativity\n- **Context**: Full system prompt loaded\n\n### Backup Model\n- **Local Ollama**: Failover option\n- **Use Case**: When OpenAI unavailable\n- **Performance**: Slightly reduced capability\n\nThe Business Manager Agent uses advanced LLM capabilities for complex decision-making and multi-agent coordination.",
        "height": 300,
        "width": 350
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-1680, 2120],
      "id": "note-014"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "code": "// Generate Executive Summary\nconst generateExecutiveSummary = (data) => {\n  const summary = {\n    date: new Date().toISOString().split('T')[0],\n    kpis: {\n      revenue: data.revenue || 0,\n      spend: data.spend || 0,\n      roas: (data.revenue / data.spend).toFixed(2),\n      new_customers: data.new_customers || 0,\n      conversion_rate: data.conversion_rate || 0\n    },\n    performance: {\n      vs_yesterday: calculateChange(data.revenue, data.yesterday_revenue),\n      vs_last_week: calculateChange(data.revenue, data.last_week_revenue),\n      vs_target: calculateChange(data.revenue, data.target_revenue)\n    },\n    top_channels: rankChannels(data.channel_performance),\n    recommendations: generateRecommendations(data),\n    alerts: identifyAlerts(data)\n  };\n  \n  return summary;\n};\n\nconst calculateChange = (current, previous) => {\n  if (!previous) return 0;\n  return ((current - previous) / previous * 100).toFixed(1);\n};\n\nconst rankChannels = (channels) => {\n  return Object.entries(channels || {})\n    .sort(([,a], [,b]) => b.revenue - a.revenue)\n    .slice(0, 3)\n    .map(([name, data]) => ({\n      name,\n      revenue: data.revenue,\n      roas: data.roas\n    }));\n};\n\nconst generateRecommendations = (data) => {\n  const recs = [];\n  \n  if (data.roas > 4) {\n    recs.push('Scale high-performing campaigns by 25%');\n  }\n  \n  if (data.cac > 45) {\n    recs.push('Optimize targeting to reduce CAC');\n  }\n  \n  if (data.inventory_low) {\n    recs.push('Restock top-selling products urgently');\n  }\n  \n  return recs;\n};\n\nconst identifyAlerts = (data) => {\n  const alerts = [];\n  \n  if (data.roas < 2.5) {\n    alerts.push({ type: 'warning', message: 'ROAS below threshold' });\n  }\n  \n  if (data.budget_utilization > 0.95) {\n    alerts.push({ type: 'info', message: 'Budget nearly exhausted' });\n  }\n  \n  return alerts;\n};\n\nreturn generateExecutiveSummary($json);",
        "noDataExpression": "={{ {} }}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3800, 400],
      "id": "e5f6a7b8-c9d0-1234-efab-678901234568",
      "name": "Executive Summary Generator"
    },
    {
      "parameters": {
        "content": "## Advanced Features\n\n### Executive Summary Generator\n- Automated KPI calculation\n- Performance comparisons\n- Channel rankings\n- Smart recommendations\n- Alert identification\n\n### Integration Benefits\n- Real-time data processing\n- Historical trend analysis\n- Predictive insights\n- Actionable recommendations\n\nThis ensures stakeholder receives concise, actionable intelligence for decision-making.",
        "height": 320,
        "width": 350
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [3800, 720],
      "id": "note-015"
    },
    {
      "parameters": {
        "jsCode": "// Output Parser for structured responses\nconst parseOutput = (response) => {\n  try {\n    // Extract structured data from AI response\n    const parsed = {\n      action: extractAction(response),\n      data: extractData(response),\n      next_steps: extractNextSteps(response),\n      notifications: extractNotifications(response)\n    };\n    \n    return parsed;\n  } catch (error) {\n    return {\n      action: 'review',\n      data: { raw_response: response },\n      error: error.message\n    };\n  }\n};\n\nconst extractAction = (text) => {\n  const actionPattern = /ACTION:\\s*([^\\n]+)/i;\n  const match = text.match(actionPattern);\n  return match ? match[1].trim() : 'none';\n};\n\nconst extractData = (text) => {\n  const dataPattern = /DATA:\\s*({[^}]+})/i;\n  const match = text.match(dataPattern);\n  return match ? JSON.parse(match[1]) : {};\n};\n\nconst extractNextSteps = (text) => {\n  const stepsPattern = /NEXT STEPS:\\s*([^\\n]+)/gi;\n  const matches = text.matchAll(stepsPattern);\n  return Array.from(matches).map(m => m[1].trim());\n};\n\nconst extractNotifications = (text) => {\n  const notifyPattern = /NOTIFY:\\s*([^\\n]+)/gi;\n  const matches = text.matchAll(notifyPattern);\n  return Array.from(matches).map(m => m[1].trim());\n};\n\nreturn parseOutput($input.response);"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [1600, 1840],
      "id": "f6a7b8c9-d0e1-2345-fabc-789012345679",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "content": "## Output Parsing\n\n### Structured Response Format\nThe Business Manager Agent returns structured outputs:\n\n```\nACTION: <specific action to take>\nDATA: {json_data_object}\nNEXT STEPS: <follow-up actions>\nNOTIFY: <who to notify and how>\n```\n\n### Benefits\n- Consistent response format\n- Easy integration with tools\n- Clear action items\n- Automated notifications\n\nThis ensures all agent responses can be automatically processed and actioned.",
        "height": 350,
        "width": 350
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1600, 2140],
      "id": "note-016"
    },
    {
      "parameters": {
        "content": "## Error Handling & Recovery\n\n### Error Types\n1. **API Failures**: Retry with exponential backoff\n2. **Data Issues**: Validate and sanitize inputs\n3. **Tool Errors**: Fallback to alternative tools\n4. **Model Failures**: Switch to backup Ollama\n\n### Recovery Strategies\n- Automatic retries (3 attempts)\n- Graceful degradation\n- Error notifications to Tech Director\n- Audit logging for debugging\n\n### Monitoring\n- Real-time error tracking\n- Performance metrics\n- Success rate monitoring\n- Alert thresholds",
        "height": 380,
        "width": 350
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [14800, 300],
      "id": "note-017"
    },
    {
      "parameters": {
        "content": "## Security & Compliance\n\n### Access Control\n- Role-based permissions\n- API key management\n- Secure credential storage\n\n### Data Protection\n- Encrypted communications\n- PII handling protocols\n- GDPR compliance checks\n\n### Audit Trail\n- All decisions logged\n- Change tracking\n- Performance history\n- Compliance reporting\n\nThe Business Manager Agent maintains enterprise-grade security for all operations.",
        "height": 380,
        "width": 350
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [14800, 720],
      "id": "note-018"
    },
    {
      "parameters": {
        "content": "## Performance Optimization\n\n### Caching Strategy\n- 15-minute cache for reports\n- Real-time data for critical metrics\n- Precomputed dashboards\n\n### Parallel Processing\n- Concurrent API calls\n- Batch operations\n- Async task handling\n\n### Resource Management\n- Memory optimization\n- Query efficiency\n- Connection pooling\n\nOptimizations ensure sub-second response times for most operations.",
        "height": 350,
        "width": 350
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [14800, 1140],
      "id": "note-019"
    },
    {
      "parameters": {
        "content": "## Integration Testing\n\n### Test Scenarios\n1. **Morning Review**: Automated daily checks\n2. **Crisis Response**: Threshold breach handling\n3. **Multi-Agent Coordination**: Task delegation\n4. **Report Generation**: HTML output quality\n5. **Approval Workflow**: Human-in-the-loop\n\n### Test Data\n- Mock API responses\n- Historical performance data\n- Edge case scenarios\n\n### Success Metrics\n- 99.9% uptime\n- <2s response time\n- 95% automation rate\n- 100% critical alert delivery",
        "height": 400,
        "width": 350
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [14800, 1540],
      "id": "note-020"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Set Agent Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Set Workflow Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Business Manager Webhook": {
      "main": [
        [
          {
            "node": "Set Webhook Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Agent Context": {
      "main": [
        [
          {
            "node": "Route by Trigger Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Workflow Context": {
      "main": [
        [
          {
            "node": "Route by Trigger Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Webhook Context": {
      "main": [
        [
          {
            "node": "Route by Trigger Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Trigger Type": {
      "main": [
        [
          {
            "node": "Business Manager Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Business Manager Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Business Manager Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Business Manager Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Business Manager Agent": {
      "main": [
        [
          {
            "node": "Approval Required?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approval Required?": {
      "main": [
        [
          {
            "node": "Create Approval Task",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Approval Task": {
      "main": [
        [
          {
            "node": "Telegram MCP - Send Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Performance Feedback Webhook": {
      "main": [
        [
          {
            "node": "Process Performance Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Performance Feedback": {
      "main": [
        [
          {
            "node": "Business Manager Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Business Manager Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Business Manager Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Business Manager Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Social Media Director Tool": {
      "ai_tool": [
        [
          {
            "node": "Business Manager Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Marketing Director Tool": {
      "ai_tool": [
        [
          {
            "node": "Business Manager Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Analytics Director Tool": {
      "ai_tool": [
        [
          {
            "node": "Business Manager Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Finance Director Tool": {
      "ai_tool": [
        [
          {
            "node": "Business Manager Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Operations Director Tool": {
      "ai_tool": [
        [
          {
            "node": "Business Manager Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Customer Experience Director Tool": {
      "ai_tool": [
        [
          {
            "node": "Business Manager Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Product Director Tool": {
      "ai_tool": [
        [
          {
            "node": "Business Manager Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Technology Director Tool": {
      "ai_tool": [
        [
          {
            "node": "Business Manager Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Creative Director Tool": {
      "ai_tool": [
        [
          {
            "node": "Business Manager Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Shopify MCP - Execute Tool": {
      "ai_tool": [
        [
          {
            "node": "Business Manager Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Ads MCP - Execute Tool": {
      "ai_tool": [
        [
          {
            "node": "Business Manager Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "n8n MCP - Execute Tool": {
      "ai_tool": [
        [
          {
            "node": "Business Manager Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HTML Report Generator MCP": {
      "ai_tool": [
        [
          {
            "node": "Business Manager Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1.0.0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "vivid-walls-business-manager"
  },
  "id": "business-manager-agent-001",
  "tags": [
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z", 
      "id": "1",
      "name": "director-agent"
    },
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "2", 
      "name": "core-agent"
    },
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "3",
      "name": "orchestrator"
    }
  ]
}