services/n8n/agents/workflows/core/business_manager_agent_enhanced_documentation.json
{
  "name": "Business Manager Agent",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        700,
        700
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o"
        },
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1280,
        2240
      ],
      "id": "b2c3d4e5-f6a7-8901-bcde-f23456789012",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "nMbluFwHsrVvkQBJ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        1120,
        320
      ],
      "id": "c3d4e5f6-a7b8-9012-cdef-345678901234",
      "name": "When chat message received",
      "webhookId": "business-manager-chat-trigger"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        3580,
        1040
      ],
      "id": "d4e5f6a7-b8c9-0123-defa-456789012345",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "path": "business-manager-webhook",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        720,
        1600
      ],
      "id": "e5f6a7b8-c9d0-1234-efab-567890123456",
      "name": "Business Manager Webhook",
      "webhookId": "business-manager-webhook"
    },
    {
      "parameters": {
        "systemPromptFile": "={{ $vars.BUSINESS_MANAGER_SYSTEM_PROMPT }}",
        "instructions": "You are the Business Manager Agent for VividWalls. Follow the system prompt for all operations.",
        "options": {
          "outputParsingMode": "custom",
          "customOutputParser": "itemInformation",
          "returnIntermediateSteps": true,
          "preserveOriginalMessages": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        2200,
        1040
      ],
      "id": "f6a7b8c9-d0e1-2345-fabc-678901234567",
      "name": "Business Manager Agent",
      "executeOnce": false
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ {\n  'agentId': 'business-manager-agent',\n  'trigger': 'manual',\n  'timestamp': $now.toISO(),\n  'input': $json\n} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        900,
        320
      ],
      "id": "a7b8c9d0-e1f2-3456-abcd-789012345678",
      "name": "Set Agent Context"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ {\n  'agentId': 'business-manager-agent',\n  'trigger': 'workflow',\n  'timestamp': $now.toISO(),\n  'input': $json,\n  'sourceWorkflow': $execution.resumeUrl\n} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        900,
        700
      ],
      "id": "b8c9d0e1-f2a3-4567-bcde-890123456789",
      "name": "Set Workflow Context"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ {\n  'agentId': 'business-manager-agent',\n  'trigger': 'webhook',\n  'timestamp': $now.toISO(),\n  'input': $json,\n  'headers': $json.headers,\n  'query': $json.query\n} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        900,
        1100
      ],
      "id": "c9d0e1f2-a3b4-5678-cdef-901234567890",
      "name": "Set Webhook Context"
    },
    {
      "parameters": {
        "content": "## Business Manager Agent - Core Workflow\n\n### Purpose\nThe Business Manager Agent serves as the central orchestrator of all marketing operations for VividWalls. This agent oversees performance across all channels, coordinates between specialized directors, and ensures strategic alignment with business objectives.\n\n### Key Responsibilities\n1. **Strategic Oversight**: Monitor overall business performance\n2. **Director Coordination**: Delegate to 8 Directors (not direct platform access)\n3. **Executive Communication**: Report to stakeholder Kingler\n4. **Performance Analysis**: Consolidate metrics from Directors\n5. **Decision Making**: High-level strategic decisions\n\n### Available Tools\n- All 8 Director Agents (primary delegation)\n- Executive Communication MCPs:\n  - Telegram (stakeholder alerts)\n  - Email (formal reports)\n  - HTML Report Generator\n- Memory Systems (Postgres, Supabase)\n\n### Delegation Pattern\nBusiness Manager \u2192 Directors \u2192 Platform Agents \u2192 MCPs",
        "height": 423.2,
        "width": 450
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        300,
        -300
      ],
      "id": "note-001"
    },
    {
      "parameters": {
        "content": "## Trigger Configuration\n\n### 1. Manual Chat Trigger\n- **Webhook ID**: business-manager-chat-trigger\n- **Purpose**: Interactive chat with stakeholder\n- **Use Case**: Direct queries and real-time decisions\n\n### 2. Workflow Trigger\n- **Type**: Execute Workflow Trigger\n- **Purpose**: Called by other agents/workflows\n- **Use Case**: Automated coordination tasks\n\n### 3. Webhook Trigger\n- **Path**: /business-manager-webhook\n- **Purpose**: External system integration\n- **Use Case**: Platform callbacks, API integrations",
        "height": 320,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1420,
        -300
      ],
      "id": "note-002"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.trigger }}",
              "rightValue": "manual",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "leftValue": "={{ $json.trigger }}",
              "rightValue": "workflow",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "leftValue": "={{ $json.trigger }}",
              "rightValue": "webhook",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "fallbackOutput": "extra"
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1340,
        1040
      ],
      "id": "d0e1f2a3-b4c5-6789-defa-012345678901",
      "name": "Route by Trigger Type"
    },
    {
      "parameters": {
        "content": "## Router Logic\n\nThe switch node routes requests based on trigger type:\n\n### Output 0: Manual/Chat\n- Interactive queries from stakeholder\n- Real-time decision requests\n- Ad-hoc reporting needs\n\n### Output 1: Workflow\n- Automated tasks from other agents\n- Scheduled operations\n- System coordination\n\n### Output 2: Webhook\n- External platform callbacks\n- API integrations\n- Performance alerts\n\n### Output 3: Fallback\n- Unknown trigger types\n- Error handling",
        "height": 350,
        "width": 350
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1340,
        920
      ],
      "id": "note-003"
    },
    {
      "parameters": {
        "description": "Access Social Media Director for platform coordination",
        "workflowId": {
          "__rl": true,
          "value": "SocialMediaDirectorWorkflowId",
          "mode": "list",
          "cachedResultName": "Social Media Director Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "task_type": "={{ $fromAI('task_type', 'campaign_coordination, performance_review, budget_allocation') }}",
            "platforms": "={{ $fromAI('platforms', 'facebook, instagram, pinterest') }}",
            "budget": "={{ $fromAI('budget', 'allocation details') }}",
            "timeline": "={{ $fromAI('timeline', 'execution schedule') }}",
            "performance_targets": "={{ $fromAI('performance_targets', 'ROAS, engagement goals') }}"
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        4000,
        2240
      ],
      "id": "e1f2a3b4-c5d6-7890-efab-123456789012",
      "name": "Social Media Director Tool"
    },
    {
      "parameters": {
        "description": "Coordinate with Marketing Director for strategic alignment",
        "workflowId": {
          "__rl": true,
          "value": "MarketingDirectorWorkflowId",
          "mode": "list",
          "cachedResultName": "Marketing Director Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "request_type": "={{ $fromAI('request_type', 'strategy_review, campaign_approval, performance_report') }}",
            "data": "={{ $fromAI('data', 'relevant metrics and insights') }}",
            "recommendations": "={{ $fromAI('recommendations', 'strategic suggestions') }}",
            "urgency": "={{ $fromAI('urgency', 'high, medium, low') }}"
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        5200,
        2240
      ],
      "id": "f2a3b4c5-d6e7-8901-fabc-234567890123",
      "name": "Marketing Director Tool"
    },
    {
      "parameters": {
        "description": "Access Analytics Director for performance insights",
        "workflowId": {
          "__rl": true,
          "value": "AnalyticsDirectorWorkflowId",
          "mode": "list",
          "cachedResultName": "Analytics Director Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "analysis_type": "={{ $fromAI('analysis_type', 'cross_channel, roi_analysis, customer_journey') }}",
            "date_range": "={{ $fromAI('date_range', 'today, yesterday, last_week, custom') }}",
            "metrics": "={{ $fromAI('metrics', 'revenue, roas, cac, ltv') }}",
            "segments": "={{ $fromAI('segments', 'customer segments to analyze') }}"
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        6400,
        2240
      ],
      "id": "a3b4c5d6-e7f8-9012-abcd-345678901234",
      "name": "Analytics Director Tool"
    },
    {
      "parameters": {
        "description": "Manage financial operations and budgets",
        "workflowId": {
          "__rl": true,
          "value": "FinanceDirectorWorkflowId",
          "mode": "list",
          "cachedResultName": "Finance Director Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "operation": "={{ $fromAI('operation', 'budget_review, allocation, forecast, expense_report') }}",
            "department": "={{ $fromAI('department', 'marketing, operations, technology') }}",
            "amount": "={{ $fromAI('amount', 'budget amount') }}",
            "period": "={{ $fromAI('period', 'daily, weekly, monthly, quarterly') }}"
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        7600,
        2240
      ],
      "id": "b4c5d6e7-f8a9-0123-bcde-456789012345",
      "name": "Finance Director Tool"
    },
    {
      "parameters": {
        "description": "Coordinate operations and fulfillment",
        "workflowId": {
          "__rl": true,
          "value": "OperationsDirectorWorkflowId",
          "mode": "list",
          "cachedResultName": "Operations Director Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "task": "={{ $fromAI('task', 'inventory_check, fulfillment_status, logistics_update') }}",
            "priority": "={{ $fromAI('priority', 'urgent, high, normal, low') }}",
            "products": "={{ $fromAI('products', 'product IDs or categories') }}",
            "requirements": "={{ $fromAI('requirements', 'specific operational needs') }}"
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        8800,
        2240
      ],
      "id": "c5d6e7f8-a9b0-1234-cdef-567890123456",
      "name": "Operations Director Tool"
    },
    {
      "parameters": {
        "description": "Manage customer experience initiatives",
        "workflowId": {
          "__rl": true,
          "value": "CustomerExperienceDirectorWorkflowId",
          "mode": "list",
          "cachedResultName": "Customer Experience Director Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "action": "={{ $fromAI('action', 'sentiment_analysis, support_review, experience_optimization') }}",
            "channel": "={{ $fromAI('channel', 'email, chat, phone, social') }}",
            "metrics": "={{ $fromAI('metrics', 'satisfaction, nps, resolution_time') }}",
            "issues": "={{ $fromAI('issues', 'customer pain points') }}"
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        10000,
        2240
      ],
      "id": "d6e7f8a9-b0c1-2345-defa-678901234567",
      "name": "Customer Experience Director Tool"
    },
    {
      "parameters": {
        "description": "Coordinate with Product Director for product strategy",
        "workflowId": {
          "__rl": true,
          "value": "ProductDirectorWorkflowId",
          "mode": "list",
          "cachedResultName": "Product Director Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "request": "={{ $fromAI('request', 'product_performance, new_launch, inventory_strategy') }}",
            "products": "={{ $fromAI('products', 'product IDs or categories') }}",
            "market_data": "={{ $fromAI('market_data', 'trends and insights') }}",
            "timeline": "={{ $fromAI('timeline', 'launch or update schedule') }}"
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        11200,
        2240
      ],
      "id": "e7f8a9b0-c1d2-3456-efab-789012345678",
      "name": "Product Director Tool"
    },
    {
      "parameters": {
        "description": "Access Technology Director for system management",
        "workflowId": {
          "__rl": true,
          "value": "TechnologyDirectorWorkflowId",
          "mode": "list",
          "cachedResultName": "Technology Director Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "request_type": "={{ $fromAI('request_type', 'system_status, integration_check, automation_setup') }}",
            "systems": "={{ $fromAI('systems', 'shopify, n8n, mcp_servers') }}",
            "priority": "={{ $fromAI('priority', 'critical, high, normal') }}",
            "technical_details": "={{ $fromAI('technical_details', 'specific requirements') }}"
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        12400,
        2240
      ],
      "id": "f8a9b0c1-d2e3-4567-fabc-890123456789",
      "name": "Technology Director Tool"
    },
    {
      "parameters": {
        "content": "## Director Agent Tools\n\nAll 8 Director Agents are available as tools:\n\n1. **Social Media Director**: Platform coordination\n2. **Marketing Director**: Strategic alignment\n3. **Analytics Director**: Performance insights\n4. **Finance Director**: Budget management\n5. **Operations Director**: Fulfillment & logistics\n6. **Customer Experience Director**: CX optimization\n7. **Product Director**: Product strategy\n8. **Technology Director**: System management\n\nEach tool accepts AI-extracted parameters using $fromAI() functions for seamless integration.",
        "height": 350,
        "width": 600
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3400,
        1640
      ],
      "id": "note-004"
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "send_message",
        "toolParameters": "={{ {\n  'chat_id': $vars.TELEGRAM_STAKEHOLDER_CHAT_ID,\n  'message': $fromAI('message', 'Message to send to stakeholder'),\n  'parse_mode': 'HTML'\n} }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        7600,
        2800
      ],
      "id": "d2e3f4a5-b6c7-8901-defa-234567890123",
      "name": "Telegram MCP - Send Message",
      "credentials": {
        "mcpClientApi": {
          "id": "TelegramMCP",
          "name": "Telegram MCP account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "send_email",
        "toolParameters": "={{ {\n  'to': 'kingler@vividwalls.co',\n  'subject': $fromAI('subject', 'Email subject'),\n  'body': $fromAI('body', 'Email content'),\n  'html': true\n} }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        8800,
        2800
      ],
      "id": "e3f4a5b6-c7d8-9012-efab-345678901234",
      "name": "Email MCP - Send Email",
      "credentials": {
        "mcpClientApi": {
          "id": "EmailMCP",
          "name": "Email MCP account"
        }
      }
    },
    {
      "parameters": {
        "content": "## MCP Integration Tools\n\n### Executive Communication\n- **Telegram MCP**: Real-time stakeholder notifications\n- **Email MCP**: Formal reports to kingler@vividwalls.co\n- **HTML Report Generator**: Beautiful interactive dashboards\n\n### Communication\n- **Telegram MCP**: Real-time stakeholder notifications\n- **Email MCP**: Formal reports to kingler@vividwalls.co\n\nAll MCP tools use AI parameter extraction for seamless integration with the Business Manager Agent's decision-making process.",
        "height": 300,
        "width": 500
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3400,
        2200
      ],
      "id": "note-005"
    },
    {
      "parameters": {
        "sessionId": "={{ 'business-manager-' + $execution.id }}",
        "tableName": "agent_chat_memory"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -1080,
        2240
      ],
      "id": "f4a5b6c7-d8e9-0123-fabc-456789012345",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "PostgresMemory",
          "name": "Postgres Chat Memory"
        }
      }
    },
    {
      "parameters": {
        "url": "https://vividwalls-context.us-west-2.aws.supabase.co",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $vars.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $vars.SUPABASE_SERVICE_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "embedding",
              "value": "={{ $json.embedding }}"
            },
            {
              "name": "content",
              "value": "={{ $json.query }}"
            },
            {
              "name": "metadata",
              "value": "={{ { 'source': 'business_manager_query', 'timestamp': $now.toISO() } }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -880,
        2240
      ],
      "id": "a5b6c7d8-e9f0-1234-abcd-567890123456",
      "name": "Supabase Memory",
      "executeOnce": false
    },
    {
      "parameters": {
        "content": "## Memory Systems\n\n### Postgres Chat Memory\n- Session-based conversation tracking\n- Contextual awareness across interactions\n- Agent learning and adaptation\n\n### Supabase Integration\n- Vector embeddings for semantic search\n- Historical decision tracking\n- Performance pattern recognition\n\nBoth memory systems work together to provide the Business Manager Agent with comprehensive context for decision-making.",
        "height": 280,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1280,
        2120
      ],
      "id": "note-006"
    },
    {
      "parameters": {
        "path": "business-manager-feedback-webhook",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        720,
        2000
      ],
      "id": "b6c7d8e9-f0a1-2345-bcde-678901234567",
      "name": "Performance Feedback Webhook",
      "webhookId": "business-manager-feedback-webhook"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ { \n  'feedback_type': $json.feedback_type,\n  'source': $json.source,\n  'performance_data': $json.performance_data,\n  'timestamp': $now.toISO(),\n  'action_required': $json.action_required\n} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1000,
        2000
      ],
      "id": "c7d8e9f0-a1b2-3456-cdef-789012345678",
      "name": "Process Performance Feedback"
    },
    {
      "parameters": {
        "content": "## Feedback Mechanisms\n\n### Performance Feedback Webhook\nReceives real-time performance data from:\n- Platform agents (Social Media, Email, etc.)\n- Analytics systems\n- Customer experience metrics\n- Financial performance alerts\n\n### Processing Logic\n- Structures incoming feedback\n- Triggers automated responses\n- Updates decision models\n- Notifies stakeholder when needed",
        "height": 300,
        "width": 350
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        720,
        1900
      ],
      "id": "note-007"
    },
    {
      "parameters": {
        "content": "## Daily Operations Schedule\n\n### Morning Review (9:00 AM EST)\n1. Check overnight sales (Shopify MCP)\n2. Review ad performance (Facebook MCP)\n3. Monitor email campaigns\n4. Check workflow errors (n8n MCP)\n5. Auto-optimize underperformers\n\n### Midday Check (1:00 PM)\n1. Real-time campaign monitoring\n2. Inventory status check\n3. Budget reallocation\n4. Trigger promotions for low stock\n\n### Evening Summary (5:00 PM)\n1. Compile daily performance\n2. Execute reporting workflow\n3. Plan tomorrow's priorities\n4. Send stakeholder report",
        "height": 400,
        "width": 350
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2600,
        -300
      ],
      "id": "note-008"
    },
    {
      "parameters": {
        "resource": "task",
        "operation": "create",
        "title": "={{ $fromAI('approval_title', 'Title for approval task') }}",
        "description": "={{ $fromAI('approval_description', 'Detailed description of what needs approval') }}",
        "teamId": "={{ $vars.LINEAR_TEAM_ID }}",
        "priority": 2,
        "labelIds": [
          "approval-required",
          "business-manager"
        ]
      },
      "type": "n8n-nodes-base.linear",
      "typeVersion": 1,
      "position": [
        3500,
        1500
      ],
      "id": "d8e9f0a1-b2c3-4567-defa-890123456789",
      "name": "Create Approval Task",
      "credentials": {
        "linearApi": {
          "id": "LinearAPI",
          "name": "Linear API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.approval_required }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "leftValue": "={{ $json.priority }}",
              "rightValue": "critical",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3200,
        1600
      ],
      "id": "e9f0a1b2-c3d4-5678-efab-901234567890",
      "name": "Approval Required?"
    },
    {
      "parameters": {
        "content": "## Approval Workflow\n\n### Triggers for Approval\n1. Budget changes >$5000\n2. Critical strategic decisions\n3. New platform integrations\n4. Major campaign launches\n5. Crisis response actions\n\n### Approval Process\n1. Creates Linear task\n2. Notifies stakeholder via Telegram\n3. Tracks approval status\n4. Executes upon approval\n\nThis ensures human-in-the-loop for critical decisions while maintaining automation efficiency.",
        "height": 350,
        "width": 350
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3200,
        1500
      ],
      "id": "note-009"
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "generate_html_report",
        "toolParameters": "={{ {\n  'report_type': $fromAI('report_type', 'daily, weekly, monthly, custom'),\n  'data': $json.performance_data,\n  'include_charts': true,\n  'interactive': true,\n  'brand_colors': {\n    'primary': '#2C3E50',\n    'accent': '#E74C3C',\n    'success': '#27AE60'\n  }\n} }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        10000,
        2800
      ],
      "id": "f0a1b2c3-d4e5-6789-fabc-012345678901",
      "name": "HTML Report Generator MCP",
      "credentials": {
        "mcpClientApi": {
          "id": "ReportGeneratorMCP",
          "name": "Report Generator MCP account"
        }
      }
    },
    {
      "parameters": {
        "content": "## HTML Report Generation\n\n### Beautiful Stakeholder Reports\nAll reports to Kingler are generated as:\n- Interactive HTML dashboards\n- Modern UX/UI with animations\n- Responsive design\n- Dark mode support\n- Interactive charts (Chart.js/D3.js)\n\n### Report Components\n1. Executive Summary Header\n2. Interactive Dashboard\n3. Visual Analytics\n4. Action Items\n5. Recommendations Panel\n\n### Features\n- Export to PDF/Excel\n- Search & filter\n- Mobile-optimized\n- WCAG 2.1 AA compliant",
        "height": 400,
        "width": 350
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        10000,
        2700
      ],
      "id": "note-010"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "code": "// Daily Morning Review Automation\nconst performMorningReview = async () => {\n  const reviews = [];\n  \n  // 1. Check overnight sales\n  const overnightOrders = await $tools.shopifyMCP.get_orders({\n    created_at_min: 'yesterday_evening',\n    status: 'any'\n  });\n  \n  // 2. Review Facebook Ads\n  const fbMetrics = await $tools.facebookMCP.get_adaccount_insights({\n    date_preset: 'yesterday',\n    fields: ['spend', 'revenue', 'roas']\n  });\n  \n  // 3. Auto-optimize if needed\n  if (fbMetrics.roas < 2.5) {\n    await $tools.facebookMCP.bulk_update_campaigns({\n      filter: { daily_budget: '>100' },\n      updates: { daily_budget_multiplier: 0.8 }\n    });\n    reviews.push('Reduced budget for underperforming campaigns');\n  }\n  \n  return {\n    timestamp: new Date().toISOString(),\n    reviews: reviews,\n    metrics: {\n      overnight_revenue: overnightOrders.total,\n      facebook_roas: fbMetrics.roas\n    }\n  };\n};\n\nreturn await performMorningReview();",
        "noDataExpression": "={{ {} }}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2600,
        800
      ],
      "id": "a1b2c3d4-e5f6-7890-abcd-234567890123",
      "name": "Morning Review Automation"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "code": "// Performance Crisis Detection\nconst detectCrisis = (metrics) => {\n  const triggers = [];\n  \n  // Check ROAS threshold\n  if (metrics.daily_roas < 2.0) {\n    triggers.push({\n      type: 'ROAS_CRISIS',\n      severity: 'high',\n      action: 'pause_underperformers'\n    });\n  }\n  \n  // Check CAC threshold\n  if (metrics.cac > 50) {\n    triggers.push({\n      type: 'CAC_CRISIS',\n      severity: 'medium',\n      action: 'optimize_targeting'\n    });\n  }\n  \n  // Check conversion rate\n  if (metrics.conversion_rate < 0.02) {\n    triggers.push({\n      type: 'CONVERSION_CRISIS',\n      severity: 'high',\n      action: 'review_funnel'\n    });\n  }\n  \n  return {\n    crisis_detected: triggers.length > 0,\n    triggers: triggers,\n    recommended_actions: triggers.map(t => t.action)\n  };\n};\n\nreturn detectCrisis($json.metrics);",
        "noDataExpression": "={{ {} }}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2600,
        1200
      ],
      "id": "b2c3d4e5-f6a7-8901-bcde-345678901234",
      "name": "Crisis Detection Logic"
    },
    {
      "parameters": {
        "content": "## Automation Scripts\n\n### Morning Review\n- Automated daily performance check\n- Overnight sales analysis\n- Ad spend optimization\n- Workflow error monitoring\n\n### Crisis Detection\n- Real-time performance monitoring\n- Threshold-based alerts\n- Automated response actions\n- Stakeholder notifications\n\nThese scripts ensure proactive management and rapid response to performance issues.",
        "height": 300,
        "width": 350
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2200,
        600
      ],
      "id": "note-011"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ {\n  'performance_thresholds': {\n    'green': { 'roas': '>3.5', 'cac': '<40' },\n    'yellow': { 'roas': '2.5-3.5', 'cac': '40-50' },\n    'red': { 'roas': '<2.5', 'cac': '>50' }\n  },\n  'budget_rules': {\n    'scale': { 'condition': 'roi > 4', 'action': 'increase 25%' },\n    'maintain': { 'condition': 'roi > 3', 'action': 'no change' },\n    'reduce': { 'condition': 'roi > 2', 'action': 'decrease 15%' },\n    'pause': { 'condition': 'roi < 2', 'action': 'pause channel' }\n  },\n  'communication_matrix': {\n    'critical': 'telegram + email',\n    'high': 'telegram',\n    'normal': 'dashboard update',\n    'low': 'weekly summary'\n  }\n} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1800,
        700
      ],
      "id": "c3d4e5f6-a7b8-9012-cdef-456789012345",
      "name": "Business Rules Configuration"
    },
    {
      "parameters": {
        "content": "## Business Rules Engine\n\n### Performance Thresholds\n- **Green**: Scale operations\n- **Yellow**: Optimize & monitor\n- **Red**: Immediate action required\n\n### Budget Allocation\n- Automated scaling based on ROI\n- Channel performance tracking\n- Resource reallocation logic\n\n### Communication Priorities\n- Critical: Immediate multi-channel\n- High: Real-time notifications\n- Normal: Dashboard updates\n- Low: Batch reporting\n\nThese rules ensure consistent decision-making aligned with business objectives.",
        "height": 400,
        "width": 350
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1800,
        700
      ],
      "id": "note-012"
    },
    {
      "parameters": {
        "description": "Coordinate with Creative Director for visual assets",
        "workflowId": {
          "__rl": true,
          "value": "CreativeDirectorWorkflowId",
          "mode": "list",
          "cachedResultName": "Creative Director Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "request_type": "={{ $fromAI('request_type', 'select_images, create_campaign_visuals, brand_review') }}",
            "topic": "={{ $fromAI('topic', 'campaign theme or product focus') }}",
            "style": "={{ $fromAI('style', 'visual style preferences') }}",
            "color": "={{ $fromAI('color', 'brand colors or palette') }}",
            "theme": "={{ $fromAI('theme', 'creative theme or mood') }}",
            "quantity": "={{ $fromAI('quantity', 'number of assets needed') }}"
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        13600,
        2240
      ],
      "id": "a4b5c6d7-e8f9-0123-bcde-456789012346",
      "name": "Creative Director Tool"
    },
    {
      "parameters": {
        "content": "## Agent Coordination Flow\n\n### Hierarchical Structure\n```\nBusiness Manager (Central Hub)\n    |\n    \u251c\u2500\u2500 Marketing Director\n    \u2502   \u251c\u2500\u2500 Social Media Director\n    \u2502   \u2514\u2500\u2500 Creative Director\n    |\n    \u251c\u2500\u2500 Analytics Director\n    \u2502   \u2514\u2500\u2500 Performance Insights\n    |\n    \u251c\u2500\u2500 Finance Director\n    \u2502   \u2514\u2500\u2500 Budget Management\n    |\n    \u251c\u2500\u2500 Operations Director\n    \u2502   \u2514\u2500\u2500 Fulfillment\n    |\n    \u251c\u2500\u2500 Customer Experience Director\n    \u2502   \u2514\u2500\u2500 Support & Satisfaction\n    |\n    \u251c\u2500\u2500 Product Director\n    \u2502   \u2514\u2500\u2500 Inventory & Strategy\n    |\n    \u2514\u2500\u2500 Technology Director\n        \u2514\u2500\u2500 Systems & Integration\n```\n\n### Communication Protocol\n- Bi-directional feedback loops\n- Real-time performance data\n- Strategic alignment checks\n- Automated task delegation",
        "height": 500,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        13600,
        2140
      ],
      "id": "note-013"
    },
    {
      "parameters": {
        "options": {
          "allowedCorsOrigins": "*"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -1480,
        2240
      ],
      "id": "d4e5f6a7-b8c9-0123-defa-567890123457",
      "name": "Local Ollama Model (Backup)",
      "credentials": {
        "ollamaApi": {
          "id": "OllamaLocal",
          "name": "Local Ollama"
        }
      }
    },
    {
      "parameters": {
        "content": "## Model Configuration\n\n### Primary Model\n- **OpenAI GPT-4o**: Main reasoning engine\n- **Temperature**: 0.7 for balanced creativity\n- **Context**: Full system prompt loaded\n\n### Backup Model\n- **Local Ollama**: Failover option\n- **Use Case**: When OpenAI unavailable\n- **Performance**: Slightly reduced capability\n\nThe Business Manager Agent uses advanced LLM capabilities for complex decision-making and multi-agent coordination.",
        "height": 300,
        "width": 350
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1680,
        2120
      ],
      "id": "note-014"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "code": "// Generate Executive Summary\nconst generateExecutiveSummary = (data) => {\n  const summary = {\n    date: new Date().toISOString().split('T')[0],\n    kpis: {\n      revenue: data.revenue || 0,\n      spend: data.spend || 0,\n      roas: (data.revenue / data.spend).toFixed(2),\n      new_customers: data.new_customers || 0,\n      conversion_rate: data.conversion_rate || 0\n    },\n    performance: {\n      vs_yesterday: calculateChange(data.revenue, data.yesterday_revenue),\n      vs_last_week: calculateChange(data.revenue, data.last_week_revenue),\n      vs_target: calculateChange(data.revenue, data.target_revenue)\n    },\n    top_channels: rankChannels(data.channel_performance),\n    recommendations: generateRecommendations(data),\n    alerts: identifyAlerts(data)\n  };\n  \n  return summary;\n};\n\nconst calculateChange = (current, previous) => {\n  if (!previous) return 0;\n  return ((current - previous) / previous * 100).toFixed(1);\n};\n\nconst rankChannels = (channels) => {\n  return Object.entries(channels || {})\n    .sort(([,a], [,b]) => b.revenue - a.revenue)\n    .slice(0, 3)\n    .map(([name, data]) => ({\n      name,\n      revenue: data.revenue,\n      roas: data.roas\n    }));\n};\n\nconst generateRecommendations = (data) => {\n  const recs = [];\n  \n  if (data.roas > 4) {\n    recs.push('Scale high-performing campaigns by 25%');\n  }\n  \n  if (data.cac > 45) {\n    recs.push('Optimize targeting to reduce CAC');\n  }\n  \n  if (data.inventory_low) {\n    recs.push('Restock top-selling products urgently');\n  }\n  \n  return recs;\n};\n\nconst identifyAlerts = (data) => {\n  const alerts = [];\n  \n  if (data.roas < 2.5) {\n    alerts.push({ type: 'warning', message: 'ROAS below threshold' });\n  }\n  \n  if (data.budget_utilization > 0.95) {\n    alerts.push({ type: 'info', message: 'Budget nearly exhausted' });\n  }\n  \n  return alerts;\n};\n\nreturn generateExecutiveSummary($json);",
        "noDataExpression": "={{ {} }}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3800,
        800
      ],
      "id": "e5f6a7b8-c9d0-1234-efab-678901234568",
      "name": "Executive Summary Generator"
    },
    {
      "parameters": {
        "content": "## Advanced Features\n\n### Executive Summary Generator\n- Automated KPI calculation\n- Performance comparisons\n- Channel rankings\n- Smart recommendations\n- Alert identification\n\n### Integration Benefits\n- Real-time data processing\n- Historical trend analysis\n- Predictive insights\n- Actionable recommendations\n\nThis ensures stakeholder receives concise, actionable intelligence for decision-making.",
        "height": 320,
        "width": 350
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3800,
        720
      ],
      "id": "note-015"
    },
    {
      "parameters": {
        "jsCode": "// Output Parser for structured responses\nconst parseOutput = (response) => {\n  try {\n    // Extract structured data from AI response\n    const parsed = {\n      action: extractAction(response),\n      data: extractData(response),\n      next_steps: extractNextSteps(response),\n      notifications: extractNotifications(response)\n    };\n    \n    return parsed;\n  } catch (error) {\n    return {\n      action: 'review',\n      data: { raw_response: response },\n      error: error.message\n    };\n  }\n};\n\nconst extractAction = (text) => {\n  const actionPattern = /ACTION:\\s*([^\\n]+)/i;\n  const match = text.match(actionPattern);\n  return match ? match[1].trim() : 'none';\n};\n\nconst extractData = (text) => {\n  const dataPattern = /DATA:\\s*({[^}]+})/i;\n  const match = text.match(dataPattern);\n  return match ? JSON.parse(match[1]) : {};\n};\n\nconst extractNextSteps = (text) => {\n  const stepsPattern = /NEXT STEPS:\\s*([^\\n]+)/gi;\n  const matches = text.matchAll(stepsPattern);\n  return Array.from(matches).map(m => m[1].trim());\n};\n\nconst extractNotifications = (text) => {\n  const notifyPattern = /NOTIFY:\\s*([^\\n]+)/gi;\n  const matches = text.matchAll(notifyPattern);\n  return Array.from(matches).map(m => m[1].trim());\n};\n\nreturn parseOutput($input.response);"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1600,
        2240
      ],
      "id": "f6a7b8c9-d0e1-2345-fabc-789012345679",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "content": "## Output Parsing\n\n### Structured Response Format\nThe Business Manager Agent returns structured outputs:\n\n```\nACTION: <specific action to take>\nDATA: {json_data_object}\nNEXT STEPS: <follow-up actions>\nNOTIFY: <who to notify and how>\n```\n\n### Benefits\n- Consistent response format\n- Easy integration with tools\n- Clear action items\n- Automated notifications\n\nThis ensures all agent responses can be automatically processed and actioned.",
        "height": 350,
        "width": 350
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1600,
        2140
      ],
      "id": "note-016"
    },
    {
      "parameters": {
        "content": "## Error Handling & Recovery\n\n### Error Types\n1. **API Failures**: Retry with exponential backoff\n2. **Data Issues**: Validate and sanitize inputs\n3. **Tool Errors**: Fallback to alternative tools\n4. **Model Failures**: Switch to backup Ollama\n\n### Recovery Strategies\n- Automatic retries (3 attempts)\n- Graceful degradation\n- Error notifications to Tech Director\n- Audit logging for debugging\n\n### Monitoring\n- Real-time error tracking\n- Performance metrics\n- Success rate monitoring\n- Alert thresholds",
        "height": 380,
        "width": 350
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        14800,
        300
      ],
      "id": "note-017"
    },
    {
      "parameters": {
        "content": "## Security & Compliance\n\n### Access Control\n- Role-based permissions\n- API key management\n- Secure credential storage\n\n### Data Protection\n- Encrypted communications\n- PII handling protocols\n- GDPR compliance checks\n\n### Audit Trail\n- All decisions logged\n- Change tracking\n- Performance history\n- Compliance reporting\n\nThe Business Manager Agent maintains enterprise-grade security for all operations.",
        "height": 380,
        "width": 350
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        14800,
        720
      ],
      "id": "note-018"
    },
    {
      "parameters": {
        "content": "## Performance Optimization\n\n### Caching Strategy\n- 15-minute cache for reports\n- Real-time data for critical metrics\n- Precomputed dashboards\n\n### Parallel Processing\n- Concurrent API calls\n- Batch operations\n- Async task handling\n\n### Resource Management\n- Memory optimization\n- Query efficiency\n- Connection pooling\n\nOptimizations ensure sub-second response times for most operations.",
        "height": 350,
        "width": 350
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        14800,
        1140
      ],
      "id": "note-019"
    },
    {
      "parameters": {
        "content": "## Integration Testing\n\n### Test Scenarios\n1. **Morning Review**: Automated daily checks\n2. **Crisis Response**: Threshold breach handling\n3. **Multi-Agent Coordination**: Task delegation\n4. **Report Generation**: HTML output quality\n5. **Approval Workflow**: Human-in-the-loop\n\n### Test Data\n- Mock API responses\n- Historical performance data\n- Edge case scenarios\n\n### Success Metrics\n- 99.9% uptime\n- <2s response time\n- 95% automation rate\n- 100% critical alert delivery",
        "height": 400,
        "width": 350
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        14800,
        1540
      ],
      "id": "note-020"
    },
    {
      "parameters": {
        "content": "## Delegation Pattern\n\n### Business Manager Role\nThe Business Manager Agent serves as the central orchestrator, delegating to Directors rather than directly accessing platform MCPs.\n\n### MCP Access Pattern\n- **Business Manager**: Executive MCPs only (Telegram, Email, Reports)\n- **Directors**: Domain-specific MCPs\n- **Platform Agents**: Platform-specific MCPs\n\n### Example Flow\n1. Business Manager receives request\n2. Delegates to appropriate Director\n3. Director uses their MCPs or delegates to agents\n4. Results flow back up the hierarchy\n\nThis maintains clean separation of concerns and proper organizational boundaries.",
        "height": 450,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3400,
        2800
      ],
      "id": "note-delegation-pattern"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        -300
      ],
      "parameters": {
        "content": "# \ud83c\udfe2 Business Manager Agent\n\n**Role**: Central orchestrator and strategic decision maker\n\n**Primary Functions**:\n- Strategic oversight of all directors\n- Resource allocation and prioritization\n- Cross-functional coordination\n- Executive reporting to stakeholders\n- Business performance optimization\n\n**Reports to**: Stakeholder/CEO\n**Direct Reports**: 8 Directors",
        "height": 280,
        "width": 400,
        "color": 1
      },
      "id": "sticky-1-1750869003.940479",
      "name": "Sticky Note 1"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        820,
        -300
      ],
      "parameters": {
        "content": "## \ud83c\udfaf Key Responsibilities\n\n1. **Strategic Planning**\n   - Quarterly goal setting\n   - Resource optimization\n   - Risk management\n\n2. **Director Coordination**\n   - Task delegation\n   - Performance monitoring\n   - Conflict resolution\n\n3. **Stakeholder Communication**\n   - Executive dashboards\n   - Performance reports\n   - Strategic recommendations",
        "height": 280,
        "width": 380,
        "color": 2
      },
      "id": "sticky-2-1750869003.940489",
      "name": "Sticky Note 2"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1220,
        -300
      ],
      "parameters": {
        "content": "## \ud83d\udcca Performance Metrics\n\n**Business KPIs**:\n- Revenue growth: +15% QoQ\n- Customer acquisition cost\n- Lifetime value metrics\n- Operational efficiency\n\n**Director Performance**:\n- Task completion rates\n- Resource utilization\n- Cross-team collaboration\n- Strategic initiative progress",
        "height": 280,
        "width": 360,
        "color": 3
      },
      "id": "sticky-3-1750869003.940491",
      "name": "Sticky Note 3"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        20
      ],
      "parameters": {
        "content": "## \ud83d\udd04 Workflow Triggers\n\n**Execute Workflow Trigger**:\n- Scheduled strategic reviews\n- Director escalations\n- Critical business events\n- Stakeholder requests\n\n**Chat Trigger**:\n- Real-time strategic queries\n- Director consultations\n- Emergency responses",
        "height": 240,
        "width": 340,
        "color": 4
      },
      "id": "sticky-4-1750869003.940492",
      "name": "Sticky Note 4"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        760,
        20
      ],
      "parameters": {
        "content": "## \ud83d\udea8 Critical Thresholds\n\n**Escalation Triggers**:\n- Revenue drop > 10%\n- Customer churn > 5%\n- Director conflict\n- Resource shortage\n- Compliance issues\n\n**Response Time**:\n- Critical: < 15 min\n- High: < 1 hour\n- Normal: < 4 hours",
        "height": 240,
        "width": 320,
        "color": 5
      },
      "id": "sticky-5-1750869003.940494",
      "name": "Sticky Note 5"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1100,
        20
      ],
      "parameters": {
        "content": "## \ud83d\udd10 Security & Compliance\n\n**Access Control**:\n- Executive-only MCPs\n- Encrypted communications\n- Audit trail maintenance\n\n**Data Governance**:\n- GDPR compliance\n- Financial data protection\n- Strategic info classification",
        "height": 240,
        "width": 320,
        "color": 6
      },
      "id": "sticky-6-1750869003.940495",
      "name": "Sticky Note 6"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2400,
        300
      ],
      "parameters": {
        "content": "## \ud83d\udcf1 Marketing Director\n\n**Delegation Areas**:\n- Campaign strategy approval\n- Budget allocation\n- Creative direction\n- ROI targets\n\n**Key Metrics**:\n- Campaign performance\n- Brand engagement\n- Lead generation\n- Content effectiveness",
        "height": 220,
        "width": 280,
        "color": 1
      },
      "id": "sticky-7-1750869003.940496",
      "name": "Sticky Note 7"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2700,
        300
      ],
      "parameters": {
        "content": "## \ud83d\udcca Analytics Director\n\n**Delegation Areas**:\n- Data strategy\n- Reporting frameworks\n- Insight generation\n- Predictive modeling\n\n**Key Metrics**:\n- Data accuracy\n- Report timeliness\n- Insight actionability\n- Model performance",
        "height": 220,
        "width": 280,
        "color": 2
      },
      "id": "sticky-8-1750869003.940497",
      "name": "Sticky Note 8"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3000,
        300
      ],
      "parameters": {
        "content": "## \ud83d\udcb0 Finance Director\n\n**Delegation Areas**:\n- Budget management\n- Financial planning\n- Cost optimization\n- Investment decisions\n\n**Key Metrics**:\n- Cash flow health\n- Profit margins\n- Cost efficiency\n- ROI achievement",
        "height": 220,
        "width": 280,
        "color": 3
      },
      "id": "sticky-9-1750869003.940498",
      "name": "Sticky Note 9"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3300,
        300
      ],
      "parameters": {
        "content": "## \ud83c\udfed Operations Director\n\n**Delegation Areas**:\n- Supply chain mgmt\n- Fulfillment optimization\n- Inventory control\n- Process improvement\n\n**Key Metrics**:\n- Order accuracy\n- Fulfillment speed\n- Inventory turnover\n- Operational costs",
        "height": 220,
        "width": 280,
        "color": 4
      },
      "id": "sticky-10-1750869003.940499",
      "name": "Sticky Note 10"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2400,
        540
      ],
      "parameters": {
        "content": "## \ud83c\udfaf Customer Experience\n\n**Delegation Areas**:\n- Service standards\n- Support optimization\n- Satisfaction tracking\n- Experience design\n\n**Key Metrics**:\n- NPS scores\n- Resolution time\n- Customer retention\n- Support efficiency",
        "height": 220,
        "width": 280,
        "color": 5
      },
      "id": "sticky-11-1750869003.940501",
      "name": "Sticky Note 11"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2700,
        540
      ],
      "parameters": {
        "content": "## \ud83c\udfa8 Product Director\n\n**Delegation Areas**:\n- Product strategy\n- Feature prioritization\n- Market research\n- Launch planning\n\n**Key Metrics**:\n- Product adoption\n- Feature usage\n- Market fit\n- Launch success",
        "height": 220,
        "width": 280,
        "color": 6
      },
      "id": "sticky-12-1750869003.940502",
      "name": "Sticky Note 12"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3000,
        540
      ],
      "parameters": {
        "content": "## \ud83d\udcbb Technology Director\n\n**Delegation Areas**:\n- System architecture\n- Integration strategy\n- Security protocols\n- Innovation roadmap\n\n**Key Metrics**:\n- System uptime\n- Integration success\n- Security incidents\n- Tech debt ratio",
        "height": 220,
        "width": 280,
        "color": 1
      },
      "id": "sticky-13-1750869003.940503",
      "name": "Sticky Note 13"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3300,
        540
      ],
      "parameters": {
        "content": "## \ud83c\udfad Creative Director\n\n**Delegation Areas**:\n- Brand guidelines\n- Creative campaigns\n- Design systems\n- Content quality\n\n**Key Metrics**:\n- Brand consistency\n- Creative output\n- Design efficiency\n- Content engagement",
        "height": 220,
        "width": 280,
        "color": 2
      },
      "id": "sticky-14-1750869003.940504",
      "name": "Sticky Note 14"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1800,
        800
      ],
      "parameters": {
        "content": "## \ud83e\udd16 AI Agent Configuration\n\n**Model**: GPT-4o\n**Temperature**: 0.7\n**Context Window**: 128k tokens\n\n**Capabilities**:\n- Strategic reasoning\n- Multi-director coordination\n- Resource optimization\n- Executive communication",
        "height": 200,
        "width": 300,
        "color": 3
      },
      "id": "sticky-15-1750869003.940506",
      "name": "Sticky Note 15"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2120,
        800
      ],
      "parameters": {
        "content": "## \ud83c\udfaf Decision Framework\n\n**Strategic Decisions**:\n1. Analyze all director inputs\n2. Consider resource constraints\n3. Evaluate risk factors\n4. Optimize for business goals\n5. Document rationale\n\n**Uses multi-criteria analysis**",
        "height": 200,
        "width": 280,
        "color": 4
      },
      "id": "sticky-16-1750869003.940507",
      "name": "Sticky Note 16"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1800,
        1020
      ],
      "parameters": {
        "content": "## \ud83d\udcdd Output Parsing\n\n**Structured Outputs**:\n- Director assignments\n- Resource allocations\n- Strategic directives\n- Performance feedback\n\n**Format**: JSON with\nvalidation schema",
        "height": 180,
        "width": 260,
        "color": 5
      },
      "id": "sticky-17-1750869003.940508",
      "name": "Sticky Note 17"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2080,
        1020
      ],
      "parameters": {
        "content": "## \ud83d\udd04 Intermediate Steps\n\n**Preserved for**:\n- Audit trail\n- Decision transparency\n- Learning optimization\n- Debugging support\n\nStored in PostgreSQL",
        "height": 180,
        "width": 260,
        "color": 6
      },
      "id": "sticky-18-1750869003.940509",
      "name": "Sticky Note 18"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1800,
        1220
      ],
      "parameters": {
        "content": "## \ud83d\udca1 AI Reasoning Process\n\n1. **Context Analysis**\n2. **Director Status Check**\n3. **Resource Assessment**\n4. **Strategy Formulation**\n5. **Risk Evaluation**\n6. **Decision Output**",
        "height": 180,
        "width": 260,
        "color": 1
      },
      "id": "sticky-19-1750869003.94051",
      "name": "Sticky Note 19"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2080,
        1220
      ],
      "parameters": {
        "content": "## \ud83c\udf9b\ufe0f Parameter Extraction\n\n**$fromAI() Examples**:\n```\ndirector_assignment\npriority_level\nresource_allocation\ndeadline_setting\nrisk_assessment\n```",
        "height": 180,
        "width": 260,
        "color": 2
      },
      "id": "sticky-20-1750869003.940512",
      "name": "Sticky Note 20"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4200,
        1400
      ],
      "parameters": {
        "content": "## \ud83d\udd27 Marketing Director Tool\n\n**Purpose**: Campaign & brand strategy\n\n**Inputs**:\n- campaign_objective\n- target_metrics\n- budget_allocation\n\n**Outputs**:\n- strategy_approval\n- resource_assignment",
        "height": 200,
        "width": 300,
        "color": 3
      },
      "id": "sticky-21-1750869003.940513",
      "name": "Sticky Note 21"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4520,
        1400
      ],
      "parameters": {
        "content": "## \ud83d\udd27 Analytics Director Tool\n\n**Purpose**: Data insights & reporting\n\n**Inputs**:\n- analysis_type\n- data_sources\n- report_format\n\n**Outputs**:\n- insights_report\n- recommendations",
        "height": 200,
        "width": 300,
        "color": 4
      },
      "id": "sticky-22-1750869003.940514",
      "name": "Sticky Note 22"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4840,
        1400
      ],
      "parameters": {
        "content": "## \ud83d\udd27 Finance Director Tool\n\n**Purpose**: Financial planning & control\n\n**Inputs**:\n- budget_request\n- financial_metric\n- forecast_period\n\n**Outputs**:\n- budget_approval\n- financial_analysis",
        "height": 200,
        "width": 300,
        "color": 5
      },
      "id": "sticky-23-1750869003.940515",
      "name": "Sticky Note 23"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5160,
        1400
      ],
      "parameters": {
        "content": "## \ud83d\udd27 Operations Director Tool\n\n**Purpose**: Operational excellence\n\n**Inputs**:\n- process_area\n- optimization_goal\n- constraints\n\n**Outputs**:\n- process_improvement\n- efficiency_metrics",
        "height": 200,
        "width": 300,
        "color": 6
      },
      "id": "sticky-24-1750869003.940516",
      "name": "Sticky Note 24"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4200,
        1620
      ],
      "parameters": {
        "content": "## \ud83d\udd27 CX Director Tool\n\n**Purpose**: Customer satisfaction\n\n**Inputs**:\n- service_area\n- customer_segment\n- experience_goal\n\n**Outputs**:\n- service_strategy\n- satisfaction_metrics",
        "height": 200,
        "width": 300,
        "color": 1
      },
      "id": "sticky-25-1750869003.940517",
      "name": "Sticky Note 25"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4520,
        1620
      ],
      "parameters": {
        "content": "## \ud83d\udd27 Product Director Tool\n\n**Purpose**: Product strategy & roadmap\n\n**Inputs**:\n- product_area\n- market_segment\n- feature_priority\n\n**Outputs**:\n- product_decision\n- roadmap_update",
        "height": 200,
        "width": 300,
        "color": 2
      },
      "id": "sticky-26-1750869003.940519",
      "name": "Sticky Note 26"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4840,
        1620
      ],
      "parameters": {
        "content": "## \ud83d\udd27 Technology Director Tool\n\n**Purpose**: Tech strategy & systems\n\n**Inputs**:\n- tech_initiative\n- system_component\n- security_level\n\n**Outputs**:\n- tech_decision\n- implementation_plan",
        "height": 200,
        "width": 300,
        "color": 3
      },
      "id": "sticky-27-1750869003.94052",
      "name": "Sticky Note 27"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5160,
        1620
      ],
      "parameters": {
        "content": "## \ud83d\udd27 Creative Director Tool\n\n**Purpose**: Brand & creative direction\n\n**Inputs**:\n- creative_brief\n- brand_element\n- campaign_type\n\n**Outputs**:\n- creative_approval\n- brand_guidelines",
        "height": 200,
        "width": 300,
        "color": 4
      },
      "id": "sticky-28-1750869003.940521",
      "name": "Sticky Note 28"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5600,
        1840
      ],
      "parameters": {
        "content": "## \ud83d\udcf1 Telegram MCP\n\n**Purpose**: Real-time stakeholder updates\n\n**Use Cases**:\n- Critical alerts\n- Performance milestones\n- Strategic decisions\n- Emergency notifications\n\n**Format**: Markdown with metrics",
        "height": 200,
        "width": 280,
        "color": 5
      },
      "id": "sticky-29-1750869003.940522",
      "name": "Sticky Note 29"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5900,
        1840
      ],
      "parameters": {
        "content": "## \ud83d\udce7 Email MCP\n\n**Purpose**: Formal executive reports\n\n**Use Cases**:\n- Weekly summaries\n- Monthly reports\n- Quarterly reviews\n- Strategic proposals\n\n**Includes**: Charts & tables",
        "height": 200,
        "width": 280,
        "color": 6
      },
      "id": "sticky-30-1750869003.940523",
      "name": "Sticky Note 30"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        6200,
        1840
      ],
      "parameters": {
        "content": "## \ud83d\udcca HTML Report MCP\n\n**Purpose**: Interactive dashboards\n\n**Features**:\n- Real-time metrics\n- Drill-down capability\n- Trend visualization\n- Export functions\n\n**Tech**: React + D3.js",
        "height": 200,
        "width": 280,
        "color": 1
      },
      "id": "sticky-31-1750869003.940524",
      "name": "Sticky Note 31"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1200,
        2200
      ],
      "parameters": {
        "content": "## \ud83d\udd04 Delegation Pattern\n\n```javascript\n// Business Manager delegates\nconst delegation = {\n  director: 'marketing',\n  task: 'campaign_strategy',\n  priority: 'high',\n  deadline: '2024-01-15',\n  resources: budgetAllocation\n}\n```",
        "height": 220,
        "width": 320,
        "color": 2
      },
      "id": "sticky-32-1750869003.940526",
      "name": "Sticky Note 32"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1540,
        2200
      ],
      "parameters": {
        "content": "## \ud83d\udcca Aggregation Pattern\n\n```javascript\n// Collect director reports\nconst reports = await Promise.all([\n  marketingDirector.getStatus(),\n  financeDirector.getMetrics(),\n  operationsDirector.getKPIs()\n]);\n// Consolidate for stakeholder\n```",
        "height": 220,
        "width": 320,
        "color": 3
      },
      "id": "sticky-33-1750869003.940527",
      "name": "Sticky Note 33"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1880,
        2200
      ],
      "parameters": {
        "content": "## \ud83d\udea8 Escalation Pattern\n\n**Trigger Conditions**:\n- Director timeout (>4h)\n- Resource conflict\n- Strategic misalignment\n- Critical failure\n\n**Actions**:\n1. Assess impact\n2. Reallocate resources\n3. Notify stakeholder",
        "height": 220,
        "width": 300,
        "color": 4
      },
      "id": "sticky-34-1750869003.940528",
      "name": "Sticky Note 34"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2200,
        2200
      ],
      "parameters": {
        "content": "## \ud83d\udd01 Feedback Loop\n\n**Continuous Improvement**:\n1. Collect performance data\n2. Analyze effectiveness\n3. Identify bottlenecks\n4. Optimize processes\n5. Update strategies\n\n**Frequency**: Weekly",
        "height": 220,
        "width": 280,
        "color": 5
      },
      "id": "sticky-35-1750869003.940529",
      "name": "Sticky Note 35"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2600,
        2200
      ],
      "parameters": {
        "content": "## \ud83d\udcc8 KPI Dashboard\n\n**Business Metrics**:\n- Revenue: $2.5M/mo\n- Growth: +15% QoQ\n- CAC: $125\n- LTV: $1,850\n- Churn: 3.2%\n\n**Updated**: Real-time",
        "height": 200,
        "width": 260,
        "color": 6
      },
      "id": "sticky-36-1750869003.94053",
      "name": "Sticky Note 36"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2880,
        2200
      ],
      "parameters": {
        "content": "## \u26a1 Response Times\n\n**Target SLAs**:\n- Critical: <15 min\n- High: <1 hour\n- Normal: <4 hours\n- Low: <24 hours\n\n**Current Avg**: 47 min",
        "height": 200,
        "width": 260,
        "color": 1
      },
      "id": "sticky-37-1750869003.940531",
      "name": "Sticky Note 37"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3160,
        2200
      ],
      "parameters": {
        "content": "## \ud83c\udfaf Success Metrics\n\n**Director Performance**:\n- Task completion: 94%\n- On-time delivery: 89%\n- Quality score: 4.6/5\n- Collaboration: 92%",
        "height": 200,
        "width": 260,
        "color": 2
      },
      "id": "sticky-38-1750869003.940533",
      "name": "Sticky Note 38"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        2600
      ],
      "parameters": {
        "content": "## \ud83d\udcda Best Practices\n\n**Communication**:\n- Clear, actionable directives\n- Measurable objectives\n- Regular check-ins\n- Transparent feedback\n\n**Documentation**:\n- Decision rationale\n- Resource allocation\n- Performance tracking",
        "height": 220,
        "width": 300,
        "color": 3
      },
      "id": "sticky-39-1750869003.940534",
      "name": "Sticky Note 39"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        720,
        2600
      ],
      "parameters": {
        "content": "## \u26a0\ufe0f Common Pitfalls\n\n**Avoid**:\n- Micromanaging directors\n- Unclear priorities\n- Resource conflicts\n- Delayed decisions\n- Information silos\n\n**Solution**: Trust & verify",
        "height": 220,
        "width": 280,
        "color": 4
      },
      "id": "sticky-40-1750869003.940535",
      "name": "Sticky Note 40"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1020,
        2600
      ],
      "parameters": {
        "content": "## \ud83d\udd10 Data Security\n\n**Sensitive Data**:\n- Financial metrics\n- Strategic plans\n- Customer data\n- Competitive intel\n\n**Protection**:\n- Encryption at rest\n- Secure transmission\n- Access logging",
        "height": 220,
        "width": 280,
        "color": 5
      },
      "id": "sticky-41-1750869003.940536",
      "name": "Sticky Note 41"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1320,
        2600
      ],
      "parameters": {
        "content": "## \ud83d\ude80 Optimization Tips\n\n1. **Batch Operations**\n2. **Parallel Processing**\n3. **Cache Strategies**\n4. **Resource Pooling**\n5. **Async Patterns**\n\n**Result**: 40% faster",
        "height": 220,
        "width": 260,
        "color": 6
      },
      "id": "sticky-42-1750869003.940537",
      "name": "Sticky Note 42"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1600,
        2600
      ],
      "parameters": {
        "content": "## \ud83d\udcd6 Documentation\n\n**Maintained**:\n- System prompts\n- API schemas\n- Decision trees\n- Process flows\n- Integration docs\n\n**Review**: Monthly",
        "height": 220,
        "width": 260,
        "color": 1
      },
      "id": "sticky-43-1750869003.940538",
      "name": "Sticky Note 43"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "id": "metadata-1750869003.940548",
      "name": "Workflow Metadata",
      "position": [
        400,
        2900
      ],
      "parameters": {
        "content": "## \ud83d\udccb Workflow Metadata\n\n**Last Enhanced**: 2025-06-25T12:30:03.940550\n**Node Count**: 34\n**Sticky Notes**: 65\n**Documentation Coverage**: 68%\n\n**Version**: 2.0 (Enhanced)\n**Compatible with**: n8n v1.0+",
        "height": 200,
        "width": 300,
        "color": 2
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Set Agent Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Set Workflow Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Business Manager Webhook": {
      "main": [
        [
          {
            "node": "Set Webhook Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Agent Context": {
      "main": [
        [
          {
            "node": "Route by Trigger Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Workflow Context": {
      "main": [
        [
          {
            "node": "Route by Trigger Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Webhook Context": {
      "main": [
        [
          {
            "node": "Route by Trigger Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Trigger Type": {
      "main": [
        [
          {
            "node": "Business Manager Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Business Manager Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Business Manager Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Business Manager Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Business Manager Agent": {
      "main": [
        [
          {
            "node": "Approval Required?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approval Required?": {
      "main": [
        [
          {
            "node": "Create Approval Task",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Approval Task": {
      "main": [
        [
          {
            "node": "Telegram MCP - Send Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Performance Feedback Webhook": {
      "main": [
        [
          {
            "node": "Process Performance Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Performance Feedback": {
      "main": [
        [
          {
            "node": "Business Manager Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Business Manager Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Business Manager Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Business Manager Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Social Media Director Tool": {
      "ai_tool": [
        [
          {
            "node": "Business Manager Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Marketing Director Tool": {
      "ai_tool": [
        [
          {
            "node": "Business Manager Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Analytics Director Tool": {
      "ai_tool": [
        [
          {
            "node": "Business Manager Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Finance Director Tool": {
      "ai_tool": [
        [
          {
            "node": "Business Manager Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Operations Director Tool": {
      "ai_tool": [
        [
          {
            "node": "Business Manager Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Customer Experience Director Tool": {
      "ai_tool": [
        [
          {
            "node": "Business Manager Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Product Director Tool": {
      "ai_tool": [
        [
          {
            "node": "Business Manager Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Technology Director Tool": {
      "ai_tool": [
        [
          {
            "node": "Business Manager Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Creative Director Tool": {
      "ai_tool": [
        [
          {
            "node": "Business Manager Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HTML Report Generator MCP": {
      "ai_tool": [
        [
          {
            "node": "Business Manager Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1.0.0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "vivid-walls-business-manager"
  },
  "id": "business-manager-agent-001",
  "tags": [
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "1",
      "name": "director-agent"
    },
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "2",
      "name": "core-agent"
    },
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "3",
      "name": "orchestrator"
    }
  ]
}