services/n8n/agents/workflows/business-operations/finance_director_agent.json
{
  "name": "Finance Director Agent",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"trigger_conditions\": \"financial_alert\",\n  \"trigger_source\": \"financial_monitoring_system\",\n  \"priority\": \"high\",\n  \"alert_type\": \"margin_deterioration\",\n  \"financial_metrics\": {\n    \"current_period\": {\n      \"revenue\": 125000,\n      \"gross_margin\": 56.2,\n      \"net_margin\": 12.3,\n      \"cac\": 145,\n      \"ltv\": 380,\n      \"cash_flow\": 28500\n    },\n    \"previous_period\": {\n      \"revenue\": 135000,\n      \"gross_margin\": 62.5,\n      \"net_margin\": 18.7,\n      \"cac\": 98,\n      \"ltv\": 420,\n      \"cash_flow\": 42000\n    },\n    \"variance\": {\n      \"revenue_change\": -7.4,\n      \"margin_erosion\": 6.3,\n      \"cac_increase\": 47.9,\n      \"ltv_decrease\": -9.5\n    }\n  },\n  \"cost_breakdown\": {\n    \"marketing_spend\": 32000,\n    \"operational_costs\": 18500,\n    \"product_costs\": 45000,\n    \"overhead\": 12000\n  },\n  \"product_performance\": [\n    {\n      \"category\": \"Abstract Prints\",\n      \"revenue\": 45000,\n      \"margin\": 68.5,\n      \"units_sold\": 234\n    },\n    {\n      \"category\": \"Canvas Wraps\",\n      \"revenue\": 38000,\n      \"margin\": 52.3,\n      \"units_sold\": 156\n    }\n  ],\n  \"optimization_urgency\": \"immediate\",\n  \"risk_factors\": [\"rising_acquisition_costs\", \"margin_compression\", \"cash_flow_concern\"]\n}"
      },
      "id": "fin-a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -1400,
        -60
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        800,
        -1200
      ],
      "id": "fin-b2c3d4e5-f6a7-8901-bcde-f23456789012",
      "name": "When chat message received",
      "webhookId": "finance-director-chat-trigger"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        2600,
        240
      ],
      "id": "fin-c3d4e5f6-a7b8-9012-cdef-345678901234",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "path": "finance-director-webhook",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        180,
        1020
      ],
      "id": "fin-d4e5f6a7-b8c9-0123-defa-456789012345",
      "name": "Finance Director Webhook",
      "webhookId": "finance-director-webhook"
    },
    {
      "parameters": {
        "description": "Analyze revenue streams and generate financial reports",
        "workflowId": {
          "__rl": true,
          "value": "RevenueAnalysisWorkflowId",
          "mode": "list",
          "cachedResultName": "Revenue Analysis Tool"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "analysis_period": "={{ $fromAI('analysis_period', 'daily, weekly, monthly, quarterly') }}",
            "revenue_streams": "={{ $fromAI('revenue_streams', 'product sales, services, subscriptions') }}",
            "comparison_type": "={{ $fromAI('comparison_type', 'period-over-period, year-over-year') }}",
            "granularity": "={{ $fromAI('granularity', 'product, category, channel level') }}",
            "include_forecasts": "={{ $fromAI('include_forecasts', 'true or false') }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        460,
        1440
      ],
      "id": "fin-e5f6a7b8-c9d0-1234-efab-567890123456",
      "name": "Revenue Analysis Tool"
    },
    {
      "parameters": {
        "description": "Manage budget allocation and track spending across departments",
        "workflowId": {
          "__rl": true,
          "value": "BudgetManagementWorkflowId",
          "mode": "list",
          "cachedResultName": "Budget Management Tool"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "budget_action": "={{ $fromAI('budget_action', 'allocate, adjust, or review budgets') }}",
            "department": "={{ $fromAI('department', 'marketing, operations, product, technology') }}",
            "budget_amount": "={{ $fromAI('budget_amount', 'budget allocation amount') }}",
            "time_period": "={{ $fromAI('time_period', 'monthly, quarterly, annual') }}",
            "roi_requirements": "={{ $fromAI('roi_requirements', 'minimum ROI threshold') }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        460,
        1640
      ],
      "id": "fin-f6a7b8c9-d0e1-2345-fabc-678901234567",
      "name": "Budget Management Tool"
    },
    {
      "parameters": {
        "description": "Optimize pricing strategies and monitor profit margins",
        "workflowId": {
          "__rl": true,
          "value": "PricingOptimizationWorkflowId",
          "mode": "list",
          "cachedResultName": "Pricing Optimization Tool"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "product_categories": "={{ $fromAI('product_categories', 'categories to optimize pricing') }}",
            "pricing_strategy": "={{ $fromAI('pricing_strategy', 'competitive, value-based, dynamic') }}",
            "target_margin": "={{ $fromAI('target_margin', 'desired profit margin percentage') }}",
            "competitor_analysis": "={{ $fromAI('competitor_analysis', 'include competitor pricing data') }}",
            "elasticity_test": "={{ $fromAI('elasticity_test', 'test price elasticity') }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        460,
        1840
      ],
      "id": "fin-a7b8c9d0-e1f2-3456-abcd-789012345678",
      "name": "Pricing Optimization Tool"
    },
    {
      "parameters": {
        "description": "Calculate unit economics and customer lifetime value",
        "workflowId": {
          "__rl": true,
          "value": "UnitEconomicsWorkflowId",
          "mode": "list",
          "cachedResultName": "Unit Economics Calculator"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "calculation_type": "={{ $fromAI('calculation_type', 'CAC, LTV, payback period, unit margin') }}",
            "customer_segment": "={{ $fromAI('customer_segment', 'segment to analyze') }}",
            "cohort_period": "={{ $fromAI('cohort_period', 'cohort time frame') }}",
            "include_churn": "={{ $fromAI('include_churn', 'factor in churn rate') }}",
            "projection_months": "={{ $fromAI('projection_months', 'months to project forward') }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        460,
        2040
      ],
      "id": "fin-b8c9d0e1-f2a3-4567-bcde-890123456789",
      "name": "Unit Economics Calculator Tool"
    },
    {
      "parameters": {
        "description": "Generate financial forecasts and P&L statements",
        "workflowId": {
          "__rl": true,
          "value": "FinancialForecastingWorkflowId",
          "mode": "list",
          "cachedResultName": "Financial Forecasting Tool"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "forecast_type": "={{ $fromAI('forecast_type', 'revenue, expense, cash flow, P&L') }}",
            "forecast_period": "={{ $fromAI('forecast_period', 'weeks, months, quarters to forecast') }}",
            "scenario_type": "={{ $fromAI('scenario_type', 'best case, base case, worst case') }}",
            "growth_assumptions": "={{ $fromAI('growth_assumptions', 'growth rate assumptions') }}",
            "seasonality_factors": "={{ $fromAI('seasonality_factors', 'seasonal adjustments') }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        460,
        2240
      ],
      "id": "fin-c9d0e1f2-a3b4-5678-cdef-901234567890",
      "name": "Financial Forecasting Tool"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o"
        },
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -100,
        1640
      ],
      "id": "fin-d0e1f2a3-b4c5-6789-defa-012345678901",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "nMbluFwHsrVvkQBJ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "read",
        "tableId": {
          "__rl": true,
          "value": "financial_performance_data",
          "mode": "list"
        },
        "returnAll": true
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreAirtableSearch",
      "typeVersion": 1,
      "position": [
        120,
        1840
      ],
      "id": "fin-e1f2a3b4-c5d6-7890-efab-123456789012",
      "name": "Financial Performance Data"
    },
    {
      "parameters": {
        "operation": "read",
        "tableId": {
          "__rl": true,
          "value": "budget_allocations",
          "mode": "list"
        },
        "returnAll": true
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreAirtableSearch",
      "typeVersion": 1,
      "position": [
        120,
        2040
      ],
      "id": "fin-f2a3b4c5-d6e7-8901-fabc-234567890123",
      "name": "Budget Allocation Data"
    },
    {
      "parameters": {
        "text": "={{ $json.system_prompt }}",
        "metadata": {
          "metadataValues": [
            {
              "name": "agent_role",
              "value": "Finance Director"
            },
            {
              "name": "focus_area",
              "value": "Financial Management & Analysis"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryVectorStore",
      "typeVersion": 1,
      "position": [
        -300,
        1840
      ],
      "id": "fin-a3b4c5d6-e7f8-9012-abcd-345678901234",
      "name": "Finance Director Memory"
    },
    {
      "parameters": {
        "systemMessage": "=## Role & Purpose\nYou are the Finance Director Agent for VividWalls, responsible for financial oversight, budgeting, pricing strategy, and profitability analysis. You ensure the business maintains healthy margins and cash flow.\n\n## Core Responsibilities\n- Monitor daily revenue, costs, and profitability\n- Manage marketing budget allocation across channels\n- Analyze unit economics and customer lifetime value\n- Develop pricing strategies and margin optimization\n- Generate financial forecasts and P&L statements\n- Track key financial KPIs and ratios\n\n## Key Performance Indicators\n- Gross Margin > 60%\n- Monthly Recurring Revenue (MRR) growth\n- Customer Acquisition Cost payback < 3 months\n- Working capital management\n- Profit margin by product category\n\n## Available MCP Tools\n- Shopify financial data APIs\n- Accounting software integrations\n- Budget management tools\n- Financial reporting and analytics platforms\n- Pricing optimization tools\n- Revenue recognition systems\n\n## Decision Framework\n- Alert Business Manager if daily revenue drops >20%\n- Recommend price adjustments for margin improvement\n- Approve marketing spend increases based on ROI\n- Generate weekly financial reports for stakeholders\n\n## Current Context\n{{ $json.trigger_conditions }}\n{{ $json.financial_metrics }}\n{{ $json.cost_breakdown }}"
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        1400,
        1640
      ],
      "id": "fin-b4c5d6e7-f8a9-0123-bcde-456789012345",
      "name": "Finance Director AI Agent"
    },
    {
      "parameters": {
        "inputType": "chat",
        "path": "finance-director-chat",
        "responseMode": "lastNode",
        "options": {
          "appendMessagesToOutput": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatOpenWebUi",
      "typeVersion": 1,
      "position": [
        1080,
        320
      ],
      "id": "fin-c5d6e7f8-a9b0-1234-cdef-567890123456",
      "name": "Chat Interface",
      "webhookId": "finance-director-chat"
    },
    {
      "parameters": {
        "mode": "trigger",
        "values": {
          "string": [
            {
              "name": "action",
              "value": "={{ $json.action }}"
            },
            {
              "name": "financial_report",
              "value": "={{ $json.financial_report }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2200,
        420
      ],
      "id": "fin-d6e7f8a9-b0c1-2345-defa-678901234567",
      "name": "Prepare Response"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Finance Director AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Chat Interface",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finance Director Webhook": {
      "main": [
        [
          {
            "node": "Finance Director AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Interface": {
      "main": [
        [
          {
            "node": "Finance Director AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finance Director AI Agent": {
      "main": [
        [
          {
            "node": "Prepare Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Finance Director AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Revenue Analysis Tool": {
      "ai_tool": [
        [
          {
            "node": "Finance Director AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Budget Management Tool": {
      "ai_tool": [
        [
          {
            "node": "Finance Director AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pricing Optimization Tool": {
      "ai_tool": [
        [
          {
            "node": "Finance Director AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Unit Economics Calculator Tool": {
      "ai_tool": [
        [
          {
            "node": "Finance Director AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Financial Forecasting Tool": {
      "ai_tool": [
        [
          {
            "node": "Finance Director AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Financial Performance Data": {
      "ai_vectorStore": [
        [
          {
            "node": "Finance Director AI Agent",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Budget Allocation Data": {
      "ai_vectorStore": [
        [
          {
            "node": "Finance Director AI Agent",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Finance Director Memory": {
      "ai_memory": [
        [
          {
            "node": "Finance Director AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  }
}