services/n8n/agents/workflows/business-operations/operations_director_agent.json
{
  "name": "Operations Director Agent",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"trigger_conditions\": \"operations_alert\",\n  \"trigger_source\": \"inventory_monitoring_system\",\n  \"priority\": \"high\",\n  \"alert_type\": \"inventory_critical\",\n  \"operations_metrics\": {\n    \"current_status\": {\n      \"fulfillment_time_days\": 4.2,\n      \"stockout_rate\": 3.8,\n      \"shipping_accuracy\": 97.2,\n      \"delivery_satisfaction\": 91.5,\n      \"cost_per_shipment\": 12.75,\n      \"pending_orders\": 234\n    },\n    \"target_metrics\": {\n      \"fulfillment_time_days\": 3.0,\n      \"stockout_rate\": 2.0,\n      \"shipping_accuracy\": 99.0,\n      \"delivery_satisfaction\": 95.0,\n      \"cost_per_shipment\": 10.50,\n      \"max_order_backlog\": 100\n    },\n    \"variance\": {\n      \"fulfillment_delay\": 40,\n      \"stockout_increase\": 90,\n      \"accuracy_gap\": -1.8,\n      \"satisfaction_shortfall\": -3.5\n    }\n  },\n  \"inventory_status\": [\n    {\n      \"sku\": \"CANVAS-16x20-ABSTRACT\",\n      \"current_stock\": 12,\n      \"daily_velocity\": 8,\n      \"days_of_supply\": 1.5,\n      \"reorder_point\": 56,\n      \"lead_time_days\": 7\n    },\n    {\n      \"sku\": \"CANVAS-24x36-MODERN\",\n      \"current_stock\": 5,\n      \"daily_velocity\": 4,\n      \"days_of_supply\": 1.25,\n      \"reorder_point\": 28,\n      \"lead_time_days\": 10\n    }\n  ],\n  \"supplier_issues\": {\n    \"quality_concerns\": [\"color_consistency\", \"canvas_warping\"],\n    \"delivery_delays\": [\"supplier_A_backlog\", \"shipping_disruption\"],\n    \"cost_increases\": [\"material_price_surge\", \"freight_rate_hike\"]\n  },\n  \"optimization_urgency\": \"immediate\",\n  \"risk_mitigation\": [\"expedite_reorders\", \"activate_backup_suppliers\", \"implement_quality_checks\"]\n}"
      },
      "id": "ops-a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -1400,
        -60
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        800,
        -1200
      ],
      "id": "ops-b2c3d4e5-f6a7-8901-bcde-f23456789012",
      "name": "When chat message received",
      "webhookId": "operations-director-chat-trigger"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        2600,
        240
      ],
      "id": "ops-c3d4e5f6-a7b8-9012-cdef-345678901234",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "path": "operations-director-webhook",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        180,
        1020
      ],
      "id": "ops-d4e5f6a7-b8c9-0123-defa-456789012345",
      "name": "Operations Director Webhook",
      "webhookId": "operations-director-webhook"
    },
    {
      "parameters": {
        "description": "Monitor and optimize inventory levels across all SKUs",
        "workflowId": {
          "__rl": true,
          "value": "InventoryManagementWorkflowId",
          "mode": "list",
          "cachedResultName": "Inventory Management Tool"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "inventory_action": "={{ $fromAI('inventory_action', 'check, reorder, adjust, or forecast') }}",
            "sku_list": "={{ $fromAI('sku_list', 'SKUs to manage') }}",
            "reorder_quantity": "={{ $fromAI('reorder_quantity', 'quantity to reorder') }}",
            "safety_stock": "={{ $fromAI('safety_stock', 'minimum stock levels') }}",
            "forecast_period": "={{ $fromAI('forecast_period', 'days to forecast demand') }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        460,
        1440
      ],
      "id": "ops-e5f6a7b8-c9d0-1234-efab-567890123456",
      "name": "Inventory Management Tool"
    },
    {
      "parameters": {
        "description": "Process orders and manage fulfillment workflow",
        "workflowId": {
          "__rl": true,
          "value": "OrderFulfillmentWorkflowId",
          "mode": "list",
          "cachedResultName": "Order Fulfillment Tool"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "order_action": "={{ $fromAI('order_action', 'process, expedite, hold, or cancel') }}",
            "order_ids": "={{ $fromAI('order_ids', 'orders to process') }}",
            "priority_level": "={{ $fromAI('priority_level', 'standard, rush, or VIP') }}",
            "quality_check": "={{ $fromAI('quality_check', 'quality control requirements') }}",
            "shipping_method": "={{ $fromAI('shipping_method', 'shipping service selection') }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        460,
        1640
      ],
      "id": "ops-f6a7b8c9-d0e1-2345-fabc-678901234567",
      "name": "Order Fulfillment Tool"
    },
    {
      "parameters": {
        "description": "Manage supplier relationships and coordinate production",
        "workflowId": {
          "__rl": true,
          "value": "SupplierManagementWorkflowId",
          "mode": "list",
          "cachedResultName": "Supplier Management Tool"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "supplier_action": "={{ $fromAI('supplier_action', 'communicate, negotiate, evaluate, or switch') }}",
            "supplier_name": "={{ $fromAI('supplier_name', 'supplier to manage') }}",
            "order_details": "={{ $fromAI('order_details', 'production order specifications') }}",
            "quality_standards": "={{ $fromAI('quality_standards', 'quality requirements') }}",
            "negotiation_terms": "={{ $fromAI('negotiation_terms', 'pricing or terms to negotiate') }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        460,
        1840
      ],
      "id": "ops-a7b8c9d0-e1f2-3456-abcd-789012345678",
      "name": "Supplier Management Tool"
    },
    {
      "parameters": {
        "description": "Track shipping and delivery performance",
        "workflowId": {
          "__rl": true,
          "value": "ShippingLogisticsWorkflowId",
          "mode": "list",
          "cachedResultName": "Shipping Logistics Tool"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tracking_action": "={{ $fromAI('tracking_action', 'track, update, investigate, or report') }}",
            "tracking_numbers": "={{ $fromAI('tracking_numbers', 'shipments to track') }}",
            "carrier_selection": "={{ $fromAI('carrier_selection', 'shipping carrier to use') }}",
            "delivery_issues": "={{ $fromAI('delivery_issues', 'delivery problems to resolve') }}",
            "cost_optimization": "={{ $fromAI('cost_optimization', 'shipping cost analysis') }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        460,
        2040
      ],
      "id": "ops-b8c9d0e1-f2a3-4567-bcde-890123456789",
      "name": "Shipping Logistics Tool"
    },
    {
      "parameters": {
        "description": "Generate operational reports and performance metrics",
        "workflowId": {
          "__rl": true,
          "value": "OperationalReportingWorkflowId",
          "mode": "list",
          "cachedResultName": "Operational Reporting Tool"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "report_type": "={{ $fromAI('report_type', 'fulfillment, inventory, quality, or cost report') }}",
            "time_period": "={{ $fromAI('time_period', 'reporting period') }}",
            "kpi_focus": "={{ $fromAI('kpi_focus', 'key metrics to highlight') }}",
            "comparison_basis": "={{ $fromAI('comparison_basis', 'benchmark or period comparison') }}",
            "distribution_list": "={{ $fromAI('distribution_list', 'stakeholders to notify') }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        460,
        2240
      ],
      "id": "ops-c9d0e1f2-a3b4-5678-cdef-901234567890",
      "name": "Operational Reporting Tool"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o"
        },
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -100,
        1640
      ],
      "id": "ops-d0e1f2a3-b4c5-6789-defa-012345678901",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "nMbluFwHsrVvkQBJ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "read",
        "tableId": {
          "__rl": true,
          "value": "inventory_data",
          "mode": "list"
        },
        "returnAll": true
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreAirtableSearch",
      "typeVersion": 1,
      "position": [
        120,
        1840
      ],
      "id": "ops-e1f2a3b4-c5d6-7890-efab-123456789012",
      "name": "Inventory Data"
    },
    {
      "parameters": {
        "operation": "read",
        "tableId": {
          "__rl": true,
          "value": "fulfillment_metrics",
          "mode": "list"
        },
        "returnAll": true
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreAirtableSearch",
      "typeVersion": 1,
      "position": [
        120,
        2040
      ],
      "id": "ops-f2a3b4c5-d6e7-8901-fabc-234567890123",
      "name": "Fulfillment Metrics Data"
    },
    {
      "parameters": {
        "text": "={{ $json.system_prompt }}",
        "metadata": {
          "metadataValues": [
            {
              "name": "agent_role",
              "value": "Operations Director"
            },
            {
              "name": "focus_area",
              "value": "Fulfillment & Supply Chain"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryVectorStore",
      "typeVersion": 1,
      "position": [
        -300,
        1840
      ],
      "id": "ops-a3b4c5d6-e7f8-9012-abcd-345678901234",
      "name": "Operations Director Memory"
    },
    {
      "parameters": {
        "systemMessage": "=## Role & Purpose\nYou are the Operations Director Agent for VividWalls, responsible for end-to-end order fulfillment, inventory management, and supply chain optimization. You ensure timely delivery of high-quality canvas prints to customers.\n\n## Core Responsibilities\n- Monitor and optimize inventory levels across all SKUs\n- Coordinate with printing partners for quality control\n- Manage order processing and shipping logistics\n- Track fulfillment metrics and delivery performance\n- Handle supplier relationships and negotiations\n- Implement process improvements for efficiency\n\n## Key Performance Indicators\n- Order fulfillment time < 3 business days\n- Inventory stockout rate < 2%\n- Shipping accuracy rate > 99%\n- Customer delivery satisfaction > 95%\n- Cost per shipment optimization\n\n## Available MCP Tools\n- Shopify MCP: Order management and inventory tracking\n- n8n workflows: Automated fulfillment processes\n- Supplier integration APIs\n- Shipping provider APIs (FedEx, UPS, etc.)\n- Quality control tracking systems\n\n## Decision Framework\n- Automatically reorder when inventory drops below 7-day supply\n- Flag orders for quality review if customer value > $200\n- Escalate shipping delays to Customer Experience Director\n- Report daily operational metrics to Business Manager\n\n## Current Context\n{{ $json.trigger_conditions }}\n{{ $json.operations_metrics }}\n{{ $json.inventory_status }}"
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        1400,
        1640
      ],
      "id": "ops-b4c5d6e7-f8a9-0123-bcde-456789012345",
      "name": "Operations Director AI Agent"
    },
    {
      "parameters": {
        "inputType": "chat",
        "path": "operations-director-chat",
        "responseMode": "lastNode",
        "options": {
          "appendMessagesToOutput": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatOpenWebUi",
      "typeVersion": 1,
      "position": [
        1080,
        320
      ],
      "id": "ops-c5d6e7f8-a9b0-1234-cdef-567890123456",
      "name": "Chat Interface",
      "webhookId": "operations-director-chat"
    },
    {
      "parameters": {
        "mode": "trigger",
        "values": {
          "string": [
            {
              "name": "action",
              "value": "={{ $json.action }}"
            },
            {
              "name": "operations_report",
              "value": "={{ $json.operations_report }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2200,
        420
      ],
      "id": "ops-d6e7f8a9-b0c1-2345-defa-678901234567",
      "name": "Prepare Response"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Operations Director AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Chat Interface",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Operations Director Webhook": {
      "main": [
        [
          {
            "node": "Operations Director AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Interface": {
      "main": [
        [
          {
            "node": "Operations Director AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Operations Director AI Agent": {
      "main": [
        [
          {
            "node": "Prepare Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Operations Director AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Inventory Management Tool": {
      "ai_tool": [
        [
          {
            "node": "Operations Director AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Order Fulfillment Tool": {
      "ai_tool": [
        [
          {
            "node": "Operations Director AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supplier Management Tool": {
      "ai_tool": [
        [
          {
            "node": "Operations Director AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Shipping Logistics Tool": {
      "ai_tool": [
        [
          {
            "node": "Operations Director AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Operational Reporting Tool": {
      "ai_tool": [
        [
          {
            "node": "Operations Director AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Inventory Data": {
      "ai_vectorStore": [
        [
          {
            "node": "Operations Director AI Agent",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Fulfillment Metrics Data": {
      "ai_vectorStore": [
        [
          {
            "node": "Operations Director AI Agent",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Operations Director Memory": {
      "ai_memory": [
        [
          {
            "node": "Operations Director AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  }
}