services/n8n/agents/workflows/business-operations/product_director_agent.json
{
  "name": "Product Director Agent",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"trigger_conditions\": \"product_performance_alert\",\n  \"trigger_source\": \"product_analytics_system\",\n  \"priority\": \"high\",\n  \"alert_type\": \"low_conversion_products\",\n  \"product_metrics\": {\n    \"catalog_overview\": {\n      \"total_products\": 234,\n      \"active_products\": 198,\n      \"new_this_month\": 3,\n      \"avg_conversion_rate\": 2.8,\n      \"catalog_revenue\": 145000,\n      \"best_sellers_count\": 15\n    },\n    \"underperforming_products\": [\n      {\n        \"product_id\": \"ART-ABSTRACT-2024-018\",\n        \"title\": \"Cosmic Dreams Collection\",\n        \"days_live\": 95,\n        \"views\": 1250,\n        \"conversion_rate\": 0.6,\n        \"revenue\": 450,\n        \"margin\": 42\n      },\n      {\n        \"product_id\": \"ART-MODERN-2024-022\",\n        \"title\": \"Urban Geometry Series\",\n        \"days_live\": 120,\n        \"views\": 890,\n        \"conversion_rate\": 0.4,\n        \"revenue\": 280,\n        \"margin\": 38\n      }\n    ],\n    \"trending_categories\": [\n      {\n        \"category\": \"Minimalist Abstract\",\n        \"growth_rate\": 45,\n        \"search_volume\": 12500,\n        \"competition\": \"medium\"\n      },\n      {\n        \"category\": \"Nature-Inspired Abstract\",\n        \"growth_rate\": 38,\n        \"search_volume\": 8900,\n        \"competition\": \"low\"\n      }\n    ]\n  },\n  \"market_intelligence\": {\n    \"competitor_launches\": [\"geometric_patterns\", \"metallic_finishes\"],\n    \"art_trends\": [\"sustainable_materials\", \"oversized_canvas\", \"textured_art\"],\n    \"seasonal_opportunities\": [\"spring_florals\", \"summer_vibrant\"]\n  },\n  \"optimization_urgency\": \"immediate\",\n  \"action_required\": [\"discontinue_underperformers\", \"launch_trending_styles\", \"optimize_bestsellers\"]\n}"
      },
      "id": "prod-a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -1400,
        -60
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        800,
        -1200
      ],
      "id": "prod-b2c3d4e5-f6a7-8901-bcde-f23456789012",
      "name": "When chat message received",
      "webhookId": "product-director-chat-trigger"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        2600,
        240
      ],
      "id": "prod-c3d4e5f6-a7b8-9012-cdef-345678901234",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "path": "product-director-webhook",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        180,
        1020
      ],
      "id": "prod-d4e5f6a7-b8c9-0123-defa-456789012345",
      "name": "Product Director Webhook",
      "webhookId": "product-director-webhook"
    },
    {
      "parameters": {
        "description": "Manage product catalog and create new art listings",
        "workflowId": {
          "__rl": true,
          "value": "ProductCatalogManagementWorkflowId",
          "mode": "list",
          "cachedResultName": "Product Catalog Management Tool"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "catalog_action": "={{ $fromAI('catalog_action', 'create, update, archive, or feature product') }}",
            "product_details": "={{ $fromAI('product_details', 'product information and attributes') }}",
            "pricing_strategy": "={{ $fromAI('pricing_strategy', 'pricing model and tiers') }}",
            "category_placement": "={{ $fromAI('category_placement', 'product categorization') }}",
            "seo_optimization": "={{ $fromAI('seo_optimization', 'SEO tags and descriptions') }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        460,
        1440
      ],
      "id": "prod-e5f6a7b8-c9d0-1234-efab-567890123456",
      "name": "Product Catalog Management Tool"
    },
    {
      "parameters": {
        "description": "Curate and source new abstract art pieces",
        "workflowId": {
          "__rl": true,
          "value": "ArtCurationWorkflowId",
          "mode": "list",
          "cachedResultName": "Art Curation Tool"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "curation_type": "={{ $fromAI('curation_type', 'artist sourcing, licensing, or creation') }}",
            "art_style": "={{ $fromAI('art_style', 'abstract style preferences') }}",
            "collection_theme": "={{ $fromAI('collection_theme', 'collection concept') }}",
            "licensing_terms": "={{ $fromAI('licensing_terms', 'usage rights and royalties') }}",
            "quality_standards": "={{ $fromAI('quality_standards', 'art quality requirements') }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        460,
        1640
      ],
      "id": "prod-f6a7b8c9-d0e1-2345-fabc-678901234567",
      "name": "Art Curation Tool"
    },
    {
      "parameters": {
        "description": "Analyze product performance and identify trends",
        "workflowId": {
          "__rl": true,
          "value": "ProductAnalyticsWorkflowId",
          "mode": "list",
          "cachedResultName": "Product Analytics Tool"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "analysis_type": "={{ $fromAI('analysis_type', 'performance, trend, or competitive analysis') }}",
            "time_period": "={{ $fromAI('time_period', 'analysis timeframe') }}",
            "product_segments": "={{ $fromAI('product_segments', 'products or categories to analyze') }}",
            "kpi_focus": "={{ $fromAI('kpi_focus', 'conversion, revenue, or margin focus') }}",
            "recommendations": "={{ $fromAI('recommendations', 'generate actionable insights') }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        460,
        1840
      ],
      "id": "prod-a7b8c9d0-e1f2-3456-abcd-789012345678",
      "name": "Product Analytics Tool"
    },
    {
      "parameters": {
        "description": "Optimize product pages for conversion",
        "workflowId": {
          "__rl": true,
          "value": "ProductPageOptimizationWorkflowId",
          "mode": "list",
          "cachedResultName": "Product Page Optimization Tool"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "optimization_type": "={{ $fromAI('optimization_type', 'images, copy, layout, or pricing') }}",
            "product_ids": "={{ $fromAI('product_ids', 'products to optimize') }}",
            "ab_testing": "={{ $fromAI('ab_testing', 'A/B test variations') }}",
            "mobile_optimization": "={{ $fromAI('mobile_optimization', 'mobile-specific improvements') }}",
            "urgency_elements": "={{ $fromAI('urgency_elements', 'scarcity or social proof') }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        460,
        2040
      ],
      "id": "prod-b8c9d0e1-f2a3-4567-bcde-890123456789",
      "name": "Product Page Optimization Tool"
    },
    {
      "parameters": {
        "description": "Plan and launch seasonal collections",
        "workflowId": {
          "__rl": true,
          "value": "SeasonalCollectionPlannerWorkflowId",
          "mode": "list",
          "cachedResultName": "Seasonal Collection Planner"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "season_theme": "={{ $fromAI('season_theme', 'seasonal collection theme') }}",
            "launch_timeline": "={{ $fromAI('launch_timeline', 'collection launch schedule') }}",
            "product_count": "={{ $fromAI('product_count', 'number of pieces in collection') }}",
            "marketing_angle": "={{ $fromAI('marketing_angle', 'unique selling proposition') }}",
            "limited_edition": "={{ $fromAI('limited_edition', 'scarcity strategy') }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        460,
        2240
      ],
      "id": "prod-c9d0e1f2-a3b4-5678-cdef-901234567890",
      "name": "Seasonal Collection Planner Tool"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o"
        },
        "options": {
          "temperature": 0.6
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -100,
        1640
      ],
      "id": "prod-d0e1f2a3-b4c5-6789-defa-012345678901",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "nMbluFwHsrVvkQBJ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "read",
        "tableId": {
          "__rl": true,
          "value": "product_catalog_data",
          "mode": "list"
        },
        "returnAll": true
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreAirtableSearch",
      "typeVersion": 1,
      "position": [
        120,
        1840
      ],
      "id": "prod-e1f2a3b4-c5d6-7890-efab-123456789012",
      "name": "Product Catalog Data"
    },
    {
      "parameters": {
        "operation": "read",
        "tableId": {
          "__rl": true,
          "value": "art_trends_data",
          "mode": "list"
        },
        "returnAll": true
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreAirtableSearch",
      "typeVersion": 1,
      "position": [
        120,
        2040
      ],
      "id": "prod-f2a3b4c5-d6e7-8901-fabc-234567890123",
      "name": "Art Trends Data"
    },
    {
      "parameters": {
        "text": "={{ $json.system_prompt }}",
        "metadata": {
          "metadataValues": [
            {
              "name": "agent_role",
              "value": "Product Director"
            },
            {
              "name": "focus_area",
              "value": "Catalog & Art Curation"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryVectorStore",
      "typeVersion": 1,
      "position": [
        -300,
        1840
      ],
      "id": "prod-a3b4c5d6-e7f8-9012-abcd-345678901234",
      "name": "Product Director Memory"
    },
    {
      "parameters": {
        "systemMessage": "=## Role & Purpose\nYou are the Product Director Agent for VividWalls, responsible for product catalog management, art curation, and product strategy. You oversee our collection of abstract canvas art and ensure we offer compelling, trendy artwork.\n\n## Core Responsibilities\n- Curate new abstract art pieces for the catalog\n- Manage product descriptions, pricing, and categorization\n- Analyze product performance and sales trends\n- Coordinate with artists and art licensing\n- Optimize product pages for conversion\n- Plan seasonal and limited edition collections\n\n## Key Performance Indicators\n- Product page conversion rate > 3%\n- New product introduction rate (monthly)\n- Bestseller identification and scaling\n- Product margin optimization\n- Catalog performance analysis\n\n## Available MCP Tools\n- Shopify MCP: Product management and analytics\n- Image processing and optimization tools\n- Art licensing and sourcing platforms\n- SEO optimization tools\n- A/B testing tools for product pages\n- Trend analysis and market research tools\n\n## Decision Framework\n- Launch 5-10 new designs monthly\n- Discontinue products with <1% conversion after 90 days\n- Feature trending art styles based on market data\n- Coordinate with Marketing Director for product launches\n\n## Current Context\n{{ $json.trigger_conditions }}\n{{ $json.product_metrics }}\n{{ $json.market_intelligence }}"
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        1400,
        1640
      ],
      "id": "prod-b4c5d6e7-f8a9-0123-bcde-456789012345",
      "name": "Product Director AI Agent"
    },
    {
      "parameters": {
        "inputType": "chat",
        "path": "product-director-chat",
        "responseMode": "lastNode",
        "options": {
          "appendMessagesToOutput": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatOpenWebUi",
      "typeVersion": 1,
      "position": [
        1080,
        320
      ],
      "id": "prod-c5d6e7f8-a9b0-1234-cdef-567890123456",
      "name": "Chat Interface",
      "webhookId": "product-director-chat"
    },
    {
      "parameters": {
        "mode": "trigger",
        "values": {
          "string": [
            {
              "name": "action",
              "value": "={{ $json.action }}"
            },
            {
              "name": "product_report",
              "value": "={{ $json.product_report }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2200,
        420
      ],
      "id": "prod-d6e7f8a9-b0c1-2345-defa-678901234567",
      "name": "Prepare Response"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Product Director AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Chat Interface",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Product Director Webhook": {
      "main": [
        [
          {
            "node": "Product Director AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Interface": {
      "main": [
        [
          {
            "node": "Product Director AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Product Director AI Agent": {
      "main": [
        [
          {
            "node": "Prepare Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Product Director AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Product Catalog Management Tool": {
      "ai_tool": [
        [
          {
            "node": "Product Director AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Art Curation Tool": {
      "ai_tool": [
        [
          {
            "node": "Product Director AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Product Analytics Tool": {
      "ai_tool": [
        [
          {
            "node": "Product Director AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Product Page Optimization Tool": {
      "ai_tool": [
        [
          {
            "node": "Product Director AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Seasonal Collection Planner Tool": {
      "ai_tool": [
        [
          {
            "node": "Product Director AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Product Catalog Data": {
      "ai_vectorStore": [
        [
          {
            "node": "Product Director AI Agent",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Art Trends Data": {
      "ai_vectorStore": [
        [
          {
            "node": "Product Director AI Agent",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Product Director Memory": {
      "ai_memory": [
        [
          {
            "node": "Product Director AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  }
}