services/n8n/agents/workflows/business-operations/technology_director_agent.json
{
  "name": "Technology Director Agent",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"trigger_conditions\": \"system_performance_alert\",\n  \"trigger_source\": \"monitoring_system\",\n  \"priority\": \"critical\",\n  \"alert_type\": \"technical_issue\",\n  \"affected_systems\": [\n    {\n      \"system_id\": \"SHOPIFY-MAIN\",\n      \"type\": \"ecommerce_platform\",\n      \"name\": \"Main Shopify Store\",\n      \"current_metrics\": {\n        \"uptime_percentage\": 98.2,\n        \"response_time_ms\": 1250,\n        \"error_rate\": 2.3,\n        \"api_success_rate\": 96.5\n      },\n      \"sla_targets\": {\n        \"uptime_percentage\": 99.5,\n        \"response_time_ms\": 500,\n        \"error_rate\": 0.5,\n        \"api_success_rate\": 99.0\n      }\n    },\n    {\n      \"system_id\": \"N8N-AUTOMATION\",\n      \"type\": \"workflow_automation\",\n      \"name\": \"n8n Automation Platform\",\n      \"current_metrics\": {\n        \"workflow_success_rate\": 94.8,\n        \"execution_time_avg\": 3200,\n        \"failed_workflows\": 12,\n        \"queue_backlog\": 45\n      }\n    }\n  ],\n  \"technical_issues\": {\n    \"performance_issues\": [\"slow_api_response\", \"database_bottleneck\", \"cache_miss_rate_high\"],\n    \"integration_issues\": [\"shopify_webhook_failures\", \"payment_gateway_timeout\"],\n    \"security_issues\": [\"outdated_ssl_certificate\", \"suspicious_login_attempts\"]\n  },\n  \"optimization_urgency\": \"immediate\",\n  \"expected_impact\": {\n    \"uptime_improvement\": 1.3,\n    \"performance_gain\": 60,\n    \"cost_reduction\": 2500\n  }\n}"
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -1400,
        -60
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        800,
        -1200
      ],
      "id": "b2c3d4e5-f6a7-8901-bcde-f23456789012",
      "name": "When chat message received",
      "webhookId": "technology-director-chat-trigger"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        2600,
        240
      ],
      "id": "c3d4e5f6-a7b8-9012-cdef-345678901234",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "path": "technology-director-webhook",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        180,
        1020
      ],
      "id": "d4e5f6a7-b8c9-0123-defa-456789012345",
      "name": "Technology Director Webhook",
      "webhookId": "technology-director-webhook"
    },
    {
      "parameters": {
        "description": "Monitor and optimize Shopify store performance and integrations",
        "workflowId": {
          "__rl": true,
          "value": "ShopifyOptimizationWorkflowId",
          "mode": "list",
          "cachedResultName": "Shopify Optimization Tool"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "optimization_type": "={{ $fromAI('optimization_type', 'performance, security, or integration') }}",
            "target_metrics": "={{ $fromAI('target_metrics', 'specific metrics to optimize') }}",
            "api_endpoints": "={{ $fromAI('api_endpoints', 'shopify api endpoints to check') }}",
            "performance_threshold": "={{ $fromAI('performance_threshold', 'minimum performance targets') }}",
            "urgency_level": "={{ $fromAI('urgency_level', 'low, medium, high, critical') }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        460,
        1440
      ],
      "id": "e5f6a7b8-c9d0-1234-efab-567890123456",
      "name": "Shopify Optimization Tool"
    },
    {
      "parameters": {
        "description": "Design and manage n8n automation workflows for business processes",
        "workflowId": {
          "__rl": true,
          "value": "N8NAutomationManagerWorkflowId",
          "mode": "list",
          "cachedResultName": "n8n Automation Manager"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "workflow_action": "={{ $fromAI('workflow_action', 'create, update, monitor, or fix') }}",
            "process_name": "={{ $fromAI('process_name', 'business process to automate') }}",
            "integration_points": "={{ $fromAI('integration_points', 'systems to connect') }}",
            "error_handling": "={{ $fromAI('error_handling', 'error handling strategy') }}",
            "monitoring_rules": "={{ $fromAI('monitoring_rules', 'alerting and monitoring setup') }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        460,
        1640
      ],
      "id": "f6a7b8c9-d0e1-2345-fabc-678901234567",
      "name": "n8n Automation Manager Tool"
    },
    {
      "parameters": {
        "description": "Manage API integrations and third-party service connections",
        "workflowId": {
          "__rl": true,
          "value": "APIIntegrationManagerWorkflowId",
          "mode": "list",
          "cachedResultName": "API Integration Manager"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "service_name": "={{ $fromAI('service_name', 'third-party service to integrate') }}",
            "integration_type": "={{ $fromAI('integration_type', 'webhook, REST API, or GraphQL') }}",
            "authentication": "={{ $fromAI('authentication', 'auth method required') }}",
            "data_mapping": "={{ $fromAI('data_mapping', 'field mappings between systems') }}",
            "rate_limits": "={{ $fromAI('rate_limits', 'API rate limit considerations') }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        460,
        1840
      ],
      "id": "a7b8c9d0-e1f2-3456-abcd-789012345678",
      "name": "API Integration Manager Tool"
    },
    {
      "parameters": {
        "description": "Monitor system performance and generate technical reports",
        "workflowId": {
          "__rl": true,
          "value": "SystemMonitoringWorkflowId",
          "mode": "list",
          "cachedResultName": "System Monitoring Tool"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "monitoring_scope": "={{ $fromAI('monitoring_scope', 'systems to monitor') }}",
            "metrics_type": "={{ $fromAI('metrics_type', 'performance, uptime, or security metrics') }}",
            "alert_thresholds": "={{ $fromAI('alert_thresholds', 'alerting thresholds') }}",
            "reporting_frequency": "={{ $fromAI('reporting_frequency', 'real-time, hourly, daily, weekly') }}",
            "stakeholders": "={{ $fromAI('stakeholders', 'who to notify') }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        460,
        2040
      ],
      "id": "b8c9d0e1-f2a3-4567-bcde-890123456789",
      "name": "System Monitoring Tool"
    },
    {
      "parameters": {
        "description": "Implement security measures and manage data backups",
        "workflowId": {
          "__rl": true,
          "value": "SecurityBackupManagerWorkflowId",
          "mode": "list",
          "cachedResultName": "Security & Backup Manager"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "security_action": "={{ $fromAI('security_action', 'audit, update, or implement security') }}",
            "backup_schedule": "={{ $fromAI('backup_schedule', 'backup frequency and retention') }}",
            "compliance_requirements": "={{ $fromAI('compliance_requirements', 'PCI, GDPR, etc.') }}",
            "vulnerability_scan": "={{ $fromAI('vulnerability_scan', 'security scan requirements') }}",
            "recovery_plan": "={{ $fromAI('recovery_plan', 'disaster recovery procedures') }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        460,
        2240
      ],
      "id": "c9d0e1f2-a3b4-5678-cdef-901234567890",
      "name": "Security & Backup Manager Tool"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o"
        },
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -100,
        1640
      ],
      "id": "d0e1f2a3-b4c5-6789-defa-012345678901",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "nMbluFwHsrVvkQBJ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "read",
        "tableId": {
          "__rl": true,
          "value": "system_performance_metrics",
          "mode": "list"
        },
        "returnAll": true
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreAirtableSearch",
      "typeVersion": 1,
      "position": [
        120,
        1840
      ],
      "id": "e1f2a3b4-c5d6-7890-efab-123456789012",
      "name": "System Performance Data"
    },
    {
      "parameters": {
        "operation": "read",
        "tableId": {
          "__rl": true,
          "value": "integration_configurations",
          "mode": "list"
        },
        "returnAll": true
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreAirtableSearch",
      "typeVersion": 1,
      "position": [
        120,
        2040
      ],
      "id": "f2a3b4c5-d6e7-8901-fabc-234567890123",
      "name": "Integration Configuration Data"
    },
    {
      "parameters": {
        "text": "={{ $json.system_prompt }}",
        "metadata": {
          "metadataValues": [
            {
              "name": "agent_role",
              "value": "Technology Director"
            },
            {
              "name": "focus_area",
              "value": "System Infrastructure & Automation"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryVectorStore",
      "typeVersion": 1,
      "position": [
        -300,
        1840
      ],
      "id": "a3b4c5d6-e7f8-9012-abcd-345678901234",
      "name": "Technology Director Memory"
    },
    {
      "parameters": {
        "systemMessage": "=## Role & Purpose\nYou are the Technology Director Agent for VividWalls, responsible for all technical infrastructure, system integrations, automation workflows, and technology optimization. You ensure all business systems work seamlessly together.\n\n## Core Responsibilities\n- Manage Shopify platform optimization and customization\n- Design and maintain n8n automation workflows\n- Integrate all business systems and APIs\n- Monitor system performance and uptime\n- Implement new tools and technologies\n- Ensure data security and backup procedures\n\n## Key Performance Indicators\n- System uptime > 99.5%\n- Page load speed optimization\n- API integration success rates\n- Automation workflow reliability\n- Security compliance metrics\n\n## Available MCP Tools\n- Shopify development and admin APIs\n- n8n workflow automation platform\n- System monitoring and alerting tools\n- Database management systems\n- API integration platforms\n- Security and backup tools\n\n## Decision Framework\n- Immediately address any system downtime\n- Automate repetitive business processes via n8n\n- Optimize website performance for conversion\n- Report technical metrics weekly to Business Manager\n\n## Current Context\n{{ $json.trigger_conditions }}\n{{ $json.affected_systems }}\n{{ $json.technical_issues }}"
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        1400,
        1640
      ],
      "id": "b4c5d6e7-f8a9-0123-bcde-456789012345",
      "name": "Technology Director AI Agent"
    },
    {
      "parameters": {
        "inputType": "chat",
        "path": "technology-director-chat",
        "responseMode": "lastNode",
        "options": {
          "appendMessagesToOutput": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatOpenWebUi",
      "typeVersion": 1,
      "position": [
        1080,
        320
      ],
      "id": "c5d6e7f8-a9b0-1234-cdef-567890123456",
      "name": "Chat Interface",
      "webhookId": "technology-director-chat"
    },
    {
      "parameters": {
        "mode": "trigger",
        "values": {
          "string": [
            {
              "name": "action",
              "value": "={{ $json.action }}"
            },
            {
              "name": "system_report",
              "value": "={{ $json.system_report }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2200,
        420
      ],
      "id": "d6e7f8a9-b0c1-2345-defa-678901234567",
      "name": "Prepare Response"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Technology Director AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Chat Interface",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Technology Director Webhook": {
      "main": [
        [
          {
            "node": "Technology Director AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Interface": {
      "main": [
        [
          {
            "node": "Technology Director AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Technology Director AI Agent": {
      "main": [
        [
          {
            "node": "Prepare Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Technology Director AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Shopify Optimization Tool": {
      "ai_tool": [
        [
          {
            "node": "Technology Director AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "n8n Automation Manager Tool": {
      "ai_tool": [
        [
          {
            "node": "Technology Director AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "API Integration Manager Tool": {
      "ai_tool": [
        [
          {
            "node": "Technology Director AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "System Monitoring Tool": {
      "ai_tool": [
        [
          {
            "node": "Technology Director AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Security & Backup Manager Tool": {
      "ai_tool": [
        [
          {
            "node": "Technology Director AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "System Performance Data": {
      "ai_vectorStore": [
        [
          {
            "node": "Technology Director AI Agent",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Integration Configuration Data": {
      "ai_vectorStore": [
        [
          {
            "node": "Technology Director AI Agent",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Technology Director Memory": {
      "ai_memory": [
        [
          {
            "node": "Technology Director AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  }
}