services/n8n/agents/workflows/vividwalls-specific/ai-agent-native-mcp-example.json
{
  "name": "AI Agent with Native MCP Tools",
  "nodes": [
    {
      "parameters": {},
      "id": "d8c614e0-9b27-4943-bb8e-5cf448e6c9f6",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [340, 540],
      "webhookId": "ai-native-mcp-demo"
    },
    {
      "parameters": {
        "model": "gpt-4-turbo-preview",
        "options": {
          "temperature": 0.7,
          "systemMessage": "You are an AI assistant for VividWalls e-commerce automation. You have access to MCP tools for:\n- n8n workflow management\n- Shopify store operations\n- WordPress content management\n\nUse these tools to help users with their automation tasks."
        }
      },
      "id": "4c0e2e4a-78e3-4e85-9e5e-3fa9e37c8f51",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [560, 540]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [560, 720],
      "id": "n8n-list-tools",
      "name": "n8n MCP - List Tools",
      "credentials": {
        "mcpClientApi": {
          "id": "n8n-mcp-local",
          "name": "n8n MCP Server (Local)"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "={{ $fromAI('n8n_tool', 'The n8n tool to execute') }}",
        "toolParameters": "={{ $fromAI('n8n_parameters', '', 'json') }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [760, 720],
      "id": "n8n-execute-tool",
      "name": "n8n MCP - Execute Tool",
      "credentials": {
        "mcpClientApi": {
          "id": "n8n-mcp-local",
          "name": "n8n MCP Server (Local)"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [560, 820],
      "id": "shopify-list-tools",
      "name": "Shopify MCP - List Tools",
      "credentials": {
        "mcpClientApi": {
          "id": "shopify-mcp-local",
          "name": "Shopify MCP Client (STDIO)"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "={{ $fromAI('shopify_tool', 'The Shopify tool to execute') }}",
        "toolParameters": "={{ $fromAI('shopify_parameters', '', 'json') }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [760, 820],
      "id": "shopify-execute-tool",
      "name": "Shopify MCP - Execute Tool",
      "credentials": {
        "mcpClientApi": {
          "id": "shopify-mcp-local",
          "name": "Shopify MCP Client (STDIO)"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [560, 920],
      "id": "wordpress-list-tools",
      "name": "WordPress MCP - List Tools",
      "credentials": {
        "mcpClientApi": {
          "id": "wordpress-mcp-local",
          "name": "WordPress MCP Client (STDIO)"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "={{ $fromAI('wordpress_tool', 'The WordPress tool to execute') }}",
        "toolParameters": "={{ $fromAI('wordpress_parameters', '', 'json') }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [760, 920],
      "id": "wordpress-execute-tool",
      "name": "WordPress MCP - Execute Tool",
      "credentials": {
        "mcpClientApi": {
          "id": "wordpress-mcp-local",
          "name": "WordPress MCP Client (STDIO)"
        }
      }
    },
    {
      "parameters": {
        "content": "## Example Prompts to Try:\n\n1. \"List all active n8n workflows\"\n2. \"Show me the first 10 products in my Shopify store\"\n3. \"Create a draft WordPress post about our latest product\"\n4. \"Execute workflow ID 123 with test data\"\n5. \"Get details about Shopify order #1001\"",
        "height": 200,
        "width": 350
      },
      "id": "sticky-note",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [100, 480]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "response",
              "value": "={{ JSON.stringify($json, null, 2) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [780, 540]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [980, 540]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n MCP - List Tools": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "n8n MCP - Execute Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Shopify MCP - List Tools": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Shopify MCP - Execute Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "WordPress MCP - List Tools": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "WordPress MCP - Execute Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {}
} 