services/n8n/agents/workflows/vividwalls-specific/chatbot-workflow.json
{
  "name": "WordPress Chatbot with OpenAI",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatbot",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "4a85d1aa-7f82-4a5b-8b0e-1a9f2b3c4d5e",
      "name": "Webhook Receive",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ],
      "webhookId": "chatbot-webhook"
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "messages": [
          {
            "role": "system",
            "content": "You are a helpful AI insurance assistant for VividWalls. You help users understand insurance coverage, explain policies, and provide educational information about insurance. Be friendly, professional, and helpful. Keep responses concise and actionable."
          },
          {
            "role": "user",
            "content": "={{ $json.message }}"
          }
        ],
        "options": {
          "temperature": 0.7,
          "maxTokens": 500
        }
      },
      "id": "6b94e2bb-8f93-5b6c-9c1f-2a0e3b4c5d6f",
      "name": "OpenAI Chat",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.3,
      "position": [
        460,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "openai-credentials",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": {
          "reply": "={{ $node['OpenAI Chat'].json.choices[0].message.content }}"
        }
      },
      "id": "7c15f3cc-9f04-6c7d-0d2f-3b1f4c5d6e7f",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        680,
        300
      ]
    }
  ],
  "connections": {
    "Webhook Receive": {
      "main": [
        [
          {
            "node": "OpenAI Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "chatbot-workflow",
  "tags": []
} 