services/n8n/agents/workflows/vividwalls-specific/VividWalls-Test-Database-Connection.json
{
  "name": "VividWalls Test Database Connection",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "test-db-connection",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "test-webhook",
      "name": "Test Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "test-db-connection"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Test basic product search\nSELECT \n    p.id,\n    p.handle,\n    p.title,\n    p.collection,\n    pa.primary_mood,\n    pa.dominant_colors,\n    pa.recommended_rooms,\n    pi.cdn_url as image_url,\n    pv.price,\n    pv.frame_size\nFROM products p\nLEFT JOIN product_analysis pa ON p.id = pa.product_id\nLEFT JOIN product_images pi ON p.id = pi.product_id AND pi.is_primary = true\nLEFT JOIN product_variants pv ON p.id = pv.product_id\nWHERE p.published = true\nORDER BY p.title\nLIMIT 10;",
        "additionalFields": {
          "mode": "list"
        }
      },
      "id": "test-query",
      "name": "Test Database Query",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [460, 300],
      "credentials": {
        "postgres": {
          "id": "vividwalls-postgres",
          "name": "VividWalls PostgreSQL"
        }
      },
      "executeOnce": false
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "send-response",
      "name": "Send Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Test Webhook": {
      "main": [
        [
          {
            "node": "Test Database Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Database Query": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-02-23T12:00:00.000Z",
      "updatedAt": "2025-02-23T12:00:00.000Z",
      "id": "test",
      "name": "Test"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-02-23T12:00:00.000Z",
  "versionId": "1"
} 