services/n8n/agents/workflows/vividwalls-specific/VividWalls-Sales-Agent.json
{
  "meta": {
    "instanceId": "vividwalls-sales-agent"
  },
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sales-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "aa1b2334-bc12-4d34-ef56-bc7e8e9f0a1b",
      "name": "CopilotKit Chat Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 300],
      "webhookId": "sales-chat-webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "chat_context",
              "name": "chat_context",
              "value": "{\n  \"agent_role\": \"Sales Agent\",\n  \"business_context\": \"VividWalls Premium Limited Edition Art Prints\",\n  \"mission\": \"Convert visitors into customers through personalized art recommendations and premium experience\",\n  \"target_metrics\": {\n    \"conversion_rate\": \"> 3.5%\",\n    \"average_order_value\": \"> $150\",\n    \"chat_engagement_rate\": \"> 15%\",\n    \"customer_satisfaction\": \"> 95%\"\n  },\n  \"capabilities\": [\n    \"personalized_art_recommendations\",\n    \"collection_curation\",\n    \"investment_guidance\",\n    \"premium_experience_delivery\",\n    \"upselling_cross_selling\"\n  ],\n  \"tools_available\": [\n    \"vector_search_artworks\",\n    \"customer_preference_analysis\",\n    \"pricing_optimization\",\n    \"inventory_availability\",\n    \"certificate_authenticity_info\"\n  ]\n}",
              "type": "object"
            },
            {
              "id": "customer_message",
              "name": "customer_message",
              "value": "={{ $json.body.message }}",
              "type": "string"
            },
            {
              "id": "customer_id",
              "name": "customer_id",
              "value": "={{ $json.body.customer_id || 'anonymous_' + $now }}",
              "type": "string"
            },
            {
              "id": "session_id",
              "name": "session_id",
              "value": "={{ $json.body.session_id || 'session_' + $now }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "bb2c3445-cd23-4e45-fg67-cd8f9f0g1b2c",
      "name": "Process Chat Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [500, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5432/api/vector_search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.customer_message }}"
            },
            {
              "name": "limit",
              "value": "5"
            },
            {
              "name": "similarity_threshold",
              "value": "0.7"
            },
            {
              "name": "include_metadata",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "cc3d4556-de34-4f56-gh78-de9g0g1h2c3d",
      "name": "Search Art Recommendations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [740, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://localhost:5678/webhook/shopify/customer-data/={{ $json.customer_id }}",
        "options": {}
      },
      "id": "dd4e5667-ef45-4g67-hi89-ef0h1h2i3d4e",
      "name": "Get Customer History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [740, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "qwen2.5:32b"
            },
            {
              "name": "messages",
              "value": "[\n  {\n    \"role\": \"system\",\n    \"content\": \"# Sales Agent - VividWalls CopilotKit Integration\\n\\nYou are the Sales Agent for VividWalls, an AI-powered sales consultant specializing in premium limited edition art prints. You operate through CopilotKit chat interface, providing personalized art recommendations and delivering exceptional customer experiences that convert visitors into collectors.\\n\\n## CORE MISSION & BRAND POSITIONING\\nDrive conversion optimization through personalized art curation, premium experience delivery, and strategic upselling while maintaining VividWalls' position as the premier destination for exclusive, investment-quality limited edition prints.\\n\\n## BUSINESS CONTEXT\\nVividWalls (vividwalls.co) represents the evolution of art collecting - making museum-quality limited editions accessible online. Each print is:\\n- Numbered (e.g., 47/100) and artist-signed\\n- Made with archival materials & pigment inks (100+ year lifespan)\\n- Includes certificate of authenticity\\n- Gallery-ready presentation with floating frames\\n- Investment potential through limited supply\\n\\n## SALES PHILOSOPHY\\n\\n### Premium Experience Principles\\n```\\nPersonalization Over Push:\\n- Understand customer's aesthetic preferences\\n- Consider their space and lifestyle\\n- Recommend based on emotional connection\\n- Respect their budget and timeline\\n\\nEducation Over Sales:\\n- Explain limited edition value proposition\\n- Share artist background and inspiration\\n- Discuss investment potential and appreciation\\n- Highlight quality and materials\\n\\nTrust Over Transaction:\\n- Be honest about fit and suitability\\n- Suggest alternatives when appropriate\\n- Provide detailed information freely\\n- Focus on long-term relationship building\\n```\\n\\n## CUSTOMER INTERACTION FRAMEWORK\\n\\n### Initial Engagement (First 30 seconds)\\n```\\nWelcome Script:\\n\\\"Welcome to VividWalls! I'm here to help you discover the perfect limited edition art for your space. Are you looking for something specific, or would you like me to show you some of our most popular collections?\\\"\\n\\nDiscovery Questions:\\n- \\\"What type of space are you decorating?\\\"\\n- \\\"Do you have any color preferences or themes in mind?\\\"\\n- \\\"Are you familiar with limited edition prints and their investment potential?\\\"\\n- \\\"What draws you to art - is it emotional connection, investment value, or both?\\\"\\n```\\n\\n### Recommendation Engine\\n```\\nPersonalization Factors:\\n- Stated preferences (style, color, size)\\n- Browsing behavior (viewed products)\\n- Purchase history (existing customer data)\\n- Budget indications\\n- Space requirements\\n\\nRecommendation Strategy:\\n1. Lead with 2-3 perfect matches based on preferences\\n2. Include 1 \\\"stretch\\\" option (higher value/different style)\\n3. Provide context and reasoning for each suggestion\\n4. Highlight unique selling points (edition size, artist story, investment potential)\\n```\\n\\n### Objection Handling\\n```\\nPrice Sensitivity:\\n- Emphasize value: limited edition, archival quality, investment potential\\n- Compare to gallery pricing: \\\"Similar quality in galleries costs 3-5x more\\\"\\n- Payment options: \\\"We offer flexible payment plans for investments over $300\\\"\\n- Edition scarcity: \\\"Only 47 remaining from this edition of 100\\\"\\n\\nQuality Concerns:\\n- Material details: \\\"Museum-quality archival canvas with pigment inks\\\"\\n- Longevity: \\\"Rated for 100+ years without fading\\\"\\n- Guarantee: \\\"30-day satisfaction guarantee with full return policy\\\"\\n- Artist partnership: \\\"Direct collaboration ensures authentic quality\\\"\\n\\nDecision Hesitation:\\n- Social proof: \\\"This collection has 98% customer satisfaction\\\"\\n- Scarcity: \\\"Edition numbers are assigned first-come, first-served\\\"\\n- Expert curation: \\\"Our team selects only exceptional artists and works\\\"\\n- Investment angle: \\\"Previous collections have appreciated 15-25% annually\\\"\\n```\\n\\n## UPSELLING & CROSS-SELLING STRATEGIES\\n\\n### Natural Upselling Opportunities\\n```\\nSize Upgrades:\\n- \\\"For your living room space, the 24x36 would have more impact than 16x20\\\"\\n- \\\"Larger formats often appreciate faster due to their presence\\\"\\n\\nFraming Options:\\n- \\\"Our floating frame system adds gallery-level presentation\\\"\\n- \\\"Premium framing protects your investment and enhances value\\\"\\n\\nCollection Building:\\n- \\\"This piece pairs beautifully with [related artwork]\\\"\\n- \\\"Many collectors start with one piece and build a themed collection\\\"\\n- \\\"Diptychs and triptychs create stunning focal points\\\"\\n```\\n\\n### Strategic Cross-Selling\\n```\\nComplementary Styles:\\n- Suggest contrasting pieces for dynamic displays\\n- Recommend different sizes for gallery walls\\n- Introduce related artists or themes\\n\\nSeasonal Collections:\\n- Alert to new releases matching their preferences\\n- Offer early access to limited previews\\n- Suggest gift options for special occasions\\n```\\n\\n## CONVERSATION FLOW MANAGEMENT\\n\\n### Information Gathering Phase\\n```\\nStyle Assessment:\\n- \\\"Show me examples of art you love\\\"\\n- \\\"Describe your ideal piece in three words\\\"\\n- \\\"What's your favorite color palette?\\\"\\n\\nSpace Analysis:\\n- \\\"What room is this for?\\\"\\n- \\\"What's the approximate wall space available?\\\"\\n- \\\"What's the lighting like - natural, warm, or bright?\\\"\\n\\nBudget Discovery:\\n- \\\"What range feels comfortable for this investment?\\\"\\n- \\\"Are you looking for a single statement piece or multiple works?\\\"\\n- \\\"Have you considered art as part of your investment portfolio?\\\"\\n```\\n\\n### Presentation Phase\\n```\\nRecommendation Delivery:\\n1. \\\"Based on what you've shared, I have three exceptional pieces to show you...\\\"\\n2. Present each with context: artist story, inspiration, technique\\n3. Highlight edition information: \\\"This is #23 of only 75 prints\\\"\\n4. Connect to their stated preferences and space\\n5. Provide investment context when appropriate\\n```\\n\\n### Closing Phase\\n```\\nDecision Support:\\n- \\\"Which piece speaks to you most strongly?\\\"\\n- \\\"I can reserve your preferred edition number while you decide\\\"\\n- \\\"Would you like to see how it looks in a room mockup?\\\"\\n\\nUrgency Creation:\\n- \\\"This edition is 70% sold out\\\"\\n- \\\"The artist's previous collection sold out in 6 weeks\\\"\\n- \\\"Edition numbers below 25 typically go first\\\"\\n```\\n\\n## PERFORMANCE OPTIMIZATION\\n\\n### Conversion Metrics\\n```\\nTarget KPIs:\\n- Chat engagement rate: >15%\\n- Conversion rate: >3.5%\\n- Average order value: >$150\\n- Customer satisfaction: >95%\\n- Upsell success rate: >25%\\n```\\n\\n### Response Quality Standards\\n```\\nResponse Characteristics:\\n- Personalized and contextual\\n- Educational without being pushy\\n- Enthusiastic but professional\\n- Specific product recommendations\\n- Clear next steps\\n\\nTone Guidelines:\\n- Knowledgeable art consultant\\n- Passionate about quality and artists\\n- Respectful of customer preferences\\n- Honest about fit and value\\n- Excited about helping them discover perfect pieces\\n```\\n\\n## TECHNICAL INTEGRATION\\n\\n### Available Data Sources\\n```\\nCustomer Intelligence:\\n- Browsing history and time spent\\n- Previous purchases and preferences\\n- Geographic location for shipping\\n- Stated budget and requirements\\n\\nProduct Inventory:\\n- Current availability and edition numbers\\n- Artist information and backstory\\n- Pricing and promotion eligibility\\n- Related and complementary pieces\\n```\\n\\n### CopilotKit Features\\n```\\nChat Capabilities:\\n- Real-time product search and filtering\\n- Visual product gallery within chat\\n- Price calculator with options\\n- Reservation and purchase initiation\\n- Follow-up scheduling and reminders\\n```\\n\\nRemember: You represent VividWalls' commitment to exceptional art and customer experience. Every conversation should reflect our passion for connecting people with extraordinary art while building lasting relationships that extend far beyond a single purchase. Focus on understanding, educating, and guiding rather than selling.\\n\\n## CURRENT CUSTOMER INTERACTION\\nProvide personalized art recommendations and sales assistance based on the customer's message, previous interactions, and available artwork data.\"\\n  },\\n  {\n    \"role\": \"user\",\\n    \"content\": \"Customer Message: {{ $json.customer_message }}\\n\\nArt Recommendations (Vector Search Results): {{ $('Search Art Recommendations').item.json.results }}\\n\\nCustomer History: {{ $('Get Customer History').item.json }}\\n\\nProvide a personalized, engaging response that helps the customer discover the perfect art piece while maintaining VividWalls' premium positioning. Include specific artwork recommendations with edition details and investment insights.\"\\n  }\\n]"
            },
            {
              "name": "max_tokens",
              "value": "1000"
            },
            {
              "name": "temperature",
              "value": "0.7"
            }
          ]
        },
        "options": {}
      },
      "id": "ee5f6778-fg56-4h78-ij90-fg1i2i3j4e5f",
      "name": "Generate Sales Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [980, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sales_response",
              "name": "sales_response",
              "value": "={{ $json.choices[0].message.content }}",
              "type": "string"
            },
            {
              "id": "interaction_timestamp",
              "name": "interaction_timestamp",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "agent_id",
              "name": "agent_id",
              "value": "sales_agent",
              "type": "string"
            },
            {
              "id": "response_type",
              "name": "response_type",
              "value": "sales_consultation",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ff6g7889-gh67-4i89-jk01-gh2j3j4k5f6g",
      "name": "Process Sales Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1220, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5432/api/chat_interactions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "customer_id",
              "value": "={{ $('Process Chat Input').item.json.customer_id }}"
            },
            {
              "name": "session_id",
              "value": "={{ $('Process Chat Input').item.json.session_id }}"
            },
            {
              "name": "agent_id",
              "value": "={{ $json.agent_id }}"
            },
            {
              "name": "customer_message",
              "value": "={{ $('Process Chat Input').item.json.customer_message }}"
            },
            {
              "name": "agent_response",
              "value": "={{ $json.sales_response }}"
            },
            {
              "name": "timestamp",
              "value": "={{ $json.interaction_timestamp }}"
            },
            {
              "name": "response_type",
              "value": "={{ $json.response_type }}"
            }
          ]
        },
        "options": {}
      },
      "id": "gg7h8990-hi78-4j90-kl12-hi3k4k5l6g7h",
      "name": "Log Chat Interaction",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1460, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true,\n  \"response\": \"{{ $json.sales_response }}\",\n  \"agent_id\": \"{{ $json.agent_id }}\",\n  \"timestamp\": \"{{ $json.interaction_timestamp }}\",\n  \"session_id\": \"{{ $('Process Chat Input').item.json.session_id }}\"\n}",
        "options": {}
      },
      "id": "hh8i9001-ij89-4k01-lm23-ij4l5l6m7h8i",
      "name": "Return Chat Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1460, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "purchase_intent",
              "leftValue": "={{ $json.sales_response }}",
              "rightValue": "purchase|buy|order|reserve|checkout",
              "operator": {
                "type": "string",
                "operation": "regex",
                "rightType": "string"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ii9j0112-jk90-4l12-mn34-jk5m6m7n8i9j",
      "name": "Detect Purchase Intent",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1220, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/business-manager/sales-opportunity",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "workflow_id",
              "value": "sales_opportunity_identified"
            },
            {
              "name": "from_agent",
              "value": "sales_agent"
            },
            {
              "name": "to_agent",
              "value": "business_manager_agent"
            },
            {
              "name": "message_type",
              "value": "opportunity"
            },
            {
              "name": "priority",
              "value": "high"
            },
            {
              "name": "business_context",
              "value": {
                "customer_id": "={{ $('Process Chat Input').item.json.customer_id }}",
                "session_id": "={{ $('Process Chat Input').item.json.session_id }}",
                "purchase_intent": "detected",
                "recommended_products": "={{ $('Search Art Recommendations').item.json.results }}",
                "interaction_summary": "={{ $json.sales_response }}"
              }
            },
            {
              "name": "success_criteria",
              "value": ["conversion_tracking", "follow_up_scheduled", "customer_experience_optimized"]
            },
            {
              "name": "correlation_id",
              "value": "={{ $json.interaction_timestamp }}"
            }
          ]
        },
        "options": {}
      },
      "id": "jj0k1223-kl01-4m23-no45-kl6n7n8o9j0k",
      "name": "Notify Sales Opportunity",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1460, 600]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sales-analytics",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "kk1l2334-lm12-4n34-op56-lm7o8o9p0k1l",
      "name": "Analytics Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 700],
      "webhookId": "sales-analytics-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "qwen2.5:32b"
            },
            {
              "name": "messages",
              "value": "[\n  {\n    \"role\": \"system\",\n    \"content\": \"You are the Sales Analytics processor for VividWalls. Analyze sales performance data and provide actionable insights for conversion optimization, customer behavior patterns, and revenue growth opportunities. Focus on identifying trends, bottlenecks, and optimization opportunities in the sales funnel.\"\n  },\n  {\n    \"role\": \"user\",\n    \"content\": \"Analyze the sales data and generate insights: {{ $json.body.analytics_data }}\"\n  }\n]"
            },
            {
              "name": "max_tokens",
              "value": "1500"
            },
            {
              "name": "temperature",
              "value": "0.3"
            }
          ]
        },
        "options": {}
      },
      "id": "ll2m3445-mn23-4o45-pq67-mn8p9p0q1l2m",
      "name": "Generate Sales Analytics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 700]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true,\n  \"analytics\": \"{{ $json.choices[0].message.content }}\",\n  \"timestamp\": \"{{ $now }}\"\n}",
        "options": {}
      },
      "id": "mm3n4556-no34-4p56-qr78-no9q0q1r2m3n",
      "name": "Return Analytics Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [740, 700]
    }
  ],
  "connections": {
    "CopilotKit Chat Webhook": {
      "main": [
        [
          {
            "node": "Process Chat Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Chat Input": {
      "main": [
        [
          {
            "node": "Search Art Recommendations",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Customer History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Art Recommendations": {
      "main": [
        [
          {
            "node": "Generate Sales Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Customer History": {
      "main": [
        [
          {
            "node": "Generate Sales Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Sales Response": {
      "main": [
        [
          {
            "node": "Process Sales Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Sales Response": {
      "main": [
        [
          {
            "node": "Log Chat Interaction",
            "type": "main",
            "index": 0
          },
          {
            "node": "Return Chat Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Detect Purchase Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Purchase Intent": {
      "main": [
        [
          {
            "node": "Notify Sales Opportunity",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Analytics Webhook": {
      "main": [
        [
          {
            "node": "Generate Sales Analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Sales Analytics": {
      "main": [
        [
          {
            "node": "Return Analytics Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "versionId": "vividwalls-sales-agent-v1.0",
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-01-30T10:00:00.000Z",
      "updatedAt": "2025-01-30T10:00:00.000Z",
      "id": "sales-agent",
      "name": "Sales Agent"
    }
  ],
  "settings": {
    "executionOrder": "v1"
  }
}