services/n8n/agents/workflows/customer-sales/customer_experience_director_agent_enhanced.json
{
  "name": "Customer Experience Director Agent",
  "nodes": [
    {
      "parameters": {
        "content": "## \ud83c\udfaf Customer Experience Director - Service Excellence & Retention\n\n### \ud83d\udccb Workflow Overview\nThis executive-level workflow oversees all customer touchpoints, service quality, and retention strategies. It monitors satisfaction metrics, manages escalations, and ensures every customer interaction reinforces VividWalls' premium brand positioning.\n\n### \ud83c\udfa8 Business Context\n- **Premium Service**: White-glove support for art collectors\n- **Target Metrics**: CSAT >90%, NPS >50, Response <4hr\n- **Retention Focus**: <5% return rate, >25% repeat purchase\n- **Strategic Impact**: Customer experience as competitive advantage\n\n### \ud83d\udee0\ufe0f Integration Points\n- **Service Management**: Ticket routing, escalation, resolution\n- **Retention Campaigns**: Win-back, loyalty, VIP programs\n- **Returns Processing**: Efficient handling, compensation\n- **Feedback Analysis**: Voice of customer insights\n- **Satisfaction Monitoring**: Real-time metric tracking\n\n### \ud83d\udcca Performance Metrics\n- **Response Time**: <4 hours (VIP <30min)\n- **CSAT Score**: >90% satisfaction\n- **NPS**: >50 promoter score\n- **Resolution Rate**: >95% first contact\n- **Retention Rate**: >40% annual\n\n### \ud83d\udd17 Connected Workflows\n- **Business Manager**: Strategic alignment, escalations\n- **Customer Service Agent**: Frontline support\n- **Customer Relationship**: Lifecycle management\n- **Analytics Director**: Performance insights",
        "height": 520.8958333333334,
        "width": 445.51041666666674
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1840,
        -480
      ],
      "id": "sticky-overview"
    },
    {
      "parameters": {
        "content": "## \ud83d\udea8 Escalation Triggers\n\n### Immediate Action Required\n- VIP customer complaint\n- CSAT drop >10%\n- Response time >8hr\n- Social media crisis\n- Legal threats\n\n### Priority Issues\n- Return rate >7%\n- NPS decline >15pts\n- Support backlog >50\n- Negative review trends\n\n### Compensation Authority\n- Up to $200 instant credit\n- Free expedited shipping\n- Complimentary upgrades\n- Extended warranties\n- VIP status grants",
        "height": 409.375,
        "width": 297.9166666666667
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1840,
        80
      ],
      "id": "sticky-escalation"
    },
    {
      "parameters": {
        "content": "## \ud83d\udcc8 Service Management\n\nTicket Handling:\n- Auto-routing by priority\n- Skill-based assignment\n- SLA monitoring\n- Escalation paths\n\nQuality Assurance:\n- Response templates\n- Tone analysis\n- Resolution tracking\n- Agent coaching",
        "height": 268.75,
        "width": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        700,
        1380
      ],
      "id": "sticky-service"
    },
    {
      "parameters": {
        "content": "## \ud83c\udf81 Retention Campaigns\n\nProgram Types:\n- Win-back offers\n- Loyalty rewards\n- VIP benefits\n- Referral incentives\n\nExecution:\n- Segment targeting\n- Personalized offers\n- Multi-channel delivery\n- ROI tracking",
        "height": 268.75,
        "width": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        700,
        1680
      ],
      "id": "sticky-retention"
    },
    {
      "parameters": {
        "content": "## \ud83d\udce6 Returns Management\n\nProcess Flow:\n- Instant approval\n- Prepaid labels\n- Quality inspection\n- Fast refunds\n\nCompensation:\n- Full refunds\n- Store credits +10%\n- Free replacements\n- Goodwill gestures",
        "height": 268.75,
        "width": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        700,
        1980
      ],
      "id": "sticky-returns"
    },
    {
      "parameters": {
        "content": "## \ud83d\udcac Feedback Analysis\n\nData Sources:\n- Support tickets\n- Product reviews\n- NPS surveys\n- Social mentions\n\nInsights:\n- Sentiment trends\n- Topic clustering\n- Pain points\n- Improvement areas",
        "height": 268.75,
        "width": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        700,
        2280
      ],
      "id": "sticky-feedback"
    },
    {
      "parameters": {
        "content": "## \ud83d\udcca Strategic Framework\n\n### Service Philosophy\n\"Every interaction is an opportunity to create a collector for life\"\n\n### Experience Pillars\n1. **Responsiveness**: Fast, proactive communication\n2. **Empathy**: Understanding customer's emotional investment\n3. **Resolution**: Going beyond to exceed expectations\n4. **Personalization**: Recognizing individual preferences\n\n### Retention Strategy\n- Proactive outreach post-purchase\n- Surprise & delight moments\n- VIP tier progression\n- Community building\n\n### Innovation Focus\n- AI-powered response suggestions\n- Predictive issue prevention\n- Omnichannel integration\n- Self-service empowerment",
        "height": 427.0833333333333,
        "width": 334.375
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1480,
        80
      ],
      "id": "sticky-strategy"
    },
    {
      "parameters": {
        "content": "## \ud83d\udcc8 Metric Monitoring\n\nReal-time Tracking:\n- Response times\n- Resolution rates\n- Customer sentiment\n- Agent performance\n\nTrend Analysis:\n- Weekly comparisons\n- Seasonal patterns\n- Cohort behavior\n- Predictive alerts",
        "height": 268.75,
        "width": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        700,
        2580
      ],
      "id": "sticky-monitoring"
    },
    {
      "parameters": {
        "content": "## \ud83c\udfaf Decision Matrix\n\n### Compensation Guidelines\n| Issue Type | Standard | VIP |\n|------------|----------|-----|\n| Shipping Delay | $25 credit | $50 + expedited |\n| Quality Issue | Full refund + 20% | Replacement + upgrade |\n| Wrong Item | Exchange + $30 | Exchange + $75 |\n| Damaged | Refund + replacement | Both + future discount |\n\n### Response Priorities\n1. VIP complaints (30min)\n2. Quality issues (1hr)\n3. Shipping delays (2hr)\n4. General inquiries (4hr)",
        "height": 353.125,
        "width": 371.875
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1120,
        80
      ],
      "id": "sticky-decisions"
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"trigger_conditions\": \"customer_service_alert\",\n  \"trigger_source\": \"support_system\",\n  \"priority\": \"high\",\n  \"alert_type\": \"satisfaction_decline\",\n  \"customer_metrics\": {\n    \"current_period\": {\n      \"csat_score\": 85.3,\n      \"nps_score\": 42,\n      \"response_time_hours\": 6.2,\n      \"return_rate\": 7.8,\n      \"resolution_rate\": 88.5,\n      \"repeat_purchase_rate\": 22.4\n    },\n    \"previous_period\": {\n      \"csat_score\": 92.1,\n      \"nps_score\": 55,\n      \"response_time_hours\": 3.5,\n      \"return_rate\": 4.2,\n      \"resolution_rate\": 94.2,\n      \"repeat_purchase_rate\": 28.6\n    },\n    \"variance\": {\n      \"csat_decline\": -6.8,\n      \"nps_drop\": -13,\n      \"response_time_increase\": 77.1,\n      \"return_rate_increase\": 85.7\n    }\n  },\n  \"support_issues\": [\n    {\n      \"ticket_id\": \"SUPPORT-2024-3421\",\n      \"customer_tier\": \"VIP\",\n      \"issue_type\": \"damaged_product\",\n      \"open_hours\": 72,\n      \"customer_sentiment\": \"frustrated\",\n      \"order_value\": 1250\n    },\n    {\n      \"ticket_id\": \"SUPPORT-2024-3422\",\n      \"customer_tier\": \"Regular\",\n      \"issue_type\": \"shipping_delay\",\n      \"open_hours\": 48,\n      \"customer_sentiment\": \"concerned\",\n      \"order_value\": 450\n    }\n  ],\n  \"retention_risks\": {\n    \"churn_indicators\": [\"decreased_engagement\", \"negative_reviews\", \"support_complaints\"],\n    \"at_risk_customers\": 145,\n    \"potential_revenue_loss\": 32500\n  },\n  \"optimization_urgency\": \"immediate\",\n  \"improvement_areas\": [\"response_time\", \"first_contact_resolution\", \"proactive_communication\"]\n}"
      },
      "id": "cx-a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -1400,
        340
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        800,
        -800
      ],
      "id": "cx-b2c3d4e5-f6a7-8901-bcde-f23456789012",
      "name": "When chat message received",
      "webhookId": "customer-experience-chat-trigger"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        2600,
        640
      ],
      "id": "cx-c3d4e5f6-a7b8-9012-cdef-345678901234",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "path": "customer-experience-webhook",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        180,
        1420
      ],
      "id": "cx-d4e5f6a7-b8c9-0123-defa-456789012345",
      "name": "Customer Experience Webhook",
      "webhookId": "customer-experience-webhook"
    },
    {
      "parameters": {
        "description": "Manage customer service tickets and automate responses",
        "workflowId": {
          "__rl": true,
          "value": "CustomerServiceManagementWorkflowId",
          "mode": "list",
          "cachedResultName": "Customer Service Management Tool"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "ticket_action": "={{ $fromAI('ticket_action', 'create, update, escalate, or resolve') }}",
            "ticket_priority": "={{ $fromAI('ticket_priority', 'low, medium, high, urgent') }}",
            "customer_tier": "={{ $fromAI('customer_tier', 'regular, premium, VIP') }}",
            "issue_type": "={{ $fromAI('issue_type', 'shipping, product, billing, general') }}",
            "resolution_path": "={{ $fromAI('resolution_path', 'refund, replacement, credit, explanation') }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        460,
        1840
      ],
      "id": "cx-e5f6a7b8-c9d0-1234-efab-567890123456",
      "name": "Customer Service Management Tool"
    },
    {
      "parameters": {
        "description": "Develop and execute customer retention campaigns",
        "workflowId": {
          "__rl": true,
          "value": "RetentionCampaignWorkflowId",
          "mode": "list",
          "cachedResultName": "Retention Campaign Tool"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "campaign_type": "={{ $fromAI('campaign_type', 'win-back, loyalty, referral, VIP') }}",
            "target_segment": "={{ $fromAI('target_segment', 'customer segment to target') }}",
            "offer_type": "={{ $fromAI('offer_type', 'discount, points, exclusive access, gift') }}",
            "campaign_duration": "={{ $fromAI('campaign_duration', 'campaign timeline') }}",
            "success_metrics": "={{ $fromAI('success_metrics', 'KPIs to measure') }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        460,
        2040
      ],
      "id": "cx-f6a7b8c9-d0e1-2345-fabc-678901234567",
      "name": "Retention Campaign Tool"
    },
    {
      "parameters": {
        "description": "Process returns, exchanges, and refunds efficiently",
        "workflowId": {
          "__rl": true,
          "value": "ReturnsManagementWorkflowId",
          "mode": "list",
          "cachedResultName": "Returns Management Tool"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "return_type": "={{ $fromAI('return_type', 'refund, exchange, store credit') }}",
            "return_reason": "={{ $fromAI('return_reason', 'damaged, wrong item, not as described, changed mind') }}",
            "order_details": "={{ $fromAI('order_details', 'order number and items') }}",
            "compensation": "={{ $fromAI('compensation', 'additional compensation if needed') }}",
            "shipping_label": "={{ $fromAI('shipping_label', 'generate return shipping label') }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        460,
        2240
      ],
      "id": "cx-a7b8c9d0-e1f2-3456-abcd-789012345678",
      "name": "Returns Management Tool"
    },
    {
      "parameters": {
        "description": "Collect and analyze customer feedback",
        "workflowId": {
          "__rl": true,
          "value": "FeedbackAnalysisWorkflowId",
          "mode": "list",
          "cachedResultName": "Feedback Analysis Tool"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "feedback_source": "={{ $fromAI('feedback_source', 'survey, review, support ticket, social media') }}",
            "analysis_type": "={{ $fromAI('analysis_type', 'sentiment, topics, trends') }}",
            "time_period": "={{ $fromAI('time_period', 'period to analyze') }}",
            "segment_filter": "={{ $fromAI('segment_filter', 'customer segments to include') }}",
            "action_items": "={{ $fromAI('action_items', 'generate improvement recommendations') }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        460,
        2440
      ],
      "id": "cx-b8c9d0e1-f2a3-4567-bcde-890123456789",
      "name": "Feedback Analysis Tool"
    },
    {
      "parameters": {
        "description": "Monitor customer satisfaction metrics and generate reports",
        "workflowId": {
          "__rl": true,
          "value": "SatisfactionMonitoringWorkflowId",
          "mode": "list",
          "cachedResultName": "Satisfaction Monitoring Tool"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "metric_type": "={{ $fromAI('metric_type', 'CSAT, NPS, CES, retention rate') }}",
            "calculation_period": "={{ $fromAI('calculation_period', 'daily, weekly, monthly') }}",
            "benchmark_comparison": "={{ $fromAI('benchmark_comparison', 'compare to targets or industry') }}",
            "drill_down": "={{ $fromAI('drill_down', 'analyze by segment or touchpoint') }}",
            "alert_thresholds": "={{ $fromAI('alert_thresholds', 'thresholds for alerts') }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        460,
        2640
      ],
      "id": "cx-c9d0e1f2-a3b4-5678-cdef-901234567890",
      "name": "Satisfaction Monitoring Tool"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o"
        },
        "options": {
          "temperature": 0.5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -100,
        2040
      ],
      "id": "cx-d0e1f2a3-b4c5-6789-defa-012345678901",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "nMbluFwHsrVvkQBJ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "read",
        "tableId": {
          "__rl": true,
          "value": "customer_service_data",
          "mode": "list"
        },
        "returnAll": true
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreAirtableSearch",
      "typeVersion": 1,
      "position": [
        120,
        2240
      ],
      "id": "cx-e1f2a3b4-c5d6-7890-efab-123456789012",
      "name": "Customer Service Data"
    },
    {
      "parameters": {
        "operation": "read",
        "tableId": {
          "__rl": true,
          "value": "customer_feedback",
          "mode": "list"
        },
        "returnAll": true
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreAirtableSearch",
      "typeVersion": 1,
      "position": [
        120,
        2440
      ],
      "id": "cx-f2a3b4c5-d6e7-8901-fabc-234567890123",
      "name": "Customer Feedback Data"
    },
    {
      "parameters": {
        "text": "={{ $json.system_prompt }}",
        "metadata": {
          "metadataValues": [
            {
              "name": "agent_role",
              "value": "Customer Experience Director"
            },
            {
              "name": "focus_area",
              "value": "Support & Retention"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryVectorStore",
      "typeVersion": 1,
      "position": [
        -300,
        2240
      ],
      "id": "cx-a3b4c5d6-e7f8-9012-abcd-345678901234",
      "name": "Customer Experience Memory"
    },
    {
      "parameters": {
        "systemMessage": "=## Role & Purpose\nYou are the Customer Experience Director Agent for VividWalls, responsible for all customer interactions, support quality, and retention strategies. You ensure every customer has an exceptional experience with our art brand.\n\n## Core Responsibilities\n- Manage customer service tickets and response times\n- Develop customer retention and loyalty programs\n- Handle returns, exchanges, and refunds efficiently\n- Gather customer feedback and implement improvements\n- Create customer success initiatives\n- Monitor customer satisfaction metrics\n\n## Key Performance Indicators\n- Customer Service Response Time < 4 hours\n- Customer Satisfaction Score (CSAT) > 90%\n- Net Promoter Score (NPS) > 50\n- Return/Refund Rate < 5%\n- Customer Lifetime Value growth\n\n## Available MCP Tools\n- Customer service platform APIs\n- Email marketing tools for retention campaigns\n- Review management systems\n- Customer feedback collection tools\n- CRM integration with Shopify\n- Chat and support automation tools\n\n## Decision Framework\n- Escalate VIP customer issues immediately\n- Offer compensation for shipping delays > 7 days\n- Proactively reach out to customers post-purchase\n- Report weekly satisfaction metrics to Business Manager\n\n## Current Context\n{{ $json.trigger_conditions }}\n{{ $json.customer_metrics }}\n{{ $json.support_issues }}"
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        1400,
        2040
      ],
      "id": "cx-b4c5d6e7-f8a9-0123-bcde-456789012345",
      "name": "Customer Experience AI Agent"
    },
    {
      "parameters": {
        "inputType": "chat",
        "path": "customer-experience-chat",
        "responseMode": "lastNode",
        "options": {
          "appendMessagesToOutput": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatOpenWebUi",
      "typeVersion": 1,
      "position": [
        1080,
        720
      ],
      "id": "cx-c5d6e7f8-a9b0-1234-cdef-567890123456",
      "name": "Chat Interface",
      "webhookId": "customer-experience-chat"
    },
    {
      "parameters": {
        "mode": "trigger",
        "values": {
          "string": [
            {
              "name": "action",
              "value": "={{ $json.action }}"
            },
            {
              "name": "customer_report",
              "value": "={{ $json.customer_report }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2200,
        820
      ],
      "id": "cx-d6e7f8a9-b0c1-2345-defa-678901234567",
      "name": "Prepare Response"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        -300
      ],
      "parameters": {
        "content": "# \ud83c\udfaf Customer Experience Director Agent\n\n**Role**: Customer satisfaction and loyalty optimization\n\n**Primary Functions**:\n- Customer journey optimization\n- Support quality management\n- Satisfaction monitoring\n- Loyalty program management\n- Experience design\n\n**Reports to**: Business Manager\n**Direct Reports**: Support Agent, Satisfaction Monitoring Agent",
        "height": 320,
        "width": 400,
        "color": 5
      },
      "id": "sticky-customer_experience_director-1-1750871198.621905",
      "name": "Sticky Note 1"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        820,
        -300
      ],
      "parameters": {
        "content": "## \ud83c\udfaf Key Responsibilities\n\n1. **Strategic Planning**\n   - Department goal setting\n   - Resource optimization\n   - Risk mitigation\n\n2. **Team Coordination**\n   - Agent task delegation\n   - Performance monitoring\n   - Cross-team collaboration\n\n3. **Reporting**\n   - Business Manager updates\n   - Performance dashboards\n   - Strategic recommendations",
        "height": 320,
        "width": 380,
        "color": 6
      },
      "id": "sticky-customer_experience_director-2-1750871198.621907",
      "name": "Sticky Note 2"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1220,
        -300
      ],
      "parameters": {
        "content": "## \ud83d\udcca Performance Metrics\n\n**Department KPIs**:\n- NPS Score: 72\n- Resolution time: <2h\n- Customer retention: 85%\n- Support efficiency\n- Satisfaction rate: 4.5/5\n\n**Updated**: Real-time\n**Reporting**: Daily to Business Manager",
        "height": 320,
        "width": 360,
        "color": 1
      },
      "id": "sticky-customer_experience_director-3-1750871198.621908",
      "name": "Sticky Note 3"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        40
      ],
      "parameters": {
        "content": "## \ud83d\udd04 Workflow Triggers\n\n**Business Manager Delegation**:\n- Strategic directives\n- Resource allocation\n- Performance reviews\n\n**Agent Escalations**:\n- Critical issues\n- Resource conflicts\n- Decision requests",
        "height": 240,
        "width": 340,
        "color": 2
      },
      "id": "sticky-customer_experience_director-4-1750871198.621909",
      "name": "Sticky Note 4"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        760,
        40
      ],
      "parameters": {
        "content": "## \u26a1 Response Standards\n\n**SLA Targets**:\n- Critical: < 30 min\n- High Priority: < 2 hours\n- Normal: < 6 hours\n- Low: < 24 hours\n\n**Escalation to Business Manager**:\n- Budget > threshold\n- Strategic decisions\n- Cross-department conflicts",
        "height": 240,
        "width": 340,
        "color": 3
      },
      "id": "sticky-customer_experience_director-5-1750871198.62191",
      "name": "Sticky Note 5"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1120,
        40
      ],
      "parameters": {
        "content": "## \ud83d\udd10 Access & Security\n\n**MCP Access**:\n- Domain-specific tools only\n- Encrypted credentials\n- Audit logging enabled\n\n**Data Handling**:\n- Department data isolation\n- Secure API calls\n- Compliance protocols",
        "height": 240,
        "width": 320,
        "color": 4
      },
      "id": "sticky-customer_experience_director-6-1750871198.621911",
      "name": "Sticky Note 6"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4200,
        1400
      ],
      "parameters": {
        "content": "## \ud83d\udd27 Zendesk MCP\n\n**Purpose**: Zendesk integration\n\n**Use Cases**:\n- Data retrieval\n- Action execution\n- Status monitoring\n- Report generation\n\n**Authentication**: Secure API",
        "height": 200,
        "width": 300,
        "color": 5
      },
      "id": "sticky-customer_experience_director-7-1750871198.621912",
      "name": "Sticky Note 7"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4520,
        1400
      ],
      "parameters": {
        "content": "## \ud83d\udd27 Intercom MCP\n\n**Purpose**: Intercom integration\n\n**Use Cases**:\n- Data retrieval\n- Action execution\n- Status monitoring\n- Report generation\n\n**Authentication**: Secure API",
        "height": 200,
        "width": 300,
        "color": 6
      },
      "id": "sticky-customer_experience_director-8-1750871198.621913",
      "name": "Sticky Note 8"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4840,
        1400
      ],
      "parameters": {
        "content": "## \ud83d\udd27 Survey MCP\n\n**Purpose**: Survey integration\n\n**Use Cases**:\n- Data retrieval\n- Action execution\n- Status monitoring\n- Report generation\n\n**Authentication**: Secure API",
        "height": 200,
        "width": 300,
        "color": 1
      },
      "id": "sticky-customer_experience_director-9-1750871198.621914",
      "name": "Sticky Note 9"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5160,
        1400
      ],
      "parameters": {
        "content": "## \ud83d\udd27 CRM MCP\n\n**Purpose**: CRM integration\n\n**Use Cases**:\n- Data retrieval\n- Action execution\n- Status monitoring\n- Report generation\n\n**Authentication**: Secure API",
        "height": 200,
        "width": 300,
        "color": 2
      },
      "id": "sticky-customer_experience_director-10-1750871198.621915",
      "name": "Sticky Note 10"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5480,
        1400
      ],
      "parameters": {
        "content": "## \ud83d\udd27 Loyalty Program MCP\n\n**Purpose**: Loyalty Program integration\n\n**Use Cases**:\n- Data retrieval\n- Action execution\n- Status monitoring\n- Report generation\n\n**Authentication**: Secure API",
        "height": 200,
        "width": 300,
        "color": 3
      },
      "id": "sticky-customer_experience_director-11-1750871198.621916",
      "name": "Sticky Note 11"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1800,
        800
      ],
      "parameters": {
        "content": "## \ud83e\udd16 AI Agent Configuration\n\n**Model**: GPT-4o\n**Temperature**: 0.7\n**Role**: Customer Experience Director\n\n**Specialized Knowledge**:\n- Domain expertise\n- Industry best practices\n- Strategic planning\n- Team coordination",
        "height": 200,
        "width": 300,
        "color": 5
      },
      "id": "sticky-customer_experience_director-12-1750871198.621917",
      "name": "Sticky Note 12"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2120,
        800
      ],
      "parameters": {
        "content": "## \ud83d\udcca Decision Framework\n\n1. Analyze request context\n2. Evaluate resources\n3. Consider constraints\n4. Apply domain expertise\n5. Generate solution\n6. Validate approach\n\n**Decision logging**: Enabled",
        "height": 200,
        "width": 300,
        "color": 6
      },
      "id": "sticky-customer_experience_director-13-1750871198.621918",
      "name": "Sticky Note 13"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2440,
        800
      ],
      "parameters": {
        "content": "## \ud83c\udfaf Delegation Logic\n\n**To Agents**:\n- Task assignment\n- Resource allocation\n- Priority setting\n- Deadline management\n\n**From Business Manager**:\n- Strategic directives\n- Budget constraints\n- Performance targets",
        "height": 200,
        "width": 300,
        "color": 1
      },
      "id": "sticky-customer_experience_director-14-1750871198.621919",
      "name": "Sticky Note 14"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1800,
        1020
      ],
      "parameters": {
        "content": "## \ud83d\udcdd Output Structure\n\n```json\n{\n  \"action\": \"delegate|execute|report\",\n  \"target\": \"agent_name\",\n  \"task\": \"task_details\",\n  \"priority\": \"high|medium|low\",\n  \"deadline\": \"ISO_date\"\n}\n```",
        "height": 200,
        "width": 300,
        "color": 2
      },
      "id": "sticky-customer_experience_director-15-1750871198.62192",
      "name": "Sticky Note 15"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2120,
        1020
      ],
      "parameters": {
        "content": "## \ud83d\udd04 Feedback Loops\n\n**Agent Reports**:\n- Task completion\n- Performance metrics\n- Issues/blockers\n\n**Business Manager**:\n- Strategic updates\n- Resource changes\n- Priority shifts",
        "height": 200,
        "width": 300,
        "color": 3
      },
      "id": "sticky-customer_experience_director-16-1750871198.621921",
      "name": "Sticky Note 16"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1200,
        2200
      ],
      "parameters": {
        "content": "## \ud83d\udd04 Task Delegation Pattern\n\n```javascript\nconst delegation = {\n  agent: 'target_agent',\n  task: {\n    type: 'analysis|execution',\n    details: taskDetails,\n    priority: 'high',\n    deadline: deadline\n  },\n  resources: allocatedResources\n}\n```",
        "height": 220,
        "width": 320,
        "color": 5
      },
      "id": "sticky-customer_experience_director-17-1750871198.621923",
      "name": "Sticky Note 17"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1540,
        2200
      ],
      "parameters": {
        "content": "## \ud83d\udcca Performance Aggregation\n\n```javascript\n// Collect agent metrics\nconst metrics = await Promise.all([\n  agent1.getMetrics(),\n  agent2.getPerformance()\n]);\n// Report to Business Manager\nreturn consolidateMetrics(metrics);\n```",
        "height": 220,
        "width": 320,
        "color": 6
      },
      "id": "sticky-customer_experience_director-18-1750871198.621924",
      "name": "Sticky Note 18"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1880,
        2200
      ],
      "parameters": {
        "content": "## \ud83d\udea8 Escalation Handling\n\n**Triggers**:\n- Agent timeout\n- Resource conflict\n- Critical failure\n- Budget exceeded\n\n**Actions**:\n1. Assess severity\n2. Attempt resolution\n3. Escalate if needed",
        "height": 220,
        "width": 320,
        "color": 1
      },
      "id": "sticky-customer_experience_director-19-1750871198.621925",
      "name": "Sticky Note 19"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2220,
        2200
      ],
      "parameters": {
        "content": "## \ud83d\udd01 Continuous Optimization\n\n1. Monitor performance\n2. Identify bottlenecks\n3. Test improvements\n4. Measure impact\n5. Deploy changes\n\n**Optimization Cycle**: Weekly",
        "height": 220,
        "width": 320,
        "color": 2
      },
      "id": "sticky-customer_experience_director-20-1750871198.621926",
      "name": "Sticky Note 20"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        2600
      ],
      "parameters": {
        "content": "## \ud83d\udcda Customer Experience Director Best Practices\n\n**Communication**:\n- Clear task delegation\n- Regular status updates\n- Proactive issue reporting\n- Transparent metrics\n\n**Efficiency**:\n- Batch similar tasks\n- Cache frequent data\n- Optimize API calls",
        "height": 260,
        "width": 300,
        "color": 5
      },
      "id": "sticky-customer_experience_director-21-1750871198.621926",
      "name": "Sticky Note 21"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        720,
        2600
      ],
      "parameters": {
        "content": "## \u26a0\ufe0f Common Challenges\n\n**Technical**:\n- API rate limits\n- Data synchronization\n- Integration failures\n\n**Operational**:\n- Resource conflicts\n- Priority balancing\n- Cross-team coordination",
        "height": 260,
        "width": 300,
        "color": 6
      },
      "id": "sticky-customer_experience_director-22-1750871198.621927",
      "name": "Sticky Note 22"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1040,
        2600
      ],
      "parameters": {
        "content": "## \ud83d\udee1\ufe0f Risk Management\n\n**Mitigation Strategies**:\n- Redundant systems\n- Graceful degradation\n- Manual overrides\n- Backup processes\n\n**Monitoring**:\n- Real-time alerts\n- Performance tracking\n- Error logging",
        "height": 260,
        "width": 300,
        "color": 1
      },
      "id": "sticky-customer_experience_director-23-1750871198.621928",
      "name": "Sticky Note 23"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1360,
        2600
      ],
      "parameters": {
        "content": "## \ud83d\udcc8 Success Metrics\n\n**Department Health**:\n- Task completion: >95%\n- On-time delivery: >90%\n- Quality score: >4.5/5\n- Team efficiency: +10% QoQ\n\n**Review**: Monthly with Business Manager",
        "height": 260,
        "width": 300,
        "color": 2
      },
      "id": "sticky-customer_experience_director-24-1750871198.621929",
      "name": "Sticky Note 24"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "id": "metadata-customer_experience_director-1750871198.621932",
      "name": "Workflow Metadata",
      "position": [
        400,
        2900
      ],
      "parameters": {
        "content": "## \ud83d\udccb Workflow Metadata\n\n**Director Type**: Customer Experience Director\n**Last Enhanced**: 2025-06-25T13:06:38.621933\n**Node Count**: 16\n**Sticky Notes**: 34\n**Documentation Coverage**: ~68%\n\n**Version**: 2.0 (Enhanced)\n**Compatible with**: n8n v1.0+",
        "height": 200,
        "width": 350,
        "color": 2
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Customer Experience AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Chat Interface",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Customer Experience Webhook": {
      "main": [
        [
          {
            "node": "Customer Experience AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Interface": {
      "main": [
        [
          {
            "node": "Customer Experience AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Customer Experience AI Agent": {
      "main": [
        [
          {
            "node": "Prepare Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Customer Experience AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Customer Service Management Tool": {
      "ai_tool": [
        [
          {
            "node": "Customer Experience AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Retention Campaign Tool": {
      "ai_tool": [
        [
          {
            "node": "Customer Experience AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Returns Management Tool": {
      "ai_tool": [
        [
          {
            "node": "Customer Experience AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Feedback Analysis Tool": {
      "ai_tool": [
        [
          {
            "node": "Customer Experience AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Satisfaction Monitoring Tool": {
      "ai_tool": [
        [
          {
            "node": "Customer Experience AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Customer Service Data": {
      "ai_vectorStore": [
        [
          {
            "node": "Customer Experience AI Agent",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Customer Feedback Data": {
      "ai_vectorStore": [
        [
          {
            "node": "Customer Experience AI Agent",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Customer Experience Memory": {
      "ai_memory": [
        [
          {
            "node": "Customer Experience AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  }
}