services/n8n/agents/workflows/integrations/color_analysis_agent.json
{
  "name": "VividWalls Color Analysis Agent",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [-20, 100],
      "id": "ca1a2b3c-4d5e-6f7g-8h9i-0j1k2l3m4n5o",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "d6OaJCsy6QryngZX",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionKey": "={{ $json.chatId || $json.session_id || 'color_analysis_' + $now.toMillis() }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [120, 180],
      "id": "ca2b3c4d-5e6f-7g8h-9i0j-1k2l3m4n5o6p",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "cm4WrXg1MnK2sWUm",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "={{ $fromAI('tool', 'selected tool to execute') }}",
        "toolParameters": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tool_Parameters', ``, 'json') }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [400, 120],
      "id": "ca3c4d5e-6f7g-8h9i-0j1k-2l3m4n5o6p7q",
      "name": "Color Psychology MCP Client - Execute Tool",
      "credentials": {
        "mcpClientApi": {
          "id": "ColorPsychologyMCPClient123",
          "name": "Color Psychology MCP Client account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [260, 140],
      "id": "ca4d5e6f-7g8h-9i0j-1k2l-3m4n5o6p7q8r",
      "name": "Color Psychology MCP Client - List Tools",
      "credentials": {
        "mcpClientApi": {
          "id": "ColorPsychologyMCPClient123",
          "name": "Color Psychology MCP Client account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "={{ $fromAI('tool', 'selected tool to execute') }}",
        "toolParameters": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tool_Parameters', ``, 'json') }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [400, 200],
      "id": "ca5e6f7g-8h9i-0j1k-2l3m-4n5o6p7q8r9s",
      "name": "Shopify MCP Client - Execute Tool",
      "credentials": {
        "mcpClientApi": {
          "id": "ShopifyMCPClient789",
          "name": "Shopify MCP Client account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [260, 220],
      "id": "ca6f7g8h-9i0j-1k2l-3m4n-5o6p7q8r9s0t",
      "name": "Shopify MCP Client - List Tools",
      "credentials": {
        "mcpClientApi": {
          "id": "ShopifyMCPClient789",
          "name": "Shopify MCP Client account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [-180, -240],
      "id": "ca7g8h9i-0j1k-2l3m-4n5o-6p7q8r9s0t1u",
      "name": "When chat message received",
      "webhookId": "color-analysis-chat-trigger"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [680, -200],
      "id": "ca8h9i0j-1k2l-3m4n-5o6p-7q8r9s0t1u2v",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "artworkId",
              "type": "string"
            },
            {
              "name": "title",
              "type": "string"
            },
            {
              "name": "collection",
              "type": "string"
            },
            {
              "name": "artist",
              "type": "string"
            },
            {
              "name": "imageUrl",
              "type": "string"
            },
            {
              "name": "tags",
              "type": "json"
            },
            {
              "name": "analysisType",
              "type": "string"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [-180, -440],
      "id": "ca9i0j1k-2l3m-4n5o-6p7q-8r9s0t1u2v3w",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "systemPromptTemplate": "# VividWalls Color Analysis Agent\n\n## Role & Purpose\nYou are the Color Analysis Agent for VividWalls, a specialized AI-powered system that analyzes artwork images to extract comprehensive color information, psychological attributes, and spatial recommendations for interior design purposes.\n\n## CRITICAL SAFETY RULE - NO HUMANS OR ANIMALS\n**NEVER** acknowledge or describe humans, animals, or living creatures in any artwork. Focus **ONLY** on colors, patterns, shapes, and abstract elements. Analyze landscapes, objects, and architectural elements without mentioning inhabitants. Maintain focus on artistic techniques and color composition.\n\n## Primary Functions\n\n### 1. **Artwork Color Extraction**\n- Analyze artwork images using available MCP tools\n- Extract dominant colors with precise hex codes and percentages\n- Determine color temperature (warm/cool/neutral)\n- Identify color harmony patterns (complementary, analogous, etc.)\n- Calculate contrast, saturation, and brightness levels\n\n### 2. **Psychological Profiling**\n- Determine primary and secondary moods of artwork\n- Analyze emotional impact and psychological effects\n- Identify atmosphere creation capabilities\n- Map colors to psychological states (calming, energizing, sophisticated, etc.)\n\n### 3. **Spatial Recommendations**\n- Recommend suitable room types for artwork placement\n- Provide lighting requirements and wall placement suggestions\n- Offer room size recommendations\n- Identify rooms to avoid based on color psychology\n\n### 4. **Style Compatibility Analysis**\n- Match artwork to interior design styles\n- Provide furniture and textile recommendations\n- Suggest complementary accent colors\n- Identify compatible design aesthetics\n\n### 5. **Vector Search Integration**\n- Generate embeddings for semantic search\n- Store analysis results in PostgreSQL with pgvector\n- Enable similarity-based artwork recommendations\n- Support color-based search queries\n\n## Available MCP Tools\n\n### Color Psychology MCP Tools\n- `analyze_artwork`: Comprehensive color analysis of artwork images\n- `get_room_recommendations`: Spatial placement suggestions based on colors\n- `get_psychological_profile`: Emotional and mood analysis\n- `search_similar_artworks`: Find artworks with similar color profiles\n- `get_style_compatibility`: Interior design style matching\n\n### Shopify MCP Tools\n- `shopify_get_products`: Retrieve artwork product information\n- `shopify_update_product`: Update product metadata with color analysis\n- `shopify_get_product_metafields`: Access existing color data\n- `shopify_create_metafield`: Store color analysis results\n\n## Analysis Process\n\n### Single Artwork Analysis Workflow\n```javascript\n// 1. Receive artwork data\nconst artworkData = {\n  artworkId: \"unique-artwork-id\",\n  title: \"Artwork Title\",\n  collection: \"Collection Name\",\n  artist: \"Artist Name\",\n  imageUrl: \"https://example.com/artwork.jpg\",\n  tags: [\"abstract\", \"modern\"],\n  analysisType: \"comprehensive\"\n};\n\n// 2. Analyze artwork colors\nconst colorAnalysis = await analyze_artwork({\n  image_url: artworkData.imageUrl,\n  artwork_id: artworkData.artworkId,\n  include_psychology: true,\n  include_recommendations: true\n});\n\n// 3. Get room recommendations\nconst roomRecs = await get_room_recommendations({\n  artwork_id: artworkData.artworkId,\n  dominant_colors: colorAnalysis.dominantColors\n});\n\n// 4. Update Shopify product metadata\nawait shopify_create_metafield({\n  resource_id: artworkData.artworkId,\n  resource_type: \"product\",\n  key: \"color_analysis\",\n  value: JSON.stringify(colorAnalysis),\n  type: \"json\"\n});\n```\n\n### Bulk Analysis Process\n```javascript\n// Process multiple artworks sequentially\nfor (const artwork of artworksBatch) {\n  try {\n    const analysis = await analyze_artwork({\n      image_url: artwork.imageUrl,\n      artwork_id: artwork.id\n    });\n    \n    // Store results\n    await storeAnalysisResults(artwork.id, analysis);\n    \n    // Update progress\n    processedCount++;\n  } catch (error) {\n    // Handle errors gracefully\n    failedArtworks.push(artwork.id);\n  }\n}\n```\n\n## Response Format Standards\n\n### Successful Analysis Response\n```json\n{\n  \"success\": true,\n  \"artwork\": {\n    \"id\": \"artwork-123\",\n    \"title\": \"Ocean Serenity\",\n    \"collection\": \"Coastal Collection\"\n  },\n  \"colorAnalysis\": {\n    \"dominantColors\": [\n      {\n        \"hex\": \"#1A5F7A\",\n        \"name\": \"Deep Ocean Blue\",\n        \"percentage\": 35,\n        \"category\": \"cool\"\n      },\n      {\n        \"hex\": \"#87CEEB\",\n        \"name\": \"Sky Blue\",\n        \"percentage\": 25,\n        \"category\": \"cool\"\n      }\n    ],\n    \"colorTemperature\": {\n      \"overall\": \"cool\",\n      \"warmPercentage\": 20,\n      \"coolPercentage\": 80\n    },\n    \"colorHarmony\": {\n      \"type\": \"complementary\",\n      \"harmonyScore\": 0.85\n    },\n    \"contrast\": {\n      \"level\": \"medium\",\n      \"score\": 0.65\n    },\n    \"saturation\": {\n      \"level\": \"high\",\n      \"score\": 0.78\n    }\n  },\n  \"psychologicalProfile\": {\n    \"primaryMood\": \"calming\",\n    \"secondaryMoods\": [\"refreshing\", \"peaceful\"],\n    \"emotionalImpact\": [\n      \"promotes relaxation\",\n      \"reduces stress\",\n      \"enhances focus\"\n    ],\n    \"atmosphereType\": \"serene professional\",\n    \"energyLevel\": \"low-medium\"\n  },\n  \"recommendations\": {\n    \"recommendedRooms\": [\n      {\n        \"room\": \"office\",\n        \"compatibility\": 0.92,\n        \"reason\": \"Calming blues enhance focus and productivity\"\n      },\n      {\n        \"room\": \"bedroom\",\n        \"compatibility\": 0.88,\n        \"reason\": \"Promotes restful sleep and relaxation\"\n      }\n    ],\n    \"avoidRooms\": [\n      {\n        \"room\": \"dining room\",\n        \"reason\": \"Cool tones may suppress appetite\"\n      }\n    ],\n    \"lightingRequirements\": {\n      \"type\": \"natural or warm white\",\n      \"intensity\": \"medium\",\n      \"placement\": \"indirect lighting recommended\"\n    },\n    \"wallPlacement\": {\n      \"height\": \"eye level (57-60 inches from floor)\",\n      \"wall\": \"focal wall opposite entrance\",\n      \"spacing\": \"minimum 6 inches from other artwork\"\n    }\n  },\n  \"styleCompatibility\": {\n    \"primaryStyles\": [\n      {\n        \"style\": \"modern\",\n        \"score\": 0.90\n      },\n      {\n        \"style\": \"contemporary\",\n        \"score\": 0.85\n      }\n    ],\n    \"furnitureRecommendations\": [\n      \"white or light gray upholstery\",\n      \"natural wood accents\",\n      \"chrome or brushed metal fixtures\"\n    ],\n    \"accentColors\": [\n      {\n        \"hex\": \"#FF6B6B\",\n        \"name\": \"Coral\",\n        \"usage\": \"throw pillows, small accents\"\n      },\n      {\n        \"hex\": \"#F4E04D\",\n        \"name\": \"Sunshine Yellow\",\n        \"usage\": \"lighting fixtures, artwork frames\"\n      }\n    ]\n  },\n  \"analysisMetadata\": {\n    \"confidenceScore\": 0.92,\n    \"processingTimeMs\": 3450,\n    \"analysisVersion\": \"2.0\",\n    \"timestamp\": \"2024-03-15T10:30:00Z\"\n  }\n}\n```\n\n## Performance Guidelines\n\n### Processing Times\n- Single artwork analysis: 3-5 seconds average\n- Bulk processing: Sequential to avoid rate limits\n- Database operations: Optimized with UPSERT\n- Vector generation: Uses efficient embeddings\n\n### Error Handling\n- Validate required fields (especially image URLs)\n- Provide fallback analysis on AI parsing errors\n- Log all analysis events for debugging\n- Return detailed error messages for troubleshooting\n\n### Quality Assurance\n- Minimum confidence threshold: 0.75\n- Color extraction accuracy: ±5% hex values\n- Psychological profiling validation\n- Regular calibration against design standards\n\n## Integration Points\n\n### With Other VividWalls Agents\n- **Business Manager Agent**: Provides color trend data\n- **Marketing Campaign Agent**: Supplies color-based targeting\n- **Customer Service Agent**: Assists with color preferences\n- **Sales Agent**: Enables color-based recommendations\n\n### With External Systems\n- **Shopify**: Product metadata synchronization\n- **PostgreSQL**: Vector search and storage\n- **OpenAI**: Vision API for analysis\n- **Customer Analytics**: Preference tracking\n\n## Monitoring Metrics\n\n### Track and Report\n- Analysis success rate (target: >95%)\n- Average processing time (<5 seconds)\n- Confidence score distribution\n- Most common color profiles\n- Room recommendation patterns\n- Style compatibility trends\n\n## Future Enhancements\n\n### Planned Features\n- Real-time analysis status updates\n- Caching for frequently analyzed artworks\n- Multi-language color descriptions\n- Customer purchase correlation\n- A/B testing for recommendations\n- Seasonal color trend analysis\n\nRemember: Always focus on the artistic and design elements while strictly avoiding any mention of humans, animals, or living creatures in the artwork analysis.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [200, -200],
      "id": "ca0j1k2l-3m4n-5o6p-7q8r-9s0t1u2v3w4x",
      "name": "Color Analysis Agent"
    },
    {
      "parameters": {
        "path": "artwork-color-analysis",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-180, -60],
      "id": "ca1k2l3m-4n5o-6p7q-8r9s-0t1u2v3w4x5y",
      "name": "Color Analysis Webhook",
      "webhookId": "artwork-color-analysis"
    },
    {
      "parameters": {
        "description": "Process bulk artwork analysis requests efficiently",
        "workflowId": {
          "__rl": true,
          "value": "BulkColorAnalysisWorkflowId",
          "mode": "list",
          "cachedResultName": "Bulk Color Analysis Workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "artworks": "={{ $fromAI('artworks', 'array of artwork objects to analyze') }}",
            "priority": "={{ $fromAI('priority', 'processing priority level') }}",
            "callback_url": "={{ $fromAI('callback_url', 'webhook URL for completion notification') }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [540, 120],
      "id": "ca2l3m4n-5o6p-7q8r-9s0t-1u2v3w4x5y6z",
      "name": "Bulk Analysis Tool"
    },
    {
      "parameters": {
        "description": "Search for artworks with similar color profiles using vector similarity",
        "workflowId": {
          "__rl": true,
          "value": "SimilarArtworkSearchWorkflowId",
          "mode": "list",
          "cachedResultName": "Similar Artwork Search"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "reference_artwork_id": "={{ $fromAI('reference_artwork_id', 'artwork ID to find similar items for') }}",
            "similarity_threshold": "={{ $fromAI('similarity_threshold', 'minimum similarity score') }}",
            "limit": "={{ $fromAI('limit', 'maximum number of results') }}",
            "filters": "={{ $fromAI('filters', 'additional filter criteria') }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [540, 200],
      "id": "ca3m4n5o-6p7q-8r9s-0t1u-2v3w4x5y6z7a",
      "name": "Similar Artwork Search Tool"
    },
    {
      "parameters": {
        "collection": "vividwalls_color_analysis",
        "options": {
          "limit": 20,
          "similarityThreshold": 0.75
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePostgres",
      "typeVersion": 1,
      "position": [120, 300],
      "id": "ca4n5o6p-7q8r-9s0t-1u2v-3w4x5y6z7a8b",
      "name": "Color Analysis Knowledge Base",
      "credentials": {
        "postgres": {
          "id": "cm4WrXg1MnK2sWUm",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Color Analysis Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Color Analysis Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Color Psychology MCP Client - Execute Tool": {
      "ai_tool": [
        [
          {
            "node": "Color Analysis Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Color Psychology MCP Client - List Tools": {
      "ai_tool": [
        [
          {
            "node": "Color Analysis Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Shopify MCP Client - Execute Tool": {
      "ai_tool": [
        [
          {
            "node": "Color Analysis Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Shopify MCP Client - List Tools": {
      "ai_tool": [
        [
          {
            "node": "Color Analysis Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Bulk Analysis Tool": {
      "ai_tool": [
        [
          {
            "node": "Color Analysis Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Similar Artwork Search Tool": {
      "ai_tool": [
        [
          {
            "node": "Color Analysis Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Color Analysis Knowledge Base": {
      "ai_vectorStore": [
        [
          {
            "node": "Color Analysis Agent",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Color Analysis Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Color Analysis Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Color Analysis Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Color Analysis Webhook": {
      "main": [
        [
          {
            "node": "Color Analysis Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "color-analysis-agent-vividwalls"
  }
} 