services/n8n/agents/workflows/integrations/pictorem_agent_node.json
{
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -20,
        100
      ],
      "id": "d4411941-a3f3-4576-9386-a4557f5b7628",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "d6OaJCsy6QryngZX",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        120,
        180
      ],
      "id": "5a8c993f-761f-4028-a892-8d3123108510",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "cm4WrXg1MnK2sWUm",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "={{ $fromAI('tool', 'selected tool to execute') }}",
        "toolParameters": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tool_Parameters', ``, 'json') }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        440,
        200
      ],
      "id": "aeeeaa3f-955d-40b0-bba5-9d71083cfcbb",
      "name": "Pictorem MCP Client - Execute Tool",
      "credentials": {
        "mcpClientApi": {
          "id": "Mt4Ps8BghDc2V67j",
          "name": "FaceBook - MCP Client (STDIO) account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        260,
        200
      ],
      "id": "eeb9db54-83f2-4b14-be25-3f4ada0bb717",
      "name": "Pictorem MCP Client - List Tool",
      "credentials": {
        "mcpClientApi": {
          "id": "Mt4Ps8BghDc2V67j",
          "name": "FaceBook - MCP Client (STDIO) account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -180,
        -240
      ],
      "id": "de30c0b7-5927-4e03-aabd-a7e4fe4bc2e4",
      "name": "When chat message received",
      "webhookId": "e98b659c-01e4-48fd-985a-2bd127c908b7"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        840,
        -200
      ],
      "id": "ced6ecd8-cc8b-4b34-a31e-4b1a76153765",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "height",
              "type": "number"
            },
            {
              "name": "width",
              "type": "number"
            },
            {
              "name": "frame_type"
            },
            {
              "name": "frame_color"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -180,
        -440
      ],
      "id": "dbfd653d-ae29-4ed1-bbd2-a194b6b5b540",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        200,
        -200
      ],
      "id": "6c10ed73-fa0f-45eb-9858-8b239fd69594",
      "name": "Pictorem Agent"
    },
    {
      "parameters": {
        "path": "40d1c9d0-8caa-4a7e-9028-343089b833a2",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -180,
        -60
      ],
      "id": "f4e9bf10-bbdc-45eb-8daa-5dc1f129b569",
      "name": "Webhook",
      "webhookId": "40d1c9d0-8caa-4a7e-9028-343089b833a2"
    },
    {
      "parameters": {
        "description": "Call this tool when you need to use a web scraping tool for capturing content from a web page",
        "workflowId": {
          "__rl": true,
          "value": "8kl6tM8ZgzgR20pp",
          "mode": "list",
          "cachedResultName": "VividWalls Multi-Agent Order Processing"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        600,
        160
      ],
      "id": "67c198bc-ae0f-4b0f-88e2-9c7824939fbe",
      "name": "Order Processing Agent"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "vividwalls_database",
        "toolDescription": "={{ $('When chat message received') }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.1,
      "position": [
        740,
        160
      ],
      "id": "6e759252-30b8-43f2-a55a-619f724cf619",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "cm4WrXg1MnK2sWUm",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        740,
        320
      ],
      "id": "919e5169-6f9f-425a-a72a-a66196afa096",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "d6OaJCsy6QryngZX",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0c35fbe5-1704-4e11-8656-171268aef32a",
              "name": "={{ $('Pictorem Agent') }}",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        600,
        -200
      ],
      "id": "1a8bc97a-67ea-4d79-9a98-b27c33a7e6be",
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Pictorem Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Pictorem Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pictorem MCP Client - Execute Tool": {
      "ai_tool": [
        [
          {
            "node": "Pictorem Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pictorem MCP Client - List Tool": {
      "ai_tool": [
        [
          {
            "node": "Pictorem Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Pictorem Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Pictorem Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pictorem Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Pictorem Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Order Processing Agent": {
      "ai_tool": [
        [
          {
            "node": "Pictorem Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store": {
      "ai_tool": [
        [
          {
            "node": "Pictorem Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8d886cbbbe7cfda2db691b67a2dadcc8c19353a4c691d51c622e4656cfd22240"
  }
}