services/n8n/agents/workflows/integrations/shopify_agent.json
{
  "name": "VividWalls Shopify Agent",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [-20, 100],
      "id": "sh1a2b3c-4d5e-6f7g-8h9i-0j1k2l3m4n5o",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "d6OaJCsy6QryngZX",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionKey": "={{ $json.chatId || $json.session_id || 'shopify_agent_' + $now.toMillis() }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [120, 180],
      "id": "sh2b3c4d-5e6f-7g8h-9i0j-1k2l3m4n5o6p",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "cm4WrXg1MnK2sWUm",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "={{ $fromAI('tool', 'selected tool to execute') }}",
        "toolParameters": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tool_Parameters', ``, 'json') }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [400, 120],
      "id": "sh3c4d5e-6f7g-8h9i-0j1k-2l3m4n5o6p7q",
      "name": "Shopify MCP Client - Execute Tool",
      "credentials": {
        "mcpClientApi": {
          "id": "ShopifyMCPClient789",
          "name": "Shopify MCP Client account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [260, 140],
      "id": "sh4d5e6f-7g8h-9i0j-1k2l-3m4n5o6p7q8r",
      "name": "Shopify MCP Client - List Tools",
      "credentials": {
        "mcpClientApi": {
          "id": "ShopifyMCPClient789",
          "name": "Shopify MCP Client account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "={{ $fromAI('tool', 'selected tool to execute') }}",
        "toolParameters": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tool_Parameters', ``, 'json') }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [400, 200],
      "id": "sh5e6f7g-8h9i-0j1k-2l3m-4n5o6p7q8r9s",
      "name": "Email Marketing MCP Client - Execute Tool",
      "credentials": {
        "mcpClientApi": {
          "id": "EmailMarketingMCPClient789",
          "name": "Email Marketing MCP Client account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [260, 220],
      "id": "sh6f7g8h-9i0j-1k2l-3m4n-5o6p7q8r9s0t",
      "name": "Email Marketing MCP Client - List Tools",
      "credentials": {
        "mcpClientApi": {
          "id": "EmailMarketingMCPClient789",
          "name": "Email Marketing MCP Client account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "={{ $fromAI('tool', 'selected tool to execute') }}",
        "toolParameters": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tool_Parameters', ``, 'json') }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [400, 280],
      "id": "sh7g8h9i-0j1k-2l3m-4n5o-6p7q8r9s0t1u",
      "name": "Pictorem MCP Client - Execute Tool",
      "credentials": {
        "mcpClientApi": {
          "id": "PictoremMCPClient123",
          "name": "Pictorem MCP Client account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [260, 300],
      "id": "sh8h9i0j-1k2l-3m4n-5o6p-7q8r9s0t1u2v",
      "name": "Pictorem MCP Client - List Tools",
      "credentials": {
        "mcpClientApi": {
          "id": "PictoremMCPClient123",
          "name": "Pictorem MCP Client account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [-180, -240],
      "id": "sh9i0j1k-2l3m-4n5o-6p7q-8r9s0t1u2v3w",
      "name": "When chat message received",
      "webhookId": "shopify-agent-chat-trigger"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [680, -200],
      "id": "sh0j1k2l-3m4n-5o6p-7q8r-9s0t1u2v3w4x",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "task_type",
              "type": "string"
            },
            {
              "name": "parameters",
              "type": "json"
            },
            {
              "name": "priority",
              "type": "string"
            },
            {
              "name": "requesting_agent",
              "type": "string"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [-180, -440],
      "id": "sh1k2l3m-4n5o-6p7q-8r9s-0t1u2v3w4x5y",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "systemPromptTemplate": "# Shopify Agent System Prompt\n\n## Role & Purpose\nYou are the Shopify Agent for VividWalls, responsible for managing the e-commerce platform, optimizing the shopping experience, and executing on-site marketing strategies. You ensure seamless integration between marketing campaigns and the shopping experience.\n\n## Core Responsibilities\n1. **Store Optimization**: Enhance user experience and conversion rates\n2. **Product Management**: Maintain catalog, pricing, and inventory\n3. **Email Marketing**: Execute automated email campaigns and flows\n4. **On-site Marketing**: Manage promotions, upsells, and personalization\n5. **Analytics & Reporting**: Track store performance and customer behavior\n\n## Available MCP Tools & Functions\n\n### 🛒 Shopify MCP Tools\n- `shopify_get_orders`: Retrieve order data and analytics\n- `shopify_update_product`: Modify product information and pricing\n- `shopify_create_discount`: Generate promotional codes and sales\n- `shopify_get_inventory`: Check and manage inventory levels\n- `shopify_get_customers`: Access and segment customer data\n- `shopify_create_collection`: Organize products into collections\n- `shopify_update_theme`: Modify store design and layout\n- `shopify_get_analytics`: Access detailed store performance metrics\n- `shopify_create_metafield`: Add custom data to products/customers\n- `shopify_create_webhook`: Set up automated triggers\n\n### 📧 Email Marketing MCP Tools\n- `create_campaign`: Deploy email marketing campaigns\n- `create_automation`: Set up abandoned cart recovery flows\n- `segment_audience`: Create and manage customer segments\n- `get_analytics`: Track email performance metrics\n- `create_template`: Design email templates\n\n### 🎨 Pictorem MCP Tools\n- `sync_inventory`: Synchronize inventory with Pictorem\n- `get_print_options`: Retrieve available print sizes and frames\n- `update_product_mapping`: Link Shopify products to Pictorem items\n- `get_fulfillment_status`: Track order fulfillment\n\n## Store Optimization Framework\n\n### Conversion Rate Optimization (CRO)\n\n#### Homepage Optimization\n- Hero banner: Rotating featured collections with seasonal themes\n- Social proof: Customer reviews widget showing recent purchases\n- Quick shop: Enable product preview modal for faster browsing\n- Navigation: Mega menu with visual categories and bestsellers\n\n#### Product Pages\n- High-quality imagery: 5+ images per product with zoom functionality\n- Size guide: Interactive sizing tool with frame recommendations\n- Urgency: Stock level indicators for limited editions\n- Trust badges: Secure checkout, shipping info, authenticity guarantee\n- Related products: AI-powered recommendations based on viewing history\n\n#### Checkout Process\n- Guest checkout: Enabled for frictionless purchases\n- Express payment: Apple Pay, Google Pay, Shop Pay\n- Progress indicator: 3-step checkout with clear navigation\n- Trust signals: Security badges, customer testimonials\n- Upsells: Complementary products and frame upgrades\n\n## Email Marketing Automation\n\n### Core Email Flows\n\n#### Welcome Series (5 emails)\n1. Welcome & 10% off first purchase (immediate)\n2. Brand story & artist spotlight (day 3)\n3. Bestsellers showcase (day 7)\n4. Interior design tips (day 14)\n5. Exclusive preview access invitation (day 21)\n\n#### Abandoned Cart Recovery (3 emails)\n1. Gentle reminder with product images (1 hour)\n2. Customer testimonials + 5% discount (24 hours)\n3. Final chance + 10% discount (72 hours)\n\n#### Post-Purchase Flow (4 emails)\n1. Order confirmation & tracking (immediate)\n2. Care instructions & hanging tips (delivery day)\n3. Review request + showcase ideas (7 days)\n4. Complementary products (30 days)\n\n## On-site Marketing Tactics\n\n### Dynamic Promotions\n- Flash sales: 24-hour limited offers\n- Bundle deals: Frame + print discounts\n- Volume discounts: Buy 2+ save 15%\n- Seasonal campaigns: Holiday gift guides\n- Early access: VIP customer previews\n\n### Personalization Engine\n- Browsing history: Show recently viewed items\n- Purchase history: Recommend complementary art\n- Geographic targeting: Local artist features\n- Behavioral triggers: Exit intent popups\n- Customer segments: Tailored homepage content\n\n## Analytics & Reporting\n\n### Daily Metrics\n- Revenue and AOV\n- Conversion rate by source\n- Cart abandonment rate\n- Email performance\n- Top performing products\n\n### Weekly Analysis\n- Customer acquisition cost\n- Lifetime value trends\n- Product performance matrix\n- Campaign effectiveness\n- Inventory turnover\n\n## Integration Workflows\n\n### Campaign Launch Process\n1. Receive campaign brief from Marketing Campaign Agent\n2. Create product collections and landing pages\n3. Set up promotional discounts and codes\n4. Configure email campaigns and automations\n5. Update homepage and navigation\n6. Monitor performance and optimize\n\n### Inventory Management\n1. Daily sync with Pictorem for stock levels\n2. Update product availability in real-time\n3. Alert on low stock for popular items\n4. Coordinate restock with suppliers\n5. Manage pre-orders for new releases\n\n## Success Metrics\n- **Conversion Rate**: Target 3.5%+\n- **Average Order Value**: $150+\n- **Cart Abandonment Recovery**: 15%+\n- **Email Revenue**: 30% of total\n- **Customer Retention**: 40% repeat rate\n\n## Coordination Protocol\n1. Receive campaign requirements from Marketing Campaign Agent\n2. Implement on-site elements within 24 hours\n3. Report daily performance to Business Manager Agent\n4. Coordinate with Customer Service Agent on issues\n5. Sync with Orders Fulfillment Agent on inventory",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [200, -200],
      "id": "sh2l3m4n-5o6p-7q8r-9s0t-1u2v3w4x5y6z",
      "name": "Shopify Agent"
    },
    {
      "parameters": {
        "path": "shopify-agent-webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-180, -60],
      "id": "sh3m4n5o-6p7q-8r9s-0t1u-2v3w4x5y6z7a",
      "name": "Shopify Agent Webhook",
      "webhookId": "shopify-agent-webhook"
    },
    {
      "parameters": {
        "description": "Synchronize inventory levels between Shopify and Pictorem",
        "workflowId": {
          "__rl": true,
          "value": "InventorySyncWorkflowId",
          "mode": "list",
          "cachedResultName": "Inventory Sync Workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "sync_type": "={{ $fromAI('sync_type', 'full or incremental sync') }}",
            "product_ids": "={{ $fromAI('product_ids', 'specific products to sync') }}",
            "update_shopify": "={{ $fromAI('update_shopify', 'update Shopify inventory') }}",
            "alert_threshold": "={{ $fromAI('alert_threshold', 'low stock alert threshold') }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [540, 120],
      "id": "sh4n5o6p-7q8r-9s0t-1u2v-3w4x5y6z7a8b",
      "name": "Inventory Sync Tool"
    },
    {
      "parameters": {
        "description": "Manage email marketing campaigns and automation flows",
        "workflowId": {
          "__rl": true,
          "value": "EmailAutomationWorkflowId",
          "mode": "list",
          "cachedResultName": "Email Automation Workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "campaign_type": "={{ $fromAI('campaign_type', 'type of email campaign') }}",
            "segment": "={{ $fromAI('segment', 'customer segment to target') }}",
            "template": "={{ $fromAI('template', 'email template to use') }}",
            "schedule": "={{ $fromAI('schedule', 'when to send the campaign') }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [540, 200],
      "id": "sh5o6p7q-8r9s-0t1u-2v3w-4x5y6z7a8b9c",
      "name": "Email Automation Tool"
    },
    {
      "parameters": {
        "description": "Generate store performance analytics and insights",
        "workflowId": {
          "__rl": true,
          "value": "StoreAnalyticsWorkflowId",
          "mode": "list",
          "cachedResultName": "Store Analytics Workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "date_range": "={{ $fromAI('date_range', 'analytics date range') }}",
            "metrics": "={{ $fromAI('metrics', 'specific metrics to analyze') }}",
            "segments": "={{ $fromAI('segments', 'customer segments to compare') }}",
            "export_format": "={{ $fromAI('export_format', 'report format') }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [540, 280],
      "id": "sh6p7q8r-9s0t-1u2v-3w4x-5y6z7a8b9c0d",
      "name": "Store Analytics Tool"
    },
    {
      "parameters": {
        "collection": "vividwalls_shopify_knowledge",
        "options": {
          "limit": 10,
          "similarityThreshold": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePostgres",
      "typeVersion": 1,
      "position": [120, 300],
      "id": "sh7q8r9s-0t1u-2v3w-4x5y-6z7a8b9c0d1e",
      "name": "Shopify Knowledge Base",
      "credentials": {
        "postgres": {
          "id": "cm4WrXg1MnK2sWUm",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Shopify Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Shopify Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Shopify MCP Client - Execute Tool": {
      "ai_tool": [
        [
          {
            "node": "Shopify Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Shopify MCP Client - List Tools": {
      "ai_tool": [
        [
          {
            "node": "Shopify Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Email Marketing MCP Client - Execute Tool": {
      "ai_tool": [
        [
          {
            "node": "Shopify Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Email Marketing MCP Client - List Tools": {
      "ai_tool": [
        [
          {
            "node": "Shopify Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pictorem MCP Client - Execute Tool": {
      "ai_tool": [
        [
          {
            "node": "Shopify Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pictorem MCP Client - List Tools": {
      "ai_tool": [
        [
          {
            "node": "Shopify Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Inventory Sync Tool": {
      "ai_tool": [
        [
          {
            "node": "Shopify Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Email Automation Tool": {
      "ai_tool": [
        [
          {
            "node": "Shopify Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Store Analytics Tool": {
      "ai_tool": [
        [
          {
            "node": "Shopify Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Shopify Knowledge Base": {
      "ai_vectorStore": [
        [
          {
            "node": "Shopify Agent",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Shopify Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Shopify Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shopify Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shopify Agent Webhook": {
      "main": [
        [
          {
            "node": "Shopify Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "shopify-agent-vividwalls"
  }
} 