services/n8n/agents/workflows/marketing/content_strategy_agent.json
{
  "name": "Content Strategy Agent",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o"
        },
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [-20, 100],
      "id": "cs1a2b3c-4d5e-6f7g-8h9i-0j1k2l3m4n5o",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "d6OaJCsy6QryngZX",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionKey": "={{ $json.chatId || $json.session_id || 'content_strategy_' + $now.toMillis() }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [120, 180],
      "id": "cs2b3c4d-5e6f-7g8h-9i0j-1k2l3m4n5o6p",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "cm4WrXg1MnK2sWUm",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "={{ $fromAI('tool', 'selected tool to execute') }}",
        "toolParameters": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tool_Parameters', ``, 'json') }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [400, 120],
      "id": "cs3c4d5e-6f7g-8h9i-0j1k-2l3m4n5o6p7q",
      "name": "Content Strategy MCP - Execute",
      "credentials": {
        "mcpClientApi": {
          "id": "ContentStrategyMCP123",
          "name": "Content Strategy MCP account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [260, 140],
      "id": "cs4d5e6f-7g8h-9i0j-1k2l-3m4n5o6p7q8r",
      "name": "Content Strategy MCP - List Tools",
      "credentials": {
        "mcpClientApi": {
          "id": "ContentStrategyMCP123",
          "name": "Content Strategy MCP account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "={{ $fromAI('tool', 'selected tool to execute') }}",
        "toolParameters": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tool_Parameters', ``, 'json') }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [400, 200],
      "id": "cs5e6f7g-8h9i-0j1k-2l3m-4n5o6p7q8r9s",
      "name": "SEO Research MCP - Execute",
      "credentials": {
        "mcpClientApi": {
          "id": "SEOResearchMCPClient456",
          "name": "SEO Research MCP Client account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [260, 220],
      "id": "cs6f7g8h-9i0j-1k2l-3m4n-5o6p7q8r9s0t",
      "name": "SEO Research MCP - List Tools",
      "credentials": {
        "mcpClientApi": {
          "id": "SEOResearchMCPClient456",
          "name": "SEO Research MCP Client account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "={{ $fromAI('tool', 'selected tool to execute') }}",
        "toolParameters": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tool_Parameters', ``, 'json') }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [400, 280],
      "id": "cs7g8h9i-0j1k-2l3m-4n5o-6p7q8r9s0t1u",
      "name": "Google Drive MCP - Execute",
      "credentials": {
        "mcpClientApi": {
          "id": "GoogleDriveMCPClient123",
          "name": "Google Drive MCP Client account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [260, 300],
      "id": "cs8h9i0j-1k2l-3m4n-5o6p-7q8r9s0t1u2v",
      "name": "Google Drive MCP - List Tools",
      "credentials": {
        "mcpClientApi": {
          "id": "GoogleDriveMCPClient123",
          "name": "Google Drive MCP Client account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "={{ $fromAI('tool', 'selected tool to execute') }}",
        "toolParameters": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tool_Parameters', ``, 'json') }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [400, 360],
      "id": "cs9i0j1k-2l3m-4n5o-6p7q-8r9s0t1u2v3w",
      "name": "Pinterest MCP - Execute",
      "credentials": {
        "mcpClientApi": {
          "id": "PinterestMCPClient123",
          "name": "Pinterest MCP Client account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [260, 380],
      "id": "cs0j1k2l-3m4n-5o6p-7q8r-9s0t1u2v3w4x",
      "name": "Pinterest MCP - List Tools",
      "credentials": {
        "mcpClientApi": {
          "id": "PinterestMCPClient123",
          "name": "Pinterest MCP Client account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [-400, 100],
      "id": "cs1k2l3m-4n5o-6p7q-8r9s-0t1u2v3w4x5y",
      "name": "When chat message received",
      "webhookId": "content-strategy-chat-trigger"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [820, 100],
      "id": "cs2l3m4n-5o6p-7q8r-9s0t-1u2v3w4x5y6z",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "content_type"
            },
            {
              "name": "content_parameters",
              "type": "json"
            },
            {
              "name": "target_audience",
              "type": "json"
            },
            {
              "name": "optimization_goals",
              "type": "json"
            },
            {
              "name": "priority"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [-400, -100],
      "id": "cs3m4n5o-6p7q-8r9s-0t1u-2v3w4x5y6z7a",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "options": {
          "responseMessage": "=## Content Strategy Agent\\n\\n### Strategy Status: {{ $json.status }}\\n\\n{{ $json.response }}\\n\\n#### Content Deliverables:\\n- Content Type: {{ $json.content_type }}\\n- Assets Created: {{ $json.assets_count }}\\n- SEO Score: {{ $json.seo_score }}\\n- Brand Alignment: {{ $json.brand_alignment }}%\\n\\n{{ $json.additional_info || '' }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [380, 100],
      "id": "cs4n5o6p-7q8r-9s0t-1u2v-3w4x5y6z7a8b",
      "name": "Content Strategy Agent"
    },
    {
      "parameters": {
        "path": "content-strategy-webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-400, 300],
      "id": "cs5o6p7q-8r9s-0t1u-2v3w-4x5y6z7a8b9c",
      "name": "Content Strategy Webhook",
      "webhookId": "content-strategy-webhook"
    },
    {
      "parameters": {
        "systemPromptTemplate": "# VividWalls Content Strategy Agent\\n\\nYou are the Content Strategy Agent for VividWalls, responsible for content planning, performance optimization, and ensuring strategic alignment across all channels. You report to the Marketing Director Agent and manage the Creative Execution Agent.\\n\\n## Core Responsibilities\\n\\n### Strategic Planning\\n- Develop and maintain content calendars\\n- Analyze content performance metrics\\n- Create detailed content briefs for Creative Execution Agent\\n- Conduct content audits and gap analyses\\n- Define and enforce brand voice guidelines\\n- Report content ROI to Marketing Director\\n\\n### Focus Areas\\n- Content calendar management\\n- Performance analysis and reporting\\n- SEO strategy (not execution)\\n- Brand consistency governance\\n- Content distribution planning\\n- Competitive content analysis\\n\\n## Available MCP Tools\\n\\n### Content Strategy MCP\\n- content_planning: Create and manage calendars\\n- content_audit: Analyze existing performance\\n- performance_tracking: Monitor metrics\\n- optimization_recommendations: Strategic improvements\\n- competitor_analysis: Market insights\\n\\n### SEO Research MCP\\n- keyword_research: Identify opportunities\\n- serp_analysis: Competitive insights\\n- trend_identification: Content ideas\\n\\n### Google Drive MCP\\n- create_document: Content briefs and guidelines\\n- organize_folders: Asset library management\\n- share_content: Team collaboration\\n\\n### Pinterest MCP (Analytics Only)\\n- get_analytics: Track visual content performance\\n- get_trending: Identify trending aesthetics\\n\\n## Strategic Framework\\n\\n### Planning Process\\n1. Analyze performance data\\n2. Research keywords and trends\\n3. Develop monthly calendar\\n4. Create detailed briefs\\n5. Assign to Creative Execution Agent\\n6. Monitor and iterate\\n\\n### Content Brief Elements\\n- Target audience and persona\\n- Key messages and value props\\n- SEO keywords to include\\n- Brand voice guidelines\\n- Success metrics\\n- Distribution channels\\n\\n## Performance Standards\\n- Content engagement: >4%\\n- SEO visibility growth: >15% quarterly\\n- Brand consistency: >95%\\n- Content ROI: Positive within 30 days\\n\\n## Collaboration\\n\\n### With Marketing Director\\n- Receive strategic goals\\n- Report performance metrics\\n- Align with budget allocation\\n- Provide optimization insights\\n\\n### With Creative Execution Agent\\n- Provide detailed briefs\\n- Share brand guidelines\\n- Review content alignment\\n- Give performance feedback\\n\\n## Decision Authority\\n- Content calendar approval\\n- Brand guideline updates\\n- Priority adjustments\\n- SEO strategy changes\\n- Distribution timing\\n\\nWhen planning content:\\n1. Always start with data\\n2. Focus on strategic goals\\n3. Create clear briefs\\n4. Track performance\\n5. Iterate based on results\\n\\nDo not create content directly - delegate all creation to Creative Execution Agent."
      },
      "type": "@n8n/n8n-nodes-langchain.systemMessage",
      "typeVersion": 1.1,
      "position": [180, 20],
      "id": "cs6p7q8r-9s0t-1u2v-3w4x-5y6z7a8b9c0d",
      "name": "System Message"
    },
    {
      "parameters": {
        "toolDescription": "=Access content best practices, templates, and performance data",
        "mode": "retrieve-as-tool",
        "toolName": "content_strategy_kb",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.1,
      "position": [640, 540],
      "id": "cs7q8r9s-0t1u-2v3w-4x5y-6z7a8b9c0d1e",
      "name": "Content Strategy KB",
      "credentials": {
        "postgres": {
          "id": "cm4WrXg1MnK2sWUm",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [800, 620],
      "id": "cs8r9s0t-1u2v-3w4x-5y6z-7a8b9c0d1e2f",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "d6OaJCsy6QryngZX",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 🎯 CONTENT STRATEGY AGENT\\n### Strategic Planning & Performance Optimization\\n\\n**Primary Function:**\\n- Plans content calendars\\n- Analyzes performance metrics\\n- Creates content briefs\\n- Manages Creative Execution Agent\\n\\n**Reports to:** Marketing Director\\n**Manages:** Creative Execution Agent",
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [-520, -20],
      "id": "cs-sticky-overview"
    },
    {
      "parameters": {
        "content": "## 🔧 MCP TOOL INTEGRATIONS\\n\\n**Content Strategy MCP:**\\n- content_planning\\n- content_audit\\n- performance_tracking\\n- optimization_recommendations\\n\\n**SEO Research MCP:**\\n- keyword_research\\n- content_optimization\\n- serp_analysis\\n- trend_identification",
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [540, 40],
      "id": "cs-sticky-tools"
    },
    {
      "parameters": {
        "content": "## 📊 CONTENT METRICS\\n\\n**Performance Targets:**\\n- SEO Score: 85%+\\n- Engagement: 4%+\\n- Conversion: 3.5%+\\n- Brand Alignment: 95%+\\n\\n**Key Metrics:**\\n- Organic traffic\\n- Time on page\\n- Bounce rate\\n- Content ROI",
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [960, 20],
      "id": "cs-sticky-metrics"
    },
    {
      "parameters": {
        "content": "## ✍️ CONTENT FRAMEWORK\\n\\n**Planning Process:**\\n1. Performance analysis\\n2. Keyword research\\n3. Calendar development\\n4. Brief creation\\n5. Production coordination\\n6. Optimization & publish\\n\\n**Quality Standards:**\\n- Mobile-optimized\\n- Fast loading (<3s)\\n- Clear CTAs\\n- Emotional appeal",
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [-520, 420],
      "id": "cs-sticky-framework"
    },
    {
      "parameters": {
        "content": "## 🔄 WORKFLOW TRIGGERS\\n\\n**Chat Interface:**\\n- Content strategy requests\\n- Optimization needs\\n- Performance queries\\n\\n**Workflow Execution:**\\n- New product content\\n- Campaign content\\n- SEO updates\\n\\n**Webhook:**\\n- Content audits\\n- Performance alerts",
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [-740, 180],
      "id": "cs-sticky-triggers"
    },
    {
      "parameters": {
        "content": "## 🎨 BRAND CONSISTENCY\\n\\n**Voice Guidelines:**\\n- Inspirational yet accessible\\n- Art-focused storytelling\\n- Expert but friendly\\n- Customer-centric\\n\\n**Visual Standards:**\\n- High-quality imagery\\n- Consistent formatting\\n- Brand color usage\\n- Typography rules",
        "color": 1
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [960, 400],
      "id": "cs-sticky-brand"
    },
    {
      "parameters": {
        "content": "## 🤝 AGENT COLLABORATION\\n\\n**Works With:**\\n- Marketing Director (strategy)\\n- Campaign Agent (campaigns)\\n- Email Agent (newsletters)\\n- Social Media (posts)\\n\\n**Coordinates:**\\n- Content calendars\\n- Asset creation\\n- SEO optimization\\n- Performance tracking",
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [540, 680],
      "id": "cs-sticky-collaboration"
    },
    {
      "parameters": {
        "content": "## 📚 KNOWLEDGE BASE\\n\\n**Content Strategy KB:**\\n- Best practices\\n- Content templates\\n- SEO guidelines\\n- Performance data\\n\\n**Resources:**\\n- Style guides\\n- Keyword research\\n- Competitor analysis\\n- Trend reports",
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [960, 580],
      "id": "cs-sticky-knowledge"
    },
    {
      "parameters": {
        "content": "## 🚀 CONTENT EXAMPLES\\n\\n**Product Description:**\\n- SEO-optimized title\\n- Emotional hook\\n- Feature benefits\\n- Social proof\\n- Clear CTA\\n\\n**Blog Post:**\\n- Keyword-focused\\n- 2000+ words\\n- Visual elements\\n- Internal links\\n- Meta optimized",
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [-520, 680],
      "id": "cs-sticky-examples"
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Content Strategy Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Content Strategy Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Content Strategy MCP - Execute": {
      "ai_tool": [
        [
          {
            "node": "Content Strategy Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Content Strategy MCP - List Tools": {
      "ai_tool": [
        [
          {
            "node": "Content Strategy Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SEO Research MCP - Execute": {
      "ai_tool": [
        [
          {
            "node": "Content Strategy Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SEO Research MCP - List Tools": {
      "ai_tool": [
        [
          {
            "node": "Content Strategy Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive MCP - Execute": {
      "ai_tool": [
        [
          {
            "node": "Content Strategy Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive MCP - List Tools": {
      "ai_tool": [
        [
          {
            "node": "Content Strategy Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pinterest MCP - Execute": {
      "ai_tool": [
        [
          {
            "node": "Content Strategy Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pinterest MCP - List Tools": {
      "ai_tool": [
        [
          {
            "node": "Content Strategy Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Content Strategy Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Content Strategy Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content Strategy Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content Strategy Webhook": {
      "main": [
        [
          {
            "node": "Content Strategy Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "System Message": {
      "ai_prompt": [
        [
          {
            "node": "Content Strategy Agent",
            "type": "ai_prompt",
            "index": 0
          }
        ]
      ]
    },
    "Content Strategy KB": {
      "ai_tool": [
        [
          {
            "node": "Content Strategy Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Content Strategy KB",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "8d886cbbbe7cfda2db691b67a2dadcc8c19353a4c691d51c622e4656cfd22240"
  }
}