services/n8n/agents/workflows/marketing/copy_editor_agent.json
{
  "name": "VividWalls Copy Editor Agent",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o"
        },
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [-20, 100],
      "id": "ce1a2b3c-4d5e-6f7g-8h9i-0j1k2l3m4n5o",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "d6OaJCsy6QryngZX",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionKey": "={{ $json.chatId || $json.session_id || 'copy_editor_' + $now.toMillis() }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [120, 180],
      "id": "ce2b3c4d-5e6f-7g8h-9i0j-1k2l3m4n5o6p",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "cm4WrXg1MnK2sWUm",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "={{ $fromAI('tool', 'selected tool to execute') }}",
        "toolParameters": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tool_Parameters', ``, 'json') }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [400, 120],
      "id": "ce3c4d5e-6f7g-8h9i-0j1k-2l3m4n5o6p7q",
      "name": "Google Drive MCP Client - Execute Tool",
      "credentials": {
        "mcpClientApi": {
          "id": "GoogleDriveMCPClient123",
          "name": "Google Drive MCP Client account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [260, 140],
      "id": "ce4d5e6f-7g8h-9i0j-1k2l-3m4n5o6p7q8r",
      "name": "Google Drive MCP Client - List Tools",
      "credentials": {
        "mcpClientApi": {
          "id": "GoogleDriveMCPClient123",
          "name": "Google Drive MCP Client account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "={{ $fromAI('tool', 'selected tool to execute') }}",
        "toolParameters": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tool_Parameters', ``, 'json') }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [400, 200],
      "id": "ce5e6f7g-8h9i-0j1k-2l3m-4n5o6p7q8r9s",
      "name": "WordPress MCP Client - Execute Tool",
      "credentials": {
        "mcpClientApi": {
          "id": "WordPressMCPClient012",
          "name": "WordPress MCP Client account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [260, 220],
      "id": "ce6f7g8h-9i0j-1k2l-3m4n-5o6p7q8r9s0t",
      "name": "WordPress MCP Client - List Tools",
      "credentials": {
        "mcpClientApi": {
          "id": "WordPressMCPClient012",
          "name": "WordPress MCP Client account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "={{ $fromAI('tool', 'selected tool to execute') }}",
        "toolParameters": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tool_Parameters', ``, 'json') }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [400, 280],
      "id": "ce7g8h9i-0j1k-2l3m-4n5o-6p7q8r9s0t1u",
      "name": "SEO Research MCP Client - Execute Tool",
      "credentials": {
        "mcpClientApi": {
          "id": "SEOResearchMCPClient456",
          "name": "SEO Research MCP Client account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [260, 300],
      "id": "ce8h9i0j-1k2l-3m4n-5o6p-7q8r9s0t1u2v",
      "name": "SEO Research MCP Client - List Tools",
      "credentials": {
        "mcpClientApi": {
          "id": "SEOResearchMCPClient456",
          "name": "SEO Research MCP Client account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "={{ $fromAI('tool', 'selected tool to execute') }}",
        "toolParameters": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tool_Parameters', ``, 'json') }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [400, 360],
      "id": "ce9i0j1k-2l3m-4n5o-6p7q-8r9s0t1u2v3w",
      "name": "Shopify MCP Client - Execute Tool",
      "credentials": {
        "mcpClientApi": {
          "id": "ShopifyMCPClient789",
          "name": "Shopify MCP Client account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [260, 380],
      "id": "ce0j1k2l-3m4n-5o6p-7q8r-9s0t1u2v3w4x",
      "name": "Shopify MCP Client - List Tools",
      "credentials": {
        "mcpClientApi": {
          "id": "ShopifyMCPClient789",
          "name": "Shopify MCP Client account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "={{ $fromAI('tool', 'selected tool to execute') }}",
        "toolParameters": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tool_Parameters', ``, 'json') }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [400, 440],
      "id": "ce1k2l3m-4n5o-6p7q-8r9s-0t1u2v3w4x5y",
      "name": "Supabase MCP Client - Execute Tool",
      "credentials": {
        "mcpClientApi": {
          "id": "SupabaseMCPClient345",
          "name": "Supabase MCP Client account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [260, 460],
      "id": "ce2l3m4n-5o6p-7q8r-9s0t-1u2v3w4x5y6z",
      "name": "Supabase MCP Client - List Tools",
      "credentials": {
        "mcpClientApi": {
          "id": "SupabaseMCPClient345",
          "name": "Supabase MCP Client account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [-180, -240],
      "id": "ce3m4n5o-6p7q-8r9s-0t1u-2v3w4x5y6z7a",
      "name": "When chat message received",
      "webhookId": "copy-editor-chat-trigger"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [680, -200],
      "id": "ce4n5o6p-7q8r-9s0t-1u2v-3w4x5y6z7a8b",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "content_type",
              "type": "string"
            },
            {
              "name": "content",
              "type": "string"
            },
            {
              "name": "target_keywords",
              "type": "json"
            },
            {
              "name": "brand_guidelines",
              "type": "json"
            },
            {
              "name": "editing_focus",
              "type": "string"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [-180, -440],
      "id": "ce5o6p7q-8r9s-0t1u-2v3w-4x5y6z7a8b9c",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "systemPromptTemplate": "# Copy Editor Agent System Prompt\n\n## Role & Purpose\nYou are the Copy Editor Agent for VividWalls, responsible for refining and perfecting all marketing content to ensure clarity, consistency, and conversion optimization. You polish raw copy into compelling content that maintains brand voice while maximizing SEO performance and readability.\n\n## Core Responsibilities\n1. **Content Refinement**: Edit for clarity, flow, and engagement\n2. **Brand Voice Consistency**: Ensure all content aligns with VividWalls' tone\n3. **SEO Optimization**: Balance keyword integration with natural readability\n4. **Grammar & Style**: Apply professional editing standards\n5. **Conversion Optimization**: Enhance CTAs and persuasive elements\n\n## Available MCP Tools & Functions\n\n### 📝 Google Drive MCP Tools\n- `get_document`: Retrieve content for editing\n- `update_document`: Save edited versions\n- `add_comments`: Provide revision notes\n- `track_changes`: Monitor content versions\n- `share_document`: Collaborate with writers\n\n### 📰 WordPress MCP Tools\n- `update_post`: Edit published content\n- `get_post`: Review existing content\n- `preview_changes`: Test edited content\n- `schedule_updates`: Plan content revisions\n\n### 🔍 SEO Research MCP Tools\n- `check_keyword_density`: Analyze keyword usage\n- `readability_score`: Assess content clarity\n- `serp_preview`: Preview search results\n- `competitor_content`: Compare content quality\n\n### 🛒 Shopify MCP Tools\n- `update_product_description`: Edit product copy\n- `update_collection`: Refine collection descriptions\n- `update_meta_tags`: Optimize SEO elements\n- `preview_changes`: Test product page edits\n\n### 🗄️ Supabase MCP Tools\n- `update_content`: Store edited versions\n- `track_revisions`: Monitor edit history\n- `get_style_guide`: Access brand guidelines\n- `log_changes`: Document editing decisions\n\n## Editorial Framework\n\n### VividWalls Brand Voice Guidelines\n\n#### Voice Attributes\n- **Approachable**: Friendly without being casual\n- **Knowledgeable**: Expert without being condescending\n- **Inspiring**: Motivational without being pushy\n- **Inclusive**: Welcoming to all art appreciation levels\n- **Sophisticated**: Refined without being pretentious\n\n#### Tone Variations by Content Type\n1. **Product Descriptions**: Descriptive, evocative, benefit-focused\n2. **Email Campaigns**: Personal, conversational, action-oriented\n3. **Blog Posts**: Informative, engaging, educational\n4. **Social Media**: Casual, visual, community-focused\n5. **Landing Pages**: Persuasive, clear, conversion-focused\n\n### Editorial Standards\n\n#### Grammar & Mechanics\n- **Style Guide**: AP Style with modifications\n- **Oxford Comma**: Yes, always\n- **Numbers**: Spell out one through nine\n- **Percentages**: Use numerals (25% off)\n- **Titles**: Capitalize major words\n\n#### SEO Optimization Rules\n1. **Keyword Integration**\n   - Primary keyword in first 100 words\n   - Natural placement throughout\n   - Keyword density: 1-2%\n   - Use semantic variations\n   - Avoid keyword stuffing\n\n2. **Readability Standards**\n   - Flesch Reading Ease: 60-70\n   - Sentence length: 15-20 words average\n   - Paragraph length: 2-3 sentences\n   - Active voice: 80%+ of sentences\n   - Transition words: 30%+ of sentences\n\n3. **Structure Requirements**\n   - Clear hierarchy with H2, H3 tags\n   - Bullet points for scanability\n   - Short paragraphs for mobile\n   - Compelling meta descriptions\n   - Optimized title tags\n\n### Content Editing Process\n\n#### Phase 1: Structural Edit\n1. **Content Flow**\n   - Logical progression of ideas\n   - Strong opening hook\n   - Clear value proposition\n   - Compelling conclusion\n\n2. **Information Architecture**\n   - Proper heading hierarchy\n   - Balanced section lengths\n   - Strategic CTA placement\n   - Visual break points\n\n#### Phase 2: Line Edit\n1. **Clarity Enhancement**\n   - Simplify complex sentences\n   - Remove redundancies\n   - Clarify ambiguous phrases\n   - Strengthen weak verbs\n\n2. **Engagement Optimization**\n   - Add sensory details\n   - Include storytelling elements\n   - Create emotional connections\n   - Enhance benefit statements\n\n#### Phase 3: Copy Edit\n1. **Technical Accuracy**\n   - Grammar and punctuation\n   - Spelling and typos\n   - Consistency in terminology\n   - Fact verification\n\n2. **Brand Compliance**\n   - Voice and tone alignment\n   - Approved terminology\n   - Legal compliance\n   - Style guide adherence\n\n#### Phase 4: SEO Polish\n1. **Keyword Optimization**\n   - Natural integration check\n   - Density analysis\n   - Semantic keyword addition\n   - Alt text optimization\n\n2. **Technical SEO**\n   - Meta description (155 chars)\n   - Title tag (60 chars)\n   - URL structure\n   - Internal linking\n\n### Content Type Templates\n\n#### Product Description Formula\n```\n[Evocative Opening] - Set the scene\n[Key Features] - What makes it special\n[Emotional Benefits] - How it transforms spaces\n[Practical Details] - Size, materials, care\n[Social Proof] - Reviews or testimonials\n[Clear CTA] - Add to cart encouragement\n```\n\n#### Email Subject Line Patterns\n- **Curiosity**: \"The secret to [desired outcome]...\"\n- **Urgency**: \"Last 24 hours: [benefit]\"\n- **Personalization**: \"[Name], your perfect [product] awaits\"\n- **Value**: \"Save 30% on [specific collection]\"\n- **Exclusivity**: \"VIP early access: [new collection]\"\n\n#### Blog Post Structure\n1. **Hook** (50-100 words)\n2. **Problem/Need** (100-150 words)\n3. **Solution Overview** (150-200 words)\n4. **Detailed Tips** (400-600 words)\n5. **Product Integration** (100-150 words)\n6. **Conclusion & CTA** (50-100 words)\n\n## Editing Checklists\n\n### Quick Edit Checklist\n- [ ] Grammar and spelling correct\n- [ ] Brand voice consistent\n- [ ] Keywords naturally integrated\n- [ ] CTAs clear and compelling\n- [ ] Mobile-friendly formatting\n\n### Comprehensive Edit Checklist\n- [ ] **Opening**: Hooks reader within 3 seconds\n- [ ] **Structure**: Logical flow and progression\n- [ ] **Clarity**: No ambiguous statements\n- [ ] **Engagement**: Emotional connection points\n- [ ] **SEO**: Keywords and meta optimized\n- [ ] **Proof**: Facts and claims verified\n- [ ] **Legal**: FTC compliance for claims\n- [ ] **Accessibility**: Alt text and readability\n- [ ] **CTAs**: Action-oriented and specific\n- [ ] **Testing**: Links and formatting checked\n\n### Conversion Optimization Elements\n\n#### Power Words by Category\n**Emotional**: Transform, Stunning, Breathtaking, Captivating\n**Urgency**: Limited, Exclusive, Today, Now\n**Value**: Free, Save, Bonus, Guaranteed\n**Trust**: Proven, Authentic, Handcrafted, Original\n\n#### CTA Optimization\n**Weak**: \"Click here\" → **Strong**: \"Transform Your Space Today\"\n**Weak**: \"Learn more\" → **Strong**: \"Discover Your Perfect Art Style\"\n**Weak**: \"Shop now\" → **Strong**: \"Claim Your 20% Discount\"\n\n## Common Issues & Solutions\n\n### Issue: Keyword Stuffing\n**Problem**: \"Modern abstract wall art modern prints modern decor\"\n**Solution**: \"Modern abstract wall art that transforms contemporary spaces with bold prints and sophisticated decor\"\n\n### Issue: Passive Voice\n**Problem**: \"Your order will be processed by our team\"\n**Solution**: \"Our team processes your order within 24 hours\"\n\n### Issue: Weak Headlines\n**Problem**: \"New Products Available\"\n**Solution**: \"Just Launched: 2024's Most Coveted Art Collection\"\n\n### Issue: Generic Descriptions\n**Problem**: \"This is a nice piece of art\"\n**Solution**: \"This striking canvas commands attention with its bold geometric patterns and rich color palette\"\n\n## Output Format\n\n### Edited Content Delivery\n```markdown\n# Edited Content: [TITLE]\n\n## Edit Summary\n- **Original Word Count**: [NUMBER]\n- **Edited Word Count**: [NUMBER]\n- **Readability Score**: [SCORE]\n- **SEO Score**: [SCORE]\n- **Major Changes**: [BRIEF LIST]\n\n## Edited Content\n[FULL EDITED CONTENT WITH TRACK CHANGES]\n\n## Editorial Notes\n### Structural Changes\n- [List of major reorganizations]\n\n### Style Improvements\n- [List of voice/tone adjustments]\n\n### SEO Enhancements\n- [List of keyword optimizations]\n\n### Remaining Concerns\n- [Any issues requiring writer attention]\n\n## Revision Checklist\n- [x] Grammar & Spelling\n- [x] Brand Voice\n- [x] SEO Optimization\n- [x] Fact Checking\n- [x] Legal Compliance\n- [ ] Final Approval Needed\n```\n\n## Integration with Other Agents\n\n### Copy Writer Agent\n- Receive raw content for editing\n- Provide revision feedback\n- Collaborate on rewrites\n\n### Newsletter Writer Agent\n- Edit email campaigns\n- Optimize subject lines\n- Polish preview text\n\n### Keyword Agent\n- Get keyword targets\n- Verify optimal density\n- Request semantic variations\n\n### Marketing Campaign Agent\n- Ensure campaign consistency\n- Align with campaign messaging\n- Optimize for campaign goals\n\n## Performance Metrics\n\n### Quality KPIs\n- **Readability Score**: Target 60-70\n- **Grammar Score**: 95%+ accuracy\n- **Brand Voice Score**: 90%+ consistency\n- **SEO Score**: 85%+ optimization\n- **Revision Rounds**: Average <2\n\n### Efficiency KPIs\n- **Edit Time**: <30 min per 1000 words\n- **Error Rate**: <2% post-edit\n- **Client Satisfaction**: 95%+\n- **Content Performance**: 20%+ engagement lift\n\n## Best Practices\n\n### Editing Philosophy\n1. **Preserve Voice**: Enhance, don't replace the writer's voice\n2. **Reader First**: Always prioritize user experience\n3. **Purpose Driven**: Every edit should serve the content goal\n4. **Data Informed**: Use performance data to guide decisions\n5. **Collaborative**: Work with writers, not against them\n\n### Professional Standards\n1. Track all changes for transparency\n2. Provide constructive feedback\n3. Respect deadlines\n4. Maintain confidentiality\n5. Continuous improvement mindset",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [200, -200],
      "id": "ce6p7q8r-9s0t-1u2v-3w4x-5y6z7a8b9c0d",
      "name": "Copy Editor Agent"
    },
    {
      "parameters": {
        "path": "copy-editor-webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-180, -60],
      "id": "ce7q8r9s-0t1u-2v3w-4x5y-6z7a8b9c0d1e",
      "name": "Copy Editor Webhook",
      "webhookId": "copy-editor-webhook"
    },
    {
      "parameters": {
        "description": "Call Copy Writer Agent for content creation",
        "workflowId": {
          "__rl": true,
          "value": "CopyWriterAgentWorkflowId",
          "mode": "list",
          "cachedResultName": "Copy Writer Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "task_type": "={{ $fromAI('task_type', 'content creation task') }}",
            "content_brief": "={{ $fromAI('content_brief', 'content requirements') }}",
            "target_keywords": "={{ $fromAI('target_keywords', 'SEO keywords') }}",
            "requesting_agent": "copy_editor"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [540, 120],
      "id": "ce8r9s0t-1u2v-3w4x-5y6z-7a8b9c0d1e2f",
      "name": "Copy Writer Agent Tool"
    },
    {
      "parameters": {
        "description": "Check content readability and SEO scores",
        "workflowId": {
          "__rl": true,
          "value": "ContentAnalyzerWorkflowId",
          "mode": "list",
          "cachedResultName": "Content Analyzer"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "content": "={{ $fromAI('content', 'content to analyze') }}",
            "analysis_type": "={{ $fromAI('analysis_type', 'readability or SEO analysis') }}",
            "target_keywords": "={{ $fromAI('target_keywords', 'keywords to check') }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [540, 200],
      "id": "ce9s0t1u-2v3w-4x5y-6z7a-8b9c0d1e2f3g",
      "name": "Content Analyzer Tool"
    },
    {
      "parameters": {
        "description": "Generate content improvement suggestions",
        "workflowId": {
          "__rl": true,
          "value": "ContentOptimizerWorkflowId",
          "mode": "list",
          "cachedResultName": "Content Optimizer"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "content": "={{ $fromAI('content', 'content to optimize') }}",
            "optimization_goals": "={{ $fromAI('optimization_goals', 'conversion, SEO, or readability') }}",
            "target_audience": "={{ $fromAI('target_audience', 'audience demographics') }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [540, 280],
      "id": "ce0t1u2v-3w4x-5y6z-7a8b-9c0d1e2f3g4h",
      "name": "Content Optimizer Tool"
    },
    {
      "parameters": {
        "collection": "vividwalls_editorial_guidelines",
        "options": {
          "limit": 20,
          "similarityThreshold": 0.85
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePostgres",
      "typeVersion": 1,
      "position": [120, 300],
      "id": "ce1u2v3w-4x5y-6z7a-8b9c-0d1e2f3g4h5i",
      "name": "Editorial Guidelines Knowledge Base",
      "credentials": {
        "postgres": {
          "id": "cm4WrXg1MnK2sWUm",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Copy Editor Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Copy Editor Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive MCP Client - Execute Tool": {
      "ai_tool": [
        [
          {
            "node": "Copy Editor Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive MCP Client - List Tools": {
      "ai_tool": [
        [
          {
            "node": "Copy Editor Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "WordPress MCP Client - Execute Tool": {
      "ai_tool": [
        [
          {
            "node": "Copy Editor Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "WordPress MCP Client - List Tools": {
      "ai_tool": [
        [
          {
            "node": "Copy Editor Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SEO Research MCP Client - Execute Tool": {
      "ai_tool": [
        [
          {
            "node": "Copy Editor Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SEO Research MCP Client - List Tools": {
      "ai_tool": [
        [
          {
            "node": "Copy Editor Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Shopify MCP Client - Execute Tool": {
      "ai_tool": [
        [
          {
            "node": "Copy Editor Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Shopify MCP Client - List Tools": {
      "ai_tool": [
        [
          {
            "node": "Copy Editor Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase MCP Client - Execute Tool": {
      "ai_tool": [
        [
          {
            "node": "Copy Editor Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase MCP Client - List Tools": {
      "ai_tool": [
        [
          {
            "node": "Copy Editor Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Copy Writer Agent Tool": {
      "ai_tool": [
        [
          {
            "node": "Copy Editor Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Content Analyzer Tool": {
      "ai_tool": [
        [
          {
            "node": "Copy Editor Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Content Optimizer Tool": {
      "ai_tool": [
        [
          {
            "node": "Copy Editor Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Editorial Guidelines Knowledge Base": {
      "ai_vectorStore": [
        [
          {
            "node": "Copy Editor Agent",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Copy Editor Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Copy Editor Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy Editor Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy Editor Webhook": {
      "main": [
        [
          {
            "node": "Copy Editor Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "stickyNotes": [
    {
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-600, -700],
      "parameters": {
        "content": "# ✏️ Copy Editor Agent\n\n## Purpose\nRefines and perfects all marketing content for VividWalls, ensuring clarity, consistency, and conversion optimization while maintaining brand voice.\n\n## Core Functions\n- **Content Refinement & Polish**\n- **Brand Voice Consistency**\n- **SEO Optimization Balance**\n- **Grammar & Style Perfection**\n- **Conversion Enhancement**\n\n## Quality Standards\n- Readability Score: 60-70\n- Grammar Accuracy: 95%+\n- Brand Consistency: 90%+\n- SEO Optimization: 85%+",
        "height": 360,
        "width": 420,
        "color": 7
      }
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-600, -300],
      "parameters": {
        "content": "## 🧠 Memory & Knowledge\n\n### PostgreSQL Chat Memory\n- **Session**: `copy_editor_[timestamp]`\n- **Context**: Edit history + style decisions\n- **Temperature**: 0.3 (consistency)\n\n### Editorial Knowledge Base\n- **Collection**: `vividwalls_editorial_guidelines`\n- **Content**: Style guide, brand voice\n- **Similarity**: 0.85 threshold\n- **Results**: 20 max\n\n### Data Tracking\n- Edit patterns\n- Common corrections\n- Style preferences",
        "height": 340,
        "width": 380,
        "color": 4
      }
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-600, 80],
      "parameters": {
        "content": "## 📥 Input Variables\n\n### Required\n- `content_type`: Type of content\n- `content`: Raw content to edit\n\n### Optional\n- `target_keywords`: SEO keywords (JSON)\n- `brand_guidelines`: Specific rules (JSON)\n- `editing_focus`: Priority areas\n\n### From Writers\n- Copy Writer: Raw creative content\n- Newsletter Writer: Email campaigns\n- Content creators: Various content",
        "height": 320,
        "width": 380,
        "color": 5
      }
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [540, -700],
      "parameters": {
        "content": "## 🔧 Document Management\n\n### Google Drive MCP\n- **Functions**: get/update documents\n- **Purpose**: Collaborative editing\n- **Features**: Track changes, comments\n- **Credentials**: GoogleDriveMCPClient123\n\n### WordPress MCP\n- **Functions**: Update published content\n- **Purpose**: Live content editing\n- **Features**: Preview, schedule\n- **Credentials**: WordPressMCPClient012",
        "height": 320,
        "width": 400,
        "color": 6
      }
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [540, -340],
      "parameters": {
        "content": "## 🔧 Optimization Tools\n\n### SEO Research MCP\n- **Functions**: Keyword density, readability\n- **Analysis**: SERP preview, optimization\n- **Credentials**: SEOResearchMCPClient456\n\n### Shopify MCP\n- **Functions**: Product description editing\n- **Purpose**: E-commerce optimization\n- **Credentials**: ShopifyMCPClient789\n\n### Supabase MCP\n- **Functions**: Store edited versions\n- **Purpose**: Revision tracking\n- **Credentials**: SupabaseMCPClient345",
        "height": 340,
        "width": 400,
        "color": 6
      }
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [540, 40],
      "parameters": {
        "content": "## 🔗 Agent Collaboration\n\n### Works With:\n- **Copy Writer**: Content refinement\n- **Newsletter Writer**: Email polish\n- **Keyword Agent**: SEO integration\n- **Campaign Agent**: Message consistency\n\n### Workflow Tools:\n- Copy Writer Agent Tool\n- Content Analyzer Tool\n- Content Optimizer Tool\n\n### Output To:\n- Marketing Director\n- Content publishers\n- Campaign managers",
        "height": 340,
        "width": 380,
        "color": 3
      }
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [540, 420],
      "parameters": {
        "content": "## ⚡ Trigger Conditions\n\n### 1. Chat Message\n- **Webhook**: `copy-editor-chat-trigger`\n- **Purpose**: Interactive editing\n\n### 2. Workflow Execution\n- **Called by**: Content creators\n- **Returns**: Edited content + notes\n\n### 3. Direct Webhook\n- **Path**: `/copy-editor-webhook`\n- **Method**: POST\n\n### Process\n1. Receive content\n2. Apply edits\n3. Return with feedback",
        "height": 340,
        "width": 380,
        "color": 2
      }
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [980, -700],
      "parameters": {
        "content": "## 🎯 Editorial Process\n\n### Phase 1: Structural Edit\n- Content flow & logic\n- Information architecture\n- CTA placement\n- Visual breaks\n\n### Phase 2: Line Edit\n- Clarity enhancement\n- Engagement optimization\n- Benefit statements\n- Active voice\n\n### Phase 3: Copy Edit\n- Grammar & punctuation\n- Brand compliance\n- Consistency checks\n\n### Phase 4: SEO Polish\n- Keyword integration\n- Meta optimization\n- Internal linking",
        "height": 400,
        "width": 380,
        "color": 1
      }
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [980, -260],
      "parameters": {
        "content": "## 🎨 Brand Voice Guide\n\n### VividWalls Voice\n- **Approachable**: Friendly, not casual\n- **Knowledgeable**: Expert, not condescending\n- **Inspiring**: Motivational, not pushy\n- **Inclusive**: Welcoming to all\n- **Sophisticated**: Refined, not pretentious\n\n### Tone by Content\n- **Products**: Evocative, benefit-focused\n- **Email**: Personal, conversational\n- **Blog**: Informative, engaging\n- **Social**: Casual, community\n- **Landing**: Persuasive, clear",
        "height": 360,
        "width": 380,
        "color": 7
      }
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [980, 140],
      "parameters": {
        "content": "## 📝 Output Format\n\n### Edit Delivery\n```markdown\n# Edited: [TITLE]\n\n## Summary\n- Original: [words]\n- Edited: [words]\n- Readability: [score]\n- SEO: [score]\n\n## Edited Content\n[Track changes version]\n\n## Editorial Notes\n- Structural: [changes]\n- Style: [improvements]\n- SEO: [optimizations]\n\n## Checklist\n✓ Grammar\n✓ Brand Voice\n✓ SEO\n```",
        "height": 380,
        "width": 380,
        "color": 5
      }
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1400, -700],
      "parameters": {
        "content": "## 🎆 Power Optimizations\n\n### Conversion Elements\n**Emotional**: Transform, Stunning\n**Urgency**: Limited, Exclusive\n**Value**: Free, Save, Bonus\n**Trust**: Proven, Authentic\n\n### CTA Enhancement\nWeak → Strong:\n- \"Click here\" → \"Transform Your Space\"\n- \"Learn more\" → \"Discover Your Style\"\n- \"Shop now\" → \"Claim 20% Discount\"\n\n### SEO Balance\n- Primary keyword: First 100 words\n- Density: 1-2%\n- Natural placement\n- Semantic variations",
        "height": 400,
        "width": 380,
        "color": 6
      }
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1400, -260],
      "parameters": {
        "content": "## 📏 Editorial Standards\n\n### Grammar Rules\n- AP Style (modified)\n- Oxford comma: Always\n- Numbers: Spell 1-9\n- Percentages: Numerals\n\n### Readability\n- Flesch Score: 60-70\n- Sentences: 15-20 words\n- Paragraphs: 2-3 sentences\n- Active voice: 80%+\n- Transitions: 30%+\n\n### Structure\n- Clear H2/H3 hierarchy\n- Bullet points for scanning\n- Mobile-friendly breaks\n- Compelling meta (155 char)",
        "height": 380,
        "width": 380,
        "color": 4
      }
    }
  ],
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "copy-editor-agent-vividwalls"
  }
}