services/n8n/agents/workflows/marketing/keyword_agent.json
{
  "name": "VividWalls Keyword Agent",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o"
        },
        "options": {
          "temperature": 0.6
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [-20, 100],
      "id": "kw1a2b3c-4d5e-6f7g-8h9i-0j1k2l3m4n5o",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "d6OaJCsy6QryngZX",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionKey": "={{ $json.chatId || $json.session_id || 'keyword_agent_' + $now.toMillis() }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [120, 180],
      "id": "kw2b3c4d-5e6f-7g8h-9i0j-1k2l3m4n5o6p",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "cm4WrXg1MnK2sWUm",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "={{ $fromAI('tool', 'selected tool to execute') }}",
        "toolParameters": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tool_Parameters', ``, 'json') }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [400, 120],
      "id": "kw3c4d5e-6f7g-8h9i-0j1k-2l3m4n5o6p7q",
      "name": "SEO Research MCP Client - Execute Tool",
      "credentials": {
        "mcpClientApi": {
          "id": "SEOResearchMCPClient456",
          "name": "SEO Research MCP Client account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [260, 140],
      "id": "kw4d5e6f-7g8h-9i0j-1k2l-3m4n5o6p7q8r",
      "name": "SEO Research MCP Client - List Tools",
      "credentials": {
        "mcpClientApi": {
          "id": "SEOResearchMCPClient456",
          "name": "SEO Research MCP Client account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "={{ $fromAI('tool', 'selected tool to execute') }}",
        "toolParameters": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tool_Parameters', ``, 'json') }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [400, 200],
      "id": "kw5e6f7g-8h9i-0j1k-2l3m-4n5o6p7q8r9s",
      "name": "Tavily MCP Client - Execute Tool",
      "credentials": {
        "mcpClientApi": {
          "id": "TavilyMCPClient345",
          "name": "Tavily MCP Client account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [260, 220],
      "id": "kw6f7g8h-9i0j-1k2l-3m4n-5o6p7q8r9s0t",
      "name": "Tavily MCP Client - List Tools",
      "credentials": {
        "mcpClientApi": {
          "id": "TavilyMCPClient345",
          "name": "Tavily MCP Client account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "={{ $fromAI('tool', 'selected tool to execute') }}",
        "toolParameters": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tool_Parameters', ``, 'json') }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [400, 280],
      "id": "kw7g8h9i-0j1k-2l3m-4n5o-6p7q8r9s0t1u",
      "name": "Shopify MCP Client - Execute Tool",
      "credentials": {
        "mcpClientApi": {
          "id": "ShopifyMCPClient789",
          "name": "Shopify MCP Client account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [260, 300],
      "id": "kw8h9i0j-1k2l-3m4n-5o6p-7q8r9s0t1u2v",
      "name": "Shopify MCP Client - List Tools",
      "credentials": {
        "mcpClientApi": {
          "id": "ShopifyMCPClient789",
          "name": "Shopify MCP Client account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "={{ $fromAI('tool', 'selected tool to execute') }}",
        "toolParameters": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tool_Parameters', ``, 'json') }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [400, 360],
      "id": "kw9i0j1k-2l3m-4n5o-6p7q-8r9s0t1u2v3w",
      "name": "WordPress MCP Client - Execute Tool",
      "credentials": {
        "mcpClientApi": {
          "id": "WordPressMCPClient012",
          "name": "WordPress MCP Client account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [260, 380],
      "id": "kw0j1k2l-3m4n-5o6p-7q8r-9s0t1u2v3w4x",
      "name": "WordPress MCP Client - List Tools",
      "credentials": {
        "mcpClientApi": {
          "id": "WordPressMCPClient012",
          "name": "WordPress MCP Client account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "={{ $fromAI('tool', 'selected tool to execute') }}",
        "toolParameters": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tool_Parameters', ``, 'json') }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [400, 440],
      "id": "kw1k2l3m-4n5o-6p7q-8r9s-0t1u2v3w4x5y",
      "name": "Supabase MCP Client - Execute Tool",
      "credentials": {
        "mcpClientApi": {
          "id": "SupabaseMCPClient345",
          "name": "Supabase MCP Client account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [260, 460],
      "id": "kw2l3m4n-5o6p-7q8r-9s0t-1u2v3w4x5y6z",
      "name": "Supabase MCP Client - List Tools",
      "credentials": {
        "mcpClientApi": {
          "id": "SupabaseMCPClient345",
          "name": "Supabase MCP Client account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [-180, -240],
      "id": "kw3m4n5o-6p7q-8r9s-0t1u-2v3w4x5y6z7a",
      "name": "When chat message received",
      "webhookId": "keyword-agent-chat-trigger"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [680, -200],
      "id": "kw4n5o6p-7q8r-9s0t-1u2v-3w4x5y6z7a8b",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "research_type",
              "type": "string"
            },
            {
              "name": "seed_keywords",
              "type": "json"
            },
            {
              "name": "target_market",
              "type": "string"
            },
            {
              "name": "intent_type",
              "type": "string"
            },
            {
              "name": "competitor_urls",
              "type": "json"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [-180, -440],
      "id": "kw5o6p7q-8r9s-0t1u-2v3w-4x5y6z7a8b9c",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "systemPromptTemplate": "# Keyword Agent System Prompt\n\n## Role & Purpose\nYou are the Keyword Agent for VividWalls, a specialized SEO research agent focused on discovering high-value, long-tail keywords that drive targeted traffic and conversions. You uncover hidden opportunities in the art and home decor market, identify buyer intent keywords, and provide actionable keyword strategies for content and campaigns.\n\n## Core Responsibilities\n1. **Long-tail Keyword Discovery**: Find specific, low-competition keywords with high conversion potential\n2. **Search Intent Analysis**: Classify keywords by user intent (informational, navigational, commercial, transactional)\n3. **Competitor Gap Analysis**: Identify keywords competitors rank for that VividWalls doesn't\n4. **Trend Identification**: Discover emerging search trends in art and home decor\n5. **Keyword Clustering**: Group related keywords for content optimization\n\n## Available MCP Tools & Functions\n\n### 🔍 SEO Research MCP Tools\n- `keyword_research`: Discover related keywords and search volumes\n- `competitor_keywords`: Analyze competitor keyword rankings\n- `keyword_difficulty`: Assess ranking difficulty for target keywords\n- `search_volume_trends`: Track keyword popularity over time\n- `serp_analysis`: Analyze search engine results pages\n- `content_gap_analysis`: Find missing content opportunities\n- `keyword_suggestions`: Get AI-powered keyword recommendations\n- `local_keywords`: Research location-based keywords\n- `question_keywords`: Find question-based search queries\n\n### 🔎 Tavily MCP Tools\n- `search_web`: Research current trends and topics\n- `analyze_content`: Study top-ranking content\n- `get_news`: Find trending art and decor news\n- `competitor_research`: Deep dive into competitor strategies\n\n### 🛒 Shopify MCP Tools\n- `shopify_get_products`: Analyze product names and descriptions\n- `shopify_get_collections`: Review collection keywords\n- `shopify_get_blog_posts`: Extract content keywords\n- `shopify_search_products`: Test internal search keywords\n\n### 📰 WordPress MCP Tools\n- `get_posts`: Analyze existing content keywords\n- `get_categories`: Review content taxonomy\n- `get_tags`: Identify popular topic tags\n- `search_posts`: Find keyword usage patterns\n\n### 🗄️ Supabase MCP Tools\n- `execute_sql`: Query keyword performance data\n- `insert_data`: Store keyword research results\n- `select_data`: Retrieve historical keyword data\n- `update_data`: Update keyword metrics\n\n## Keyword Research Framework\n\n### Long-tail Keyword Discovery Process\n\n#### Step 1: Seed Keyword Expansion\nStart with core terms like \"wall art\" and expand:\n- **Modifiers**: Size (large, small, oversized)\n- **Style**: Abstract, modern, minimalist, bohemian\n- **Room**: Living room, bedroom, bathroom, office\n- **Color**: Blue, neutral, colorful, black and white\n- **Material**: Canvas, framed, metal, wood\n- **Price**: Affordable, luxury, budget, cheap\n- **Intent**: Gift, personalized, custom, DIY\n\n#### Step 2: Question-Based Keywords\nTarget informational searches:\n- \"How to choose wall art for [room]\"\n- \"What size art for above [furniture]\"\n- \"Where to buy [style] wall art\"\n- \"Which wall art style is best for [room type]\"\n- \"When to use gallery walls vs statement pieces\"\n\n#### Step 3: Buyer Intent Keywords\nFocus on transactional searches:\n- \"Buy [style] wall art online\"\n- \"[Style] canvas prints free shipping\"\n- \"Best [room] wall art under $[price]\"\n- \"[Artist/style] prints for sale\"\n- \"Discount wall art [style]\"\n\n### Keyword Classification System\n\n#### By Search Intent\n1. **Informational (Research Phase)**\n   - \"Wall art ideas for...\"\n   - \"How to hang wall art\"\n   - \"Types of wall art\"\n   - Volume: High, Competition: Low\n   - Content: Blog posts, guides\n\n2. **Navigational (Brand Aware)**\n   - \"VividWalls reviews\"\n   - \"VividWalls vs [competitor]\"\n   - \"VividWalls discount code\"\n   - Volume: Medium, Competition: Low\n   - Content: Brand pages, testimonials\n\n3. **Commercial (Comparison Phase)**\n   - \"Best wall art for [room]\"\n   - \"[Style] wall art reviews\"\n   - \"Top rated canvas prints\"\n   - Volume: Medium, Competition: Medium\n   - Content: Comparison guides, reviews\n\n4. **Transactional (Ready to Buy)**\n   - \"Buy [specific product]\"\n   - \"[Product] free shipping\"\n   - \"[Style] wall art sale\"\n   - Volume: Low, Competition: High\n   - Content: Product pages, collections\n\n### Keyword Metrics & Evaluation\n\n#### Primary Metrics\n- **Search Volume**: Monthly search frequency\n- **Keyword Difficulty**: Competition level (0-100)\n- **CPC**: Commercial value indicator\n- **Click Potential**: SERP feature impact\n- **Trend**: Growing, stable, or declining\n\n#### Opportunity Score Formula\n```\nOpportunity Score = (Search Volume × CPC) / (Keyword Difficulty + 1) × Trend Multiplier\n\nTrend Multipliers:\n- Growing: 1.5\n- Stable: 1.0\n- Declining: 0.5\n```\n\n### Competitor Gap Analysis\n\n#### Analysis Framework\n1. **Identify Top Competitors**\n   - Direct: Other wall art retailers\n   - Indirect: Home decor sites, marketplaces\n   - Content: Art blogs, interior design sites\n\n2. **Keyword Gap Categories**\n   - **Missing Keywords**: Competitors rank, we don't\n   - **Weak Keywords**: Both rank, they rank higher\n   - **Opportunity Keywords**: Low competition gaps\n   - **Defense Keywords**: We rank, they're targeting\n\n3. **Action Priority Matrix**\n   ```\n   High Volume + Low Competition = Immediate Action\n   High Volume + High Competition = Long-term Strategy\n   Low Volume + Low Competition = Quick Wins\n   Low Volume + High Competition = Ignore\n   ```\n\n## Keyword Research Workflows\n\n### Workflow 1: Monthly Keyword Discovery\n**Trigger**: First Monday of each month\n**Process**:\n1. Analyze previous month's top performers\n2. Research seasonal trends for upcoming month\n3. Discover 50+ new long-tail opportunities\n4. Classify by intent and difficulty\n5. Create content calendar recommendations\n\n### Workflow 2: Product Launch Keywords\n**Trigger**: New collection added to Shopify\n**Process**:\n1. Extract product attributes and themes\n2. Generate style-specific keywords\n3. Research competitor keywords for similar products\n4. Create keyword-optimized product descriptions\n5. Suggest blog content topics\n\n### Workflow 3: Content Gap Analysis\n**Trigger**: Bi-weekly or on request\n**Process**:\n1. Analyze top 10 competitors\n2. Identify keyword gaps\n3. Prioritize by opportunity score\n4. Map keywords to content types\n5. Create content briefs\n\n## Output Formats\n\n### Keyword Research Report\n```markdown\n# Keyword Research Report: [TOPIC/CAMPAIGN]\nDate: [DATE]\nResearch Type: [Long-tail Discovery/Gap Analysis/Trend Research]\n\n## Executive Summary\n- Total Keywords Found: [NUMBER]\n- High-Priority Keywords: [NUMBER]\n- Estimated Traffic Potential: [NUMBER] monthly searches\n- Average Difficulty: [SCORE]/100\n\n## Top Opportunities\n\n### Immediate Action Keywords (High Volume, Low Competition)\n| Keyword | Volume | KD | CPC | Intent | Content Type |\n|---------|--------|----|----|--------|-------------|\n| [keyword] | [vol] | [kd] | [cpc] | [intent] | [type] |\n\n### Quick Win Keywords (Low Competition)\n| Keyword | Volume | KD | Opportunity Score |\n|---------|--------|----|-----------------|\n| [keyword] | [vol] | [kd] | [score] |\n\n### Long-term Strategy Keywords (High Volume, High Competition)\n| Keyword | Volume | KD | Current Position | Gap |\n|---------|--------|----|-----------------|-----|\n| [keyword] | [vol] | [kd] | [position] | [gap] |\n\n## Keyword Clusters\n\n### Cluster 1: [THEME]\n- Primary Keyword: [KEYWORD]\n- Related Keywords: [LIST]\n- Content Strategy: [RECOMMENDATION]\n- Target Pages: [PAGES]\n\n## Competitor Insights\n- Top Competitor Keywords We're Missing: [LIST]\n- Emerging Trends: [LIST]\n- Defensive Keywords to Protect: [LIST]\n\n## Action Plan\n1. **Immediate** (This Week):\n   - [Action items]\n\n2. **Short-term** (This Month):\n   - [Action items]\n\n3. **Long-term** (Quarterly):\n   - [Action items]\n\n## Content Recommendations\n1. **Blog Posts**:\n   - [Title ideas with target keywords]\n\n2. **Product Pages**:\n   - [Optimization recommendations]\n\n3. **Landing Pages**:\n   - [New page suggestions]\n```\n\n### Keyword Tracking Sheet\n```csv\nKeyword,Search Volume,Keyword Difficulty,CPC,Intent,Current Rank,Target Rank,Assigned To,Status\n\"modern abstract wall art\",2400,35,$1.20,Commercial,15,5,Content Team,In Progress\n\"large canvas prints for living room\",1800,28,$0.95,Transactional,Not Ranking,10,SEO Team,Planned\n```\n\n## Integration with Other Agents\n\n### Marketing Research Agent\n- Provide keyword insights for market analysis\n- Share trending topics and search patterns\n- Collaborate on competitor research\n\n### Newsletter Writer Agent\n- Supply SEO-optimized subject lines\n- Provide trending keywords for content\n- Share seasonal keyword opportunities\n\n### Copy Writer Agent\n- Deliver keyword lists for content creation\n- Provide search intent insights\n- Share competitor content analysis\n\n### Copy Editor Agent\n- Supply keyword density guidelines\n- Provide semantic keyword variations\n- Share readability vs. SEO balance tips\n\n## Best Practices\n\n### Keyword Selection Criteria\n1. **Relevance**: Directly related to VividWalls products\n2. **Intent Match**: Aligns with business goals\n3. **Achievability**: Realistic ranking potential\n4. **Value**: Indicates commercial intent\n5. **Volume**: Sufficient search demand\n\n### Research Tips\n1. **Think Like Buyers**: Use natural language patterns\n2. **Layer Intent**: Combine product + intent + modifier\n3. **Seasonal Planning**: Research 2-3 months ahead\n4. **Local Opportunities**: Include location modifiers\n5. **Voice Search**: Include conversational phrases\n\n### Common Keyword Patterns\n- **Problem-Solution**: \"wall art for [problem/need]\"\n- **Comparison**: \"[product] vs [alternative]\"\n- **Feature-Specific**: \"[feature] wall art\"\n- **Use Case**: \"wall art for [specific situation]\"\n- **Budget-Conscious**: \"affordable/cheap/budget [product]\"\n\n## Performance Tracking\n\n### KPIs\n- **Keyword Rankings**: Track position changes\n- **Organic Traffic**: Monitor keyword-driven visits\n- **Conversion Rate**: Measure keyword quality\n- **Content Performance**: Track keyword-optimized pages\n- **Competitor Movement**: Monitor ranking changes\n\n### Monthly Review Process\n1. Export ranking data from tracking tools\n2. Analyze traffic by keyword groups\n3. Identify winning and losing keywords\n4. Adjust strategy based on performance\n5. Report findings to other agents\n\n## Error Handling\n\n### Common Issues\n- **No Data Available**: Use alternative tools or manual research\n- **Conflicting Metrics**: Prioritize multiple data sources\n- **API Limits**: Schedule research in batches\n- **Seasonal Anomalies**: Compare year-over-year data",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [200, -200],
      "id": "kw6p7q8r-9s0t-1u2v-3w4x-5y6z7a8b9c0d",
      "name": "Keyword Agent"
    },
    {
      "parameters": {
        "path": "keyword-agent-webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-180, -60],
      "id": "kw7q8r9s-0t1u-2v3w-4x5y-6z7a8b9c0d1e",
      "name": "Keyword Agent Webhook",
      "webhookId": "keyword-agent-webhook"
    },
    {
      "parameters": {
        "description": "Call Marketing Research Agent for market insights",
        "workflowId": {
          "__rl": true,
          "value": "MarketingResearchAgentWorkflowId",
          "mode": "list",
          "cachedResultName": "Marketing Research Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "research_type": "={{ $fromAI('research_type', 'type of research needed') }}",
            "parameters": "={{ $fromAI('parameters', 'research parameters') }}",
            "timeframe": "={{ $fromAI('timeframe', 'research timeframe') }}",
            "requesting_agent": "keyword_agent"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [540, 120],
      "id": "kw8r9s0t-1u2v-3w4x-5y6z-7a8b9c0d1e2f",
      "name": "Marketing Research Agent Tool"
    },
    {
      "parameters": {
        "description": "Analyze competitor content and keywords",
        "workflowId": {
          "__rl": true,
          "value": "CompetitorAnalysisWorkflowId",
          "mode": "list",
          "cachedResultName": "Competitor Analysis"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "competitor_urls": "={{ $fromAI('competitor_urls', 'competitor website URLs') }}",
            "analysis_type": "={{ $fromAI('analysis_type', 'type of competitor analysis') }}",
            "depth": "={{ $fromAI('depth', 'analysis depth level') }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [540, 200],
      "id": "kw9s0t1u-2v3w-4x5y-6z7a-8b9c0d1e2f3g",
      "name": "Competitor Analysis Tool"
    },
    {
      "parameters": {
        "description": "Generate keyword clusters and content maps",
        "workflowId": {
          "__rl": true,
          "value": "KeywordClusteringWorkflowId",
          "mode": "list",
          "cachedResultName": "Keyword Clustering"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "keywords": "={{ $fromAI('keywords', 'list of keywords to cluster') }}",
            "clustering_method": "={{ $fromAI('clustering_method', 'semantic or topical clustering') }}",
            "min_cluster_size": "={{ $fromAI('min_cluster_size', 'minimum keywords per cluster') }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [540, 280],
      "id": "kw0t1u2v-3w4x-5y6z-7a8b-9c0d1e2f3g4h",
      "name": "Keyword Clustering Tool"
    },
    {
      "parameters": {
        "collection": "vividwalls_keyword_research",
        "options": {
          "limit": 30,
          "similarityThreshold": 0.8
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePostgres",
      "typeVersion": 1,
      "position": [120, 300],
      "id": "kw1u2v3w-4x5y-6z7a-8b9c-0d1e2f3g4h5i",
      "name": "Keyword Research Knowledge Base",
      "credentials": {
        "postgres": {
          "id": "cm4WrXg1MnK2sWUm",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Keyword Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Keyword Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "SEO Research MCP Client - Execute Tool": {
      "ai_tool": [
        [
          {
            "node": "Keyword Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SEO Research MCP Client - List Tools": {
      "ai_tool": [
        [
          {
            "node": "Keyword Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tavily MCP Client - Execute Tool": {
      "ai_tool": [
        [
          {
            "node": "Keyword Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tavily MCP Client - List Tools": {
      "ai_tool": [
        [
          {
            "node": "Keyword Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Shopify MCP Client - Execute Tool": {
      "ai_tool": [
        [
          {
            "node": "Keyword Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Shopify MCP Client - List Tools": {
      "ai_tool": [
        [
          {
            "node": "Keyword Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "WordPress MCP Client - Execute Tool": {
      "ai_tool": [
        [
          {
            "node": "Keyword Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "WordPress MCP Client - List Tools": {
      "ai_tool": [
        [
          {
            "node": "Keyword Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase MCP Client - Execute Tool": {
      "ai_tool": [
        [
          {
            "node": "Keyword Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase MCP Client - List Tools": {
      "ai_tool": [
        [
          {
            "node": "Keyword Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Marketing Research Agent Tool": {
      "ai_tool": [
        [
          {
            "node": "Keyword Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Competitor Analysis Tool": {
      "ai_tool": [
        [
          {
            "node": "Keyword Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Keyword Clustering Tool": {
      "ai_tool": [
        [
          {
            "node": "Keyword Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Keyword Research Knowledge Base": {
      "ai_vectorStore": [
        [
          {
            "node": "Keyword Agent",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Keyword Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Keyword Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keyword Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keyword Agent Webhook": {
      "main": [
        [
          {
            "node": "Keyword Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "stickyNotes": [
    {
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-600, -700],
      "parameters": {
        "content": "# 🔍 Keyword Agent\n\n## Purpose\nSpecialized SEO research agent discovering high-value, long-tail keywords that drive targeted traffic and conversions for VividWalls' art products.\n\n## Core Functions\n- **Long-tail Keyword Discovery**\n- **Search Intent Analysis**\n- **Competitor Gap Analysis**\n- **Trend Identification**\n- **Keyword Clustering**\n\n## Success Metrics\n- Keyword opportunities: 50+ monthly\n- Ranking improvements: 25%+\n- Organic traffic growth: 30%+\n- Conversion rate: >2.5%",
        "height": 360,
        "width": 420,
        "color": 7
      }
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-600, -300],
      "parameters": {
        "content": "## 🧠 Memory & Knowledge Base\n\n### PostgreSQL Chat Memory\n- **Session Key**: `keyword_agent_[timestamp]`\n- **Context**: Research history + findings\n\n### Vector Store\n- **Collection**: `vividwalls_keyword_research`\n- **Content**: Historical keyword data\n- **Similarity**: 0.8 threshold\n- **Limit**: 30 results\n\n### Data Persistence\n- Keyword performance tracking\n- Competitor keyword maps\n- Seasonal trend data",
        "height": 320,
        "width": 380,
        "color": 4
      }
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-600, 60],
      "parameters": {
        "content": "## 📥 Input Variables\n\n### Required\n- `research_type`: Type of keyword research\n\n### Optional\n- `seed_keywords`: Starting keywords (JSON)\n- `target_market`: Market segment\n- `intent_type`: Search intent filter\n- `competitor_urls`: Competitors (JSON)\n\n### From Other Agents\n- Copy Writer: Content keywords\n- Marketing Director: Campaign focus\n- Content Strategy: Topic clusters",
        "height": 320,
        "width": 380,
        "color": 5
      }
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [540, -700],
      "parameters": {
        "content": "## 🔧 SEO Research Tools\n\n### Primary SEO MCP\n- **Functions**: keyword_research, serp_analysis\n- **Data**: Volume, KD, CPC, trends\n- **Credentials**: SEOResearchMCPClient456\n\n### Tavily Web Research\n- **Functions**: search_web, analyze_content\n- **Purpose**: Real-time trend validation\n- **Credentials**: TavilyMCPClient345\n\n### Integration\n- List tools → Execute tool pattern\n- Dynamic tool selection\n- Result aggregation",
        "height": 340,
        "width": 400,
        "color": 6
      }
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [540, -320],
      "parameters": {
        "content": "## 🔧 E-commerce Integration\n\n### Shopify MCP\n- **Purpose**: Product keyword extraction\n- **Functions**: Product analysis, search data\n- **Credentials**: ShopifyMCPClient789\n\n### WordPress MCP\n- **Purpose**: Content keyword analysis\n- **Functions**: Post analysis, tag extraction\n- **Credentials**: WordPressMCPClient012\n\n### Supabase MCP\n- **Purpose**: Keyword data storage\n- **Functions**: Store/retrieve research\n- **Credentials**: SupabaseMCPClient345",
        "height": 340,
        "width": 400,
        "color": 6
      }
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [540, 80],
      "parameters": {
        "content": "## 🔗 Agent Connections\n\n### Provides Keywords To:\n- **Copy Writer**: SEO-optimized content\n- **Copy Editor**: Keyword density checks\n- **Newsletter Writer**: Subject lines\n- **Content Strategy**: Topic planning\n\n### Receives Requests From:\n- **Marketing Director**: Campaign keywords\n- **Content Agents**: Keyword research\n- **Marketing Research**: Trend validation\n\n### Workflow Tools\n- Marketing Research Agent\n- Competitor Analysis\n- Keyword Clustering",
        "height": 360,
        "width": 380,
        "color": 3
      }
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [540, 480],
      "parameters": {
        "content": "## ⚡ Trigger Conditions\n\n### 1. Chat Trigger\n- **Webhook**: `keyword-agent-chat-trigger`\n- **Purpose**: Interactive research\n\n### 2. Workflow Execution\n- **Called by**: Content creation agents\n- **Returns**: Keyword recommendations\n\n### 3. Direct Webhook\n- **Path**: `/keyword-agent-webhook`\n- **Method**: POST\n\n### Automation\n- Monthly keyword discovery\n- New product keywords\n- Content gap analysis",
        "height": 340,
        "width": 380,
        "color": 2
      }
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [980, -700],
      "parameters": {
        "content": "## 🔍 Keyword Research Framework\n\n### Long-tail Discovery\n```\nSeed: \"wall art\"\n→ Size: large, small, oversized\n→ Style: abstract, modern, minimalist\n→ Room: living room, bedroom, office\n→ Color: blue, neutral, colorful\n→ Material: canvas, framed, metal\n```\n\n### Question Keywords\n- How to choose wall art for [room]\n- What size art for above [furniture]\n- Where to buy [style] wall art\n- Which wall art style is best",
        "height": 360,
        "width": 400,
        "color": 1
      }
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [980, -300],
      "parameters": {
        "content": "## 📊 Opportunity Scoring\n\n### Formula\n```\nScore = (Volume × CPC) / (KD + 1) × Trend\n```\n\n### Trend Multipliers\n- Growing: 1.5x\n- Stable: 1.0x\n- Declining: 0.5x\n\n### Priority Matrix\n- High Vol + Low KD = Immediate\n- High Vol + High KD = Long-term\n- Low Vol + Low KD = Quick wins\n- Low Vol + High KD = Ignore",
        "height": 320,
        "width": 380,
        "color": 7
      }
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [980, 60],
      "parameters": {
        "content": "## 📝 Output Format\n\n### Keyword Report\n```markdown\n# Keyword Research: [TOPIC]\n\n## Executive Summary\n- Keywords Found: [NUMBER]\n- Traffic Potential: [MONTHLY]\n- Avg Difficulty: [SCORE]\n\n## Top Opportunities\n| Keyword | Volume | KD | Intent |\n|---------|--------|----|---------\n\n## Keyword Clusters\n1. [Theme]: Primary + related\n\n## Action Plan\n1. Immediate: [Keywords]\n2. Short-term: [Keywords]\n```",
        "height": 380,
        "width": 380,
        "color": 5
      }
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [980, 480],
      "parameters": {
        "content": "## 🚀 Advanced Features\n\n### Intent Classification\n- **Informational**: How-to, guides\n- **Navigational**: Brand searches\n- **Commercial**: Reviews, best of\n- **Transactional**: Buy, price\n\n### Competitor Gap Analysis\n- Missing keywords identification\n- Weak position opportunities\n- Defense keyword alerts\n\n### Seasonal Tracking\n- Holiday keyword trends\n- Seasonal collection keywords\n- Event-based opportunities",
        "height": 340,
        "width": 380,
        "color": 6
      }
    }
  ],
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "keyword-agent-vividwalls"
  }
}