services/n8n/agents/workflows/marketing/marketing_director_agent_enhanced.json
{
  "name": "VividWalls Marketing Director Agent",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o"
        },
        "options": {
          "temperature": 0.6
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -20,
        500
      ],
      "id": "md1a2b3c-4d5e-6f7g-8h9i-0j1k2l3m4n5o",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "d6OaJCsy6QryngZX",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionKey": "={{ $json.chatId || $json.session_id || 'marketing_director_' + $now.toMillis() }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        120,
        580
      ],
      "id": "md2b3c4d-5e6f-7g8h-9i0j-1k2l3m4n5o6p",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "cm4WrXg1MnK2sWUm",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -400,
        500
      ],
      "id": "md3c4d5e-6f7g-8h9i-0j1k-2l3m4n5o6p7q",
      "name": "When chat message received",
      "webhookId": "marketing-director-chat-trigger"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        820,
        500
      ],
      "id": "md4d5e6f-7g8h-9i0j-1k2l-3m4n5o6p7q8r",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "task_type"
            },
            {
              "name": "objectives",
              "type": "json"
            },
            {
              "name": "budget"
            },
            {
              "name": "timeline"
            },
            {
              "name": "context"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -400,
        300
      ],
      "id": "md5e6f7g-8h9i-0j1k-2l3m-4n5o6p7q8r9s",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "options": {
          "responseMessage": "=## Marketing Director Agent\n\n### Task: {{ $json.task_type }}\n### Status: {{ $json.status }}\n\n{{ $json.response }}\n\n#### Marketing Strategy:\n{{ $json.marketing_strategy || 'Developing comprehensive marketing approach...' }}\n\n#### Campaign Coordination:\n{{ $json.campaign_coordination || 'Aligning marketing initiatives across channels...' }}\n\n#### Performance Overview:\n{{ $json.performance_overview || 'Gathering marketing metrics...' }}\n\n{{ $json.additional_info || '' }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        380,
        500
      ],
      "id": "md6f7g8h-9i0j-1k2l-3m4n-5o6p7q8r9s0t",
      "name": "Marketing Director Agent"
    },
    {
      "parameters": {
        "path": "marketing-director-webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -400,
        700
      ],
      "id": "md7g8h9i-0j1k-2l3m-4n5o-6p7q8r9s0t1u",
      "name": "Marketing Director Webhook",
      "webhookId": "marketing-director-webhook"
    },
    {
      "parameters": {
        "systemPromptTemplate": "# VividWalls Marketing Director Agent\n\nYou are the Marketing Director for VividWalls, responsible for orchestrating all marketing strategies and campaigns. You coordinate between various marketing channels and specialized agents to ensure cohesive brand messaging and optimal marketing performance.\n\n## Core Responsibilities\n\n### Strategic Marketing Leadership\n- Develop comprehensive marketing strategies\n- Coordinate multi-channel campaigns\n- Ensure brand consistency across all touchpoints\n- Optimize marketing budget allocation\n- Drive customer acquisition and retention\n\n### Agent Orchestration\nYou delegate specific marketing tasks to specialized agents:\n- **Email Marketing Agent**: Newsletter campaigns, automated sequences\n- **Social Media Director**: Platform strategies (through delegation)\n- **Marketing Research Agent**: Market insights and competitive analysis\n- **Content Creation Agents**: Copy writing, visual assets\n- **SEO/SEM Specialists**: Search marketing optimization\n\n### Campaign Management\n- Plan integrated marketing campaigns\n- Set campaign objectives and KPIs\n- Coordinate launch timelines\n- Monitor campaign performance\n- Optimize based on results\n\n## Strategic Functions\n\n### Market Analysis\n1. Monitor market trends and opportunities\n2. Analyze competitor strategies\n3. Identify target audience segments\n4. Evaluate channel effectiveness\n5. Recommend strategic pivots\n\n### Budget Management\n- Allocate resources across channels\n- Monitor ROI by initiative\n- Optimize spend efficiency\n- Forecast budget needs\n- Report on marketing investments\n\n### Performance Oversight\n- Track overall marketing KPIs\n- Monitor conversion funnels\n- Analyze customer journey\n- Measure brand awareness\n- Report to Business Manager\n\n## Coordination Protocols\n\n### With Email Marketing Agent\n- Provide campaign themes and objectives\n- Review content strategies\n- Approve email schedules\n- Monitor engagement metrics\n- Coordinate with other channels\n\n### With Social Media Director\n- Align social strategies with campaigns\n- Coordinate content calendars\n- Share brand guidelines\n- Synchronize promotions\n- Track cross-channel impact\n\n### With Analytics Director\n- Request performance reports\n- Define tracking requirements\n- Analyze attribution data\n- Identify optimization opportunities\n- Measure campaign ROI\n\n### With Sales Agent\n- Coordinate promotional campaigns\n- Share lead generation insights\n- Align on conversion strategies\n- Support sales enablement\n- Track revenue impact\n\n## Marketing Strategies\n\n### Customer Acquisition\n- SEO/SEM optimization\n- Content marketing\n- Paid advertising\n- Referral programs\n- Partnership marketing\n\n### Customer Retention\n- Email nurture sequences\n- Loyalty programs\n- Personalization strategies\n- Win-back campaigns\n- Customer success content\n\n### Brand Building\n- Consistent messaging\n- Visual identity standards\n- Brand storytelling\n- Thought leadership\n- Community engagement\n\n## Campaign Types\n\n### Product Launches\n1. Pre-launch buzz building\n2. Launch day coordination\n3. Post-launch momentum\n4. Performance optimization\n5. Lessons learned analysis\n\n### Seasonal Campaigns\n1. Holiday promotions\n2. Seasonal collections\n3. Event-based marketing\n4. Limited-time offers\n5. Gift guide creation\n\n### Always-On Marketing\n1. SEO content creation\n2. Social media presence\n3. Email nurture flows\n4. Retargeting campaigns\n5. Affiliate programs\n\n## Success Metrics\n\n### Primary KPIs\n- Customer Acquisition Cost (CAC)\n- Return on Ad Spend (ROAS)\n- Marketing Qualified Leads (MQLs)\n- Conversion Rate Optimization\n- Customer Lifetime Value (CLV)\n\n### Channel Metrics\n- Email: Open rate, CTR, conversions\n- Social: Engagement, reach, followers\n- Paid: CPC, CPM, conversion rate\n- SEO: Rankings, organic traffic\n- Content: Views, shares, leads\n\n## Decision Framework\n\n### Campaign Prioritization\n1. Expected ROI\n2. Strategic alignment\n3. Resource requirements\n4. Market timing\n5. Competitive advantage\n\n### Channel Selection\n- Audience presence\n- Content suitability\n- Budget efficiency\n- Measurability\n- Integration potential\n\n## Best Practices\n\n### Strategic Planning\n1. Data-driven decision making\n2. Customer-centric approach\n3. Agile campaign management\n4. Continuous testing\n5. Cross-functional alignment\n\n### Team Leadership\n1. Clear communication\n2. Empowerment with accountability\n3. Regular performance reviews\n4. Knowledge sharing\n5. Innovation encouragement\n\n### Reporting Structure\n- Weekly: Campaign performance\n- Monthly: Channel analysis\n- Quarterly: Strategic review\n- Annual: Marketing planning\n\nWhen orchestrating marketing activities:\n1. Assess the marketing opportunity or challenge\n2. Develop integrated strategy across channels\n3. Delegate specific tasks to specialized agents\n4. Coordinate execution timelines\n5. Monitor performance metrics\n6. Optimize based on results\n7. Report outcomes and insights\n\nAlways maintain focus on driving business growth through effective marketing while ensuring brand consistency and customer value."
      },
      "type": "@n8n/n8n-nodes-langchain.systemMessage",
      "typeVersion": 1.1,
      "position": [
        180,
        420
      ],
      "id": "md8h9i0j-1k2l-3m4n-5o6p-7q8r9s0t1u2v",
      "name": "System Message"
    },
    {
      "parameters": {
        "description": "Delegate email marketing campaigns to Email Marketing Agent",
        "workflowId": {
          "__rl": true,
          "value": "EmailMarketingAgentWorkflowId",
          "mode": "list",
          "cachedResultName": "Email Marketing Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "campaign_type": "={{ $fromAI('campaign_type', 'email campaign type') }}",
            "email_subject": "={{ $fromAI('email_subject', 'subject line') }}",
            "content_request": "={{ $fromAI('content_request', 'content requirements') }}",
            "target_audience": "={{ $fromAI('target_audience', 'audience segment') }}",
            "send_immediately": "={{ $fromAI('send_immediately', 'timing preference') }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        640,
        600
      ],
      "id": "md9i0j1k-2l3m-4n5o-6p7q-8r9s0t1u2v3w",
      "name": "Email Marketing Agent Tool"
    },
    {
      "parameters": {
        "description": "Request market research and competitive analysis",
        "workflowId": {
          "__rl": true,
          "value": "MarketingResearchAgentWorkflowId",
          "mode": "list",
          "cachedResultName": "Marketing Research Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "research_type": "={{ $fromAI('research_type', 'type of research needed') }}",
            "focus_areas": "={{ $fromAI('focus_areas', 'specific areas to investigate') }}",
            "competitors": "={{ $fromAI('competitors', 'competitors to analyze') }}",
            "deliverables": "={{ $fromAI('deliverables', 'expected outputs') }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        640,
        720
      ],
      "id": "md0j1k2l-3m4n-5o6p-7q8r-9s0t1u2v3w4x",
      "name": "Marketing Research Agent Tool"
    },
    {
      "parameters": {
        "description": "Coordinate with Social Media Director for platform strategies",
        "workflowId": {
          "__rl": true,
          "value": "SocialMediaDirectorWorkflowId",
          "mode": "list",
          "cachedResultName": "Social Media Director Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "task_type": "={{ $fromAI('task_type', 'social media coordination task') }}",
            "campaign_brief": "={{ $fromAI('campaign_brief', 'campaign details') }}",
            "platforms": "={{ $fromAI('platforms', 'target social platforms') }}",
            "content_requirements": "={{ $fromAI('content_requirements', 'content needs') }}",
            "timeline": "={{ $fromAI('timeline', 'execution timeline') }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        640,
        840
      ],
      "id": "md1k2l3m-4n5o-6p7q-8r9s-0t1u2v3w4x5y",
      "name": "Social Media Director Tool"
    },
    {
      "parameters": {
        "description": "Request performance analytics from Analytics Director",
        "workflowId": {
          "__rl": true,
          "value": "AnalyticsDirectorWorkflowId",
          "mode": "list",
          "cachedResultName": "Analytics Director Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "report_type": "marketing_performance",
            "date_range": "={{ $fromAI('date_range', 'reporting period') }}",
            "metrics": "={{ $fromAI('metrics', 'marketing metrics to track') }}",
            "segments": "={{ $fromAI('segments', 'data segments') }}",
            "format": "marketing_dashboard"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        640,
        960
      ],
      "id": "md2l3m4n-5o6p-7q8r-9s0t-1u2v3w4x5y6z",
      "name": "Analytics Director Tool"
    },
    {
      "parameters": {
        "description": "Coordinate sales promotions with Sales Agent",
        "workflowId": {
          "__rl": true,
          "value": "SalesAgentWorkflowId",
          "mode": "list",
          "cachedResultName": "Sales Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "task_type": "promotional_campaign",
            "promotion_details": "={{ $fromAI('promotion_details', 'promotion specifics') }}",
            "customer_segment": "={{ $fromAI('customer_segment', 'target customers') }}",
            "sales_goals": "={{ $fromAI('sales_goals', 'revenue targets') }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        640,
        1080
      ],
      "id": "md3m4n5o-6p7q-8r9s-0t1u-2v3w4x5y6z7a",
      "name": "Sales Agent Tool"
    },
    {
      "parameters": {
        "toolDescription": "=Access marketing best practices, campaign templates, and brand guidelines",
        "mode": "retrieve-as-tool",
        "toolName": "marketing_knowledge_base",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.1,
      "position": [
        640,
        1200
      ],
      "id": "md4n5o6p-7q8r-9s0t-1u2v-3w4x5y6z7a8b",
      "name": "Marketing Knowledge Base",
      "credentials": {
        "postgres": {
          "id": "cm4WrXg1MnK2sWUm",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        800,
        1280
      ],
      "id": "md5o6p7q-8r9s-0t1u-2v3w-4x5y6z7a8b9c",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "d6OaJCsy6QryngZX",
          "name": "OpenAi account"
        }
      }
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        -300
      ],
      "parameters": {
        "content": "# \ud83d\udcf1 Marketing Director Agent\n\n**Role**: Brand strategy and campaign orchestration\n\n**Primary Functions**:\n- Marketing strategy development\n- Campaign orchestration\n- Brand management\n- Channel optimization\n- Marketing analytics\n\n**Reports to**: Business Manager\n**Direct Reports**: Social Media Director, Creative Director, Content Strategy Agent",
        "height": 320,
        "width": 400,
        "color": 1
      },
      "id": "sticky-marketing_director-1-1750871198.621243",
      "name": "Sticky Note 1"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        820,
        -300
      ],
      "parameters": {
        "content": "## \ud83c\udfaf Key Responsibilities\n\n1. **Strategic Planning**\n   - Department goal setting\n   - Resource optimization\n   - Risk mitigation\n\n2. **Team Coordination**\n   - Agent task delegation\n   - Performance monitoring\n   - Cross-team collaboration\n\n3. **Reporting**\n   - Business Manager updates\n   - Performance dashboards\n   - Strategic recommendations",
        "height": 320,
        "width": 380,
        "color": 2
      },
      "id": "sticky-marketing_director-2-1750871198.621245",
      "name": "Sticky Note 2"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1220,
        -300
      ],
      "parameters": {
        "content": "## \ud83d\udcca Performance Metrics\n\n**Department KPIs**:\n- Campaign ROI: 3.5x\n- Brand awareness lift\n- Lead generation rate\n- Content engagement\n- Channel efficiency\n\n**Updated**: Real-time\n**Reporting**: Daily to Business Manager",
        "height": 320,
        "width": 360,
        "color": 3
      },
      "id": "sticky-marketing_director-3-1750871198.621246",
      "name": "Sticky Note 3"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        40
      ],
      "parameters": {
        "content": "## \ud83d\udd04 Workflow Triggers\n\n**Business Manager Delegation**:\n- Strategic directives\n- Resource allocation\n- Performance reviews\n\n**Agent Escalations**:\n- Critical issues\n- Resource conflicts\n- Decision requests",
        "height": 240,
        "width": 340,
        "color": 4
      },
      "id": "sticky-marketing_director-4-1750871198.621247",
      "name": "Sticky Note 4"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        760,
        40
      ],
      "parameters": {
        "content": "## \u26a1 Response Standards\n\n**SLA Targets**:\n- Critical: < 30 min\n- High Priority: < 2 hours\n- Normal: < 6 hours\n- Low: < 24 hours\n\n**Escalation to Business Manager**:\n- Budget > threshold\n- Strategic decisions\n- Cross-department conflicts",
        "height": 240,
        "width": 340,
        "color": 5
      },
      "id": "sticky-marketing_director-5-1750871198.621248",
      "name": "Sticky Note 5"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1120,
        40
      ],
      "parameters": {
        "content": "## \ud83d\udd10 Access & Security\n\n**MCP Access**:\n- Domain-specific tools only\n- Encrypted credentials\n- Audit logging enabled\n\n**Data Handling**:\n- Department data isolation\n- Secure API calls\n- Compliance protocols",
        "height": 240,
        "width": 320,
        "color": 6
      },
      "id": "sticky-marketing_director-6-1750871198.621249",
      "name": "Sticky Note 6"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4200,
        1400
      ],
      "parameters": {
        "content": "## \ud83d\udd27 Facebook Ads MCP\n\n**Purpose**: Facebook Ads integration\n\n**Use Cases**:\n- Data retrieval\n- Action execution\n- Status monitoring\n- Report generation\n\n**Authentication**: Secure API",
        "height": 200,
        "width": 300,
        "color": 1
      },
      "id": "sticky-marketing_director-7-1750871198.62125",
      "name": "Sticky Note 7"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4520,
        1400
      ],
      "parameters": {
        "content": "## \ud83d\udd27 Google Ads MCP\n\n**Purpose**: Google Ads integration\n\n**Use Cases**:\n- Data retrieval\n- Action execution\n- Status monitoring\n- Report generation\n\n**Authentication**: Secure API",
        "height": 200,
        "width": 300,
        "color": 2
      },
      "id": "sticky-marketing_director-8-1750871198.621251",
      "name": "Sticky Note 8"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4840,
        1400
      ],
      "parameters": {
        "content": "## \ud83d\udd27 Email Marketing MCP\n\n**Purpose**: Email Marketing integration\n\n**Use Cases**:\n- Data retrieval\n- Action execution\n- Status monitoring\n- Report generation\n\n**Authentication**: Secure API",
        "height": 200,
        "width": 300,
        "color": 3
      },
      "id": "sticky-marketing_director-9-1750871198.621252",
      "name": "Sticky Note 9"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5160,
        1400
      ],
      "parameters": {
        "content": "## \ud83d\udd27 Content Management MCP\n\n**Purpose**: Content Management integration\n\n**Use Cases**:\n- Data retrieval\n- Action execution\n- Status monitoring\n- Report generation\n\n**Authentication**: Secure API",
        "height": 200,
        "width": 300,
        "color": 4
      },
      "id": "sticky-marketing_director-10-1750871198.621253",
      "name": "Sticky Note 10"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5480,
        1400
      ],
      "parameters": {
        "content": "## \ud83d\udd27 Campaign Manager MCP\n\n**Purpose**: Campaign Manager integration\n\n**Use Cases**:\n- Data retrieval\n- Action execution\n- Status monitoring\n- Report generation\n\n**Authentication**: Secure API",
        "height": 200,
        "width": 300,
        "color": 5
      },
      "id": "sticky-marketing_director-11-1750871198.621255",
      "name": "Sticky Note 11"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1800,
        800
      ],
      "parameters": {
        "content": "## \ud83e\udd16 AI Agent Configuration\n\n**Model**: GPT-4o\n**Temperature**: 0.7\n**Role**: Marketing Director\n\n**Specialized Knowledge**:\n- Domain expertise\n- Industry best practices\n- Strategic planning\n- Team coordination",
        "height": 200,
        "width": 300,
        "color": 1
      },
      "id": "sticky-marketing_director-12-1750871198.621256",
      "name": "Sticky Note 12"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2120,
        800
      ],
      "parameters": {
        "content": "## \ud83d\udcca Decision Framework\n\n1. Analyze request context\n2. Evaluate resources\n3. Consider constraints\n4. Apply domain expertise\n5. Generate solution\n6. Validate approach\n\n**Decision logging**: Enabled",
        "height": 200,
        "width": 300,
        "color": 2
      },
      "id": "sticky-marketing_director-13-1750871198.621257",
      "name": "Sticky Note 13"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2440,
        800
      ],
      "parameters": {
        "content": "## \ud83c\udfaf Delegation Logic\n\n**To Agents**:\n- Task assignment\n- Resource allocation\n- Priority setting\n- Deadline management\n\n**From Business Manager**:\n- Strategic directives\n- Budget constraints\n- Performance targets",
        "height": 200,
        "width": 300,
        "color": 3
      },
      "id": "sticky-marketing_director-14-1750871198.621258",
      "name": "Sticky Note 14"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1800,
        1020
      ],
      "parameters": {
        "content": "## \ud83d\udcdd Output Structure\n\n```json\n{\n  \"action\": \"delegate|execute|report\",\n  \"target\": \"agent_name\",\n  \"task\": \"task_details\",\n  \"priority\": \"high|medium|low\",\n  \"deadline\": \"ISO_date\"\n}\n```",
        "height": 200,
        "width": 300,
        "color": 4
      },
      "id": "sticky-marketing_director-15-1750871198.621259",
      "name": "Sticky Note 15"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2120,
        1020
      ],
      "parameters": {
        "content": "## \ud83d\udd04 Feedback Loops\n\n**Agent Reports**:\n- Task completion\n- Performance metrics\n- Issues/blockers\n\n**Business Manager**:\n- Strategic updates\n- Resource changes\n- Priority shifts",
        "height": 200,
        "width": 300,
        "color": 5
      },
      "id": "sticky-marketing_director-16-1750871198.62126",
      "name": "Sticky Note 16"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1200,
        2200
      ],
      "parameters": {
        "content": "## \ud83d\udd04 Task Delegation Pattern\n\n```javascript\nconst delegation = {\n  agent: 'target_agent',\n  task: {\n    type: 'analysis|execution',\n    details: taskDetails,\n    priority: 'high',\n    deadline: deadline\n  },\n  resources: allocatedResources\n}\n```",
        "height": 220,
        "width": 320,
        "color": 1
      },
      "id": "sticky-marketing_director-17-1750871198.621261",
      "name": "Sticky Note 17"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1540,
        2200
      ],
      "parameters": {
        "content": "## \ud83d\udcca Performance Aggregation\n\n```javascript\n// Collect agent metrics\nconst metrics = await Promise.all([\n  agent1.getMetrics(),\n  agent2.getPerformance()\n]);\n// Report to Business Manager\nreturn consolidateMetrics(metrics);\n```",
        "height": 220,
        "width": 320,
        "color": 2
      },
      "id": "sticky-marketing_director-18-1750871198.621262",
      "name": "Sticky Note 18"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1880,
        2200
      ],
      "parameters": {
        "content": "## \ud83d\udea8 Escalation Handling\n\n**Triggers**:\n- Agent timeout\n- Resource conflict\n- Critical failure\n- Budget exceeded\n\n**Actions**:\n1. Assess severity\n2. Attempt resolution\n3. Escalate if needed",
        "height": 220,
        "width": 320,
        "color": 3
      },
      "id": "sticky-marketing_director-19-1750871198.621263",
      "name": "Sticky Note 19"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2220,
        2200
      ],
      "parameters": {
        "content": "## \ud83d\udd01 Continuous Optimization\n\n1. Monitor performance\n2. Identify bottlenecks\n3. Test improvements\n4. Measure impact\n5. Deploy changes\n\n**Optimization Cycle**: Weekly",
        "height": 220,
        "width": 320,
        "color": 4
      },
      "id": "sticky-marketing_director-20-1750871198.621264",
      "name": "Sticky Note 20"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        2600
      ],
      "parameters": {
        "content": "## \ud83d\udcda Marketing Director Best Practices\n\n**Communication**:\n- Clear task delegation\n- Regular status updates\n- Proactive issue reporting\n- Transparent metrics\n\n**Efficiency**:\n- Batch similar tasks\n- Cache frequent data\n- Optimize API calls",
        "height": 260,
        "width": 300,
        "color": 1
      },
      "id": "sticky-marketing_director-21-1750871198.621265",
      "name": "Sticky Note 21"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        720,
        2600
      ],
      "parameters": {
        "content": "## \u26a0\ufe0f Common Challenges\n\n**Technical**:\n- API rate limits\n- Data synchronization\n- Integration failures\n\n**Operational**:\n- Resource conflicts\n- Priority balancing\n- Cross-team coordination",
        "height": 260,
        "width": 300,
        "color": 2
      },
      "id": "sticky-marketing_director-22-1750871198.621266",
      "name": "Sticky Note 22"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1040,
        2600
      ],
      "parameters": {
        "content": "## \ud83d\udee1\ufe0f Risk Management\n\n**Mitigation Strategies**:\n- Redundant systems\n- Graceful degradation\n- Manual overrides\n- Backup processes\n\n**Monitoring**:\n- Real-time alerts\n- Performance tracking\n- Error logging",
        "height": 260,
        "width": 300,
        "color": 3
      },
      "id": "sticky-marketing_director-23-1750871198.621267",
      "name": "Sticky Note 23"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1360,
        2600
      ],
      "parameters": {
        "content": "## \ud83d\udcc8 Success Metrics\n\n**Department Health**:\n- Task completion: >95%\n- On-time delivery: >90%\n- Quality score: >4.5/5\n- Team efficiency: +10% QoQ\n\n**Review**: Monthly with Business Manager",
        "height": 260,
        "width": 300,
        "color": 4
      },
      "id": "sticky-marketing_director-24-1750871198.621268",
      "name": "Sticky Note 24"
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "id": "metadata-marketing_director-1750871198.621271",
      "name": "Workflow Metadata",
      "position": [
        400,
        2900
      ],
      "parameters": {
        "content": "## \ud83d\udccb Workflow Metadata\n\n**Director Type**: Marketing Director\n**Last Enhanced**: 2025-06-25T13:06:38.621272\n**Node Count**: 15\n**Sticky Notes**: 25\n**Documentation Coverage**: ~68%\n\n**Version**: 2.0 (Enhanced)\n**Compatible with**: n8n v1.0+",
        "height": 200,
        "width": 350,
        "color": 2
      }
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Marketing Director Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Marketing Director Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Marketing Director Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Marketing Director Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marketing Director Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marketing Director Webhook": {
      "main": [
        [
          {
            "node": "Marketing Director Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "System Message": {
      "ai_prompt": [
        [
          {
            "node": "Marketing Director Agent",
            "type": "ai_prompt",
            "index": 0
          }
        ]
      ]
    },
    "Email Marketing Agent Tool": {
      "ai_tool": [
        [
          {
            "node": "Marketing Director Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Marketing Research Agent Tool": {
      "ai_tool": [
        [
          {
            "node": "Marketing Director Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Social Media Director Tool": {
      "ai_tool": [
        [
          {
            "node": "Marketing Director Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Analytics Director Tool": {
      "ai_tool": [
        [
          {
            "node": "Marketing Director Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Sales Agent Tool": {
      "ai_tool": [
        [
          {
            "node": "Marketing Director Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Marketing Knowledge Base": {
      "ai_tool": [
        [
          {
            "node": "Marketing Director Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Marketing Knowledge Base",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "stickyNotes": [
    {
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -800,
        -400
      ],
      "parameters": {
        "content": "# \ud83c\udfaf Marketing Director Agent\n\n## Purpose\nOrchestrates all marketing strategies and campaigns for VividWalls, coordinating between specialized agents to ensure cohesive brand messaging and optimal performance.\n\n## Core Functions\n- **Strategic Marketing Leadership**\n- **Multi-channel Campaign Coordination**\n- **Budget Optimization & Allocation**\n- **Performance Monitoring & Reporting**\n- **Team & Agent Orchestration**\n\n## Success Metrics\n- CAC: <$50 per customer\n- ROAS: 4:1 minimum\n- MQL Generation: 500+ monthly\n- Campaign ROI: 350%+",
        "height": 360,
        "width": 420,
        "color": 7
      }
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -800,
        20
      ],
      "parameters": {
        "content": "## \ud83e\udde0 Memory Documentation\n\n### PostgreSQL Chat Memory\n- **Table**: `n8n_chat_histories`\n- **Session Key**: `marketing_director_[timestamp]`\n- **Context**: Full conversation + campaign history\n\n### Data Persistence\n- Campaign performance metrics\n- Budget allocation history\n- Agent coordination logs\n- Strategic decisions archive\n- ROI tracking data",
        "height": 300,
        "width": 380,
        "color": 4
      }
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -800,
        360
      ],
      "parameters": {
        "content": "## \ud83d\udce5 Input Variables\n\n### Required\n- `task_type`: Type of marketing task\n\n### Optional\n- `objectives`: Campaign goals (JSON)\n- `budget`: Available budget\n- `timeline`: Execution timeframe\n- `context`: Additional context\n\n### From Business Manager\n- Strategic priorities\n- Budget constraints\n- Performance targets\n- Market opportunities",
        "height": 320,
        "width": 380,
        "color": 5
      }
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        200,
        -400
      ],
      "parameters": {
        "content": "## \ud83d\udd27 Agent Orchestration Tools\n\n### Email Marketing Agent\n- **Purpose**: Newsletter & email campaigns\n- **Inputs**: campaign_type, subject, audience\n- **Returns**: Campaign performance metrics\n\n### Marketing Research Agent\n- **Purpose**: Market insights & analysis\n- **Inputs**: research_type, focus_areas\n- **Returns**: Strategic insights & trends\n\n### Social Media Director\n- **Purpose**: Social strategy coordination\n- **Inputs**: campaign_brief, platforms\n- **Returns**: Social performance data",
        "height": 360,
        "width": 400,
        "color": 6
      }
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        200,
        20
      ],
      "parameters": {
        "content": "## \ud83d\udd27 Analytics & Sales Tools\n\n### Analytics Director Tool\n- **Report Types**: marketing_performance\n- **Metrics**: CAC, ROAS, conversions\n- **Format**: marketing_dashboard\n\n### Sales Agent Tool\n- **Integration**: Promotional campaigns\n- **Data**: Lead quality, conversion rates\n- **Coordination**: Sales enablement\n\n### Knowledge Base\n- **Type**: PGVector store\n- **Content**: Best practices, templates\n- **Embeddings**: OpenAI",
        "height": 340,
        "width": 400,
        "color": 6
      }
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        200,
        400
      ],
      "parameters": {
        "content": "## \ud83d\udd17 Agent Network\n\n### Delegates To:\n- Email Marketing Agent\n- Social Media Director\n- Marketing Research Agent\n- Content Creation Agents\n- SEO/SEM Specialists\n\n### Reports To:\n- Business Manager Agent\n\n### Collaborates With:\n- Analytics Director\n- Sales Agent\n- Campaign Agent\n- Customer Success",
        "height": 320,
        "width": 380,
        "color": 3
      }
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        640,
        -400
      ],
      "parameters": {
        "content": "## \u26a1 Trigger Conditions\n\n### 1. Chat Message\n- **Webhook**: `marketing-director-chat-trigger`\n- **Purpose**: Real-time strategy requests\n\n### 2. Workflow Execution\n- **Called by**: Business Manager, other directors\n- **Purpose**: Campaign coordination\n\n### 3. Direct Webhook\n- **Path**: `/marketing-director-webhook`\n- **Method**: POST\n- **Auth**: Required\n\n### Response Format\n- Structured strategy output\n- Performance metrics\n- Next action items",
        "height": 360,
        "width": 380,
        "color": 2
      }
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1060,
        -400
      ],
      "parameters": {
        "content": "## \ud83c\udfaf Decision Framework\n\n### Campaign Prioritization\n1. Expected ROI (40% weight)\n2. Strategic alignment (25%)\n3. Resource requirements (20%)\n4. Market timing (10%)\n5. Competitive advantage (5%)\n\n### Channel Selection Matrix\n- **Email**: High ROI, owned audience\n- **Social**: Brand awareness, engagement\n- **Paid**: Quick results, scalable\n- **SEO**: Long-term, sustainable\n- **Content**: Authority building",
        "height": 340,
        "width": 380,
        "color": 1
      }
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1060,
        -20
      ],
      "parameters": {
        "content": "## \ud83d\udcca Campaign Types\n\n### Product Launches\n- Pre-launch buzz (2 weeks)\n- Launch day coordination\n- Post-launch momentum\n- Performance optimization\n\n### Seasonal Campaigns\n- Holiday promotions\n- Seasonal collections\n- Limited-time offers\n- Gift guide creation\n\n### Always-On Marketing\n- SEO content creation\n- Social media presence\n- Email nurture flows\n- Retargeting campaigns",
        "height": 360,
        "width": 380,
        "color": 7
      }
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1060,
        380
      ],
      "parameters": {
        "content": "## \ud83d\ude80 Advanced Features\n\n### Budget Management\n- Dynamic allocation algorithm\n- Performance-based optimization\n- Multi-channel attribution\n- ROI forecasting\n\n### Team Leadership\n- Clear task delegation\n- Performance monitoring\n- Resource optimization\n- Knowledge sharing\n\n### Reporting\n- Weekly campaign updates\n- Monthly channel analysis\n- Quarterly strategic reviews\n- Annual planning sessions",
        "height": 340,
        "width": 380,
        "color": 6
      }
    },
    {
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        640,
        -20
      ],
      "parameters": {
        "content": "## \ud83d\udcc8 Performance Metrics\n\n### Primary KPIs\n- **CAC**: Customer Acquisition Cost\n- **ROAS**: Return on Ad Spend\n- **MQLs**: Marketing Qualified Leads\n- **CLV**: Customer Lifetime Value\n- **Conversion Rate**: By channel\n\n### Channel Metrics\n- **Email**: Open rate, CTR, revenue\n- **Social**: Engagement, reach, conversions\n- **Paid**: CPC, CPM, ROAS\n- **SEO**: Rankings, organic traffic\n- **Content**: Views, shares, leads",
        "height": 360,
        "width": 380,
        "color": 5
      }
    }
  ],
  "meta": {
    "instanceId": "8d886cbbbe7cfda2db691b67a2dadcc8c19353a4c691d51c622e4656cfd22240"
  }
}